<!DOCTYPE html>
<html lang="en" ng-app="groupinit">
<head>
	<meta name="description" content="">
	<meta name="keywords" content=""> 
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Groupinit</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
	<!-- <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.css" />
	<link href="/static/css/main.css" rel="stylesheet"> -->
	 <!-- <script src="/static/js/jquery.js"></script>
 //    <script src="/static/js/jquery-ui.min.js"></script>
    
 //    <script src="/static/js/main.js"></script>
 //    <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
 //    <script src="/static/js/jquery.magnific-popup.min.js"></script>
 //    <script src="/static/js/slick.min.js"></script>
 //    <script src="/static/js/bootstrap.js"></script> -->
	
    <!--  Angularjs -->
     <!-- <script src="/static/js/angular_app/lib/angular/angular.min.js"></script>
    // <script src="/static/js/angular_app/lib/angular/angular-route.js"></script>
    // <script src="/static/js/angular_app/lib/angular/angular-resource.js"></script>
    // <script src="/static/js/angular_app/app.js"></script>
    // <script src="/static/js/angular_app/services.js"></script>
    // <script src="/static/js/angular_app/directives.js"></script>
    // <script src="/static/js/angular_app/controllers.js"></script> -->
    <link href="/static/css/temporary-for-js.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/css/common.css" rel="stylesheet">
    <!--  Angularjs -->
    <script src="/static/js/angular_app/lib/angular/angular.min.js"></script>
    <script src="/static/js/angular_app/lib/angular/angular-route.js"></script>
    <script src="/static/js/angular_app/lib/angular/angular-resource.js"></script>
    <script src="/static/js/angular_app/app.js"></script>
    <script src="/static/js/angular_app/services.js"></script>
    <script src="/static/js/angular_app/directives.js"></script>
    <script src="/static/js/angular_app/controllers.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/iscroll.js"></script>
<body>
	<div class="wrapper small-header">
		<header>
			<div class="container">
				<h1 class="logo"><a ng-href ="../appsettings"><img src="/static/images/logotype.png" alt="Groupinit"></a></h1>
			</div>
		</header>
		<div class="title-area">
			<div class="container">
				<h2>Welcome to the Groupinit</h2>
				<h3>Please fulfill next profile fields</h3>
			</div>
		</div>
		<div class="radio-box-section">
			<div class="container">
				<div class="radio-box-area" ng-controller="AppsettingsController" ng-init="init('{{csrf_token}}')">
					<!-- <form> -->
						<div class="row-box">
							<div class="cell-box">
								<h3>Who can see my profile (Photo, Name)?</h3>
							</div>			
							<div class="cell-box">
								<label for="radio1" class="radio-box">
								<input type="radio" name="radio_1" id="radio1" ng-model="profile_settings.see_profile" value="Public" checked><span>Public   </span></label>
								<label for="radio2" class="radio-box">
								<input type="radio" name="radio_1" id="radio2" ng-model="profile_settings.see_profile" value="None"><span>None</span></label>
							</div>
						</div>		
						<div class="row-box">
							<div class="cell-box">
								<h3>Who can see my personal info (DOB, Contact info, Home location etc)?</h3>
							</div>			
							<div class="cell-box">
								<label for="radio3" class="radio-box">
								<input type="radio" name="radio_2" id="radio3" ng-model="profile_settings.see_personal_info" value="Public" checked>
								<span>Public </span></label>
								<label for="radio4" class="radio-box">
								<input type="radio" name="radio_2" id="radio4" ng-model="profile_settings.see_personal_info" value="Friends Only" ><span>Friends Only </span></label>
								<label for="radio5" class="radio-box">
								<input type="radio" name="radio_2" id="radio5" ng-model="profile_settings.see_personal_info" value="No one"><span>No one</span></label>
							</div>
						</div>	
						<div class="row-box">
							<div class="cell-box">
								<h3>Who can see posted content (Photos, Comments etc) in Shared Groups?</h3>
							</div>			
							<div class="cell-box">
								<label for="radio6" class="radio-box">
									<input type="radio" name="radio_3" id="radio6" ng-model="profile_settings.see_post_in_shared_groups" value="Only Group Friends" checked>
									<span>Only Group Friends  </span></label>
								<label for="radio7" class="radio-box">
									<input type="radio" name="radio_3" id="radio7" ng-model="profile_settings.see_post_in_shared_groups" value="All Friends">
									<span>All Friends </span></label>
								<label for="radio8" class="radio-box">
									<input type="radio" name="radio_3" id="radio8" ng-model="profile_settings.see_post_in_shared_groups" value="Public">
									<span>Public</span></label>
							</div>
						</div>	
						<div class="row-box">
							<div class="cell-box">
								<h3>Who can see posted content (Photos, Comments etc) in other Groups?</h3>
							</div>			
							<div class="cell-box">
								<label for="radio9" class="radio-box">
									<input type="radio" name="radio_4" id="radio9" ng-model="profile_settings.see_post_in_other_groups" value="Public" checked>
									<span>Public</span></label>
								<label for="radio10" class="radio-box" >
									<input type="radio" name="radio_4" id="radio10" ng-model="profile_settings.see_post_in_other_groups" value="All Friends">
									<span>All Friends </span></label>
								<label for="radio11" class="radio-box">
									<input type="radio" name="radio_4" id="radio11" ng-model="profile_settings.see_post_in_other_groups" value="Selected Friends">
									<span>Selected Friends</span></label>
							</div>
						</div>	
						<div class="row-box">
							<div class="cell-box">
								<h3>Do you allow us to use your posted information shared with personal Friends?</h3>
							</div>			
							<div class="cell-box">
								<label for="radio12" class="radio-box">
								<input type="radio" name="radio_5" id="radio12" ng-model="profile_settings.allow_post_shared_with_personal" value="No" checked>
									<span>No</span></label>
								<label for="radio13" class="radio-box">
									<input type="radio" name="radio_5" id="radio13" ng-model="profile_settings.allow_post_shared_with_personal" value="Yes">
									<span>Yes</span></label>
							</div>
						</div>
						<button type="button" ng-click="submit_settings()">Continue</button>
				<!-- </form>	 -->
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<ul class="menu">
					<li><a href="#">Blog</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Rules</a></li>
				</ul>
			</div>
			<div class="table-menu">
				<div class="row-box">
					<a href="#" class="cell-box">Blog</a>
					<a href="#" class="cell-box">Terms</a>
				</div>	
				<div class="row-box">
					<a href="#" class="cell-box">Contact</a>
					<a href="#" class="cell-box">Privacy</a>
				</div>	
				<div class="row-box">
					<a href="#" class="cell-box">Help</a>
					<a href="#" class="cell-box">Rules</a>
				</div>
			</div>
		</footer>
	</div>
	 <!-- <script src="/static/js/jquery.js"></script>
	 <script src="/static/js/jquery-ui.min.js"></script>
	 <script src="/static/js/main.js"></script> --> 
	<!--[if lt IE 10]>
		<script src="./public/js/jquery.placeholder.min.js"></script>
		<script src="./public/js/ie-placeholder.js"></script>
	<![endif]-->
</body>
</html>
