{% extends 'base.html' %}
{% block body_id %}authentication{% endblock %}
{% block header %} {% endblock header%}
{% block content %}
	<div class="row top_div" ng-controller="LoginRegistrationController" ng-init="init('{{csrf_token}}', '{{invitation}}')" ng-show="authentication_flags.authentication">
		<div class="col-md-8 col-sm-6">
			<div class="logo">
				<img src="/static/images/logo.png">
			</div>
		</div>
		<div class="col-md-3 col-sm-5 login_div" >
			<h3 align="center"> Log in to Groupinit </h3>
			<form name="login">
				<div class="control">
					<input type="text" name="email" placeholder="Email" ng-model="username" />
					<input type="password" name="password" placeholder="Password" ng-model="password" class="with_border" />
				</div>
				<div class="checkbox-outer">
				<div title=".squaredThree" class="col-md-6 col-sm-6 col-xs-6">
				   <!--  <div class="squaredThree">
				      <input type="checkbox"  id="squaredThree2" name="remember_me"  />
				      <label for="squaredThree2"></label>
				    </div> -->
				    <div class="squaredOne">
						<input type="checkbox"  id="squaredOne1" name="remember_me" />
						<label for="squaredOne1"></label>
					</div>
				    <span class="label_span remember_me"> Remember me </span>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<a href="{% url 'forgot_password' %}" ng-click="" class="red_anchor forgot_password"> Forgot Password ?</a>
				</div>
			</div>
				<div class="col-md-12 col-sm-12 error_msg"> [[login_msg]] </div>
				<div class="button_container">
					<button ng-click="user_login()" class="login_button btn btn-info"> Log In </button>
				</div>
			</form>
		</div>
	</div>
	<div class="row bottom_div" ng-controller="LoginRegistrationController" ng-init="init('{{csrf_token}}', '{{invitation}}')" ng-show="authentication_flags.authentication">
		<div class="col-md-8 col-sm-6 " >
			<div class="col-md-3 col-sm-3"></div>
			<div class="col-md-7 col-sm-8">
				<h3 class="title"> Welcome to Groupinit </h3>
				<p> 
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</p>
			</div>
		</div>
		<div class="col-md-3 col-sm-5 login_div" >
			<h3  align="center"> New to Groupinit? Sign Up! </h3>
			<form name="login">
				<div class="control" ng-hide="success_flag">
					<input type="text" name="name" placeholder="Name" ng-model="new_user.name" ng-blur="validate_name()" />
					<div ng-show="name_error_msg_flag"class="col-md-12 col-sm-12 error_msg"> [[name_msg]] </div>
					<input type="text" name="email" placeholder="Email" ng-model="new_user.email" class="with_border" ng-blur="validate_email()" />
					<div ng-show="email_error_msg_flag"class="col-md-12 col-sm-12 error_msg"> [[email_msg]] </div>
					<input type="password" name="password" placeholder="Password" ng-model="new_user.password" class="with_border" ng-blur="validate_pass()" />
					<div ng-show="pass_error_msg_flag"class="col-md-12 col-sm-12 error_msg"> [[pass_msg]] </div>
	            	<ul id="strength" check-strength="new_user.password"></ul>
					<input type="password" class="with_border" name="confirm_password" placeholder="Confirm Password" ng-model="new_user.confirm_password" unique="validate_pass()" />
				</div>
				<div class="checkbox-outer" ng-hide="success_flag">
				<div class="col-md-12 col-sm-12" title=".squaredThree" ng-hide="success_flag">
					<!-- <div class="squaredThree">
						<input type="checkbox" name="terms" ng-model="new_user.terms" id="squaredThree1" />
						<label for="squaredThree1"></label>
					</div> -->
					<div class="squaredOne">
						<input type="checkbox"  id="squaredOne" name="terms" ng-model="new_user.terms" />
						<label for="squaredOne"></label>
					</div>
					<span class="label_span terms_conditions"> I accept <a href="" class="red_anchor terms"> Terms & conditions</a> & <a href="" class="red_anchor terms">Privacy Policy</a></span>
					<div class="terms_validatin">
					<div ng-show="terms_error_msg_flag"class="col-md-12 col-sm-12 error_msg"> [[terms_msg]] </div>
					</div>
					<div ng-show="error_msg_flag"class="col-md-12 col-sm-12 error_msg"> [[msg]] </div>
				</div>
			</div>
				<div class="success_msg" ng-show="success_flag"class="col-md-12 col-sm-12 "> 
					Soon, you will get an e mail for verification of<br> your mailbox with further instructions. 
					<br>
					<span class="success_msg_link">Use this link!</span> If you don`t recive any letter. 
				</div>
				
				<div class="button_container" ng-hide="success_flag">
					<input type="button" value="Send" ng-click="save_new_user()" class="login_button btn btn-info" />
				</div>
				<div class="col-md-12 col-sm-12">
					<p class="sign-text" align="center"> Or sign in with </p>
				</div>
				<div class="col-md-6 col-sm-6 padding">
					<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="btn btn-primary facebook">Facebook </a>
				</div>
				<div class="col-md-6 col-sm-6 padding">
					<a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-danger gmail"> Gmail </a>
				</div>
			</form>
		</div>
		<div class="col-md-12 col-sm-12">
			{% include 'footer.html' %}
		</div>
	</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
