<!DOCTYPE HTML>
<html ng-app="groupinit" class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title%} | Groupinit </title>
    <!-- Calendar bootstrap css -->
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" /> -->
    <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.css" type="text/css" />
    <!-- Calendar css -->
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/main-2.css" />
    <link rel="stylesheet" href="/static/css/main-3.css" />
    <link rel="stylesheet" href="/static/css/magnific-popup.css" />
    <link rel="stylesheet" href="/static/css/slick.css" />
    <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.css" />
    <script src="/static/js/mootools/lib/mootools-core-1.4.5-full-compat-yc.js"></script>
    <script src="/static/js/mootools/lib/mootools-more-1.4.0.1.js"></script>
    <script src="/static/js/mootools/common.js"></script>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <!--  Angularjs -->
    <script src="/static/js/angular_app/lib/angular/angular.min.js"></script>
    <script src="/static/js/angular_app/lib/angular/angular-route.js"></script>
    <script src="/static/js/angular_app/lib/angular/angular-resource.js"></script>
    <script src="/static/js/angular_app/app.js"></script>
    <script src="/static/js/angular_app/services.js"></script>
    <script src="/static/js/angular_app/directives.js"></script>
    <script src="/static/js/angular_app/controllers.js"></script>

    </head>


    <body>
    <script>
      
      $(document).ready(function(){

        $('.msg').click();

        $("#clicksign").click(function(){
            console.log("enter to click ....");  

       

            FB.init({
              appId      : '1026855137326729', // App ID
              
              status     : true, // check login status
              cookie     : true, // enable cookies to allow the server to access the session
              xfbml      : true  // parse XFBML
            });

            FB.Event.subscribe('auth.authResponseChange', function(response) {
                console.log('facebook status: ' , response.status); 
               
               if (response.status === 'connected') {
                  
                  console.log('connected');
                 
                } 

              });
          


       });
      });




      function fBlogout(){
      try{
        FB.Connect.ifUserConnected(function(){
            FB.Connect.logoutAndRedirect('http://fullurl.com/account/logout');
        }, 'groupinit.technomicssolutions.com/logout');
          }catch(e){
        location.href = 'groupinit.technomicssolutions.com/logout';
          }
    }
    </script>
    <div class="wrapper grid-height-area">
        <div class="top-section">
            <header>
                <div class="container">
                    <div class="table-box">
                        <div class="cell-box">
                            <div class="wrap">

                                <h1 class="logo"> <a  ng-href ="../login"> <img src="/static/images/logotype.png" alt="Groupinit"> </a> </h1>

                                <div ng-controller="LoginRegistrationController" id="login" class="groupinit-form clearfix" ng-init="init('{{csrf_token}}', '{{invitation}}')">
                                <form>
                                    <h3>Log in to Groupinit</h3>
                                    <input type="text" ng-model="username" name="username" id="emailHeader" placeholder="Email" ng-click="clear_error_flag()" novalidate>
                                    <input type="password" ng-model="password" ng-click="clear_error_flag()" name="password" id="passwordHeader" placeholder="Password" novalidate>
                                    <input type="hidden" ng-model="csrf_token" name="csrf_token" value="{{csrf_token}}">


                                    <label for="cbHeader" class="checkbox"><input type="checkbox" id="cbHeader" name="remember_me" checked><span>Remember me</span></label>
                                    <a href="{% url 'forgot_password' %}" class="forgot-password">Forgot password?</a>
                                    
                                    <div class="spinner" ng-show = "loading_flag"></div>
                                    <div class="login_validation">
                                        {% if result == 'expired' %}
                                            <p>This link is expired <a href="{{ link }}">Click Here</a>  to resend the link</p>
                                        {% endif %}
                                    <p ng-show="act_link_flag">Activation link sent to your email, <a href="[[ act_link ]]">Click Here</a>  to resend the link</p>
                                        <p ng-show="login_error_msg_flag">[[login_msg]] </p>
                                  </div>

                                    <button type="submit" ng-click="user_login()">Log In</button>

                                </form>

                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
       <div class="bottom-section bg-img-area">
            <div class="bg-img-box">
                <div class="container">
                    <div class="bg-img-section">
                        <div class="text-box">
                            <h3>Welcome to Groupinit</h3>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
                        </div>
                        <div class="right-box">

                            <div ng-controller="LoginRegistrationController" class="registration-large-form clearfix" ng-init="init('{{csrf_token}}', '{{invitation}}')" ng-show="authentication_flags.authentication">
                                <form  name="login">
				<div id="new_signin_form">
                                <h3>New to Groupinit? Sign up!</h3>
                                <div ng-hide="success_flag">


                                <input type="text" name="name" placeholder="Name" ng-click="clear_name_error_flag()" ng-model="new_user.name" ng-blur="validate_name()"  id="nameRegLr"  novalidate/>
                                <p ng-show="name_error_msg_flag"> [[name_msg]] </p>

                                <input type="text" name="email" placeholder="Email" ng-model="new_user.email" ng-click="clear_email_error_flag()" id="emailRegLr" class="with_border"  ng-blur="validate_email()" novalidate/>
                                <p ng-show="email_error_msg_flag" > [[email_msg]] </p>


                                <input type="password" name="password" placeholder="Password" ng-model="new_user.password"  ng-blur="validate_pass()" ng-click="clear_password_error_flag()" id="passwordRegLr" class="password-strength"  novalidate/>
                                <p ng-show="pass_error_msg_flag || conf_pass_error_msg_flag" ng-hide="hide_error_div"> [[pass_msg]] </p>
                                <ul id="strength" check-strength="new_user.password"></ul>



                                <input type="password"  id="confirmPasswordRegLr" name="confirm_password"  placeholder="Confirm Password" ng-model="new_user.confirm_password" ng-click="clear_conf_password_error_flag()" ng-blur="validate_conf_password()" novalidate/>

                                </div>
                                <div ng-hide="success_flag">
                                <label for="cbRegLr" class="checkbox">
                                    <!--<input ng-model="new_user.terms"  type="checkbox" id="cbRegLr" name="terms"  ng-disabled = "email_error_msg_flag || name_error_msg_flag || pass_error_msg_flag || conf_pass_error_msg_flag"  ng-click="validate_form()" >-->
<input ng-model="new_user.terms"  type="checkbox" id="cbRegLr" name="terms"  ng-disabled = "email_error_msg_flag || name_error_msg_flag || pass_error_msg_flag || conf_pass_error_msg_flag || check_box_error_flag"  ng-click="validate_form()" >

                                    <span>I accept <a href="#">Terms &amp; Conditions</a> &amp; <a href="#">Privacy Policy</a></span>
                                    <p ng-show="terms_error_msg_flag"> [[terms_msg]] </p>
                                </label>

                                <p ng-show="error_msg_flag"> [[msg]] </p>
                                <div class="spinner" ng-show = "loading_flag"></div>
                                <div class="wrap-btn"><button type="submit" ng-click="save_new_user()" ng-disabled = "email_error_msg_flag || name_error_msg_flag || pass_error_msg_flag || conf_pass_error_msg_flag">Send</button></div>
                                <input type="hidden" ng-model="invitation_token" name="invitation_token" value="{{invitation_token}}">
                                <input type="hidden" ng-model="csrf_token" name="csrf_token" value="{{csrf_token}}">

                            </div>
                          {{ random_key }}
                            <p ng-show="success_flag">Soon, you will get an e mail for verification of your mailbox with further instructions. <a href="" ng-click="resend_mail(random_key)">Use this link!</a> If you don`t recive any letter.</p>
                            <h4>Or sign in with</h4>
                            <!-- </div> -->
			   </div>
                            </form>

                            <div class="social-row">

                                <a  id="clicksign" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="fb">Facebook</a>
                                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="gm">Gmail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <footer>
                <div class="container">
                    <ul class="menu">
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Rules</a></li>
                    </ul>
                </div>
                <div class="footer-tab" id="tabs">
                    <ul class="table-box">
                        <li><a href="#tabs-1">Log in</a></li>
                        <li><a href="#tabs-2">Registration</a></li>
                    </ul>
                    <div class="tab-content" id="tabs-1">
                        <div ng-controller="LoginRegistrationController" id="login" class="tab-form clearfix" ng-init="init('{{csrf_token}}', '{{invitation}}')">
                                <form>

                                    <input type="text" ng-model="username" name="username" id="emailHeader" placeholder="Email" ng-click="clear_error_flag()" novalidate>
                                    <input type="password" ng-model="password" name="password" id="passwordHeader" placeholder="Password" ng-click="clear_error_flag()" novalidate>
                                    <input type="hidden" ng-model="csrf_token" name="csrf_token" value="{{csrf_token}}">


                                    <label for="cbHeader" class="checkbox"><input type="checkbox" id="cbHeader" name="remember_me" checked><span>Remember me</span></label>
                                    <a href="{% url 'forgot_password' %}" class="forgot-password">Forgot password?</a>
                                    <div class="tab-spinner" ng-show = "loading_flag"></div>
                                    <div class="login_validation">
                                    <p ng-show="login_error_msg_flag"> [[login_msg]] </p>
                                    </div>
                                    <button type="submit" ng-click="user_login()">Log In</button>

                                </form>

                            </div>
                    </div>
                    <div class="tab-content registration-form" id="tabs-2">
                        <div ng-controller="LoginRegistrationController" class="tab-form clearfix" ng-init="init('{{csrf_token}}', '{{invitation}}')" ng-show="authentication_flags.authentication">
                                <form  name="login">
				<div id="new_signin_form">

                                <div ng-hide="success_flag">


                                <input type="text" name="name" placeholder="Name" ng-model="new_user.name" ng-click="clear_name_error_flag()" ng-blur="validate_name()"id="nameRegLr"  novalidate/>
                                <p ng-show="name_error_msg_flag"> [[name_msg]] </p>

                                <input type="text" name="email" placeholder="Email" ng-model="new_user.email" id="emailRegLr"  ng-click="clear_email_error_flag()" class="with_border" ng-blur="validate_email()" novalidate/>
                                <p ng-show="email_error_msg_flag"> [[email_msg]] </p>


                                <input type="password" name="password" placeholder="Password" ng-model="new_user.password"  ng-click="clear_password_error_flag()" ng-blur="validate_pass()" id="passwordRegLr" class="password-strength" novalidate/>
                                <p ng-show="pass_error_msg_flag"> [[pass_msg]] </p>
                                <ul id="strength" check-strength="new_user.password"></ul>



                                <input type="password"  id="confirmPasswordRegLr" name="confirm_password" placeholder="Confirm Password" ng-model="new_user.confirm_password" ng-click="clear_conf_password_error_flag()" ng-blur="validate_conf_password()"unique="validate_pass()" novalidate/>

                                </div>



                                <div ng-hide="success_flag">
                                <label for="cbRegLr" class="checkbox">
                                    <input ng-model="new_user.terms"  type="checkbox" id="cbRegLr" name="terms" ng-disabled = "email_error_msg_flag || name_error_msg_flag || pass_error_msg_flag || conf_pass_error_msg_flag || check_box_error_flag"  ng-click="validate_form()" checked>

                                    <span>I accept <a href="#">Terms &amp; Conditions</a> &amp; <a href="#">Privacy Policy</a></span>
                                    <p ng-show="terms_error_msg_flag"> [[terms_msg]] </p>
                                </label>



                                <p ng-show="error_msg_flag"> [[msg]] </p>
                                <div class="tab-spinner" ng-show = "loading_flag"></div>
                                <div class="wrap-btn"><button type="submit" ng-click="save_new_user()" ng-disabled = "email_error_msg_flag || name_error_msg_flag || pass_error_msg_flag || conf_pass_error_msg_flag">Send</button></div>
                                <input type="hidden" ng-model="invitation_token" name="invitation_token" value="{{invitation_token}}">
                                <input type="hidden" ng-model="csrf_token" name="csrf_token" value="{{csrf_token}}">

                                </div>

                            <p ng-show="success_flag">Soon, you will get an e mail for verification of your mailbox with further instructions. <a href="" ng-click="resend_mail(random_key)">Use this link!</a> If you don`t recive any letter.</p>
                            <h4>Or sign in with</h4>
                            <!-- </div> -->
			 </div>
                            </form>

                            <div class="social-row">

                                <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="fb">Facebook</a>
                                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="gm">Gmail</a>
                            </div>
                        </div>

                       <!--  <div class="social-row">
                            <a href="#" class="fb">Facebook</a>
                            <a href="#" class="gm">Gmail</a>
                        </div> -->
                    </div>
                </div>
               <div class="table-menu">
                    <div class="row-box">
                        <a href="#" class="cell-box">Blog</a>
                        <a href="#" class="cell-box">Terms</a>
                    </div>
                    <div class="row-box">
                        <a href="#" class="cell-box">Contact</a>
                        <a href="#" class="cell-box">Privacy</a>
                    </div>
                    <div class="row-box">
                        <a href="#" class="cell-box">Help</a>
                        <a href="#" class="cell-box">Rules</a>
                    </div>
                </div>
            </footer>
    </div>

</body>
</html>

