<!DOCTYPE html>
<html class="ng-scope" lang="en" ng-app="groupinit">
<head>
	<meta name="description" content="">
	<meta name="keywords" content=""> 
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Groupinit</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
	<link href="/static/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.css" type="text/css" />
    <!-- Calendar css -->    
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/main-2.css" />
    <link rel="stylesheet" href="/static/css/main-3.css" />
    <link rel="stylesheet" href="/static/css/magnific-popup.css" />
    <script src="/static/js/mootools/lib/mootools-core-1.4.5-full-compat-yc.js"></script>
    <script src="/static/js/mootools/lib/mootools-more-1.4.0.1.js"></script>
    <script src="/static/js/mootools/common.js"></script>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
   
	<script src="/static/js/angular_app/lib/angular/angular.min.js"></script>
    <script src="/static/js/angular_app/lib/angular/angular-route.js"></script>
    <script src="/static/js/angular_app/lib/angular/angular-resource.js"></script>
    <script src="/static/js/angular_app/app.js"></script>
    <script src="/static/js/angular_app/services.js"></script>
    <script src="/static/js/angular_app/directives.js"></script>
    <script src="/static/js/angular_app/controllers.js"></script>
</head>
<body>
	<div class="wrapper small-header">
		<header>
			<div class="container">
				<h1 class="logo"><a href="{% url 'login' %}"><img src="/static/images/logotype.png" alt="Groupinit"></a></h1>
			</div>
		</header>
		<div class="wrap-main-section" ng-controller="ForgotPasswordController" ng-init="init('{{csrf_token}}')">
			<div class="main-section">
				<h3>Forgot your password?</h3>
				<h4>We'll send you instructions to reset your password</h4>
				
				<form >
					<input type="text" name="email" ng-model="email" placeholder="Email" id="emailForgot" ng-click= "clear_mail_flag()" required>
					<input type="hidden" ng-model="csrf_token" name="csrf_token" value="{{csrf_token}}">
					<p class="error_msg" ng-bind="msg" ></p>
					<div class="forgot-password-spinner" ng-show = "loading_flag"></div>
					<div class="wrap-btn"><button type="submit" ng-click="send_email()">Send</button></div>

					<a href="{% url 'login' %}">Return to Log In</a>
				</form>
				
				
				
			</div>
			<p class="message"  ng-show="success_flag">The Email with instruction to change your password has been sent. <a href="" ng-click="resend_mail(random_key)">Use this link!</a> If you don`t recive any letter</p>
			
		</div>
		<footer>
			<div class="container">
				<ul class="menu">
					<li><a href="#">Blog</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Rules</a></li>
				</ul>
			</div>
			<div class="table-menu">
				<div class="row-box">
					<a href="#" class="cell-box">Blog</a>
					<a href="#" class="cell-box">Terms</a>
				</div>	
				<div class="row-box">
					<a href="#" class="cell-box">Contact</a>
					<a href="#" class="cell-box">Privacy</a>
				</div>	
				<div class="row-box">
					<a href="#" class="cell-box">Help</a>
					<a href="#" class="cell-box">Rules</a>
				</div>
			</div>
		</footer>
	</div>



<!-- 	// <script src="/static/js/forms-handlers/signup.js"></script> -->
<!-- 	// <script src="/static/js/forms-handlers/login.js"></script>
	// <script src="/static/js/forms-handlers/forgot_password.js"></script>
	// <script src="/static/js/forms-handlers/reset_password.js"></script> -->
	<!--[if lt IE 10]>
		<script src="./public/js/jquery.placeholder.min.js"></script>
		<script src="./public/js/ie-placeholder.js"></script>
	<![endif]-->
</body>
</html>
