<header>
	<div class="row">
		<div class="header_logo">
			<a href="{% url 'dashboard' %}"><img src="/static//static/images/inner-page-header-logo.png"></a>
		</div>
	</div>	
</header>
<div class="col-md-12 col-sm-12 border_div">
</div>