
<!DOCTYPE html>
<html class="ng-scope" lang="en" ng-app="groupinit">
<head>
	<meta name="description" content="">
	<meta name="keywords" content=""> 
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Groupinit</title>
	<link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.css" type="text/css" />
    <!-- Calendar css -->    
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/main-2.css" />
    <link rel="stylesheet" href="/static/css/main-3.css" />
    <link rel="stylesheet" href="/static/css/magnific-popup.css" />
    <link rel="stylesheet" href="/static/css/slick.css" />
    <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.css" />
    <script src="/static/js/mootools/lib/mootools-core-1.4.5-full-compat-yc.js"></script>
    <script src="/static/js/mootools/lib/mootools-more-1.4.0.1.js"></script>
    <script src="/static/js/mootools/common.js"></script>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    
    <script src="/static/js/fr/main.js"></script>
    <script src="/static/js/fr/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/static/js/fr/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/fr/slick.min.js"></script>
    <script src="/static/js/fr/bootstrap.js"></script>
    <!--  Angularjs -->
    <script src="/static/js/angular_app/lib/angular/angular.min.js"></script>
    <script src="/static/js/angular_app/lib/angular/angular-route.js"></script>
    <script src="/static/js/angular_app/lib/angular/angular-resource.js"></script>
    <script src="/static/js/angular_app/app.js"></script>
    <script src="/static/js/angular_app/services.js"></script>
    <script src="/static/js/angular_app/directives.js"></script>
    <script src="/static/js/angular_app/controllers.js"></script>
</head>
<body>
	<div class="wrapper small-header">
		<header>
			<div class="container">
				<h1 class="logo"><a href="{% url 'dashboard' %}"><img src="/static/images/logotype.png" alt="Groupinit"></a></h1>
			</div>
		</header>
		<div class="wrap-main-section reset-password">
			<div class="main-section">
				<h3>Reset your password</h3>
				<div ng-controller="ResetPasswordController" ng-init="init('{{ csrf_token }}', '{{token_id}}')">
				<form>
					<input name="new_password" ng-model="new_password" ng-click="clear_pass_err_flag()" type="password"  id="passwordNew" class="password-strength" ng-blur="validate_pass()" placeholder="New Password">
					<p ng-show="pass_error_msg_flag" class="error_msg"> [[pass_msg]] </p>
					<input  type="password" id="confirmPasswordReg" placeholder="Confirm Password"  ng-disabled="pass_error_msg_flag" name="confirm_password"  ng-model="confirm_password">

<!-- 
					<input type="password" name="password" placeholder="Password" ng-model="new_user.password"  ng-blur="validate_pass()" id="passwordRegLr" class="password-strength" novalidate/>
                    <p ng-show="pass_error_msg_flag"> [[pass_msg]] </p>
                    <ul id="strength" check-strength="new_user.password"></ul>
					<input type="password"  id="confirmPasswordRegLr" name="confirm_password" placeholder="Confirm Password" ng-model="new_user.confirm_password" unique="validate_pass()" novalidate/> -->

					<input type="hidden" ng-model="csrf_token" name="csrf_token" value="{{csrf_token}}">
					<input type="hidden" ng-model="token_id" name="token_id" value="{{token_id}}">
					<p ng-show="success_flag" class="success_msg"> [[success_msg]] </p>
					<p ng-show = "success_flag" class="success_msg"><a href="/login/">Return to login</a>
					<div class="forgot-password-spinner" ng-show = "loading_flag"></div>
					
					
					<div class="wrap-btn"><button type="submit" ng-click="save_new_password()">Reset Password</button></div>
					
				</form>
			</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<ul class="menu">
					<li><a href="#">Blog</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Rules</a></li>
				</ul>
			</div>
			<div class="table-menu">
				<div class="row-box">
					<a href="#" class="cell-box">Blog</a>
					<a href="#" class="cell-box">Terms</a>
				</div>	
				<div class="row-box">
					<a href="#" class="cell-box">Contact</a>
					<a href="#" class="cell-box">Privacy</a>
				</div>	
				<div class="row-box">
					<a href="#" class="cell-box">Help</a>
					<a href="#" class="cell-box">Rules</a>
				</div>
			</div>
		</footer>
	</div>

	<!--[if lt IE 10]>
		<script src="./public/js/jquery.placeholder.min.js"></script>
		<script src="./public/js/ie-placeholder.js"></script>
	<![endif]-->
</body>
</html>
