<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupinit</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
	<link href="css/common.css" rel="stylesheet">
	<link href="css/events.css" rel="stylesheet">
	<link href="css/groups.css" rel="stylesheet">
	<link href="css/posts.css" rel="stylesheet">
	<link href="css/temporary-for-js.css" rel="stylesheet">
	
		
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/iscroll.js"></script>
	<script type="text/javascript" src="js/jquery.main.js"></script>

</head>



<body>

<div id="app">
	<audiencepopup popupid="invite-friends"></audiencepopup>
	<a @click='openpopup'>Open</a>
</div>



  
<template id="audience-selection">
    <div class="pop-up-area add-size" :class="{'lightbox-active': showinvite}" :id="popupid">
        <div class="holder">
            <div class="add-members-pop-up">
                <div class="title-pop-up">Invite friends</div>
                <form action="#" class="add-members-form">
                    <div class="checkbox-gallery">
                        <div class="mask">
                            <div class="row-group">
                                <div @click="selectAll" class="slide"
                                     :class="{'active' : selectall}">
                                    <a @click="disableSelection" href="#checkbox-gallery-tab01">
                                        <label for="checkboxPopupAll" class="checkboxPopup">
                                            <input type="checkbox" v-model="selectall" id="checkboxPopupAll" name="checkboxPopupAll" ><span>All</span>
                                        </label>
                                    </a>
                                </div>
                                <div @click='tabClick(box)' class="slide"
                                     :class="{ 'active' : tabmodel.indexOf('b'+box.id) > -1}"
                                     v-for="box in boxes">
                                    <a :href='"#checkbox-gallery-tab-" + box.id'>
                                        <label  :for='"checkboxPopup"+box.id' class="checkboxPopup">
                                            <input type="checkbox" :readonly="tabreadonly" v-model="tabmodel"  :value="'b'+box.id.toString()"
                                                   :id='"checkboxPopup"+ box.id'
                                                   :name='box.name'>
                                            <span >{! box.name !}</span>
                                        </label>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn-prev">previous</a>
                        <a href="#" class="btn-next">next</a>
                    </div>
                    <div class="tab-content">
                    <div id="checkbox-gallery-tab01">
                      <h2>Click All to select<br>or select everyone</h2>
                    </div>
                        <div v-for="box in boxes" :id='"checkbox-gallery-tab-"+ box.id' >
                            <div class="scroll-area checkbox-gallery-wrapper">
                                <div class="accordion-area">
                                    <div v-for='group in box.groups' :class='"accordion-panel bg-"+group.id'
                                         :style='"background:"+group.group_bar_color+";"'>
                                        <div class="accordion-title">
                                            <span class="accordion-btn" :data-id='group.id'>
                                                {! group.name !}
                                            </span>
                                            <label @click="GroupBoxClick(group,box)" :for='group.name+"-"+group.id' class="checkboxPopup checkboxGroup">
                                                <input v-model="groupmodel" type="checkbox"  :id='group.name+"-"+group.id'
                                                       :name='group.name+"-"+group.id'
                                                        :value="'b'+box.id+'-'+'g'+group.id" >
                                                <span></span>
                                            </label>
                                            <a href="#" class="opener-accordion-panel">opener</a>
                                        </div>
                                        <div class="accordion-content scroll-area">
                                            <ul class="scrolling-area">
                                                <li v-for="user in group.members" class="small-row">
                                                    <a href="#">
                                                        <img :src='user.profile_pic' alt="Picture">
                                                        <span>{! user.first_name !}</span></a>
                                                    <label @click="UserClick(group,box)" :for='user.first_name+"-"+user.id+"-"+group.id' class="checkboxPopup checkboxUsers">
                                                        <input v-model="usermodel" type="checkbox" :id='user.first_name+"-"+user.id+"-"+group.id'
                                                               :value="'b'+box.id+'-'+'g'+group.id+'-'+'uid:'+user.id+',uname:'+user.first_name"
                                                               :name='user.first_name+"-"+user.id'>
                                                        <span></span>
                                                    </label>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="btn-group clearfix">
                        <p id="selectioncount">{! peoplecount !}  people selected</p>
                        <a href="#" @click='CancelPopup' id="deskclose" class="mfp-close cancel-btn desktop close">Cancel</a>
                        <a href="#" @click='CancelPopup' id="deskclose" class="cancel-btn mobile close">Cancel</a>
                        <button @click="ApplySelection($event)" id="friends_li" type="submit">Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">

Vue.config.delimiters = ['{!', '!}']
	var Audiencepopup = Vue.component('audiencepopup',{
    template: '#audience-selection',
    props: ['popupid'],
    data:function() {
        return{
            boxes : [],tabreadonly: false,
            peoplecount : 0, tabmodel : [], selectall : false,
            groupmodel : [], usermodel : [], currbox : {},
            currgroup : {}, rem : false, showinvite : true,
            tag : false
        }
    },
    ready : function() {
        var self= this;
        self.currgroup.members = '';
        self.currbox.groups = '';
        self.UpdateAudiencePopup();
    },
    events:{
        'audience' : function(x) {
            var self = this;
            self.UpdateAudiencePopup();
        }
    },
    methods: {
        disableSelection: function() {
            console.log("disabled");
        },
        CancelPopup : function(){
            var self = this;
            self.showinvite = false;
        }
        ,
        ApplySelection: function(event){
            var self = this;
            event.preventDefault();
            var userMod = [];
            console.log(self.usermodel);
            $.each(self.usermodel,function(index,value){
                var x = value.split('-'),
                    namePart = x[2].split(',');
                var obj = {
                    name: namePart[1].substr(6,namePart[1].length),
                    id : namePart[0].substr(4,namePart[0].length),
                    boxid: x[0].substr(1,x[0].length),
                    groupid: x[1].substr(1,x[1].length)
                };
                userMod.push(obj);
            });
            //message to parent component
            self.$dispatch('audienceupdated',userMod);
            self.$dispatch('groupboxupdated',self.groupmodel,self.tabmodel);
            self.showinvite = false;
        },
        selectAll : function() {
            var self =this;
            self.tabmodel = [];
                self.usermodel =[];
                    self.groupmodel = [];
            self.selectall = !self.selectall;
            if(self.selectall){
                $.each(self.boxes,function(index,box) {
                    self.tabClick(box);
                });
                self.tabreadonly = true;
            }else{
                self.tabreadonly = false;
            }
        },
        usersUnderGroup: function(group) {
            var self = this;
            var undergroup = self.usermodel.filter(function(user) {
                        return user.indexOf(group) > -1;
                });
            return undergroup;
        },
        groupunderBox : function(id) {
            var self = this;
            var undertab = self.groupmodel.filter(function(group) {
                        return group.indexOf(id) > -1;
                });
            return undertab;
        },
        tabClick : function(box){
            var bid = box.id;
            var id = 'b'+box.id;
            var self = this;
            var indexVal = self.tabmodel.indexOf(id);
            if(box.groups)
            {
                if( indexVal > -1 ){
                    self.tabmodel.splice(indexVal,1);
                    self.selectall = false;
                    //Uchecking groups
                    $.each(box.groups,function(index,grp) {
                        var gid = 'b'+box.id+'-g'+grp.id;
                        if(self.groupmodel.indexOf(gid) > -1){
                            self.groupmodel.splice(self.groupmodel.indexOf(gid),1);
                        }
                        var users = self.usersUnderGroup(gid);
                        $.each(grp.members,function(index,user) {
                            var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                            // console.log(uid);
                            self.usermodel.splice(self.usermodel.indexOf(uid),1);
                        });
                    });

                }else {
                    //Checking groups
                    $.each(box.groups, function (index, grp) {
                        var gid = id + '-g' + grp.id;
                        if (self.groupmodel.indexOf(gid) == -1) {
                            self.groupmodel.push(gid);
                        }
                        $.each(grp.members,function(index,user) {
                            var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                            if(self.usermodel.indexOf(uid) == -1){
                                self.usermodel.push(uid);
                            }
                        });
                    });
                    self.tabmodel.push(id);
                }
            }
                if(self.boxes.length == self.tabmodel.length)
                     self.selectall = true;
        },
        UpdateAudiencePopup: function(aud) {
            var self = this;
          //  ajaxGet('/api/audience/tree', function (response) {
                // self.boxes = [];self.tabmodel= [];
                // self.groupmodel = [];self.usermodel = [];
		var audience = {
		    "audience": {
		        "box": [
		            {
		                "name": "Friends",
		                "color": "#F65B42",
		                "box_type": "box",
		                "id": 1,
		                "groups": [
		                    {
		                        "group_bar_color": "#000",
		                        "name": "first",
		                        "group_created_on": "30/07/2016",
		                        "members": [
		                            {
		                                "profile_pic": "/site_media/albums/profile_pics/pic-3.jpg",
		                                "first_name": "prasoon",
		                                "last_name": "asdf",
		                                "name": "prasson@group.com",
		                                "id": 2
		                            },
		                            {
		                                "profile_pic": "/site_media/albums/profile_pics/pic-3.jpg",
		                                "first_name": "Bijoy",
		                                "last_name": "Last",
		                                "name": "bijoy@group.com",
		                                "id": 1
		                            }
		                        ],
		                        "number_of_members": 2,
		                        "id": 1,
		                        "group_type": "Private"
		                    },
		                    {
		                        "group_bar_color": "#ff5533",
		                        "name": "two",
		                        "group_created_on": "30/07/2016",
		                        "members": [
		                            {
		                                "profile_pic": "/site_media/albums/profile_pics/pic-3.jpg",
		                                "first_name": "prasoon",
		                                "last_name": "asdf",
		                                "name": "prasson@group.com",
		                                "id": 2
		                            }
		                        ],
		                        "number_of_members": 1,
		                        "id": 2,
		                        "group_type": "Private"
		                    },
		                    {
		                        "group_bar_color": "",
		                        "name": "Third Group",
		                        "group_created_on": "08/08/2016",
		                        "members": [
		                            {
		                                "profile_pic": "/site_media/albums/profile_pics/pic-3.jpg",
		                                "first_name": "Bijoy",
		                                "last_name": "Last",
		                                "name": "bijoy@group.com",
		                                "id": 1
		                            }
		                        ],
		                        "number_of_members": 1,
		                        "id": 3,
		                        "group_type": "Shared"
		                    },
		                    {
		                        "group_bar_color": "",
		                        "name": "Fourth",
		                        "group_created_on": "08/08/2016",
		                        "members": [
		                            {
		                                "profile_pic": "/site_media/albums/profile_pics/pic-3.jpg",
		                                "first_name": "Bijoy",
		                                "last_name": "Last",
		                                "name": "bijoy@group.com",
		                                "id": 1
		                            }
		                        ],
		                        "number_of_members": 1,
		                        "id": 4,
		                        "group_type": "Shared"
		                    },
		                    {
		                        "group_bar_color": "",
		                        "name": "test",
		                        "group_created_on": "08/08/2016",
		                        "members": [
		                            {
		                                "profile_pic": "/site_media/albums/profile_pics/pic-3.jpg",
		                                "first_name": "Bijoy",
		                                "last_name": "Last",
		                                "name": "bijoy@group.com",
		                                "id": 1
		                            }
		                        ],
		                        "number_of_members": 1,
		                        "id": 5,
		                        "group_type": "Shared"
		                    },
		                    {
		                        "group_bar_color": "",
		                        "name": "next",
		                        "group_created_on": "08/08/2016",
		                        "members": [
		                            {
		                                "profile_pic": "/site_media/albums/profile_pics/pic-3.jpg",
		                                "first_name": "Bijoy",
		                                "last_name": "Last",
		                                "name": "bijoy@group.com",
		                                "id": 1
		                            }
		                        ],
		                        "number_of_members": 1,
		                        "id": 6,
		                        "group_type": "Shared"
		                    },
		                    {
		                        "group_bar_color": "#4149b6",
		                        "name": "rgb",
		                        "group_created_on": "09/08/2016",
		                        "members": [
		                            {
		                                "profile_pic": "/site_media/albums/profile_pics/pic-3.jpg",
		                                "first_name": "Bijoy",
		                                "last_name": "Last",
		                                "name": "bijoy@group.com",
		                                "id": 1
		                            }
		                        ],
		                        "number_of_members": 1,
		                        "id": 7,
		                        "group_type": "Shared"
		                    }
		                ],
		                "owner": 1,
		                "order": 1
		            },
		            {
		                "name": "Family",
		                "color": "#72D668",
		                "box_type": "box",
		                "id": 2,
		                "groups": [],
		                "owner": 1,
		                "order": 2
		            },
		            {
		                "name": "Work",
		                "color": "#4182B6",
		                "box_type": "box",
		                "id": 3,
		                "groups": [],
		                "owner": 1,
		                "order": 3
		            },
		            {
		                "name": "Public Groups",
		                "color": "#D1AB4A",
		                "box_type": "public group",
		                "id": 4,
		                "groups": [],
		                "owner": 1,
		                "order": 4
		            },
		            {
		                "name": "Discussions",
		                "color": "#B741A7",
		                "box_type": "discussion",
		                "id": 5,
		                "groups": [],
		                "owner": 1,
		                "order": 5
		            }
		        ],
		        "status": "ok"
		    },
		    "result": "ok"
		};
		console.log(audience.audience.box);
                self.selectall = false;
                self.boxes = audience.audience.box;
                self.currbox = '';
                self.showinvite = true;
            //});
        },
        GroupBoxClick: function(grp,box) {
            var self = this;
            self.currgroup = grp;
            self.currbox = box;
        },
        UserClick : function(group,box) {
            var self = this;
            self.currgroup = group;
            self.currbox = box;
        }
    },
    watch:  {
        'boxes' : function() {
            var self = this;
            contentAccordion();

            // var members = jQuery('.checkbox-gallery .mask .row-group').children().length;
        },
        'tabmodel': function() {
            console.log('changed tabmodel');
            console.log(this.tabmodel);
            var self = this;
            if(self.tabmodel.length == self.boxes.length){
                self.selectall = true;
            }else{
                self.selectall = false;
            }
        },
        'usermodel' : function() {
            console.log('changed usermodel');
            var self = this;
            self.peoplecount = self.usermodel.length;
            if(typeof self.currbox.id == 'undefined')
                return;
            var gid = 'b'+self.currbox.id+'-g'+self.currgroup.id;
            var undergroup = self.usersUnderGroup(gid);
            // console.log(undergroup);
            if(undergroup.length == self.currgroup.members.length ){
                 if(self.groupmodel.indexOf(gid) == -1){
                     self.groupmodel.push(gid);
                 }
            }else{
                if(self.groupmodel.indexOf(gid) > -1){
                    self.rem = true;
                    self.groupmodel.splice(self.groupmodel.indexOf(gid),1);
                    //removing tab
                    var bid= 'b'+self.currbox.id;
                    if(self.tabmodel.indexOf(bid) > -1){
                        self.tabmodel.splice(self.tabmodel.indexOf(bid),1);
                    }
                }
            }
        },
        'groupmodel' : function() {
            console.log('changed groupmodel');
            var self =this;
            if(typeof self.currbox.id == 'undefined' || self.rem == true){
                self.rem = false;
                 return;
            }
            var boxid = self.currbox.id,
                groupid = self.currgroup.id;
            var bid='b'+boxid,gid = bid+'-g'+groupid;
            //checking group is in its model
            if(self.groupmodel.indexOf(gid) > -1){
                $.each(self.currgroup.members, function(index,user) {
                    var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                    if(self.usermodel.indexOf(uid) == -1){
                        self.usermodel.push(uid);
                    }
                });
                var groups = self.groupunderBox(bid);
                if(self.currbox.groups!= undefined)
                if(groups.length == self.currbox.groups.length ){
                    if(self.tabmodel.indexOf(bid) == -1){
                        self.tabmodel.push(bid);
                    }
                }
            }else{
                $.each(self.currgroup.members, function(index,user) {
                    var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                    if(self.usermodel.indexOf(uid) > -1){
                        self.usermodel.splice(self.usermodel.indexOf(uid),1);
                    }
                });
                 self.tabmodel.splice(self.tabmodel.indexOf(bid),1);
            }
        }
    }
});

	var rightarea = new Vue({
	       el : '#app',
	       methods: {
	       	'openpopup': function(){
	 			this.$broadcast('audience', '1');    				
	       	}
	       }
	});

</script>

</body>
</html>


