
<!--Additional Components needed inside the main wrapper-->
    {% include "parts/components/audience.html" %}
    {% include "parts/components/likemore.html" %}
<!--Additional components end-->



<a href="#" class="add-post-btn-bt lifetime"><span>Add Lifetime Post</span></a>
<a href="#" class="add-post-btn-bt posts"><span>Add Media Post</span></a>
<a href="#" class="add-post-btn-bt map"><span>Add Travel Post</span></a>
<ul class="next-bar" id="bottom-indicator">
    {% for x in boxes %}
    <li class="{%if x.order == 2%}active{% endif %}" style="background:{{x.color}}"><a href="/load_groups/?grp_id={{x.id}}" id="{{x.id}}" style="background:{{x.color}};border-top:3px solid {{x.color}}" class="next-box">{{x.name}}</a></li>
    {% endfor %}
</ul>
<div id="popup1" class="general-post-popup-list">
    <div class="inner-box">
        <article class="general-post-popup">
            <div class="heading">
                <div class="holder">
                    <h3>People who marked this post as rock</h3>

                </div>
            </div>
            <div class="content">
                <form action="#" class="custom-form">
                    <div class="jcf-scrollable">
                        <ul class="list-people-base" id ="liked_friends">

                        </ul>
                    </div>
                </form>
            </div>
            <div class="footer-block">
                <a href="#" class="btn-base close">Close</a>
            </div>
        </article>
    </div>
</div>
<div id="popup2" class="general-post-popup-list">
    <div class="inner-box">
        <article class="general-post-popup">
            <div class="heading">
                <div class="holder">
                    <h3>People who marked this post as funny</h3>
                </div>
            </div>
            <div class="content">
                <form action="#" class="custom-form">
                    <div class="jcf-scrollable">
                        <ul class="list-people-base" id ="liked_friends">

                        </ul>
                    </div>
                </form>
            </div>
            <div class="footer-block">
                <a href="#" class="btn-base close">Close</a>
            </div>
        </article>
    </div>
</div>
<div id="popup3" class="general-post-popup-list">
    <div class="inner-box">
        <article class="general-post-popup">
            <div class="heading">
                <div class="holder">
                    <h3>People who marked this post as sad</h3>
                </div>
            </div>
            <div class="content">
                <form action="#" class="custom-form">
                    <div class="jcf-scrollable">
                        <ul class="list-people-base" id ="liked_friends">

                        </ul>
                    </div>
                </form>
            </div>
            <div class="footer-block">
                <a href="#" class="btn-base close">Close</a>
            </div>
        </article>
    </div>
</div>

<div class="general-post-gallery-popup" id="general-post-gallery-popup">
<aside class="gallery-post-section">
<a href="#" class="close-gallery-post-section close">close</a>
<section class="general-post-section">
<header class="heading-block">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h2><a href="#">Jazz Fry</a></h2>
        </div>
        <time class="date" datetime="2015-05-21">21 Nov, 16:24</time>
        <div class="info">
            <span class="text">with</span>
            <a href="#" class="author">Sam Tomson</a>
            <span class="text">and</span>
            <div class="add-menu">
                <a href="#" class="opener-add-menu">1 other</a>
                <div class="slide-add-menu">
                    <ul>
                        <li><a href="#">Sam Gunn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="excerpt">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. <a href="#">#exercitation</a> <a href="#">#ullamco</a> <a href="#">#laboris</a> <a href="#">#nisi</a> <a href="#">#ut</a> <a href="#">#aliquip</a> <a href="#">#ex</a></p>
</div>
<div class="footer-bar">
    <div class="like-section">
        <div class="share-box">
            <a href="#" class="share">
                <span class="icon">icon share</span>
                <span class="number">0</span>
            </a>
        </div>
        <div class="like-box plus">
            <a href="#" class="opener-like-box">
                <span class="icon">like</span>
                <span class="number">15</span>
            </a>
            <div class="drop-add-info">
                <ul>
                    <li><a href="#"><img src="/static/images/pictures/man-4.jpg" height="45" width="45" alt=""></a></li>
                    <li><a href="#"><img src="/static/images/pictures/man-6.jpg" height="45" width="45" alt=""></a></li>
                    <li><a href="#"><img src="/static/images/pictures/man-7.jpg" height="45" width="45" alt=""></a></li>
                    <li><a href="#"><img src="/static/images/pictures/man-8.jpg" height="45" width="45" alt=""></a></li>
                    <li><a class="lightbox" href="#popup2"><span class="number-persons">11</span></a></li>
                </ul>
            </div>
        </div>
        <div class="like-box">
            <a href="#" class="opener-like-box">
                <span class="icon">like</span>
                <span class="number">20</span>
            </a>
            <div class="drop-add-info">
                <ul>
                    <li><a href="#"><img src="/static/images/pictures/man-4.jpg" height="45" width="45" alt=""></a></li>
                    <li><a href="#"><img src="/static/images/pictures/man-6.jpg" height="45" width="45" alt=""></a></li>
                    <li><a href="#"><img src="/static/images/pictures/man-7.jpg" height="45" width="45" alt=""></a></li>
                    <li><a href="#"><img src="/static/images/pictures/man-8.jpg" height="45" width="45" alt=""></a></li>
                    <li><a class="lightbox" href="#popup1"><span class="number-persons">16</span></a></li>
                </ul>
            </div>
        </div>
        <div class="like-box minus">
            <a href="#" class="opener-like-box">
                <span class="icon">like</span>
                <span class="number">3</span>
            </a>
            <div class="drop-add-info">
                <ul>
                    <li><a href="#"><img src="/static/images/pictures/man-4.jpg" height="45" width="45" alt=""></a></li>
                    <li><a href="#"><img src="/static/images/pictures/man-6.jpg" height="45" width="45" alt=""></a></li>
                    <li><a href="#"><img src="/static/images/pictures/man-7.jpg" height="45" width="45" alt=""></a></li>
                    <li><a href="#"><img src="/static/images/pictures/man-8.jpg" height="45" width="45" alt=""></a></li>
                    <li><a class="lightbox" href="#popup3"><span class="number-persons">11</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <a href="#" class="btn-see-all-activity">See All Activity</a>
</div>
<div class="comments-section">
<div class="gallery-comments-section">
    <a href="#" class="view-all active">All 39</a>
    <div class="mask">
        <ul class="contacts-tabset">
            <li class="active slide"><a href="#tab01">My Best Friends 18</a></li>
            <li class="slide"><a href="#tab02">Lorem ipsum</a></li>
            <li class="slide"><a href="#tab03">Poker Club 24</a></li>
        </ul>
    </div>
    <a href="#" class="btn-next"></a>
</div>
<div class="contacts-tab-content">
<div id="tab01">
<form action="#" class="custom-form">
<div class="contacts-posts-container jcf-scrollable">
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
    <ul class="menu-comment">
        <li><a href="#" class="close">close comment</a></li>
    </ul>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
            <span class="text-reply">Reply to Simon</span>
            <time class="date" datetime="2015-11-23">23 Nov, 15:07</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
    <ul class="menu-comment">
        <li><a href="#" class="close">close comment</a></li>
    </ul>
    <div class="like-section">
        <div class="like-box hover">
            <a href="#" class="opener-like-box">
                <span class="icon">like</span>
                <span class="number">15</span>
            </a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 15:08</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
    <ul class="menu-comment">
        <li><a href="#" class="edit">edit comment</a></li>
        <li><a href="#" class="close">close comment</a></li>
    </ul>
</article>
<div class="hide-contacts-posts">
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 12:35</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
        <div class="one-image-box">
            <img src="/static/images/pictures/pic-22.jpg" height="150" width="266" alt="">
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
            <span class="text-reply">Reply to Sam</span>
            <time class="date" datetime="2015-11-23">23 Nov, 16:38</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
        <div class="downloaded-images">
            <div class="image-holder"><img src="/static/images/pictures/pic-23.jpg" height="141" width="182" alt=""></div>
            <div class="image-holder"><img src="/static/images/pictures/pic-24.jpg" height="141" width="182" alt=""></div>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">

            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="downloaded-videos">
            <div class="video-box">
                <a href="#">
                    <img src="/static/images/pictures/pic-25.jpg" height="103" width="182" alt="">
                    <span class="time">0:54</span>
                </a>
            </div>
            <div class="video-box">
                <a href="#">
                    <img src="/static/images/pictures/pic-26.jpg" height="102" width="180" alt="">
                    <span class="time">0:54</span>
                </a>
            </div>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
            <time class="date" datetime="2015-11-23">23 Nov, 14:15</time>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="link-holder">
            <a href="#" class="link-reply">Reply</a>
        </div>
    </div>
</article>
</div>
</div>
</form>
</div>
<div id="tab02">Products tab</div>
<div id="tab03">About tab</div>
</div>
<form action="#" class="form-writing-comment">
    <div class="input-holder">
        <input type="text" placeholder="Type your comment">
    </div>
    <ul class="upload-form-menu">
        <li class="upload-photo"><a href="#">photo</a></li>
        <li class="upload-video"><a href="#">video</a></li>
        <li class="comments-icon-menu">
            <a href="#" class="opener-icon-menu">icon</a>
            <div class="drop-icon-menu">
                <ul class="icons-list">
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon01.png" height="19" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon02.png" height="19" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon03.png" height="19" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon04.png" height="19" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon05.png" height="19" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon06.png" height="19" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon07.png" height="20" width="24" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon08.png" height="20" width="23" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon09.png" height="19" width="22" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon10.png" height="18" width="19" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon11.png" height="20" width="19" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon12.png" height="18" width="23" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon13.png" height="20" width="21" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon14.png" height="19" width="18" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon15.png" height="20" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon16.png" height="19" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon17.png" height="19" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon18.png" height="20" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon19.png" height="20" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon20.png" height="20" width="18" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon21.png" height="19" width="23" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon22.png" height="19" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon23.png" height="14" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon24.png" height="19" width="19" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon25.png" height="19" width="23" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon26.png" height="20" width="16" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon27.png" height="17" width="19" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon28.png" height="20" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon29.png" height="18" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon30.png" height="7" width="20" alt=""></span></a></li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon31.png" height="18" width="21" alt=""></span></a></li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="uploaded-info-section">
        <div class="uploaded-image">
            <img src="/static/images/pictures/pic-27.jpg" height="80" width="115" alt="">
            <a href="#" class="close">close</a>
        </div>
        <div class="uploaded-video">
            <img src="/static/images/pictures/pic-29.jpg" height="80" width="115" alt="">
            <a href="#" class="close">close</a>
            <span class="time">0:54</span>
        </div>
    </div>
    <button class="btn-send">Send</button>
</form>
</div>
</section>
</aside>
<div class="slideshow-images-post-holder">
    <div class="slideshow-images-post-frame">
        <div class="slideshow-images-post">
            <div class="slideset">
                <div class="slide active">
                    <div class="signature-photos">Sam Tomson</div>
                    <img src="/static/images/pictures/pic-43.jpg" height="568" width="950" alt="">
                </div>
                <div class="slide">
                    <img src="/static/images/pictures/pic-43.jpg" height="568" width="950" alt="">
                </div>
                <div class="slide">
                    <img src="/static/images/pictures/pic-43.jpg" height="568" width="950" alt="">
                </div>
                <div class="slide">
                    <img src="/static/images/pictures/pic-43.jpg" height="568" width="950" alt="">
                </div>
                <div class="slide">
                    <img src="/static/images/pictures/pic-43.jpg" height="568" width="950" alt="">
                </div>
                <div class="slide">
                    <img src="/static/images/pictures/pic-43.jpg" height="568" width="950" alt="">
                </div>
                <div class="slide">
                    <img src="/static/images/pictures/pic-43.jpg" height="568" width="950" alt="">
                </div>
                <div class="slide">
                    <img src="/static/images/pictures/pic-43.jpg" height="568" width="950" alt="">
                </div>
                <div class="slide">
                    <img src="/static/images/pictures/pic-43.jpg" height="568" width="950" alt="">
                </div>
                <div class="slide">
                    <img src="/static/images/pictures/pic-43.jpg" height="568" width="950" alt="">
                </div>
            </div>
            <div class="slideshow-menu-holder">
                <a href="#" class="btn-prev"></a>
                <a href="#" class="link-menu opener"></a>
                <a href="#" class="btn-next"></a>
                <div class="slideshow-menu">
                    <a href="#" class="slideshow-menu-opener"><span></span><span></span><span></span></a>
                    <ul class="slideshow-menu-slider">
                        <li><a href="#">Tag people</a></li>
                        <li><a href="#">Report</a></li>
                        <li><a href="#">Block this user</a></li>
                        <li><a href="#">Delete</a></li>
                    </ul>
                </div>
                <div class="pagination-section">
                    <a href="#" class="pagination-section-opener opener">pagination opener</a>
                    <div class="pagination-section-slider">
                        <form action="#" class="custom-form">
                            <div class="jcf-scrollable">
                                <ul class="pagination-images">
                                    <li><a href="#"><img src="/static/images/pictures/pic-44.jpg" height="90" width="160" alt=""></a></li>
                                    <li><a href="#"><img src="/static/images/pictures/pic-45.jpg" height="90" width="160" alt=""></a></li>
                                    <li><a href="#"><img src="/static/images/pictures/pic-46.jpg" height="90" width="160" alt=""></a></li>
                                    <li><a href="#"><img src="/static/images/pictures/pic-47.jpg" height="90" width="160" alt=""></a></li>
                                    <li><a href="#"><img src="/static/images/pictures/pic-47.jpg" height="90" width="160" alt=""></a></li>
                                    <li><a href="#"><img src="/static/images/pictures/pic-44.jpg" height="90" width="160" alt=""></a></li>
                                    <li><a href="#"><img src="/static/images/pictures/pic-45.jpg" height="90" width="160" alt=""></a></li>
                                    <li><a href="#"><img src="/static/images/pictures/pic-46.jpg" height="90" width="160" alt=""></a></li>
                                    <li><a href="#"><img src="/static/images/pictures/pic-47.jpg" height="90" width="160" alt=""></a></li>
                                    <li><a href="#"><img src="/static/images/pictures/pic-47.jpg" height="90" width="160" alt=""></a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="slideshow-images-post-tile">
    <li><a href="#"><img src="/static/images/pictures/pic-48.jpg" height="182" width="182" alt=""></a></li>
    <li><a href="#"><img src="/static/images/pictures/pic-49.jpg" height="182" width="182" alt=""></a></li>
    <li><a href="#"><img src="/static/images/pictures/pic-50.jpg" height="182" width="182" alt=""></a></li>
    <li><a href="#"><img src="/static/images/pictures/pic-51.jpg" height="182" width="182" alt=""></a></li>
    <li><a href="#"><img src="/static/images/pictures/pic-52.jpg" height="182" width="182" alt=""></a></li>
    <li><a href="#"><img src="/static/images/pictures/pic-53.jpg" height="182" width="182" alt=""></a></li>
    <li><a href="#"><img src="/static/images/pictures/pic-54.jpg" height="182" width="182" alt=""></a></li>
    <li><a href="#"><img src="/static/images/pictures/pic-55.jpg" height="182" width="182" alt=""></a></li>
    <li><a href="#"><img src="/static/images/pictures/pic-56.jpg" height="182" width="182" alt=""></a></li>
    <li><a href="#"><img src="/static/images/pictures/pic-57.jpg" height="182" width="182" alt=""></a></li>
    <li><a href="#"><img src="/static/images/pictures/pic-58.jpg" height="182" width="182" alt=""></a></li>
    <li><a href="#"><img src="/static/images/pictures/pic-59.jpg" height="182" width="182" alt=""></a></li>
</ul>
<div class="gallery-popup-heading-bar">
    <a href="#" class="link-all-photos">All photos</a>
    <a href="#" class="link-photo">Photo</a>
    <a href="#" class="link-back"></a>
    <strong class="title">12 photos</strong>
    <div class="gallery-popup-menu">
        <a href="#" class="gallery-popup-menu-opener"><span></span><span></span><span></span></a>
        <ul class="gallery-popup-menu-slider">
            <li><a href="#">Tag people</a></li>
            <li><a href="#">Report</a></li>
            <li><a href="#">Block this user</a></li>
            <li><a href="#">Delete</a></li>
        </ul>
    </div>
</div>
<div class="gallery-popup-footer-bar">
    <a href="#" class="link-share"></a>
    <a href="#" class="link-comments"></a>
    <a href="#" class="link-like"></a>
</div>
</div>
<div class="activity-post-popup" style="display:none;">
<div class="heading-block">
    <h3>Activity</h3>
</div>
<ul class="activity-tabset">
    <li class="active"><a href="#activity-tab01">Shared</a></li>
    <li><a href="#activity-tab02">Rock</a></li>
    <li><a href="#activity-tab03">Funny</a></li>
    <li><a href="#activity-tab04">Sad</a></li>
</ul>
<div class="activity-tab-content">
<div id="activity-tab01">
<form action="#" class="custom-form">
<div class="contacts-posts-container jcf-scrollable">
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
</div>
</form>
</div>
<div id="activity-tab02">
<form action="#" class="custom-form">
<div class="contacts-posts-container jcf-scrollable">
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
</div>
</form>
</div>
<div id="activity-tab03">
<form action="#" class="custom-form">
<div class="contacts-posts-container jcf-scrollable">
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
</div>
</form>
</div>
<div id="activity-tab04">
<form action="#" class="custom-form">
<div class="contacts-posts-container jcf-scrollable">
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-2.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Gann</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-3.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Jazz Fry</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-4.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">George Alanberger</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-5.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Simon McCoy</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-6.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Sam Tomson</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-7.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Paul Tower</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
<article class="post-contacts">
    <div class="image-box">
        <img src="/static/images/pictures/man-8.jpg" alt="">
    </div>
    <div class="text-holder">
        <div class="heading">
            <h3><a href="#">Terry White</a></h3>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</article>
</div>
</form>
</div>
</div>
<footer class="footer-box">
    <a href="#" class="btn-close">Close</a>
</footer>
</div>
<div class="pop-up-area" id="popup-question">
    <div class="holder">
        <h2>Are You sure you want to Delete Friends Hub?</h2>
        <div class="button-holder">
            <a href="#" class="btn-base">Delete</a>
            <a href="#" class="close">Cansel</a>
        </div>
    </div>
</div>
<div class="pop-up-area" id="popup-confirmation">
</div>
<div id="post_delete_pop" style="display:none">
    <div class="holder" >
        <h2>Are You sure you want to Delete this Post?</h2>
        <div class="button-holder" >
            <a href="#" class="btn-base" id="delpost" data-post="{postid}">Delete</a>
            <a href="#" class="close" id="close_popup">Cancel</a>
        </div>
        <div  style="display:none" id="del_success"></div>
    </div>
</div>
