<div class="header-fixed">
    <header id="header">
        <div class="container  clearfix">
            <div class="btn-menu drop-btn">
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
            </div>

            <searchbar></searchbar>

            <div class="header-center-box">
                <div id="notification-bar" style="display:none">
                    <span></span>
                </div>
                <div class="uploading-heading"><span>Uploading in progress</span></div>
                <h1 class="logo"><a href="#"><img src="/static/images/logotype.png" alt="Groupinit"></a></h1>
                <a @click="ButtonOpener" href="#" class="btn-profile-opener">opener</a>
            </div>
            <div class="right-box">
                <a href="#" class="profile-btn" @click="ShowProfile">
                    <span>
                        <div class="profile_container">
                            <div class="username">{! boxinfo.current_box.user_name | capitalize !}</div>
                            <div class="status-container">
                                <img :src="boxinfo.current_box.status_pic" class="statuspic" v-if="boxinfo.current_box.status_pic != null"/>
                                <span class="status">{! boxinfo.current_box.status.slice(0,21) !}</span>
                            </div>
                        </div>

                    </span>
                    <strong>
                        <img :src="boxinfo.current_box.profile_pic" alt="Picture" >
                        <i class="number">{! boxinfo.current_box.notify_count !}</i>
                    </strong>
                </a>
            </div>
            <nav class="drop-box">
                <form class="search-form" action="#">
                    <input type="search" name="search" placeholder="Search">
                    <button type="submit">&nbsp;</button>
                </form>
                <ul>
                    <li><a href="newsfeed.html">Newsfeed <span>11</span></a></li>
                    <li><a href="groups.html">Groups</a></li>
                    <li><a href="#">Messages <span>11</span></a></li>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="map.html">Map</a></li>
                    <li><a href="media-posts.html">Media posts</a></li>
                    <li><a href="lifetime-feed.html">Lifetime posts</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="tab-bar">
        <div class="container clearfix">
            <a href="#new-group" class="add-btn lightbox" @click="ShowBoxEdit">add btn</a>
            <!-- <input type="text" id="qwerty"> -->
            <div class="tabs-area">
                <ul id="toptab" class="tabs desktop" style="display: none">
                    <li :data-id="'box_'+box.id" :id="'box_'+box.id"
                        :class="{'active': boxinfo.current_box.id == box.id }" v-for="box in boxinfo.boxes">
                        <a @click="ChangeBox(box.id,box,$index)" :style="'color:'+box.color" class="grp_link">
                            {! box.name | capitalize !}
                            <span class="bubble-box" :style="'background:'+ box.color">{! box.notification !}</span>
                        </a>
                        <a v-if="box.box_type == 'box'" @click="RemoveBox($index)" href="#popup-question" class="edit-close lightboxpop">close</a>
                    </li>
                </ul>
                <div class="tabs mobile slider-nav">
                    <div class="mask">
                        <div class="slideset">
                            <div class="friends" data-id="friends" data-prev-id="discussions" data-next-id="family"><a
                                    href="inc/friends.html">Friends<span>11</span></a></div>
                            <div class="family" data-id="family" data-prev-id="friends" data-next-id="work"><a
                                    href="inc/family.html">Family<span>24</span></a></div>
                            <div class="work" data-id="work" data-prev-id="family" data-next-id="public-groups"><a
                                    href="inc/work.html">Work<span>7</span></a></div>
                            <div class="public-groups" data-id="public-groups" data-prev-id="work"
                                 data-next-id="discussions"><a href="inc/public-groups.html">Public
                                Groups<span>18</span></a></div>
                            <div class="discussions" data-id="discussions" data-prev-id="public-groups"
                                 data-next-id="friends"><a href="inc/discussions.html">Discussions<span>11</span></a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn-next">&gt;</a>
                    <a href="#" class="btn-prev">&lt;</a>
                </div>
            </div>
            <a v-show="false" @click="ShowBoxEdit" href="#new-group" class="add-new-category lightbox"><span class="frame">+</span></a>
            <a @click="TriggerEdit" href="#" class="edit-btn">Edit</a>
            <a @click="TriggerDone" href="#" class="edit-btn apply-btn">Done</a>
            <div class="test-block"></div>
        </div>
    </div>
</div>
<newbox :show.sync="showboxedit"></newbox>

<div class="pop-up-area" :class="{'lightbox-active' : showdelete}" id="popup-confirmation">
    <div class="holder">
        <h2>Are you sure you want to Delete?</h2>
        <p style="color:#BDBDBD">You will still be connected, box will be removed</p>
        <div class="button-holder">
            <a href="#" class="btn-base" id="delpost" @click="ConfirmBoxDelete">Delete</a>
            <a href="#" class="close" id="close_popup" @click="CloseDeletePopup">Cancel</a>
        </div>
        <div style="display:none" id="del_success"></div>
    </div>
</div>


<template id="search-bar">
    <form class="search-form" action="#">
        <input id="topsearch" autocomplete="off" v-model="searchstring" name="search"
               placeholder="Search" type="search"
               @keyup="WhenSearch($event) | debounce 500"
               @click="onFocusSearch"
               @blur="onBlurSearch"
        >
        <button type="submit">&nbsp;</button>
    </form>
    <div v-show="resultcontainer" transition="fade" class="seach-results-container"
         style="display: none ">
        <article v-show="errorcontainer" class="seach-results-block">
            <div class="heading">
                <strong class="title">{! errortitle !}</strong>
                <a href="#" class="link">{! errorsubtitle !}</a>
            </div>
            <ul class="search-result-error-message">
                <p> {! errormessage !}</p>
            </ul>
        </article>
        <article v-show="usercontainer" class="seach-results-block" >
            <div class="heading">
                <strong class="title">People</strong>
                <a href="#" class="link">People Only</a>
            </div>
            <ul class="seach-results-list">
                <li v-for="user in userlist">
                    <div class="image-box">
                        <div class="img-holder">
                            <img :src="user.profile_details.profile_pic">
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="frame">
                            <div class="holder">
                                <h3>{! user.name | capitalize !}</h3>
                                <p v-if="user.status == 'Send Request'">Request already sent</p>
                                <p v-else> {! user.msg !}</p>
                            </div>
                        </div>
                    </div>
                    <div class="overlay"></div>
                    <a v-if="user.user_id == undefined" href=""
                       @click.prevent="sendMail(user.email)"
                       class="btn-add">Invite</a>
                    <a v-if="user.status == 'open'" href=""
                       @click.prevent="inviteUser(user.user_id)"
                       class="btn-add">Invite</a>
                </li>
            </ul>
        </article>
        <article class="seach-results-block" v-show="grouplist.length > 0">
            <div class="heading">
                <strong class="title">Groups</strong>
                <a href="#" class="link">Groups Only</a>
            </div>
            <ul class="seach-results-list">
                <li  v-for="user in grouplist">
                    <div class="image-wrap">
                        <img :src="user.profile_pic">
                    </div>
                    <div class="text-holder">
                        <div class="frame">
                            <div class="holder">
                                <h3>{! user.name | capitalize !}</h3>
                                <p> {! user.number_of_members !} Followers</p>
                            </div>
                        </div>
                    </div>
                    <div class="overlay"></div>
                    <a href="" class="btn-add">Join</a>
                </li>
            </ul>
        </article>
        <div class="link-holder" style="">
            <a v-if="!showmore" href="#" class="more"><span>Group init</span></a>
            <a v-else href="#" class="showmore"><span>Show More Results</span></a>
        </div>
    </div>
</template>

<script>
    var topsearch =  Vue.component('searchbar',{
    template: '#search-bar',
     data: function(){
         return{
         userlist:[],
         grouplist:[],
         nohide : false,
         resultcontainer: false,
         errorcontainer: false,
         usercontainer : false,
         groupcontainer: false,
         showmore: false,
         searchstring: '',
         errortitle: 'Search Results',
         errorsubtitle : '',
         errormessage: 'Search by name or email address, or enter an email address to invite someone new',
         messages:{
             empty : 'Search name or email address, or enter an email address to invite someone new',
             request: 'Request Sent',
             emailstart: 'Send Request',
             pending: 'Request is pending',
             notfound: 'We don\'t know this person. Enter email above to invite',
             email : 'Email sent successfully',
             emailinvite: 'Your invitation has been sent',
             default: 'Oh, sorry.. Unknown response'
         }
     }
    },
    watch: {
         'userlist': function() {
             var self = this;
             // console.log(JSON.stringify(this.userlist));
             // if(userlist.length > 0){
             //    self.showmore = true;
             // }
         }
    },
     events:{
         'frequest': function(response) {
             var self = this;
            switch(response.message){
                case 'Request Sent':
                    notification.success('Request sent successfully');
                    self.errormessage = self.messages['request'];
                    break;
                case 'connected':
                    notification.error('Request is yet to accept');
                    self.errormessage = self.messages['pending'];
                    break;
                default:
                    self.errormessage = self.messages['default'];
            }
                var all =true;
                self.hide(all);
                self.resultcontainer = self.show();
                self.errorcontainer = self.show();
                self.searchstring ='';
                $('#topsearch').focus();
         },
        'dataChanged' :function(response) {
            var self = this;
            console.log(response);
            self.showmore = false;
            self.userlist = [];
            switch(response.result){
                case 'empty':
                    self.errormessage = self.messages['empty'];
                    self.grouplist = [];
                    self.userlist = [];
                    break;
                case 'notfound':
                    self.errormessage = self.messages['notfound'];
                    break;
                case 'ok':
                    // self.userlist = self.grouplist = [];
                    self.userlist=response.people;
                    self.grouplist=response.groups;
                    if(self.userlist.length > 0){
                        self.showmore = true;
                    }
                    break;
                case 'send_mail':
                    notification.success('Valid email address');
                    var name = response.search_key.split('@')[0],
                        msg  = self.messages['emailstart'];
                    self.userlist.push({
                        name: name,
                        msg : msg,
                        email: response.search_key,
                        profile_details:{
                            profile_pic: '/static/images/pictures/avatar.jpg'
                        }
                    });
                    break;
                case 'mailsent':
                    console.log(self.userlist);
                    self.errormessage = self.messages['emailinvite'];
                    notification.success('Mail Sent successfully');
                    break;
                default:
                    self.errormessage = self.messages['default'];
                    notification.error(self.messages['default']);
            }
            if(response.result != 'ok' && response.result !='send_mail'){
                console.log(response.result);
                var all = true;
                self.hide(all);
                self.errorcontainer = self.show();
                self.resultcontainer = self.show();
                 $('#topsearch').focus();
                return;
            }
            if(typeof self.userlist!= 'undefined' && self.userlist.length > 0){
                self.errorcontainer = self.hide();
                self.usercontainer = self.show();
                 $('#topsearch').focus();
            }


        }
     },
    methods: {
         HideResult: function() {
            var self = this;
             console.log('Hiding....');
             self.resultcontainer = self.hide();
         },
         sendMail: function(email) {
             console.log('Sending Mail');
             var self = this;
             ajaxPost('/send_invitation/',{
                 mail_id: email
             },function(res) {
                 console.log(res);
                 if(res.result == 'ok'){
                     self.$dispatch('dataChanged',{result: 'mailsent'});
                 }else{
                     notification.error(res.message);
                 }
             });
             self.searchstring = '';
             self.resultcontainer = false;
         },

        hide : function(all) {
            var self = this;
            if(all){
                self.usercontainer = false;
                self.groupcontainer = false;
            }
            return false;
        },
        show : function() {
            return true;
        },
        updateUsers : function(){
            console.log(self.search.users);
        },
        onFocusSearch: function() {
             var self = this;
            //Hiding all opened window
            self.hide(true);
             self.resultcontainer =
                 self.errorcontainer =
                     self.show();
            self.$dispatch('dataChanged',{result: 'empty'});
        },
        onBlurSearch: function() {
            var self = this;
                    self.resultcontainer =
                        self.hide();
            self.searchstring = '';
        },
        WhenSearch: function(event) {
            var self = this,
                searchstring = event.target.value,
                url = "/api/search_people/?search_key="+searchstring;
            ajaxGet(url,function(response) {
                self.$dispatch('dataChanged', response);
            });
        },
        containerClick: function() {
            console.log("Blurred");
        },
        inviteUser: function(userid) {
            var self = this;
            var data= {
                csrfmiddlewaretoken: $('#csrf_token').val(),
                user_id: userid
              };
            ajaxPost("/api/request/send/",data,function(response) {
                self.$dispatch('frequest', response);
            });

        }
    }
});
</script>