<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAzzgninC9hwgn0zBfiVM9batOFLAlZnFA&libraries=places"></script>
{#<script type="text/javascript" src=https://maps.googleapis.com/maps/api/js?key=AIzaSyAzzgninC9hwgn0zBfiVM9batOFLAlZnFA&libraries=places"></script>#}
{#<script src="/static/js/infobox.js"></script>#}
{#<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyAzzgninC9hwgn0zBfiVM9batOFLAlZnFA&libraries=places"></script>#}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/iscroll.js"></script>
{#<script src="/static/js/jcf.scrollable.js"></script>#}
<script  src="/static/js/jquery.main.js"></script>
<script src="/static/js/invo/simpleUpload.min.js"></script>
<script src="/static/js/Jcrop.min.js"></script>
<script src="/static/js/sortable/html.sortable.min.js"></script>
{#<script  src="/static/js/alertify.js"></script>#}
<script src="/static/js/invo/app.js"></script>
<script src="/static/js/slick.js"></script>
<script  src="/static/js/invo/vueapp.js"></script>
{#<script src="/static/js/invo/extra.js"></script>#}
