    <div class="pop-up-area add-size" id="invite-friends">
        <div class="holder">
            <div class="add-members-pop-up">
                <div class="title-pop-up">Invite friends</div>
                <form action="#" class="add-members-form">
                    <div class="checkbox-gallery">
                        <div class="mask">
                            <div class="row-group">
                                <div class="slide active">
                                    <a href="#checkbox-gallery-tab01">
                                        <label for="checkboxPopupAll" class="checkboxPopup">
                                            <input type="checkbox" id="checkboxPopupAll" name="checkboxPopupAll" ><span>All</span>
                                        </label>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn-prev">previous</a>
                        <a href="#" class="btn-next">next</a>
                    </div>
                    <div class="tab-content">
                        <div id="checkbox-gallery-tab01">
                            <h2>Click All to select<br>or select everyone</h2>
                        </div>
                    </div>
                    <div class="btn-group clearfix">
                        <p id="selectioncount">14 people selected</p>
                        <a href="#" id="deskclose" class="mfp-close cancel-btn desktop close">Cancel</a>
                        <a href="#" id="deskclose" class="cancel-btn mobile close">Cancel</a>
                        <button id="friends_li" type="submit">Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>