<div id="peopleliked" class="general-post-popup-list">
    <div class="inner-box">
        <article class="general-post-popup">
            <div class="heading">
                <div class="holder">
                    <h3>People who marked this post as rock</h3>
                </div>
            </div>
            <div class="content">
                <form action="#" class="custom-form">
                    <div class="jcf-scrollable">
                        <ul class="list-people-base">
                        </ul>
                    </div>
                </form>
            </div>
            <div class="footer-block">
                <a href="#" class="btn-base close">Close</a>
            </div>
        </article>
    </div>
</div>