    <!--<div id="global-search">-->
        <form class="search-form" action="#">
            <input type="search" id="globsearch" name="search" placeholder="Search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            <button type="submit">&nbsp;</button>
            <div id="floatingCirclesG" style="display:none;">
                <div class="f_circleG" id="frotateG_01"></div>
                <div class="f_circleG" id="frotateG_02"></div>
                <div class="f_circleG" id="frotateG_03"></div>
                <div class="f_circleG" id="frotateG_04"></div>
                <div class="f_circleG" id="frotateG_05"></div>
                <div class="f_circleG" id="frotateG_06"></div>
                <div class="f_circleG" id="frotateG_07"></div>
                <div class="f_circleG" id="frotateG_08"></div>
            </div>
        </form>
        <div class="seach-results-container" style="display:none;" id="search_message">
            <article class="seach-results-block">
                <div class="heading">
                    <strong class="title">Search Results</strong>
                    <a href="#" class="link"></a>
                </div>
                <ul class="seach-results-list search-message">
                    <br>
                    <p>Search by name or email address, or enter an email address to invite someone new.
                        <br>
                        <br>

                </ul>
            </article>
        </div>
        <div class="seach-results-container" style="display:none;" id="search_by_email">
            <article class="seach-results-block" id="seach-results-block-notfound" style="display:hide;">
                <div class="heading">
                    <strong class="title">Search Results</strong>
                    <a href="#" class="link"></a>
                </div>
                <ul class="seach-results-list" id="seach-results-list">

                </ul>
            </article>
        </div>
        <div class="seach-results-container" style="display:none;" id="send_mail_invitation">
            <article class="seach-results-block">
                <div class="heading">
                    <strong class="title">Search Results</strong>
                    <a href="#" class="link"></a>
                </div>
                <ul class="seach-results-list search-message">
                    <br>
                    <p>Your invitation has been send.
                        <br>
                        <br>
                </ul>
            </article>
        </div>
        <div class="seach-results-container" style="display:none;" id="send_friends_request">
            <article class="seach-results-block">
                <div class="heading">
                    <strong class="title">Search Results</strong>
                    <a href="#" class="link"></a>
                </div>
                <ul class="seach-results-list search-message">
                    <br>
                    <p>Request Sent
                        <br>
                        <br>

                </ul>
            </article>
        </div>
        <div class="seach-results-container" style="display:none;" id="seach-result-nouser-message">
            <article class="seach-results-block">
                <div class="heading">
                    <strong class="title">Serach Results</strong>
                    <a href="#" class="link"></a>
                </div>
                <ul class="seach-results-list search-message">
                    <br>
                    <p>We don't know this person. Enter email above to invite.
                        <br>
                        <br>

                </ul>
            </article>
        </div>
        <div class="seach-results-container" style="display:none;" id="seach-results-container">
            <article class="seach-results-block" id="seach-results-block-people" style="display:hide;">

                <div class="heading">
                    <strong class="title">People</strong>
                    <a class="link" href="#">People Only</a>
                </div>
                <ul class="seach-results-list" id="seach-results-list">

                </ul>
            </article>

            <article class="seach-results-block" id="seach-results-block-friends" style="display:hide;">
                <div class="heading">
                    <strong class="title">Friends</strong>
                    <a class="link" href="#">Friends Only</a>
                </div>
                <ul class="seach-results-list" id="seach-results-list">

                </ul>
            </article>


            <article class="seach-results-block" id="seach-results-block-groups" style="display:hide;">
                <div class="heading">
                    <strong class="title">Groups</strong>
                    <a class="link" href="#">Groups Only</a>
                </div>
                <ul class="seach-results-list" id="seach-results-list">

                </ul>
            </article>


            <article class="seach-results-block" id="seach-results-block-events" style="display:none" >
                <div class="heading">
                    <strong class="title">Events</strong>
                    <a class="link" href="#">Events Only</a>
                </div>
                <ul class="seach-results-list" id="seach-results-list">

                </ul>
            </article>
        </div>
    <!--</div>-->