/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/**
 * Remove default margin.
 */
body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	/* 1 */
	font: inherit;
	/* 2 */
	margin: 0;
	/* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	/* 2 */
	cursor: pointer;
	/* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	box-sizing: border-box;
	/* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
	border: 0;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap;
	/* 1 */
	text-overflow: ellipsis;
	/* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #333;
	background: #f7efef;
	font: 14px / 1.2 "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
}

.gm-style img {
	max-width: none;
}

@media only screen and (min-width: 1025px) {
	a[href^=tel],
	a[href^=skype],
	a[href^=sms] {
		cursor: default;
		pointer-events: none;
	}
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 1px;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus {
	text-decoration: underline;
	outline: none;
}

img {
	border: none;
	display: block;
}

label,
button {
	cursor: pointer;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: none;
	padding: 0;
	margin: 0;
}

input:focus {
	outline: none;
}

form {
	overflow: hidden;
	margin: 0;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
input[type="search"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
}

body {
	background: #f7efef;
	font-family: "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 14px;
	line-height: 1.2;
	color: #333;
	min-width: 320px;
}

.events-section {
	padding: 15px 0 0;
}

.search-event-area {
	padding: 0 25px 18px;
	box-shadow: 0 7px 7px -7px rgba(0, 0, 0, .75);
}

.events-list-area.details-active,
.events-list-area.details-active .detail-active,
.events-list-area.details-active .scroll-area,
.events-list-area.details-active .events-detail-area {
	height: 100%;
}

.search-event-area .search-form {
	max-width: 250px;
	margin: 0 auto 23px;
}

.add-event-btn {
	text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
	font: bold 12px/15px "Roboto",Arial,Helvetica,san-serif;
	color: #fff;
	letter-spacing: .2px;
}
.add-event-btn a {
	font: bold 12px/15px "Roboto",Arial,Helvetica,san-serif;
	color: #fff;
}

/* events-list-area */
.events-list-area > li {
	padding: 15px 25px;
	border-bottom: 1px solid #5b6074;
}

.events-list-area > li:hover {
	background: #5b6074;
}

.events-list-area .events-list-row {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.events-list-area .date-cell {
	display: table-cell;
	vertical-align: middle;
	width: 20%;
	padding: 0 10px 0 0;
}

.events-list-area .event-cell {
	display: table-cell;
	vertical-align: middle;
	width: 60%;
	padding: 0 10px 0 0;
}

.events-list-area .subject-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	width: 20%;
}

.events-list-area .date-cell span {
	display: inline-block;
	vertical-align: top;
	width: 41px;
	height: 41px;
	border-radius: 5px;
	border: 2px solid #edf2f6;
	border-top: 10px solid #edf2f6;
	font: bold 8px/130% "Roboto",Arial,Helvetica,san-serif;
	color: #edf2f6;
	padding: 5px 0 0;
	margin-top: 1px;
}

.events-list-area .date-cell b {
	display: block;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	margin: 0 0 2px;
}

.events-list-area .date-cell i {
	display: block;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: uppercase;
}

.events-list-area .event-cell h3 {
	font: bold 14px/120% "Roboto",Arial,Helvetica,san-serif;
	color: #f65b42;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing: .4px;
}

.events-list-area .event-cell h3 a {
	color: #f65b42;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.events-list-area .event-cell p {
	font: 10px/130% "Roboto",Arial,Helvetica,san-serif;
	color: #edf2f6;
	letter-spacing: .3px;
}

.events-list-area .event-cell p span {
	color: #f65b42;
}

.events-list-area .subject-cell a.mobile {
	display: none;
}

.events-list-area .subject-cell a {
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 25px;
	position: relative;
	cursor: pointer;
	font: bold 14px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #5b6074;
	margin-top: 2px;
}

.events-list-area > li:hover .subject-cell a {
	color: #363946;
}

.events-list-area .subject-cell a:hover {
	text-decoration: none;
}

.events-list-area .subject-cell a:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 15px;
	background: url("../images/icons/icon-8.png") no-repeat;
}

.events-list-area > li:hover .subject-cell a:before {
	background-position: 0 -15px;
}

.events-list-group-btn {
	padding: 10px 0 0;
	text-align: center;
}

.events-list-group-btn > :nth-child(3) {
	float: right;
}

.events-list-group-btn .radio-buttons {
	text-align: justify;
	line-height: 0;
}

.events-list-group-btn .radio-buttons:after {
	display: inline-block;
	vertical-align: top;
	content: "";
	width: 100%;
}

.events-list-group-btn.gruop-checked .radio-buttons {
	display: none;
}

.events-list-group-btn a {
	display: inline-block;
	vertical-align: top;
	background: #f65b42;
	text-align: center;
	font: bold 12px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #fff;
	border-radius: 5px;
	padding: 9px 11px;
}

.events-list-group-btn a.checked {
	background: #e63b22;
}

/* event-discussion-area */
.event-discussion-area {
	position: absolute;
	right: 5%;
	max-width: 345px;
	z-index: -1;
	width: 80%;
	top: 0;
	background: #dfe4e8;
	box-shadow: 1px 1px 3px 0 rgba(73, 81, 88, .75);
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
}

.event-discussion-area.active-discussion {
	right: -113%;
	width: 113%;
}

.event-discussion-area .discussion-title {
	position: relative;
	font: 14px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #4d5163;
	padding: 18px 54px 18px 20px;
	border-bottom: 1px solid #b1b9bf;
	overflow: hidden;
}

.event-discussion-area .hide-discussion-btn.mobile {
	display: none;
}

.event-discussion-area .hide-discussion-btn {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 14px;
	height: 10px;
	z-index: 10;
	background: url("../images/icons/icon-9.png") no-repeat;
}
.event-discussion-area .hide-discussion-btn:hover,
.event-discussion-area .hide-discussion-btn:focus {
	text-decoration: none;
}
.event-discussion-area .hide-discussion-btn:before {
	content: "";
	position: absolute;
	left: -400px;
	top: -50px;
	right: -100px;
	bottom: -50px;
}

.event-discussion-area .hide-discussion-btn:hover {
	text-decoration: none;
}

/* events-detail */
.events-detail-area {
	margin: 0 -25px -15px;
}

.details-active > li.detail-active .details-meta,
.events-detail-area,
.details-active > li {
	display: none;
}

.details-active > li.detail-active,
.details-active > li.detail-active .events-detail-area {
	display: block;
}

.events-list-area.details-active > li:hover {
	background: none;
}

.events-detail-area .back-to-events-row {
	border-bottom: 1px solid #5b6074;
	padding: 0 25px 15px;
	display: table;
	width: 100%;
	table-layout: fixed;
}

.events-detail-area .back-to-events-row .cell {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}

.events-detail-area .back-to-events-row > :last-child {
	text-align: right;
}

.events-detail-area .back-to-events-btn {
	display: inline-block;
	vertical-align: middle;
	font: bold 13px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #5b6074;
}

.events-detail-area .message-counter {
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 27px;
	position: relative;
}

.events-detail-area .message-counter:hover {
	text-decoration: none;
}

.events-detail-area .message-counter:before {
	content: "";
	position: absolute;
	left: 0;
	top: 6px;
	width: 20px;
	height: 20px;
	background: url("../images/icons/icon-15.png") no-repeat;
}

.events-detail-area .message-counter span {
	display: inline-block;
	vertical-align: top;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font: bold 12px/24px "Roboto",Arial,Helvetica,san-serif;
	color: #363946;
	text-align: center;
}

.events-detail-title {
	display: table;
	width: 100%;
	table-layout: fixed;
	padding: 15px 25px;
}

.events-detail-title .date-cell {
	display: table-cell;
	vertical-align: middle;
	width: 20%;
	padding: 0 10px 0 0;
}

.events-detail-title .event-cell {
	display: table-cell;
	vertical-align: middle;
	width: 80%;
}

.events-detail-title .date-cell span {
	border: 2px solid #edf2f6;
	border-top: 10px solid #edf2f6;
	color: #edf2f6;
	display: inline-block;
	font: bold 8px/120% "Roboto",Arial,Helvetica,san-serif;
	height: 41px;
	padding: 5px 0 0;
	vertical-align: top;
	width: 41px;
	border-radius: 5px;
}

.events-detail-title .date-cell b {
	display: block;
	font-size: 12px;
	margin: 0 0 2px;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.events-detail-title .date-cell i {
	display: block;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
}

.events-detail-title .event-cell h3 {
	font: bold 18px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #edf2f6;
}

.events-detail-area .radio-group {
	display: block !important;
	position: static !important;
	height: auto !important;
	padding: 0 25px 15px !important;
}

.events-detail-area .invite-friends-btn {
	padding: 0 25px;
}

.invite-friends-btn.mobile {
	display: none;
}

.events-detail-area .invite-friends-btn a {
	display: inline-block;
	vertical-align: top;
	font: 12px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #f65b42;
	margin: 0 0 20px;
}

.events-detail-area .events-list-group-btn {
	padding: 0 25px 15px;
}

.pop-up-area .accordion-area .accordion-panel {
	padding-top: 0;
}

@media (max-width: 1023px) {
	.scroll-area.events-scroll {
		height: auto;
	}
	.events-detail-area .scroll-area {
		height: auto;
	}
	/* events-page */
	.events-desktop {
		display: none;
	}
	.events-page .events-mobile {
		display: block;
	}
	.events-page .add-new-event-btn.mobile {
		display: block;
		background: #363946;
		text-align: center;
		font: bold 18px/100% "Roboto", Arial, Helvetica, san-serif;
		color: #fff;
		padding: 26px 5px;
		text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
	}
	.events-page #content .main-content {
		display: none;
	}
	.events-page #content .right-sidebar {
		display: none;
	}
	.events-page #content .tab-nav {
		display: none;
	}
	.events-page #content .left-sidebar {
		background: #f6f0f0;
		float: none;
		width: 100%;
		display: block;
	}
	.events-page .search-event-area {
		display: none;
	}
	.events-page .tab-bar {
		display: none;
	}
	.events-list-area > li {
		border-bottom: 1px solid #5b6074;
		padding: 15px 26px;
	}
	.events-list-area > li:hover {
		background: inherit;
	}
	.events-list-area > :first-child:hover {
		background: #fff;
	}
	.events-list-area > :first-child {
		padding: 25px 30px;
		background: #fff;
		border: none;
		margin: 20px 30px;
		box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .13);
	}
	.events-list-area > :nth-child(2) {
		border-top: 1px solid #5b6074;
	}
	.events-list-area > :first-child .date-cell span {
		border: 3px solid #5b6074;
		border-top: 16px solid #5b6074;
		color: #5b6074;
		font: bold 13px/120% "Roboto",Arial,Helvetica,san-serif;
		height: 67px;
		padding: 5px 0 0;
		width: 67px;
		border-radius: 7px;
	}
	.events-list-area > :first-child .date-cell {
		display: table-cell;
		padding: 0 30px 0 0;
		vertical-align: middle;
		width: 17%;
	}
	.events-list-area > :first-child .event-cell {
		padding: 0 10px 0 0;
		width: 65%;
	}
	.events-list-area > :first-child .subject-cell {
		width: 18%;
	}
	.events-list-area > :first-child .event-cell h3 {
		font: bold 23px/130% "Roboto",Arial,Helvetica,san-serif;
	}
	.events-list-area > :first-child .event-cell p {
		font: 16px/130% "Roboto",Arial,Helvetica,san-serif;
		color: #5b6074;
	}
	.events-list-group-btn a {
		font: bold 18px/100% "Roboto",Arial,Helvetica,san-serif;
		width: 32%;
	}
	.events-list-group-btn {
		padding: 30px 0 0;
	}
	.events-list-area > :first-child .subject-cell a:before {
		background: url("../images/icons/icon-11.png") no-repeat;
		height: 20px;
		width: 22px;
	}
	.events-list-area > :first-child .subject-cell a {
		color: #8391a4;
		font: bold 18px/100% "Roboto",Arial,Helvetica,san-serif;
		padding: 0 0 0 34px;
	}
	.events-list-area > :first-child:hover .subject-cell a:before {
		background-position: 0 0;
	}
	.events-list-area > :first-child:hover .subject-cell a {
		color: #8391a4;
	}
	/*  */
	.events-list-area .date-cell {
		padding: 0 20px 0 0;
		width: 10%;
	}
	.events-list-area .event-cell {
		width: 75%;
	}
	.events-list-area .subject-cell {
		width: 15%;
	}
	.events-list-area .subject-cell a.desktop {
		display: none;
	}
	.events-list-area .subject-cell a.mobile {
		display: inline-block;
	}
	.events-list-area .date-cell span {
		border: 2px solid #5b6074;
		border-top: 10px solid #5b6074;
		color: #5b6074;
		font: bold 8px/120% "Roboto",Arial,Helvetica,san-serif;
		padding: 5px 0 0;
	}
	.events-list-area .date-cell b {
		font-size: 12px;
	}
	.events-list-area .event-cell h3 {
		font: bold 16px/130% "Roboto",Arial,Helvetica,san-serif;
	}
	.events-list-area .event-cell p {
		color: #5b6074;
		font: 12px/130% "Roboto",Arial,Helvetica,san-serif;
	}
}

@media (max-width: 767px) {
	.events-list-area > :first-child {
		padding: 25px 20px;
		margin: 20px 10px;
	}
	.events-list-area > :first-child .date-cell {
		padding: 0 15px 0 0;
		width: 21%;
	}
	.events-list-area > :first-child .event-cell {
		width: 63%;
	}
	.events-list-area > :first-child .subject-cell {
		width: 16%;
	}
	.events-list-area .date-cell {
		width: 15%;
	}
	.events-list-area .event-cell {
		width: 70%;
	}
	.events-list-area .subject-cell {
		width: 15%;
	}
}

@media (max-width: 479px) {
	/* events-page */
	.events-list-area > :first-child .date-cell span {
		height: 50px;
		width: 50px;
		font-size: 10px;
	}
	.events-list-area > :first-child .event-cell h3 {
		font-size: 12px;
	}
	.events-list-area > :first-child .event-cell p {
		font-size: 10px;
	}
	.events-list-area > :first-child .date-cell {
		padding: 0 10px 0 0;
		width: 23%;
	}
	.events-list-area > :first-child .event-cell {
		width: 61%;
	}
	.events-list-area > :first-child .subject-cell {
		width: 16%;
	}
	.events-list-area > :first-child .subject-cell a::before {
		background-size: contain;
		height: 15px;
		width: 15px;
	}
	.events-list-area > :first-child .subject-cell a {
		color: #8391a4;
		font-size: 13px;
		padding: 0 0 0 24px;
	}
	.events-list-group-btn a {
		font-size: 13px;
	}
	.events-list-area .date-cell {
		width: 23%;
	}
	.events-list-area .event-cell {
		width: 62%;
	}
	.events-list-area .subject-cell {
		width: 15%;
	}
	.events-list-area .event-cell h3 {
		font-size: 12px;
	}
	.events-list-area .event-cell p {
		font-size: 10px;
	}
	.event-discussion-page .message-form button {
		max-width: none;
		width: auto;
	}
	/* events-detail-page */
	.events-detail-page .events-detail-title .date-cell {
		padding: 0 10px 0 0;
		width: 28%;
	}
	.events-detail-page .events-detail-title .event-cell {
		width: 72%;
	}
	.events-detail-page .events-detail-title .event-cell h3 {
		font-size: 18px;
	}
	.events-detail-page .info-table .row > :first-child {
		font-size: 14px;
		width: 28%;
	}
	.events-detail-page .info-table .row > *:last-child {
		font-size: 14px;
		width: 72%;
	}
}