.create-general-post-box{
	position:relative;
	margin:0 0 20px;
	background:#fff;
	padding:15px 22px;
	border-radius:5px;
	overflow:hidden;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	.input-holder{
		position:relative;
		overflow:hidden;
		input{
			background:#ecf1f5;
			border:none;
			border-radius:5px;
			width:100%;
			height:30px;
			padding:8px 20px;
			margin:0;
			float:left;
			font-size:12px;
			line-height:15px;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			color:#8391a4;
			@include placeholder{
				color:#bfcbda;
			}
		}
	}
}

.create-general-posts-section{
	position: relative;
	border-radius: 5px;
	background:#fff;
	padding:14px 22px;
	margin:0 0 20px;
	font-size:12px;
	line-height:1.5em;
	@media (max-width:979px){
		margin:-17px -10px 0;
		border-radius:0;
		padding:10px 30px 20px;
	}
	@media only screen and (max-width:700px){
		padding:10px 20px 20px;
	}
	form{
		padding:0;
		margin:0;
		padding:14px 22px;
		margin:-14px -22px;
		border:none;
		overflow:visible;
	}
	.tabset-create-post{
		padding:0 0 17px;
		margin:0 -20px;
		list-style:none;
		overflow:hidden;
		font-size:12px;
		line-height:16px;
		text-align:center;
		position:relative;
		z-index:4;
		li{
			float:left;
			width:25%;
			position:relative;
			padding:0 5px;
			&:after{
				content:'';
				position:absolute;
				left:0;
				top:1px;
				bottom:1px;
				width:1px;
				background:#8391a4;
			}
			a{
				color:#8391a4;
				display:block;
				position:relative;
				&:hover,
				&:focus{
					text-decoration:none;
					color:$base-link-color;
				}
				&:before,
				&:after{
					content:'';
					position:absolute;
					left:50%;
					bottom:-17px;
					border:solid;
					border-width:8px 7px;
					border-color:transparent transparent #bfcbda transparent;
					margin:0 0 0 -8px;
					display:none;
				}
				&:after{
					bottom:-17px;
					border:solid;
					border-width:5px 4px;
					border-color:transparent transparent #fff transparent;
					margin:0 0 0 -5px;
				}
			}
			&:first-child{
				&:after{
					display:none;
				}
			}
			&.active{
				a{
					font-weight:bold;
					color:$base-link-color;
					&:before,
					&:after{
						display:block;
					}
				}
			}
		}
		@media (max-width:979px){
			font-size:14px;
			line-height:18px;
			font-weight:600;
			margin:0 -30px 20px;
			padding:0 0 9px;
			border-bottom:2px solid #c9d0d5;
			background:#fff;
			box-shadow:0 3px 3px 0 rgba(0,0,0,0.2);
			li{
				a{
					display:block;
					padding:8px 5px;
				}
			}
		}
		@media only screen and (max-width:700px){
			margin:0 -20px 20px;
		}
	}
	.tabset-create-post-content{
		position:relative;
		z-index:3;
		margin:-2px 0 0;
	}
	.tab-create-post{
		position:relative;
	}
	.create-post-textarea{
		position:relative;
		padding:0 0 17px;
		textarea{
			display:block;
			width:100% !important;
			height:30px;
			min-height:30px;
			max-height:300px;
			overflow:auto;
			background:#fff;
			border:2px solid #bfcbda;
			margin:0;
			padding:5px 10px;
			border-radius: 5px;
			font-size:12px;
			line-height:16px;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			resize:auto;
			color:#8391a4;
			resize:none;
			@include placeholder{
				color:#bfcbda;
			}
		}
		&.add-info-popup{
			textarea{
				padding-right:30px;
			}
		}
		.info-popup{
			position:absolute;
			top:8px;
			right:8px;
			.info-opener{
				display:block;
				width:14px;
				height:14px;
				background:url(../images/time_icons/info.png) no-repeat;
				text-indent:-9999px;
				overflow:hidden;
			}
			.info-slider{
				position:absolute;
				left:34px;
				top:50%;
				width:80px;
				border-radius:8px;
				background:#fff;
				-webkit-box-shadow: 0 2px 4px rgba(35,31,32,.52);
				-moz-box-shadow: 0 2px 4px rgba(35,31,32,.52);
				box-shadow: 0 2px 4px rgba(35,31,32,.52);
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				-webkit-box-sizing:border-box;
				padding:8px 10px 7px;
				font-size:9px;
				line-height:12px;
				color:#afbbc9;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				z-index:20;
				display:none;
				p{
					margin:0;
				}
				&:before,
				&:after{
					content:'';
					position:absolute;
					left:-18px;
					top:50%;
					border:solid;
					border-width:9px 9px;
					border-color:transparent #fff transparent transparent;
					margin:-10px 0 0;
				}
				&:before{
					border-width:11px 11px;
					border-color:transparent #d4d3d3 transparent transparent;
					margin:-11px 0 0;
					left:-22px;
				}
			}
		}
		&.media{
			textarea{
				padding-left:74px;
				@media only screen and (max-width:969px){
					padding-left:106px;
				}
			}
		}
		@media only screen and (max-width:969px){
			padding:0 0 12px;
			&.media{
				padding-bottom:23px;
			}
			textarea{
				height:49px;
				padding:12px 13px;
				font-size:16px;
				line-height:20px;
			}
			.info-popup{
				top:16px;
				right:14px;
				.info-opener{
					width:18px;
					height:18px;
					background-size:100% 100%;
				}
				.info-slider{
					left:auto;
					right:-30px;
					top:30px;
					width:364px;
					-webkit-transform: translateY(0);
					-moz-transform: translateY(0);
					-ms-transform: translateY(0);
					-o-transform: translateY(0);
					transform: translateY(0);
					-webkit-box-shadow: 0 0 4px rgba(35,31,32,.52);
					-moz-box-shadow: 0 0 4px rgba(35,31,32,.52);
					box-shadow: 0 0 4px rgba(35,31,32,.52);
					font-size:12px;
					line-height:18px;
					padding:18px 19px;
					&:before,
					&:after{
						left:auto;
						right:30px;
						top:-16px;
						border-width:8px;
						margin:0;
						border-color:transparent transparent #d4d3d3 transparent;
					}
					&:after{
						border-width:8px;
						right:30px;
						top:-14px;
						border-color:transparent transparent #fff transparent;
					}
				}
			}
		}
		@media only screen and (max-width:700px){
			.info-popup .info-slider{
				width:auto;
				right:-45px;
				width:100vw;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				-webkit-box-sizing:border-box;
				padding-right:30px;
				padding-left:30px;
			}
		}
	}
	.upload-form-menu{
		position:relative;
		right:auto;
		left:0;
		bottom:auto;
		top:0;
		overflow:hidden;
		margin:0 0 26px;
		.upload-video{
			padding:1px 0 0;
		}
	}
	.btn-base{
		position:absolute;
		right:0;
		bottom:6px;
		width:80px;
		height:30px;
		border-radius:5px;
	}
	.footer-info-section{
		overflow:hidden;
		margin:0 0 2px;
		.title{
			float:left;
			font-size:12px;
			line-height:18px;
			color:#8391a4;
			margin:0 12px 5px 0;
		}
		.text-holder{
			overflow:hidden;
			padding:0 160px 0 0;
		}
		.edit-link{
			display:inline-block;
			vertical-align:top;
			font-size:12px;
			line-height:18px;
			color:$base-link-color;
		}
		.member-list + .edit-link{
			margin:4px 0 0;
		}
	}
	.member-list{
		padding:0;
		margin:0;
		list-style:none;
		color:#a4aebc;
		li{
			display:inline-block;
			vertical-align:top;
		}
		a{
			color:#a4aebc;
			text-decoration:none;
			&:hover,
			&:focus{
				color:$base-link-color;
				text-decoration:none;
			}
		}
	}
	.related-section{
		position:relative;
		@extend %clearfix;
		.related-opener{
			float:left;
			color:$base-link-color;
			margin:0 7px 0 0;
		}
		.related-slider{
			position:absolute;
			left:0;
			top:32px;
			width:290px;
			z-index:6;
			-webkit-box-shadow: 0 2px 7px rgba(35,31,32,.31);
			-moz-box-shadow: 0 2px 7px rgba(35,31,32,.31);
			box-shadow: 0 2px 7px rgba(35,31,32,.31);
			border-radius: 9px;
			display:none;
			&:before,
			&:after{
				content:'';
				position:absolute;
				left:10px;
				top:-18px;
				border:solid;
				border-width:10px 9px;
				border-color:transparent transparent #fff transparent;
			}
			&:before{
				top:-19px;
				border-width:11px 10px;
				border-bottom-color:rgba(0,0,0,0.4);
				left:9px;
			}
		}
		.add-text{
			float:left;
			margin:0 15px 0 0;
			color:#8391a4;
		}
		.create-list-participants{
			overflow:hidden;
			padding:0 100px 0 0;
			margin:0;
		}
	}
	.map-section{
		position:relative;
		overflow:hidden;
		margin:0 -22px 20px;
		border-top:1px solid #bfcbda;
		img{
			display:block;
			width:100%;
			height:auto;
		}
		@media only screen and (max-width:969px){
			margin:0 -30px 30px;
		}
		@media only screen and (max-width:700px){
			margin:0 -20px 30px;
		}
	}
	.upload-form-menu + .map-section{
		margin-top:-8px;
		margin-bottom:20px;
	}
	.upload-form-menu + .create-list-participants{
		margin-top:-10px;
	}
	.add-cover-picture{
		position:relative;
		overflow:hidden;
		border:2px dashed #afbbc9;
		height:288px;
		white-space:nowrap;
		text-align:center;
		margin:12px 0 27px;
		&:after{
			content:'';
			display:inline-block;
			height:100%;
			width:1px;
			overflow:hidden;
			margin:0 0 0 -5px;
			vertical-align:middle;
		}
		.frame{
			vertical-align:middle;
			display:inline-block;
			white-space:normal;
			padding:0 20px 8px;
		}
		.link{
			display:inline-block;
			vertical-align:top;
			font-size:14px;
			line-height:18px;
			font-weight:bold;
			color:#afbbc9;
			letter-spacing:0.5px;
			.icon{
				display:inline-block;
				vertical-align:top;
				width:40px;
				height:32px;
				position:relative;
				margin:0 0 14px;
				text-indent:-9999px;
				overflow:hidden;
				&:before,
				&:after{
					content:'';
					position:absolute;
					left:0;
					top:0;
					width:100%;
					height:100%;
					background:url(../images/time_icons/add-cover-image.png) no-repeat;
				}
				&:after{
					background:url(../images/time_icons/add-cover-image-hover.png) no-repeat;
					opacity:0;
				}
			}
			&:hover,
			&:focus{
				color:$base-link-color;
				text-decoration:none;
				.icon{
					&:before{
						opacity:0;
					}
					&:after{
						opacity:1;
					}
				}
			}
			.text{
				display:block;
			}
		}
		@media only screen and (max-width:969px){
			margin-bottom:30px;
			.frame{
				padding:0 20px 24px;
			}
			.link{
				.icon{
					margin:0 0 12px;
				}
				.text{
					font-size:18px;
					line-height:24px;
				}
			}
		}
	}
	.base-input-box{
		position:relative;
		overflow:hidden;
		margin:0 0 17px;
		input{
			background:#fff;
			border:2px solid #bfcbda;
			width:100%;
			height:30px;
			padding:5px 10px;
			margin:0;
			display:block;
			font-size:12px;
			line-height:15px;
			color:#8391a4;
			border-radius:5px;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			@include placeholder{color:#c5d0de;}
		}
		@media only screen and (max-width:969px){
			margin:0 0 19px;
			input{
				height:41px;
				font-size:14px;
				line-height:18px;
				padding:8px 10px;
			}
		}
	}
	.cover-picture-box{
		position:relative;
		margin:0 -22px 17px;
		overflow:hidden;
		.image-box{
			position:relative;
			overflow:hidden;
			img{
				display:block;
				width:100%;
				height:auto;
			}
		}
		.nav-bar{
			padding:0;
			margin:0;
			list-style:none;
			position:absolute;
			left:0;
			width:100%;
			bottom:0;
			padding:11px 22px;
			background:rgba(0,0,0,0.28);
			li{
				float:left;
				&+li{
					float:right;
				}
				a{
					color:#fff;
					&:hover,
					&:focus{
						text-decoration:none;
						color:$base-link-color;
					}
				}
			}
		}
		.crope-menu{
			padding:0;
			margin:0;
			list-style:none;
			position:absolute;
			right:32px;
			bottom:32px;
			background:rgba(0,0,0,0.5);
			border-radius:2px;
			overflow:hidden;
			padding:7px 10px 3px;
			li{
				float:left;
				margin:0 0 0 12px;
				&:first-child{
					margin-left:0;
				}
			}
			a{
				display:block;
				text-indent:-9999px;
				overflow:hidden;
				position:relative;
				&:after{
					content:'';
					position:absolute;
					left:-5px;
					top:-5px;
					right:-5px;
					bottom:-5px;
				}
				&.yes{
					width:20px;
					height:20px;
					background:url(../images/time_icons/menu01.png) no-repeat;
					margin:0;
				}
				&.no{
					width:16px;
					height:16px;
					background:url(../images/time_icons/menu02.png) no-repeat;
					margin:0;
				}
				&:hover,
				&:focus{
					text-decoration:none;
					opacity:0.7;
				}
			}
		}
		@media only screen and (max-width:969px){
			margin:0 0 30px;
			.nav-bar{
				padding:11px 30px;
				font-size:14px;
				line-height:18px;
			}
		}
		@media only screen and (max-width:700px){
			margin:0 -20px 30px;
		}
	}
	.create-media-tabset{
		position:absolute;
		left:0;
		top:0;
		overflow:hidden;
		border-radius:5px 0 0 5px;
		li{
			float:left;
			border-right:2px solid #bfcbda;
			a{
				width:28px;
				height:30px;
				position:relative;
				text-indent:-9999px;
				overflow:hidden;
				display:block;
				&:before,
				&:after{
					content:'';
					position:absolute;
					left:50%;
					top:50%;
					width:18px;
					height:18px;
					background:url(../images/time_icons/video02-active.png) no-repeat;
					margin:-9px 0 0 -8px;
				}
				&:after{
					opacity:0;
					background:url(../images/time_icons/video02.png) no-repeat;
				}
				&:hover,
				&:focus{
					background:#bfcbda;
					&:before{
						opacity:0;
					}
					&:after{
						opacity:1;
					}
				}
				&.audio{
					&:before{
						width:11px;
						height:13px;
						background:url(../images/time_icons/audio02-active.png) no-repeat;
						margin:-6px 0 0 -6px;
					}
					&:after{
						width:11px;
						height:13px;
						background:url(../images/time_icons/audio02.png) no-repeat;
						margin:-6px 0 0 -6px;
					}
				}
			}
			&.active{
				a{
					background:#bfcbda;
					&:before{
						opacity:0;
					}
					&:after{
						opacity:1;
					}
				}
			}
		}
		@media only screen and (max-width:969px){
			li{
				a{
					width:45px;
					height:48px;
					&:before,
					&:after{
						width:28px;
						height:28px;
						margin:-13px 0 0 -13px;
						background-size:100% 100%;
					}
					&.audio{
						&:before,
						&:after{
							width:17px;
							height:20px;
							background-size:100% 100%;
							margin:-10px 0 0 -9px;
						}
					}
				}
			}
		}
	}
	.create-media-tabcontent{
		overflow:hidden;
		margin:0 0 18px;
		@media only screen and (max-width:969px){
			margin:0 0 30px;
		}
	}
	.media-tab{
		position:relative;
		overflow:hidden;
		padding:1px 0 0;
		.add-box{
			width:198px;
			border:2px dashed #afbbc9;
			height:308px;
			white-space:nowrap;
			text-align:center;
			float:left;
			margin:0 20px 0 0;
			&:after{
				content:'';
				display:inline-block;
				height:100%;
				width:1px;
				overflow:hidden;
				margin:0 0 0 -5px;
				vertical-align:middle;
			}
			.frame{
				vertical-align:middle;
				display:inline-block;
				white-space:normal;
				padding:5px 0 0;
			}
			.link{
				display:inline-block;
				vertical-align:top;
				color:#afbbc9;
				-webkit-transition: all 0.35s linear;
				-moz-transition: all 0.35s linear;
				transition: all 0.35s linear;
				&:hover,
				&:focus{
					text-decoration:none;
					color:$base-link-color;
					-webkit-transition: all 0.35s linear;
					-moz-transition: all 0.35s linear;
					transition: all 0.35s linear;
					.icon{
						&:before,
						&:after{
							-webkit-transition: all 0.35s linear;
							-moz-transition: all 0.35s linear;
							transition: all 0.35s linear;
						}
						&:before{
							opacity:0;
						}
						&:after{
							opacity:1;
						}
					}
				}
			}
			.icon{
				display:inline-block;
				vertical-align:top;
				width:101px;
				height:134px;
				text-indent:-9999px;
				overflow:hidden;
				position:relative;
				margin:0 0 10px;
				&:before,
				&:after{
					content:'';
					position:absolute;
					left:0;
					top:0;
					width:100px;
					height:134px;
					background:url(../images/time_icons/movie.png) no-repeat;
					-webkit-transition: all 0.35s linear;
					-moz-transition: all 0.35s linear;
					transition: all 0.35s linear;
				}
				&:after{
					background:url(../images/time_icons/movie-hover.png) no-repeat;
					opacity:0;
				}
				&.album{
					width:80px;
					height:94px;
					margin:0 0 50px;
					&:before{
						background:url(../images/time_icons/album.png) no-repeat;
					}
					&:after{
						background:url(../images/time_icons/album-hover.png) no-repeat;
					}
				}
			}
			.text{
				display:block;
				font-size:14px;
				line-height:18px;
				font-weight:bold;
			}
			@include media("<tablet"){
				width:260px;
			}
			@include media("<phone"){
				width:220px;
			}
		}
		.form-holder{
			overflow:hidden;
			padding:3px 0 0;
		}
		.row-holder{
			margin:18px 0 0;
			&:first-child{
				margin-top:0;
			}
			input{
				background:#fff;
				border:1px solid #bfcbda;
				width:100%;
				height:30px;
				padding:5px 10px;
				margin:0;
				display:block;
				font-size:12px;
				line-height:16px;
				overflow:hidden;
				border-radius:4px;
				color:#bfcbda;
				outline:none;
				@include placeholder{
					color:#bfcbda;
				}
			}
			textarea{
				display:block;
				width:100% !important;
				height:113px !important;
				font-size:12px;
				line-height:16px;
				overflow:auto;
				background:none;
				border:1px solid #bfcbda;
				margin:0;
				padding:5px 10px;
				border-radius:4px;
				color:#bfcbda;
				outline:none;
				@include placeholder{
					color:#bfcbda;
				}
			}
			select{
				display:block;
				width:100%;
				border-color:#bfcbda;
				border-radius:4px;
				height:30px;
				font-size:12px;
				line-height:28px;
			}
		}
		@media only screen and (max-width:969px){
			.add-box{
				width:271px;
				height:421px;
				margin:0 30px 0 0;
				.text{
					font-size:18px;
					line-height:24px;
				}
				.icon{
					margin:0 0 8px;
				}
				.frame{
					padding:0 0 22px;
				}
			}
			.form-holder{
				padding:0;
				input,
				textarea{
					font-size:14px;
					line-height:18px;
					padding:5px 12px;
				}
				textarea{
					height:228px !important;
					border-radius: 7px;
					padding-top:8px;
					padding-bottom:8px;
				}
			}
		}
		@include media("<tablet"){
			.add-box{
				width:260px;
			}
		}
		@include media("<phone"){
			.add-box{
				width:140px;
				margin-right:20px;
			}
		}
	}
	@media only screen and (max-width:979px){
		#create-post01{
			.create-list-participants{
				margin:0 -30px 15px;
				padding:20px 30px 0;
				border-top:1px solid #afbbc9;
			}
			.create-post-textarea{
				textarea{
					border:none;
					height:150px !important;
					padding-left:0;
					font-size:16px;
					line-height:20px;
					padding-top:12px;
					resize:none;
				}
			}
		}
		#create-post02{
			.create-post-textarea{
				textarea{
					border:none;
					height:89px !important;
					padding-left:0;
					font-size:16px;
					line-height:20px;
					padding-top:12px;
					resize:none;
				}
			}
			.upload-form-menu + .map-section{
				margin-top:0;
				margin-bottom:30px;
			}
		}
		.upload-form-menu + .create-list-participants{
			margin-top:0;
		}
		#create-post03{
			padding-top:7px;
		}
		#create-post04{
			.create-post-textarea.media textarea{
				padding-left:107px;
				resize:none
			}
		}
	}
	@media only screen and (max-width:700px){
		#create-post01{
			.create-post-textarea{
				textarea{
					height:155px !important;
				}
			}
		}
		 #create-post02{
		 	.create-post-textarea{
				textarea{
					height:83px !important;
				}
		 	}
		 	.upload-form-menu + .map-section{
		 		margin-bottom:17px;
		 	}
		 }
	}
}

.related-menu-list{
	position:relative;
	overflow:hidden;
	background:#fff;
	border-radius:9px;
	text-align:left;
	padding:0;
	margin:0;
	list-style:none;
	li{
		height:50px;
		padding:0 110px 0 63px;
		position:relative;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		overflow:hidden;
		border-top:1px solid #dce2eb;
		&:first-child{
			border-color:transparent;
		}
	}
	.image-box{
		position:absolute;
		left:18px;
		top:9px;
	}
	.img-holder{
		position:relative;
		overflow:hidden;
		width:30px;
		height:30px;
		border-radius:50px;
	}
	.img-holder img{
		display:block;
		width:100%;
		height:auto;
	}
	.image-wrap{
		position:absolute;
		left:0;
		top:0;
		width:64px;
	}
	.image-wrap img{
		display:block;
		width:100%;
		height:auto;
	}
	.mark{
		position:absolute;
		right:5px;
		bottom:1px;
		width:10px;
		height:10px;
		border-radius:10px;
		overflow:hidden;
		background:#9ec289;
		text-indent:-9999px;
		overflow:hidden;
	}
	.text-holder{
		height:50px;
		overflow:hidden;
		width:100%;
		font-size:8px;
		line-height:9px;
		color:#8391a4;
	}
	.text-holder>.frame{
		display:table-cell;
		width:1000px;
		height:50px;
		vertical-align:middle;
	}
	.text-holder>.frame>.holder{
		display:inline-block;
		vertical-align:middle;
		width:100%;
		padding:0;
	}
	h3{
		color:#f65b42;
		font:bold 11px/12px "Roboto",Arial,Helvetica,san-serif;
		margin:0 0 -1px;
		letter-spacing:0.2px;
	}
	h3 a{
		color:inherit;
	}
	p{
		margin:0;
		letter-spacing:0.3px;
	}
	address{
		display:block;
		font-style:normal;
	}
	.members{
		display:block;
	}
	.members .number{
		color:#f65b42;
	}
	.btn-add{
		position:absolute;
		top:12px;
		right:17px;
		width:90px;
		height:25px;
		border-radius:5px;
		color:$base-link-color;
		font:bold 10px/13px "Roboto",Arial,Helvetica,san-serif;
		background:#fff;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		z-index:4;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		text-align:center;
		padding:5px;
		border:1px solid $base-link-color;
		&:hover {
			background: #ffe0cc;
			color:#f65b42;
			text-decoration:none;
		}
	}

	.date-box{
		position:absolute;
		top:10px;
		left:18px;
		background:#fff;
		width:30px;
		height:30px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		border:2px solid #8391a4;
		border-radius:4px;
		overflow:hidden;
		padding:7px 1px 1px;
		text-align:center;
		color:#8391a4;
		&:before{
			content:'';
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:6px;
			background:#8391a4;
		}
	}
	.date-box .date{
		display:block;
		font:bold 9px/10px "Roboto",Arial,Helvetica,san-serif;
		margin:0 0 -2px;
	}
	.date-box .month{
		display:block;
		font:bold 8px/10px "Roboto",Arial,Helvetica,san-serif;
		text-transform:uppercase;
	}
}

.create-list-participants{
	padding:0;
	margin:0 0 12px;
	list-style:none;
	li{
		display:inline-block;
		vertical-align:top;
		margin:0 6px 5px 0;
		position:relative;
		background:#dee6ee;
		border-radius:3px;
		padding:4px 23px 4px 8px;
		font-size:9px;
		line-height:12px;
		color:#888c90;
		letter-spacing:0.2px;
	}
	.close{
		position:absolute;
		top:1px;
		right:1px;
		width:17px;
		height:17px;
		text-indent:-9999px;
		overflow:hidden;
		&:before,
		&:after{
			content:'';
			position:absolute;
			left:50%;
			top:50%;
			width:7px;
			height:7px;
			background:url(../images/time_icons/close-person.png) no-repeat;
			margin:-4px 0 0 -3px;
		}
		&:after{
			background:url(../images/time_icons/close-person-hover.png) no-repeat;
			opacity:0;
		}
		&:hover,
		&:focus{
			&:after{
				opacity:1;
			}
			&:before{
				opacity:0;
			}
			text-decoration:none;
		}
	}
	@media only screen and (max-width:969px){
		margin:0 0 15px;
		li{
			padding:6px 33px 5px 10px;
			font-size:11px;
			line-height:14px;
			margin-right:16px;
		}
		.close{
			top:4px;
			right:4px;
		}
	}
}

.uploaded-photos{
	position:relative;
	overflow:hidden;
	margin:0 0 17px;
	padding:0 24px 0 0;
	li{
		float:left;
		padding:0 0 0 1px;
		width:16.667%;
		list-style-type:none;
		position:relative;
		overflow:hidden;
	}
	li:first-child{
		margin-left:-1px;
	}
	img{
		display:block;
		width:100%;
		height:auto;
	}
	.add-link-photo{
		position:absolute;
		width:100%;
		height:100%;
		left:0;
		top:0;
		background:rgba(0,0,0,0.5);
		text-align:center;
		padding:5px 8px 5px 5px;
		color:#fff;
		font-size:10px;
		line-height:13px;
		font-weight:bold;
		text-decoration:none;
		-webkit-transition: all 0.35s ease;
		-moz-transition: all 0.35s ease;
		transition: all 0.35s ease;
		white-space:nowrap;
	}
	.add-link-photo:after{
		content:'';
		display:inline-block;
		height:100%;
		width:1px;
		overflow:hidden;
		margin:0 0 0 -5px;
		vertical-align:middle;
	}
	.add-link-photo .frame{
		vertical-align:middle;
		display:inline-block;
		white-space:normal;
	}
	.add-link-photo:hover,
	.add-link-photo:focus{
		text-decoration:none;
		background:rgba(0,0,0,0.7);
		-webkit-transition: all 0.35s ease;
		-moz-transition: all 0.35s ease;
		transition: all 0.35s ease;
	}
	.close{
		position:absolute;
		top:0;
		right:0;
		width:15px;
		height:15px;
		background:rgba(0,0,0,0.5);
		text-indent:-9999px;
		overflow:hidden;
		-webkit-transition: all 0.35s ease;
		-moz-transition: all 0.35s ease;
		transition: all 0.35s ease;
	}
	.close:after{
		content:'';
		position:absolute;
		left:50%;
		top:50%;
		width:7px;
		height:7px;
		background:url(../images/time_icons/delete-uploaded.png) no-repeat;
		margin:-3.5px 0 0 -3.5px;
	}
	.close:hover{
		background:rgba(0,0,0,0.8);
		-webkit-transition: all 0.35s ease;
		-moz-transition: all 0.35s ease;
		transition: all 0.35s ease;
	}
	@media only screen and (max-width:969px){
		padding:0;
		margin:0 0 1px;
	}
}

.uploaded-videos{
	padding:0 24px 0 0;
	margin:0 0 23px;
	list-style:none;
	overflow:hidden;
	li{
		float:left;
		margin:0 1px 1px 0;
		width:19.6%;
		position:relative;
		img{
			display:block;
			width:100%;
			height:auto;
		}
		&:after{
			content:'';
			position:absolute;
			left:50%;
			top:50%;
			width:16px;
			height:19px;
			background:url(../images/time_icons/btn-play-video.png) no-repeat;
			-webkit-background-size:100% 100%;
			background-size:100% 100%;
			margin:-10px 0 0 -8px;
		}
		&:last-child{
			&:after{
				display:none;
			}
		}
	}
	.close{
		position:absolute;
		top:0;
		right:0;
		width:15px;
		height:15px;
		background:rgba(0,0,0,0.5);
		text-indent:-9999px;
		overflow:hidden;
		-webkit-transition: all 0.35s ease;
		-moz-transition: all 0.35s ease;
		transition: all 0.35s ease;
		&:after{
			content:'';
			position:absolute;
			left:50%;
			top:50%;
			width:7px;
			height:7px;
			background:url(../images/time_icons/delete-uploaded.png) no-repeat;
			margin:-3.5px 0 0 -3.5px;
		}
		&:hover{
			background:rgba(0,0,0,0.8);
			-webkit-transition: all 0.35s ease;
			-moz-transition: all 0.35s ease;
			transition: all 0.35s ease;
		}
	}
	.time{
		position:absolute;
		right:0;
		bottom:0;
		font-size:10px;
		line-height:12px;
		color:#fff;
		padding:1px 5px;
		background:rgba(0,0,0,0.5);
		color:#fff;
	}
	.add-link-photo{
		position:absolute;
		width:100%;
		height:100%;
		left:0;
		top:0;
		background:rgba(0,0,0,0.5);
		text-align:center;
		padding:5px 8px 5px 5px;
		color:#fff;
		font-size:10px;
		line-height:13px;
		font-weight:bold;
		text-decoration:none;
		-webkit-transition: all 0.35s ease;
		-moz-transition: all 0.35s ease;
		transition: all 0.35s ease;
		white-space:nowrap;
	}
	.add-link-photo:after{
		content:'';
		display:inline-block;
		height:100%;
		width:1px;
		overflow:hidden;
		margin:0 0 0 -5px;
		vertical-align:middle;
	}
	.add-link-photo .frame{
		vertical-align:middle;
		display:inline-block;
		white-space:normal;
	}
	.add-link-photo:hover,
	.add-link-photo:focus{
		text-decoration:none;
		background:rgba(0,0,0,0.7);
		-webkit-transition: all 0.35s ease;
		-moz-transition: all 0.35s ease;
		transition: all 0.35s ease;
	}
	@media only screen and (max-width:969px){
		padding:0;
		li{
			width:19.8%;
		}
	}
	@media only screen and (max-width:700px){
		li{
			width:19.7%;
		}
	}
}

.create-overlay{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:rgba(0,0,0,0.5);
	z-index:10;
}

.pupup-create-uploaded-images,
.pupup-create-uploaded-videos{
	width:478px;
	background:#fff;
	border-radius:5px;
	padding:15px 13px 20px 15px;
	z-index:20;
	.uploaded-image{
		width:88px;
		float:left;
		margin:0 2px 2px 0;
		position:relative;
		img{
			display:block;
			width:100%;
			height:auto;
		}
		.close{
			position:absolute;
			top:0;
			right:0;
			width:15px;
			height:15px;
			background:rgba(0,0,0,0.5);
			text-indent:-9999px;
			overflow:hidden;
			-webkit-transition: all 0.35s ease;
			-moz-transition: all 0.35s ease;
			transition: all 0.35s ease;
		}
		.close:after{
			content:'';
			position:absolute;
			left:50%;
			top:50%;
			width:7px;
			height:7px;
			background:url(../images/time_icons/delete-uploaded.png) no-repeat;
			margin:-3.5px 0 0 -3.5px;
		}
		.close:hover{
			background:rgba(0,0,0,0.8);
			-webkit-transition: all 0.35s ease;
			-moz-transition: all 0.35s ease;
			transition: all 0.35s ease;
		}
	}
	.uploaded-images-holder{
		margin:0 0 18px;
		overflow:hidden;
	}
	.button-holder{
		text-align:right;
		.btn-base{
			margin:0 0 0 27px;
			width:80px;
			border-radius: 5px;
		}
	}
	.uploaded-videos{
		margin:0 0 18px;
		padding:0;
		li{
			width:89px;
		}
	}
	@media only screen and (max-width:700px){
		width:300px;
	}
}

.location-input-form{
	position:relative;
	margin:0 0 20px;
	overflow:hidden;
	background:#fff;
	padding:2px;
	box-shadow:inset 0 0 0 2px #bfcbda;
	border-radius:3px;
	padding:0 60px 0 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	input{
		background:none;
		border:none;
		width:100%;
		height:30px;
		padding:8px 10px 7px;
		margin:0;
		display:block;
		font-size:12px;
		line-height:15px;
		color:#888c90;
		font-size:12px;
		line-height:15px;
		@include placeholder{
			color:#d2d9df;
		}
	}
	.btn-base{
		position:absolute;
		top:0;
		right:0;
		z-index:4;
		width:60px;
		height:30px;
		border-radius:0 3px 3px 0;
		border:none;
		font-weight:600;
		&:before{
			border:none;
		}
		&:hover,
		&:focus{
			background:lighten($base-link-color, 10%);
			color:#fff;
		}
	}
	@media only screen and (max-width:969px){
		margin:0 0 24px;
		input{
			height:42px;
			padding:12px 17px;
			font-size:12px;
		}
		.btn-base{
			height:42px;
		}
	}
	@media only screen and (max-width:700px){
		margin-bottom:17px;
	}
}

.location-info-list{
	padding:0;
	margin:0 0 9px;
	list-style:none;
	li{
		display:inline-block;
		vertical-align:top;
		margin:0 17px 10px 0;
		border:1px solid #dee6ee;
		border-radius:2px;
		overflow:hidden;
		position:relative;
		background:#feffff;
		height:22px;
		padding:5px 30px 5px 8px;
		font-size:10px;
		line-height:12px;
		color:#888c90;
		letter-spacing:0.4px;
	}
	.close{
		position:absolute;
		top:0;
		right:0;
		width:22px;
		height:20px;
		background:#dee6ee;
		text-indent:-9999px;
		overflow:hidden;
		&:before,
		&:after{
			content:'';
			position:absolute;
			left:50%;
			top:50%;
			width:7px;
			height:7px;
			background:url(../images/time_icons/close-person.png) no-repeat;
			margin:-3px 0 0 -3px;
		}
		&:after{
			background:url(../images/time_icons/close-person-hover.png) no-repeat;
			opacity:0;
		}
		&:hover,
		&:focus{
			&:after{
				opacity:1;
			}
			&:before{
				opacity:0;
			}
			text-decoration:none;
		}
	}
	@media only screen and (max-width:969px){
		margin:0 0 26px;
		li{
			padding:8px 45px 8px 14px;
			height:30px;
			font-size:12px;
			line-height:15px;
			margin:0 17px 14px 0;
		}
		.close{
			width:30px;
			height:28px;
		}
	}
}

.edit-btns-block{
	position:relative;
	overflow:hidden;
	margin:0 0 7px;
	.btn-edit-large{
		display:inline-block;
		vertical-align:top;
		margin:0 17px 10px 0;
		background:#dee6ee;
		border-radius:3px;
		overflow:hidden;
		color:$base-link-color;
		-webkit-transition: all 0.35s linear;
		-moz-transition: all 0.35s linear;
		transition: all 0.35s linear;
		font-size:12px;
		line-height:1.5em;
		width:120px;
		height:40px;
		padding:12px 20px;
		text-align:center;
		&:hover,
		&:focus{
			background:darken(#dee6ee, 5%);
			-webkit-transition: all 0.35s linear;
			-moz-transition: all 0.35s linear;
			transition: all 0.35s linear;
			text-decoration:none;
		}
	}
}

.popup-resultat-uploaded-images,
.popup-resultat-uploaded-videos{
	width:330px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background:#fff;
	padding:15px 16px 20px;
	border-radius:4px;
	overflow:hidden;
	z-index:20;
	.heading{
		display:none;
	}
	.uploaded-section{
		position:relative;
		overflow:hidden;
		margin:0 0 15px;
		.frame{
			position:relative;
			width:100%;
			height:90px;
			border:2px dashed #afbbc9;
			height:90px;
			width:100%;
			white-space:nowrap;
			text-align:center;
			&:after{
				content:'';
				display:inline-block;
				height:100%;
				width:1px;
				overflow:hidden;
				margin:0 0 0 -5px;
				vertical-align:middle;
			}
			.title{
				vertical-align:middle;
				display:inline-block;
				white-space:normal;
				font-size:12px;
				line-height:14px;
				color:#8391a4;
				padding:0 0 2px;
				address{
					display:block;
					font-style:normal;
				}
			}
		}
		&.upload-active{
			.heading{
				display:block;
				background:#afbbc9;
				color:#fff;
				padding:8px 10px 7px;
				border-radius:3px 3px 0 0;
				margin:0 0 -2px;
				text-align:center;
				h3{
					font-size:12px;
					line-height:15px;
					font-weight:normal;
					margin:0;
				}
			}
			.frame{
				height:auto;
				padding:16px 6px 9px 12px;
				&:after,
				.title{
					display:none;
				}
			}
			.custom-form{
				position:relative;
				left:0;
				top:0;
				width:100%;
			}
		}
	}
	.button-holder{
		text-align:right;
		padding:5px 0 0;
		.btn-base{
			margin:0 0 0 16px;
			width:80px;
		}
	}
	.uploaded-images-holder{
		overflow:hidden;
	}
	.uploaded-image{
		float:left;
		width:88px;
		margin:0 2px 2px 0;
		position:relative;
		img{
			display:block;
			width:100%;
			height:auto;
		}
		.close{
			position:absolute;
			top:0;
			right:0;
			width:15px;
			height:15px;
			background:rgba(0,0,0,0.5);
			text-indent:-9999px;
			overflow:hidden;
			-webkit-transition: all 0.35s ease;
			-moz-transition: all 0.35s ease;
			transition: all 0.35s ease;
		}
		.close:after{
			content:'';
			position:absolute;
			left:50%;
			top:50%;
			width:7px;
			height:7px;
			background:url(../images/time_icons/delete-uploaded.png) no-repeat;
			margin:-3.5px 0 0 -3.5px;
		}
		.close:hover{
			background:rgba(0,0,0,0.8);
			-webkit-transition: all 0.35s ease;
			-moz-transition: all 0.35s ease;
			transition: all 0.35s ease;
		}
	}
	.custom-form{
		position:absolute;
		left:-9999px;
		top:-9999px;
		overflow:auto;
	}
	.jcf-scrollable{
		height:279px;
		overflow:auto;
		width:100%;
	}
	.uploaded-videos{
		overflow:hidden;
		li{
			width:89px;
		}
	}
}

#who-can-see-this-post{
	>.holder{
		width:340px;
	}
	&.pop-up-area .bg-1 .accordion-btn{
		&.no-arrow{
			&:after{
				display:none;
			}
		}
	}
}

.create-post-page{
	@media (max-width:969px){
		.mobile-search-box,
		.tab-bar,
		.create-general-post-box{
			display:none;
		}
		.create-general-posts-section .upload-form-menu,
		.related-section,
		.footer-info-section,
		.create-general-posts-section .footer-info-section + .btn-base{
			display:none;
		}
	}
}

.footer-bar-mobile{
	position:relative;
	display:none;
	padding:24px 0 23px;
	background:#dfe4e8;
	@extend %clearfix;
	margin:20px -35px -20px;
	text-align:center;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	@media only screen and (max-width:979px){
		display:block;
	}
	@media only screen and (max-width:700px){
		margin:20px -20px -20px;
	}
	>li{
		display:inline-block;
		vertical-align:middle;
		width:20%;
		padding:0 5px;
		margin:0 -3px 0 0;
	}
	>li>a{
		display:inline-block;
		vertical-align:top;
		text-indent:-9999px;
		position:relative;
		&.photo{
			width:40px;
			height:32px;
			background:url(../images/time_icons/footer-bar-photo.png) no-repeat;
		}
		&.video{
			width:40px;
			height:30px;
			background:url(../images/time_icons/footer-bar-video.png) no-repeat;
		}
		&.person{
			width:28px;
			height:20px;
			background:url(../images/time_icons/footer-bar-person.png) no-repeat;
		}
		&.view{
			width:36px;
			height:28px;
			background:url(../images/time_icons/footer-bar-view.png) no-repeat;
		}
		&.setting{
			width:32px;
			height:32px;
			background:url(../images/time_icons/footer-bar-setting.png) no-repeat;
		}
		&:hover,
		&:focus{
			opacity:0.7;
		}
		&:after{
			content:'';
			position:absolute;
			left:-10px;
			top:-10px;
			right:-10px;
			bottom:-10px;
		}
	}
	.setting-menu{
		.setting-slider{
			position:absolute;
			bottom:91px;
			width:100%;
			right:0;
			background:#fff;
			-webkit-box-shadow: 0 0 5px rgba(35,31,32,.75);
			-moz-box-shadow: 0 0 5px rgba(35,31,32,.75);
			box-shadow: 0 0 5px rgba(35,31,32,.75);
			z-index:20;
			display:none;
			.related-menu-list{
				li{
					height:60px;
					padding:0 160px 0 95px;
				}
				.text-holder{
					height:60px;
					>.frame{
						height:60px;
					}
				}
				.btn-add{
					width:100px;
					height:30px;
					border-radius:5px;
					top:14px;
					font-size:12px;
					line-height:15px;
					padding:8px 10px;
					right:40px;
				}
			}
			&:before,
			&:after{
				content:'';
				position:absolute;
				right:10%;
				bottom:-16px;
				border:solid;
				border-width:8px 9px;
				border-color:#fff transparent transparent transparent;
			}
			&:before{
				right:9.8%;
				border-width:10px 11px;
				border-color:#d7d7d7 transparent transparent transparent;
				bottom:-20px;
			}
		}
		.related-menu-list .date-box{
			width:41px;
			height:41px;
			border-radius:5px;
			top:8px;
			left:34px;
			border-color:#5b6074;
			color:#5b6074;
			padding:11px 2px 2px;
			&:before{
				height:8px;
				background:#5b6074;
			}
			.date{
				font-size:12px;
				line-height:14px;
				margin:0;
			}
			.month{
				font-size:8px;
				line-height:10px;
			}
		}
		.related-menu-list .image-box{
			left:35px;
			.img-holder{
				width:40px;
				height:40px;
			}
		}
		.related-menu-list .text-holder{
			font-size:11px;
			line-height:14px;
		}
		.related-menu-list h3{
			font-size:16px;
			line-height:16px;
			margin:0 0 1px;
		}
		@media only screen and (max-width:700px){
			.setting-slider .related-menu-list li{
				padding:0 130px 0 80px;
			}
			.related-menu-list .date-box{
				left:20px;
			}
			.related-menu-list .image-box{
				left:22px;
			}
			.setting-slider .related-menu-list .btn-add{
				right:20px;
			}
			.setting-slider{
				&:before{
					right:34px;
				}
				&:after{
					right:36px;
				}
			}
		}
	}
}

.popup-resultat-uploaded-videos{
	.uploaded-videos{
		padding:0;
		margin:0;
	}
}