.activity-persons-section{
	border-top:1px solid $base-posts-border-color;
	padding:7px 10px 3px;
	font-size:12px;
	line-height:15px;
	color:$light-gray-text-color;
	margin:15px -10px -10px;
	letter-spacing:0.3px;
	&.top{
		display:none;
	}
	.link-person{
		display:inline-block;
		vertical-align:top;
		a{
			text-decoration:none;
			color:$add-text-color;
			position:relative;
			display:inline-block;
			vertical-align:top;
			overflow:hidden;
			&:after{
				content:'';
				position:absolute;
				left:0;
				bottom:0;
				width:100%;
				height:1px;
				background:$add-text-color;
				transition: all 0.35s ease-in-out;
				transform: translateX(-120%);
				visibility:hidden;
				pointer-events:none;
			}
			&:hover,
			&:focus{
				text-decoration:none;
				&:after{
					transition: all 0.35s ease-in-out;
					transform: translateX(0);
					visibility:visible;
				}
			}
		}
	}
}

.general-post-section{
	position:relative;
	border-radius: $base-posts-border-radius;
	background:$base-posts-bg;
	padding:18px 22px 15px;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $base-text-color;
	margin-bottom:23px;
	overflow:hidden;
	&.marked-post{
		&:before,
		&:after{
			content:'';
			position:absolute;
			left:0;
			top:0;
			border:solid;
			border-width:31px;
			border-color:$banana-yellow-color transparent transparent $banana-yellow-color;
			z-index:1;
			border-radius:5px 0 0 0;
		}
		&:after{
			background:url(../images/time_icons/cake.png) no-repeat;
			left:9px;
			top:8px;
			border:none;
			width:20px;
			height:20px;
			border-radius:0;
		}
	}
	.heading-block{
		margin:0 0 18px;
		position:relative;
		width:100%;
		z-index:5;
		padding:0 40px 0 0;
		@extend %clearfix;
		.image-box{
			float:left;
			width:51px;
			height:51px;
			border-radius:51px;
			overflow:hidden;
			border:3px solid $base-person-border-color;
			margin:0 14px 0 0;
			img{
				@include image-responsive;
			}
		}
		.text-holder{
			padding:8px 0 0;
		}
		h2{
			display:inline-block;
			vertical-align:top;
			margin:0 10px 0 0;
			font-size:18px;
			line-height:22px;
			font-weight:bold;
			color:$base-link-color;
			overflow:hidden;
			a{
				color:inherit;
				position:relative;
				padding:0 0 2px;
				text-decoration:none;
				display:inline-block;
				vertical-align:top;
				&:after{
					content:'';
					position:absolute;
					left:0;
					bottom:0;
					width:100%;
					height:2px;
					background:$base-link-color;
					transition: all 0.35s ease-in-out;
					transform: translateX(-120%);
					visibility:hidden;
					pointer-events:none;
				}
				&:hover,
				&:focus{
					text-decoration:none;
					&:after{
						transition: all 0.35s ease-in-out;
						transform: translateX(0);
						visibility:visible;
					}
				}
			}
		}
		.edit-link{
			display:inline-block;
			vertical-align:top;
			width:20px;
			height:20px;
			position:relative;
			text-indent:-9999px;
			overflow:hidden;
			background:url(../images/time_icons/edit.png) no-repeat;
			margin:1px 0 0;
			transition: all 0.35s ease-in-out;
			&:hover,
			&:focus{
				opacity:0.8;
				transition: all 0.35s ease-in-out;
			}
		}
		.text{
			display:inline-block;
			vertical-align:top;
		}
		.info{
			position:relative;
			font-size:12px;
			line-height:14px;
			color:$light-gray-text-color;
			>a{
				display:inline-block;
				vertical-align:top;
				color:$add-text-color;
				position:relative;
				padding:0 0 1px;
				overflow:hidden;
				&:hover,
				&:focus{
					text-decoration:none;
					&:after{
						transition: all 0.35s ease-in-out;
						transform: translateX(0);
						visibility:visible;
					}
				}
				&:after{
					content:'';
					position:absolute;
					left:0;
					bottom:0;
					width:100%;
					height:1px;
					background:$add-text-color;
					transition: all 0.35s ease-in-out;
					transform: translateX(-120%);
					visibility:hidden;
					pointer-events:none;
				}
			}
		}
		.add-text{
			display:inline-block;
			vertical-align:top;
			font-size:14px;
			line-height:22px;
			color:$light-gray-text-color;
			padding:2px 0 0;
			margin:0 0 0 -4px;
			strong{
				color:$add-text-color;
				font-weight:bold;
				display:inline-block;
				vertical-align:top;
				margin:0 0 0 3px;
			}
		}
		.date{
			display:block;
			font-size:12px;
			line-height:18px;
			color:$light-gray-text-color;
			margin:0 0 14px;
		}
	}
	.add-menu{
		display:inline-block;
		vertical-align:top;
		position:relative;
		.opener-add-menu{
			display:inline-block;
			vertical-align:top;
			color:$add-text-color;
			transition: all 0.35s ease-in-out;
			&:hover,
			&:focus{
				text-decoration:none;
				color:#486fa4;
				transition: all 0.35s ease-in-out;
			}
		}
		&.active-add-menu{
			.opener-add-menu{
				color:darken($add-text-color, 15%);
			}
		}
		.slide-add-menu{
			position:absolute;
			width:200px;
			top:29px !important;
			display:block !important;
			left:50% !important;
			margin:0 0 0 -100px;
			text-align:center;
			ul{
				display:inline-block;
				vertical-align:top;
				margin:0;
				list-style:none;
				font-size:12px;
				line-height:14px;
				position:relative;
				box-shadow: 0 0 5px rgba(0,0,0,.6);
				padding:6px 10px;
				background: $base-posts-bg;
				border-radius: $base-posts-border-radius;
				transition: all 0.35s ease-in-out;
				transform: translateY(-60%);
				visibility:none;
				pointer-events:none;
				opacity:0;
				&:after{
					content:'';
					position:absolute;
					left:50%;
					top:-18px;
					border:solid;
					border-width:9px 10px;
					border-color:transparent transparent #fff transparent;
					margin:0 0 0 -9px;
					pointer-events:none;
				}
				&:before{
					content:'';
					position:absolute;
					left:50%;
					top:-22px;
					border:solid;
					border-width:11px 12px;
					border-color:transparent transparent #bfbfbf transparent;
					margin:0 0 0 -11px;
					pointer-events:none;
				}
				a{
					display:inline-block;
					vertical-align:top;
					white-space:nowrap;
					color:$base-link-color;
					position:relative;
					padding:0 0 1px;
					margin:0 0 1px;
					overflow:hidden;
					&:after{
						content:'';
						position:absolute;
						left:0;
						bottom:0;
						width:100%;
						height:1px;
						background:$base-link-color;
						transition: all 0.35s ease-in-out;
						transform: translateX(-120%);
						visibility:hidden;
						pointer-events:none;
					}
					&:hover,
					&:focus{
						text-decoration:none;
						&:after{
							transition: all 0.35s ease-in-out;
							transform: translateX(0);
							visibility:visible;
						}
					}
				}
			}
		}
		&.active-add-menu{
			.slide-add-menu{
				ul{
					transition: all 0.35s ease-in-out;
					transform: translateY(0);
					visibility:visible;
					pointer-events:auto;
					opacity:1;
				}
			}
		}
	}
	.add-tablet-date{
		display:none;
	}
	.excerpt{
		font-size:12px;
		line-height:14px;
		margin:-6px 0 0;
		padding:0 0 19px;
		a{
			color:$base-link-color;
		}
	}
	.text-container{
		position:relative;
		margin:0 0 3px;
		p{
			margin:0 0 15px;
		}
		.slide-text-holder{
			display:block !important;
			p{
				opacity:0;
				transition: all 0.5s ease-in-out;
			}
		}
		&.active-text-container{
			.slide-text-holder p{
				opacity:1;
				transition: all 0.5s ease-in-out;
			}
		}
		.more-link{
			display:inline-block;
			vertical-align:top;
			margin:-7px 0 0;
			font-size:12px;
			line-height:14px;
			color:$add-text-color;
			padding:0 0 1px;
			position:relative;
			overflow:hidden;
			&:after{
				content:'';
				position:absolute;
				left:0;
				bottom:0;
				width:100%;
				height:1px;
				background:$add-text-color;
				transition: all 0.35s ease-in-out;
				transform: translateX(-120%);
				visibility:hidden;
				pointer-events:none;
			}
			&:hover,
			&:focus{
				text-decoration:none;
				&:after{
					transition: all 0.35s ease-in-out;
					transform: translateX(0);
					visibility:visible;
				}
			}
			.text-less{
				display:none;
			}
		}
		&.active-text-container{
			.more-link{
				.text-more{
					display:none;
				}
				.text-less{
					display:block;
				}
			}
		}
		.slide-text-holder{
			overflow:hidden;
		}
	}
}

.general-post-section .image-section{
	margin:0 -22px 14px;
	overflow:hidden;
}
.general-post-section .image-section .image-block{
	position:relative;
	overflow:hidden;
}
.general-post-section .image-section .image-block img{
	display:block;
	width:100%;
	height:auto;
}
.general-post-section .footer-bar{
	position:relative;
}
.general-post-section .footer-bar:after{
	content: " ";
	display: block;
	clear: both;
}
.general-post-section .footer-bar .date-box{
	float:left;
	padding:4px 0 0;
}
.general-post-section .footer-bar .date-box ul{
	padding:0;
	margin:0;
	list-style:none;
	float:left;
	font-size:12px;
	line-height:15px;
	color:$light-gray-text-color;
}
.general-post-section .footer-bar .date-box ul li{
	float:left;
	padding:0 7px;
	position:relative;
}
.general-post-section .footer-bar .date-box ul li:first-child{
	padding-left:0;
}
.general-post-section .footer-bar .date-box ul li:after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:1px;
	height:14px;
	background:$add-text-color;
}
.general-post-section .footer-bar .date-box ul li:first-child:after{
	display:none;
}
.general-post-section .footer-bar .date-box ul a{
	color:$light-gray-text-color;
}
.general-post-section .footer-bar .date-box ul a:hover{
	text-decoration:underline;
	color:$add-text-color;
}
.general-post-section .footer-bar .date-box ul .comments-link a{
	color:$add-text-color;
}
.general-post-section .footer-bar .date-box ul .comments-link a:hover,
.general-post-section .footer-bar .date-box ul .comments-link a:focus{
	text-decoration:underline;
	color:$base-link-color;
}

.general-post-section .activity-persons-section .add-menu{
	display:inline-block;
	vertical-align:top;
	position:relative;
}
.general-post-section .activity-persons-section .add-menu .slide-add-menu{
	top:auto !important;
	bottom:35px !important;
	z-index:14;
	pointer-events:none;
}
.general-post-section .activity-persons-section .add-menu.active-add-menu .slide-add-menu{
	pointer-events:auto;
}
.general-post-section .activity-persons-section .add-menu .slide-add-menu ul{
	transition: all 0.5s ease-in-out;
	transform: translateY(40%);
}
.general-post-section .activity-persons-section .add-menu .slide-add-menu ul:after{
	content:'';
	position:absolute;
	left:50%;
	top:auto;
	bottom:-18px;
	border:solid;
	border-width:9px 10px;
	border-color:#fff transparent transparent transparent;
	margin:0 0 0 -9px;
	pointer-events:none;
}
.general-post-section .activity-persons-section  .add-menu .slide-add-menu ul:before{
	content:'';
	position:absolute;
	left:50%;
	top:auto;
	bottom:-22px;
	border:solid;
	border-width:11px 12px;
	border-color:#bfbfbf transparent transparent transparent;
	margin:0 0 0 -11px;
	pointer-events:none;
}
.general-post-section .activity-persons-section .add-menu.active-add-menu .slide-add-menu ul{
	transition: all 0.5s ease-in-out;
	transform: translateY(0);
}
.general-post-section .add-menu.active-add-menu .opener-add-menu{
	position:relative;
	z-index:16;
}

.general-post-section.active-comment-section .comments-link{
	opacity:0;
	pointer-events:none;
	visibility:hidden;
	transition: all 0.4s ease;
}

.general-post-section .general-post-section{
	background:#eef5f9;
	margin:-10px 0 15px;
	padding:8px 12px 5px;
}
.general-post-section .general-post-section .image-section{
	margin:0 -12px -5px;
}

.general-post-section .general-post-section .heading-block .image-box{
	width:38px;
	height:38px;
	border:1px solid #fff;
}
.general-post-section .general-post-section .heading-block .text-holder{
	padding:0;
}
.general-post-section .general-post-section .heading-block h2{
	font-size:16px;
	margin:0 6px 0 0;
}
.general-post-section .general-post-section .heading-block .info{
	font-size:11px;
	line-height:16px;
}
.general-post-section .general-post-section .heading-block{
	margin:0 0 9px;
}
.general-post-section .general-post-section .text-container{
	margin:0 0 42px;
}
.general-post-section .general-post-section .video-section{
	margin:0 -12px -5px;
}

.like-section{
	float:right;
	margin:0 -2px 0 0;
}
.like-section .share-box{
	float:left;
	margin:0 13px 0 0;
	font-size:12px;
	line-height:15px;
}
.like-section .share-box .icon{
	float:left;
	width:18px;
	height:20px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/time_icons/share.png) no-repeat;
	margin:0 8px 0 0;
	transition: all 0.25s ease-in-out;
}
.like-section .share-box .number{
	float:left;
	min-width:17px;
	padding:4px 0 0;
	color:#bfcbda;
	transition: all 0.25s ease-in-out;
}
.like-section .share-box:hover{
	text-decoration:none;
}
.like-section .share-box:hover .number{
	color:$add-text-color;
	transition: all 0.25s ease-in-out;
}
.like-section .share-box:hover .icon{
	background:url(../images/time_icons/share-hover.png) no-repeat;
	transition: all 0.25s ease-in-out;
}
.like-section .share-box:active .icon{
	background:url(../images/time_icons/share-shared.png) no-repeat;
	transition: all 0.25s ease-in-out;
}
.like-section .share-box:active .number{
	color:$base-link-color;
	transition: all 0.25s ease-in-out;
}
.like-section .share-box a:hover,
.like-section .share-box a:focus{
	text-decoration:none;
}
.like-section .like-box{
	float:left;
	margin:1px 0 0 10px;
	position:relative;
}
.like-section .like-box .opener-like-box{
	display:block;
	overflow:hidden;
	position:relative;
	z-index:12;
}
.like-section .like-box .opener-like-box .icon{
	float:left;
	width:20px;
	height:20px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/time_icons/like.png) no-repeat;
	transition: all 0.25s ease-in-out;
	margin:0 5px 0 0;
}
.like-section .like-box .opener-like-box .number{
	float:left;
	font-size:12px;
	line-height:15px;
	color:#bfcbda;
	padding:4px 0 0;
	min-width:12px;
	text-align:right;
	transition: all 0.25s ease-in-out;
}
.like-section .like-box .opener-like-box:hover .icon,
.like-section .like-box.hover .opener-like-box .icon{
	background:url(../images/time_icons/like-hover.png) no-repeat;
	transition: all 0.25s ease-in-out;
}
.like-section .like-box .opener-like-box:active .icon,
.like-section .like-box.active .opener-like-box .icon{
	background:url(../images/time_icons/like-liked.png) no-repeat;
	transition: all 0.25s ease-in-out;
}
.like-section .like-box .opener-like-box:hover .number,
.like-section .like-box.hover .opener-like-box .number{
	color:$add-text-color;
	transition: all 0.25s ease-in-out;
}
.like-section .like-box .opener-like-box:active .number,
.like-section .like-box.active .opener-like-box .number{
	transition: all 0.25s ease-in-out;
	color:$base-link-color;
}
.like-section .like-box.plus .opener-like-box .icon{
	background:url(../images/time_icons/like-plus.png) no-repeat;
}
.like-section .like-box.plus .opener-like-box:hover .icon,
.like-section .like-box.plus.hover .opener-like-box .icon{
	background:url(../images/time_icons/like-plus-hover.png) no-repeat;
}
.like-section .like-box.plus .opener-like-box:active .icon,
.like-section .like-box.plus.active .opener-like-box .icon{
	background:url(../images/time_icons/like-plus-liked.png) no-repeat;
}
.like-section .like-box.minus .opener-like-box .icon{
	background:url(../images/time_icons/like-minus.png) no-repeat;
}
.like-section .like-box.minus .opener-like-box:hover .icon,
.like-section .like-box.minus.hover .opener-like-box .icon{
	background:url(../images/time_icons/like-minus-hover.png) no-repeat;
}
.like-section .like-box.minus .opener-like-box:active .icon,
.like-section .like-box.minus.active .opener-like-box .icon{
	background:url(../images/time_icons/like-minus-liked.png) no-repeat;
}
.like-section .like-box .opener-like-box:hover,
.like-section .like-box .opener-like-box:focus{
	text-decoration:none;
}

.like-section .like-box .drop-add-info{
	position:absolute;
	bottom:28px;
	padding:0 0 12px;
	left:50%;
	z-index:10;
	transition: all 0.5s ease;
	transform: translate(-58%, 90%);
	visibility:hidden;
	opacity:0;
	pointer-events:none;
}
.like-section .like-box:hover .drop-add-info{
	opacity:1;
	visibility:visible;
	pointer-events:auto;
	transition: all 0.5s ease;
	transform: translate(-58%, 0);
}
.like-section .like-box .drop-add-info ul{
	padding:0;
	margin:0;
	list-style:none;
	position:relative;
	padding:4px 6px;
	border-radius:6px;
	background:#fff;
	white-space:nowrap;
	box-shadow: 0 0 5px rgba(0,0,0,.6);
}
.like-section .like-box .drop-add-info ul:after,
.like-section .like-box .drop-add-info ul:before{
		content:'';
		position:absolute;
		left:50%;
		bottom:-18px;
		border:solid;
		border-width:9px;
		border-color:#fff transparent transparent transparent;
		margin:0 0 0 -9px;
}
.like-section .like-box .drop-add-info ul:before{
	border-color:#d7d7d7 transparent transparent transparent;
	border-width:11px;
	bottom:-22px;
	left:50%;
	margin:0 0 0 -11px;
}
.like-section .like-box .drop-add-info ul li{
	margin:0 -1px 0 0;
	display:inline-block;
	vertical-align:top;
}
.like-section .like-box .drop-add-info ul a{
	width:20px;
	height:20px;
	border-radius:20px;
	display:block;
	overflow:hidden;
	text-decoration:none;
}
.like-section .like-box .drop-add-info ul a img{
	display:block;
	width:100%;
	height:auto;
}
.like-section .like-box .drop-add-info ul a:hover{
	opacity:0.8;
}
.like-section .like-box .number-persons{
	display:block;
	background:$add-text-color;
	color:#fff;
	width:20px;
	height:20px;
	border-radius:20px;
	text-align:center;
	font-size:10px;
	line-height:12px;
	padding:5px 1px 1px;
}
.like-section .like-box .number-persons:hover{
	background:$base-link-color;
}

.contacts-tabset{
	padding:11px 22px;
	margin:0;
	list-style:none;
	overflow:hidden;
	font-size:12px;
	line-height:15px;
	border-bottom:1px solid #fff;
	letter-spacing:0.2px;
}
.contacts-tabset li{
	float:left;
	padding:0 10px;
	position:relative;
}
.contacts-tabset li:first-child{
	padding-left:0;
}
.contacts-tabset li:after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:1px;
	height:14px;
	background:$add-text-color;
}
.contacts-tabset li:first-child:after{
	display:none;
}
.contacts-tabset a{
	color:$add-text-color;
}
.contacts-tabset a:hover{
	color:$base-link-color;
	text-decoration:none;
}
.contacts-tabset li.active a{
	font-weight:bold;
	color:$base-link-color;
}
.contacts-tab-content{
	padding:10px 22px 15px;
	position:relative;
	z-index:2;
}
.contacts-tab-content .custom-form{
	width:100%;
	.jcf-scrollbar.jcf-scrollbar-horizontal{
		display:none !important;
	}
}
.contacts-tab-content .contacts-tab-heading{
	text-align:center;
	font-size:12px;
	line-height:15px;
	margin:0 0 21px;
}
.contacts-tab-content .contacts-tab-heading a{
	color:$add-text-color;
}
.contacts-tab-content .contacts-tab-heading a:hover{
	text-decoration:none;
}
.contacts-tab-content .contacts-tab-heading .text-opener{
	display:none;
}
.contacts-tab-content.active-contacts-content .contacts-tab-heading .text-opener{
	display:inline;
}
.contacts-tab-content.active-contacts-content .contacts-tab-heading .text-close{
	display:none;
}

.contacts-posts-container{
	max-height:850px;
	overflow:hidden;
	width:100% !important;
}
.post-contacts{
	position:relative;
	padding:10px 30px 9px 0;
}
.post-contacts:after{
	content: " ";
	display: block;
	clear: both;
}
.post-contacts .image-box{
	float:left;
	width:31px;
	height:31px;
	margin:2px 12px 0 0;
	border-radius:32px;
	border:2px solid #edf2f6;
	overflow:hidden;
}
.post-contacts .image-box img{
	display:block;
	width:100%;
	height:auto;
}
.post-contacts .text-holder{
	overflow:hidden;
	font-size:12px;
	line-height:14px;
	color:#333;
}
.post-contacts .text-holder .heading{
	margin:0;
	letter-spacing:0.2px;
}
.post-contacts .text-holder h3{
	display:inline-block;
	vertical-align:top;
	margin:0 5px 0 0;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
}
.post-contacts .text-holder h3 a{
	text-decoration:none;
	color:$base-link-color;
}
.post-contacts .text-holder h3 a:hover{
	text-decoration:underline;
}
.post-contacts .text-holder .date{
	display:inline-block;
	vertical-align:top;
	font-size:12px;
	line-height:15px;
	color:$add-text-color;
}
.post-contacts .text-holder .text{
	margin:0 0 5px;
	letter-spacing:0.4px;
}
.post-contacts .text-holder p{
	margin:0;
}
.post-contacts .text-holder .text-reply{
	display:inline-block;
	vertical-align:top;
	margin:0 3px 0 0;
	color:$add-text-color;
}
.post-contacts .link-holder .link-reply{
	display:inline-block;
	vertical-align:top;
	font-weight:bold;
	text-decoration:none;
	color:$base-link-color;
	letter-spacing:0.1px;
	font-size:10px;
	line-height:13px;
}
.post-contacts .link-holder .link-reply:hover{
	text-decoration:underline;
}

.post-contacts .menu-comment{
	position:absolute;
	top:12px;
	right:10px;
	padding:0;
	margin:0;
	list-style:none;
}
.post-contacts .menu-comment li{
	float:left;
	margin:0 0 0 10px;
}
.post-contacts .menu-comment li:first-child{
	margin-left:0;
}
.post-contacts .menu-comment a{
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	text-decoration:none;
}
.post-contacts .menu-comment .edit{
	width:8px;
	height:8px;
	background:url(../images/time_icons/edit-comment.png) no-repeat;
	transition: all 0.5s ease;
}
.post-contacts .menu-comment .edit:hover{
	background:url(../images/time_icons/edit-comment-hover.png) no-repeat;
	transition: all 0.5s ease;
}
.post-contacts .menu-comment .close{
	width:9px;
	height:9px;
	background:url(../images/time_icons/close-comment.png) no-repeat;
	transition: all 0.5s ease;
}
.post-contacts .menu-comment .close:hover{
	background:url(../images/time_icons/close-comment-hover.png) no-repeat;
	transition: all 0.5s ease;
}

.post-contacts .like-section{
	position:absolute;
	bottom:10px;
	right:10px;
}

.post-contacts .one-image-box{
	display:inline-block;
	vertical-align:top;
	max-width:73%;
	margin:-1px 0 8px;
}
.post-contacts .one-image-box img{
	display:block;
	width:100%;
	height:auto;
	max-width:300%;
}
.post-contacts .downloaded-images{
	overflow:hidden;
	margin:0 0 15px;
	padding:0 4px 0 0;
}
.post-contacts .downloaded-images .image-holder{
	margin:0 -2px 1px 0;
	display:inline-block;
	vertical-align:top;
	width:50%;
}
.post-contacts .downloaded-images img{
	display:block;
	width:100%;
	height:auto;
}
.post-contacts .downloaded-videos{
	overflow:hidden;
	position:relative;
	margin:0 0 15px;
	padding:0 4px 0 0;
}
.post-contacts .downloaded-videos .video-box{
	display:inline-block;
	vertical-align:top;
	width:50%;
	margin:0 -2px 1px 0;
	position:relative;
}

.post-contacts .downloaded-videos .video-box img{
	display:block;
	width:100%;
	height:auto;
}
.post-contacts .downloaded-videos .video-box a{
	display:block;
	position:relative;
}
.post-contacts .downloaded-videos .video-box a:after{
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:31px;
	height:40px;
	background:url(../images/time_icons/btn-play-video.png) no-repeat;
	margin:-20px 0 0 -15px;
	z-index:10;
	transition: all 0.35s ease;
}
.post-contacts .downloaded-videos .video-box a:before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.2);
	z-index:8;
	opacity:0;
	transition: all 0.35s ease;
}
.post-contacts .downloaded-videos .video-box a:hover:before{
	opacity:1;
	transition: all 0.35s ease;
}
.post-contacts .downloaded-videos .video-box .time{
	position:absolute;
	right:0;
	bottom:0;
	font-size:10px;
	line-height:12px;
	padding:1px 5px;
	color:#fff;
	background:rgba(0,0,0,0.5);
}
.form-writing-comment{
	position:relative;
	padding:5px 22px 20px;
	z-index:4;
	overflow:visible;
}

.form-writing-comment .input-holder{
	position:relative;
	overflow:hidden;
	margin:0 0 10px;
}
.form-writing-comment .input-holder input{
	background:#fff;
	border:none;
	width:100%;
	height:30px;
	padding:8px 100px 6px 20px;
	margin:0;
	float:left;
	border-radius:5px;
	font-size:12px;
	line-height:15px;
	color:#333;
	@include placeholder{
		opacity: 1;
		color:#bfcbda;
	}
}

.form-writing-comment .uploaded-info-section{
	min-height:30px;
	padding:10px 90px 0 0;
	overflow:hidden;
}
.form-writing-comment .btn-send{
	position:absolute;
	right:22px;
	bottom:20px;
	background:$base-link-color;
	border:0;
	padding:2px 0 0;
	margin:0;
	cursor:pointer;
	overflow:hidden;
	z-index:2;
	transition: background-color 0.3s, color 0.3s;
	width:80px;
	height:30px;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
	color:#fff;
	border-radius:5px;
	letter-spacing:0.2px;
}
.form-writing-comment .btn-send:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid $base-link-color;
	z-index: -1;
	border-radius: inherit;
	opacity: 0;
	transform: scale3d(0.6, 0.6, 1);
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	border-radius:5px;
}
.form-writing-comment .btn-send:hover {
	background-color: #ffe0cc;
	color: $base-link-color;
}
.form-writing-comment .btn-send:hover:before {
	transform: scale3d(1, 1, 1);
	opacity: 1;
}
.form-writing-comment .uploaded-image{
	float:left;
	margin:0 1px 1px 0;
	width:115px;
	position:relative;
}
.form-writing-comment .uploaded-image img{
	display:block;
	width:100%;
	height:auto;
}
.form-writing-comment .uploaded-image .close{
	position:absolute;
	top:0;
	right:0;
	width:15px;
	height:15px;
	background:rgba(0,0,0,0.5);
	text-indent:-9999px;
	overflow:hidden;
	transition: all 0.35s ease;
}
.form-writing-comment .uploaded-image .close:after{
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:7px;
	height:7px;
	background:url(../images/time_icons/delete-uploaded.png) no-repeat;
	margin:-3.5px 0 0 -3.5px;
}
.form-writing-comment .uploaded-image .close:hover{
	background:rgba(0,0,0,0.8);
	transition: all 0.35s ease;
}
.form-writing-comment .uploaded-video{
	float:left;
	margin:0 1px 1px 0;
	width:115px;
	position:relative;
}
.form-writing-comment .uploaded-video img{
	display:block;
	width:100%;
	height:auto;
}
.form-writing-comment .uploaded-video .close{
	position:absolute;
	top:0;
	right:0;
	width:15px;
	height:15px;
	background:rgba(0,0,0,0.5);
	text-indent:-9999px;
	overflow:hidden;
	transition: all 0.35s ease;
}
.form-writing-comment .uploaded-video .close:after{
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:7px;
	height:7px;
	background:url(../images/time_icons/delete-uploaded.png) no-repeat;
	margin:-3.5px 0 0 -3.5px;
}
.form-writing-comment .uploaded-video .close:hover{
	background:rgba(0,0,0,0.8);
	transition: all 0.35s ease;
}
.form-writing-comment .uploaded-video .time{
	position:absolute;
	right:0;
	bottom:0;
	font-size:10px;
	line-height:12px;
	color:#fff;
	padding:2px 5px;
	background:rgba(0,0,0,0.5);
	color:#fff;
}
.form-writing-comment .uploaded-video:after{
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:16px;
	height:19px;
	background:url(../images/time_icons/btn-play-video.png) no-repeat;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:-10px 0 0 -8px;
}

.upload-form-menu{
	position:absolute;
	top:12px;
	right:35px;
	z-index:20;
}
.upload-form-menu>li{
	float:left;
	margin:0 0 0 10px;
	position:relative;
}
.upload-form-menu>li:first-child{
	margin-left:0;
}
.upload-form-menu .upload-photo a{
	display:block;
	background:url(../images/sprite.svg) no-repeat 56.823% 100%;
	-webkit-background-size:290px 175px;
	background-size:290px 175px;
	width:20px;
	height:16px;
	text-indent:-9999px;
	overflow:hidden;
	transition: opacity 0.35s ease;
}
.upload-form-menu .upload-photo a:hover,
.upload-form-menu .upload-photo a:focus{
	opacity:0.7;
	transition: opacity 0.35s ease;
	text-decoration:none;
}
.upload-form-menu .upload-video a{
	display:block;
	background:url(../images/time_icons/video.png) no-repeat;
	width:20px;
	height:15px;
	text-indent:-9999px;
	overflow:hidden;
	transition: opacity 0.35s ease;
}
.upload-form-menu .upload-video a:hover,
.upload-form-menu .upload-video a:focus{
	opacity:0.7;
	transition: opacity 0.35s ease;
}
.upload-form-menu .comments-icon-menu >a{
	display:block;
	background:url(../images/sprite.svg) no-repeat 85.65% 25.292%;
	-webkit-background-size:212px 129px;
	background-size:212px 129px;
	width:15px;
	height:15px;
	text-indent:-9999px;
	overflow:hidden;
	transition: opacity 0.35s ease;
}
.upload-form-menu .comments-icon-menu >a:hover,
.upload-form-menu .comments-icon-menu >a:focus{
	opacity:0.7;
	transition: opacity 0.35s ease;
	text-decoration:none;
}
.upload-form-menu .comments-icon-menu .drop-icon-menu{
	position:absolute;
	right:-18px;
	bottom:100%;
	width:216px;
	margin:0 0 25px;
	display:none;
}
.upload-form-menu .comments-icon-menu.active-drop .drop-icon-menu{
	display:block;
}
.upload-form-menu .comments-icon-menu .icons-list{
	padding:5px 9px;
	margin:0;
	list-style:none;
	background:#fff;
	border-radius:6px;
	box-shadow: 0 0 5px rgba(0,0,0,.6);
	position:relative;
}
.upload-form-menu .comments-icon-menu .icons-list:after{
	content:'';
	position:absolute;
	right:17px;
	bottom:-26px;
	border:solid;
	border-width:13px 9px;
	border-color:#fff transparent transparent transparent;
}
.upload-form-menu .comments-icon-menu .icons-list:before{
	content:'';
	position:absolute;
	right:15px;
	bottom:-30px;
	border:solid;
	border-width:15px 11px;
	border-color:#b1b5ba transparent transparent transparent;
}
.upload-form-menu .comments-icon-menu .icons-list li{
	display:inline-block;
	vertical-align:top;
	margin:0 -3px 0 0;
	width:20%;
	padding:1px;
}
.upload-form-menu .comments-icon-menu .icons-list a{
	transform: scale(1);
	display:block;
	transition: all 0.3s ease;
}
.upload-form-menu .comments-icon-menu .icons-list a:hover{
	transform: scale(1.2);
	transition: all 0.3s ease;
}
.upload-form-menu .comments-icon-menu .icons-list .frame{
	display:table-cell;
	width:100px;
	height:38px;
	vertical-align:middle;
	text-align:center;
}
.upload-form-menu .comments-icon-menu .icons-list .frame img{
	display:inline-block;
	vertical-align:middle;
}

.photos-section{
	position:relative;
	overflow:hidden;
	margin:0 -22px 14px;
}
.photos-section .slideset{
	position:relative;
	overflow:hidden;
	margin:0 0 1px;
}
.photos-section .slide{
	position:absolute;
	width:100%;
	left:0;
	top:0;
	z-index:3;
}
.photos-section .slide.active{
	z-index:4;
}
.photos-section .slide img{
	display:block;
	width:100%;
	height:auto;
}
.photos-section .pagination-photos{
	position:relative;
	overflow:hidden;
}
.photos-section .pagination-photos li{
	float:left;
	padding:0 0 0 1px;
	width:16.667%;
	list-style-type:none;
	position:relative;
	overflow:hidden;
}
.photos-section .pagination-photos li:first-child{
	margin-left:-1px;
}
.photos-section .pagination-photos a{
	display:block;
}
.photos-section .pagination-photos img{
	display:block;
	width:100%;
	height:auto;
}
.photos-section .pagination-photos .add-link-photo{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:rgba(0,0,0,0.5);
	text-align:center;
	padding:5px;
	color:#fff;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
	text-decoration:none;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
	white-space:nowrap;
}
.photos-section .pagination-photos .add-link-photo:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	overflow:hidden;
	margin:0 0 0 -5px;
	vertical-align:middle;
}
.photos-section .pagination-photos .add-link-photo .frame{
	vertical-align:middle;
	display:inline-block;
	white-space:normal;
}

.photos-section .pagination-photos .add-link-photo .number{
	display:block;
}
.photos-section .pagination-photos .add-link-photo:hover,
.photos-section .pagination-photos .add-link-photo:focus{
	text-decoration:none;
	background:rgba(0,0,0,0.7);
	transition: all 0.35s ease;
}

.video-section{
	position:relative;
	overflow:hidden;
	margin:0 -22px 14px;
}
.video-section .slideset{
	position:relative;
	overflow:hidden;
	margin:0 0 1px;
}
.video-section .slide{
	position:absolute;
	width:100%;
	left:0;
	top:0;
	z-index:3;
}
.video-section .slide.active{
	z-index:4;
}
.video-section .slide img{
	display:block;
	width:100%;
	height:auto;
}
.video-section .slide .btn-play{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:4;
	transition: all 0.35s ease;
	text-indent:-9999px;
	overflow:hidden;
}
.video-section .slide .btn-play:before{
	content:'';
	position:absolute;
	width:54px;
	height:70px;
	left:50%;
	top:50%;
	margin:-35px 0 0 -27px;
	background:url(../images/time_icons/video-icon.png) no-repeat;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
}
.video-section .slide .btn-play:hover{
	background:rgba(0,0,0,0.2);
	transition: all 0.35s ease;
}
.video-section .slide .time{
	position:absolute;
	bottom:0;
	right:0;
	font-size:10px;
	line-height:12px;
	padding:1px 5px;
	color:#fff;
	z-index:3;
	background:rgba(0,0,0,0.5);
}
.video-section .pagination-video{
	position:relative;
	overflow:hidden;
}
.video-section .pagination-video li{
	float:left;
	padding:0 0 0 1px;
	width:25%;
	list-style-type:none;
	position:relative;
	overflow:hidden;
}
.video-section .pagination-video li:first-child{
	margin-left:-1px;
}
.video-section .pagination-video a{
	display:block;
	position:relative;
}
.video-section .pagination-video a:after{
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:16px;
	height:19px;
	background:url(../images/time_icons/video-icon.png) no-repeat;
	-webkit-background-size:16px 19px;
	background-size:16px 19px;
	margin:-10px 0 0 -8px;
	z-index:2;
}
.video-section .pagination-video img{
	display:block;
	width:100%;
	height:auto;
}
.video-section .pagination-video .time{
	position:absolute;
	bottom:0;
	right:0;
	font-size:10px;
	line-height:12px;
	padding:1px 5px;
	color:#fff;
	z-index:3;
	background:rgba(0,0,0,0.5);
}

.general-post-popup-list{
	position:fixed;
	z-index:2001;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.6);
	opacity:0;
	visibility:hidden;
	transition: all 0.4s linear;
	pointer-events:none;
	white-space:nowrap;
	text-align:center;
	&:after{
		content:'';
		display:inline-block;
		height:100%;
		width:1px;
		overflow:hidden;
		margin:0 0 0 -5px;
		vertical-align:middle;
	}
	&.lightbox-active{
		opacity:1;
		visibility:visible;
		pointer-events:auto;
	}
	>.inner-box{
		text-align:left;
		vertical-align:middle;
		display:inline-block;
		white-space:normal;
		z-index:2;
		background:#fff;
		max-width:100%;
		max-height:100%;
		overflow:auto;
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
		border-radius: 5px;
		text-align:center;
	}
}
.general-post-popup{
	overflow:hidden;
	width: 340px;
}
.general-post-popup .heading{
	background:$base-link-color;
	color:#fff;
	padding:10px 20px;
}
.general-post-popup .heading>.holder{
	display:table-cell;
	width:500px;
	height:42px;
	vertical-align:middle;
}
.general-post-popup .heading h3{
	display:inline-block;
	vertical-align:middle;
	margin:0;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
}
.general-post-popup .content{
	overflow:hidden;
	padding:15px 0 20px;
	text-align:left;
}

.list-people-base{
	text-align:left;
	padding:0;
	margin:0;
	list-style:none;
}
.list-people-base li{
	height:65px;
	padding:0 20px 0 77px;
	position:relative;
	overflow:hidden;
}
.list-people-base .image-box{
	position:absolute;
	left:18px;
	top:6px;
}
.list-people-base .img-holder{
	position:relative;
	overflow:hidden;
	width:50px;
	height:50px;
	border-radius:50px;
	border:3px solid #edf2f6;
}
.list-people-base .img-holder img{
	display:block;
	width:100%;
	height:auto;
}
.list-people-base .image-wrap{
	position:absolute;
	left:0;
	top:0;
	width:64px;
}
.list-people-base .image-wrap img{
	display:block;
	width:100%;
	height:auto;
}
.list-people-base .mark{
	position:absolute;
	right:5px;
	bottom:1px;
	width:10px;
	height:10px;
	border-radius:10px;
	overflow:hidden;
	background:#9ec289;
	text-indent:-9999px;
	overflow:hidden;
}
.list-people-base .text-holder{
	height:64px;
	overflow:hidden;
	width:100%;
	font-size:10px;
	line-height:16px;
	color:$add-text-color;
}
.list-people-base .text-holder>.frame{
	display:table-cell;
	width:1000px;
	height:64px;
	vertical-align:middle;
}
.list-people-base .text-holder>.frame>.holder{
	display:inline-block;
	vertical-align:middle;
	width:100%;
}
.list-people-base h3{
	color:$base-link-color;
	font:bold 14px/16px "Roboto",Arial,Helvetica,san-serif;
	margin:0 0 2px;
	letter-spacing:0.2px;
}
.list-people-base h3 a{
	color:inherit;
}
.list-people-base p{
	margin:0;
	letter-spacing:0.3px;
}
.list-people-base address{
	display:block;
	font-style:normal;
}
.list-people-base .members{
	display:block;
}
.list-people-base .members .number{
	color:$base-link-color;
}
.general-post-popup .jcf-scrollable{
	height:393px;
	overflow:auto;
}
.general-post-popup .footer-block{
	background:#dfe4e8;
	padding:20px 10px;
}
.general-post-popup .jcf-scrollbar-vertical{
	right:20px;
}


/* base button style */
.btn-base{
	display:inline-block;
	vertical-align:top;
	width:73px;
	height:30px;
	border-radius:4px;
	color:#fff;
	font:bold 12px/15px "Roboto",Arial,Helvetica,san-serif;
	background:$base-link-color;
	transition: all 0.3s ease-in-out;
	z-index:4;
	text-align:center;
	padding:7px 5px;
	font-size:12px;
	line-height:16px;
	position:relative;
}
.btn-base:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid $base-link-color;
	z-index: -1;
	border-radius: inherit;
	opacity: 0;
	transform: scale3d(0.6, 0.6, 1);
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn-base:hover,
.btn-base:focus{
	background: #ffe0cc;
	color:$base-link-color;
	text-decoration:none;
}
.btn-base:hover:before,
.btn-base:focus:before{
	transform: scale3d(1, 1, 1);
	opacity: 1;
}

.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}


.general-post-gallery-popup{
	overflow:hidden;
	position:fixed;
	z-index:3001;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#333;
	opacity:0;
	visibility:hidden;
	transition: all 0.4s linear;
	pointer-events:none;
	&.lightbox-active{
		opacity:1;
		visibility:visible;
		pointer-events:auto;
	}
}
.general-post-gallery-popup .gallery-post-section{
	float:right;
	width:290px;
}
.general-post-gallery-popup .general-post-section{
	border-radius:0;
	padding:18px 20px 15px;
	margin:0;
	height:100vh;
}
.general-post-gallery-popup .general-post-section .image-section{
	margin:0 -20px 14px;
}
.general-post-gallery-popup .close-gallery-post-section{
	position:absolute;
	top:20px;
	right:20px;
	width:11px;
	height:11px;
	text-indent:100%;
	font-size:0;
	line-height:0;
	color: transparent;
	background:url(../images/time_icons/close-gallery-post.png) no-repeat;
	z-index:30;
	&:before{
		content:'';
		position:absolute;
		left:-10px;
		top:-10px;
		right:-10px;
		bottom:-10px;
	}
}
.general-post-gallery-popup .like-section{
	float:left;
	margin:0;
}
.general-post-gallery-popup .comments-section{
	margin:12px -20px -15px;
	background:#fff;
	position:relative !important;
	top:0 !important;
	left:0 !important;
}

.gallery-comments-section{
	position:relative;
	overflow:hidden;
	border:solid;
	border-width:1px 0;
	border-color:#bfcbda transparent;
	padding:5px 26px 4px 10px;
	margin:0 20px;
	font-size:12px;
	line-height:15px;
}
.gallery-comments-section .view-all{
	float:left;
	width:53px;
	padding:0 5px 0 0;
	border-right:1px solid $add-text-color;
	color:$add-text-color;
	margin:0 5px 0 0;
}
.gallery-comments-section .view-all:hover,
.gallery-comments-section .view-all:focus{
	color:$base-link-color;
	text-decoration:none;
}
.gallery-comments-section .view-all.active{
	font-weight:bold;
	color:$base-link-color;
}
.gallery-comments-section .mask{
	overflow:hidden;
}
.gallery-comments-section .contacts-tabset{
	padding:0;
	border:none;
	margin:0;
	width:9999px;
	float:left;
	position:relative;
}
.gallery-comments-section .contacts-tabset li{
	padding:0;
	margin:0;
	width:144px;
}
.gallery-comments-section .contacts-tabset li a{
	display:block;
	text-align:center;
}
.gallery-comments-section .contacts-tabset li:after{
	display:none;
}
.gallery-comments-section .btn-next{
	position:absolute;
	top:6px;
	right:10px;
	width:6px;
	height:13px;
	background:url(../images/time_icons/arrow-gray-right.png) no-repeat;
	transition: all 0.35s ease;
}
.gallery-comments-section .btn-next:hover{
	background:url(../images/time_icons/arrow-gray-right-hover.png) no-repeat;
	transition: all 0.35s ease;
}
.gallery-comments-section .btn-next:after{
	content:'';
	position:absolute;
	left:-10px;
	top:-5px;
	right:-10px;
	bottom:-5px;
}

.general-post-gallery-popup .contacts-tab-content{
	padding:6px 7px 8px 20px;
}
.general-post-gallery-popup .post-contacts .text-holder h3{
	display:block;
	margin:0 0 -1px;
}
.general-post-gallery-popup .post-contacts .text-holder .date{
	font-size:10px;
	line-height:12px;
}
.general-post-gallery-popup .contacts-posts-container{
	max-height:320px;
	height:320px;
}
.general-post-gallery-popup .form-writing-comment .input-holder input{
	background:#ecf1f5;
	padding:8px 100px 6px 10px;
}
.general-post-gallery-popup .post-contacts{
	padding:8px 0 8px;
	margin-right:13px;
}
.general-post-gallery-popup .form-writing-comment .uploaded-image,
.general-post-gallery-popup .form-writing-comment .uploaded-video{
	width:75px;
}
.general-post-gallery-popup .form-writing-comment{
	padding:5px 20px 20px;
}
.general-post-gallery-popup .form-writing-comment .btn-send{
	right:20px;
}

.slideshow-images-post-holder{
	position:relative;
	overflow:hidden;
	height:100vh;
	white-space:nowrap;
	&:after{
		content:'';
		display:inline-block;
		height:100%;
		width:1px;
		overflow:hidden;
		margin:0 0 0 -5px;
		vertical-align:middle;
	}
	.slideshow-images-post-frame{
		vertical-align:middle;
		display:inline-block;
		white-space:normal;
		width:100%;
	}
}
.slideshow-images-post{
	position:relative;
	overflow:hidden;
	padding:66px 0 0;
}
.slideshow-images-post .slideset{
	position:relative;
	overflow:hidden;
}
.slideshow-images-post .slide{
	position:absolute;
	width:100%;
	left:0;
	top:0;
	z-index:4;
	overflow:hidden;
	max-height:calc(100vh - 122px);
}
.slideshow-images-post .slide.active{
	z-index:7;
}
.slideshow-images-post .slide>img{
	display:block;
	width:100%;
	height:auto;
	max-width:none;
}

.slideshow-images-post .slide .signature-photos{
	position:absolute;
	left:30.7%;
	top:11.4%;
	padding:6px 19px 5px;
	background:#dee6ee;
	border-radius:5px;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
	color:#333;
}
.slideshow-images-post .slide .signature-photos:after{
	content:'';
	position:absolute;
	left:50%;
	bottom:-12px;
	border:solid;
	border-width:6px 5px;
	border-color:#dee6ee transparent transparent transparent;
	margin:0 0 0 -5px;
}
.slideshow-images-post .slideshow-menu-holder{
	padding:22px 100px;
	position:relative;
	height:66px;
	text-align:center;
}
.slideshow-images-post .slideshow-menu-holder .btn-prev,
.slideshow-images-post .slideshow-menu-holder .btn-next{
	display:inline-block;
	vertical-align:top;
	width:22px;
	height:16px;
	background:url(../images/time_icons/gallery-left.png) no-repeat;
	transition: all 0.35s ease;
	margin:3px 12px 0 0;
}
.slideshow-images-post .slideshow-menu-holder .btn-next{
	background:url(../images/time_icons/gallery-right.png) no-repeat;
	margin:3px 0 0 12px;
}
.slideshow-images-post .slideshow-menu-holder .btn-prev:hover,
.slideshow-images-post .slideshow-menu-holder .btn-next:hover{
	transition: all 0.35s ease;
}
.slideshow-images-post .slideshow-menu-holder .btn-prev:hover,
.slideshow-images-post .slideshow-menu-holder .btn-prev:focus{
	background:url(../images/time_icons/gallery-left-hover.png) no-repeat;
}
.slideshow-images-post .slideshow-menu-holder .btn-next:hover,
.slideshow-images-post .slideshow-menu-holder .btn-next:focus{
	background:url(../images/time_icons/gallery-right-hover.png) no-repeat;
}
.slideshow-images-post .slideshow-menu-holder .link-menu{
	display:inline-block;
	vertical-align:top;
	width:31px;
	height:22px;
	background:url(../images/time_icons/gallery-icon.png) no-repeat;
	transition: all 0.35s ease;
}
.slideshow-images-post .slideshow-menu-holder .link-menu:hover,
.slideshow-images-post .slideshow-menu-holder .link-menu:focus{
	background:url(../images/time_icons/gallery-icon-hover.png) no-repeat;
	transition: all 0.35s ease;
}
.slideshow-images-post .slideshow-menu{
	position:absolute;
	top:30px;
	right:30px;
	z-index:10;
}
.slideshow-images-post .slideshow-menu .slideshow-menu-opener{
	display:inline-block;
	vertical-align:top;
	position:relative;
	z-index:12;
}
.slideshow-images-post .slideshow-menu .slideshow-menu-opener span{
	float:left;
	width:6px;
	height:6px;
	border-radius:10px;
	overflow:hidden;
	background:#fff;
	margin:0 0 0 4px;
}
.slideshow-images-post .slideshow-menu .slideshow-menu-opener span:first-child{
	margin-left:0;
}
.slideshow-images-post .slideshow-menu .slideshow-menu-opener:after{
	content:'';
	position:absolute;
	left:-10px;
	top:-10px;
	right:-10px;
	bottom:-10px;
}
.slideshow-images-post .slideshow-menu .slideshow-menu-slider{
	position:absolute;
	background:#fff;
	border-radius:5px;
	box-shadow: 0 0 5px rgba(0,0,0,.6);
	margin:0;
	list-style:none;
	padding:13px 0;
	font-size:14px;
	line-height:18px;
	text-align:left;
	z-index:10;
	display:none;
}
.slideshow-images-post .slideshow-menu.active-drop .slideshow-menu-slider{
	left:auto !important;
	right:-12px;
	top:auto !important;
	bottom:34px;
}
.slideshow-images-post .slideshow-menu .slideshow-menu-slider a{
	display:block;
	white-space:nowrap;
	padding:3px 20px;
	color:#333;
	letter-spacing:0.1px;
}
.slideshow-images-post .slideshow-menu .slideshow-menu-slider a:hover,
.slideshow-images-post .slideshow-menu .slideshow-menu-slider a:focus{
	background:#d2d9df;
	text-decoration:none;
}
.slideshow-images-post .slideshow-menu .slideshow-menu-slider:before{
	content:'';
	position:absolute;
	right:16px;
	bottom:-22px;
	border:solid;
	border-width:11px 10px;
	border-color:rgba(0,0,0,.6) transparent transparent transparent;
}
.slideshow-images-post .slideshow-menu .slideshow-menu-slider:after{
	content:'';
	position:absolute;
	right:17px;
	bottom:-20px;
	border:solid;
	border-width:10px 9px;
	border-color:#fff transparent transparent transparent;
}

.slideshow-images-post .pagination-section{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	padding:8px 17px 3px;
	border-top:4px solid #333;
	z-index:20;
	background:rgba(51,51,51,0.8);
}
.slideshow-images-post .pagination-section .pagination-images{
	padding:0;
	margin:0;
	list-style:none;
	white-space:nowrap;
	font-size:1px;
	line-height:1px;
}
.slideshow-images-post .pagination-section .pagination-images li{
	display:inline-block;
	vertical-align:top;
	margin:1px;
}
.slideshow-images-post .pagination-section .pagination-images a{
	display:block;
	border:4px solid transparent;
}
.slideshow-images-post .pagination-section .pagination-images li a:hover,
.slideshow-images-post .pagination-section .pagination-images li a:focus,
.slideshow-images-post .pagination-section .pagination-images li.active a{
	border-color:#6b7583;
}
.slideshow-images-post .pagination-section .jcf-scrollable{
	overflow:auto;
}
.slideshow-images-post .pagination-section .pagination-section-opener{
	position:absolute;
	width:50px;
	height:22px;
	border-radius:4px 4px 0 0;
	background:#333;
	left:50%;
	top:-26px;
	margin:0 0 0 -25px;
	text-indent:-9999px;
	overflow:hidden;
}
.slideshow-images-post .pagination-section .pagination-section-opener:after{
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:14px;
	height:7px;
	background:url(../images/time_icons/gallery-bottom.png) no-repeat;
	margin:-1px 0 0 -7px;
}

.activity-post-popup{
	display:none;
}
.gallery-popup-heading-bar,
.gallery-popup-footer-bar{
	display:none;
}
.btn-see-all-activity{
	display:none;
}
.general-post-gallery-popup{
	.slideshow-images-post-tile{
		display:none;
	}
}

@include media("<desktop"){
	.like-section .share-box .number{
		color:$add-text-color;
	}
	.like-section .share-box .icon{
		background:url(../images/time_icons/share-hover.png) no-repeat;
	}
	.like-section .share-box:hover .icon{
		background:url(../images/time_icons/share-shared.png) no-repeat;
	}
	.like-section .share-box:hover .number{
		color:$base-link-color;
	}
	.like-section .like-box .opener-like-box .icon{
		background:url(../images/time_icons/like-hover.png) no-repeat;
	}
	.like-section .like-box .opener-like-box:hover .icon,
	.like-section .like-box.hover .opener-like-box .icon{
		background:url(../images/time_icons/like-liked.png) no-repeat;
	}
	.like-section .like-box .opener-like-box .number{
		color:$add-text-color;
	}
	.like-section .like-box .opener-like-box:hover .number,
	.like-section .like-box.hover .opener-like-box .number{
		color:$base-link-color;
	}
	.like-section .like-box.plus .opener-like-box .icon{
		background:url(../images/time_icons/like-plus-hover.png) no-repeat;
	}
	.like-section .like-box.plus .opener-like-box:hover .icon,
	.like-section .like-box.plus.hover .opener-like-box .icon{
		background:url(../images/time_icons/like-plus-liked.png) no-repeat;
	}
	.like-section .like-box.minus .opener-like-box .icon{
		background:url(../images/time_icons/like-minus-hover.png) no-repeat;
	}
	.like-section .like-box.minus .opener-like-box:hover .icon,
	.like-section .like-box.minus.hover .opener-like-box .icon{
		background:url(../images/time_icons/like-minus-liked.png) no-repeat;
	}
	.photos-section,
	.video-section{
		margin:0 -27px;
	}
	.contacts-tabset{
		border-width:0 0 2px;
		font-size:14px;
		line-height:18px;
		padding:5px 58px 4px;
	}
	.contacts-tabset li{
		padding:0;
		border-left:1px solid #bfcbda;
	}
	.contacts-tabset li:first-child{
		border-left:none;
	}
	.contacts-tabset li:after{
		display:none;
	}
	.contacts-tabset a{
		display:block;
		padding:5px 25px;
		text-align:center;
		min-width:102px;
	}
	.contacts-tabset-add-gallery{
		position:relative;
		overflow:hidden;
	}
	.contacts-tabset-add-gallery .mask{
		overflow:hidden;
	}
	.contacts-tabset-add-gallery .btn-prev,
	.contacts-tabset-add-gallery .btn-next{
		position:absolute;
		width:58px;
		height:28px;
		left:2px;
		top:5px;
		border:solid;
		border-width:0 1px 0 0;
		border-color:transparent #bfcbda;
	}
	.contacts-tabset-add-gallery .btn-next{
		left:auto;
		right:2px;
		border-width:0 0 0 1px;
	}
	.contacts-tabset-add-gallery .btn-prev:after,
	.contacts-tabset-add-gallery .btn-next:after{
		content:'';
		position:absolute;
		left:50%;
		top:50%;
		width:5px;
		height:9px;
		background:url(../images/time_icons/arrow-gray-left02.png) no-repeat;
		margin:-5px 0 0 -4px;
		transition: all 0.35s ease;
	}
	.contacts-tabset-add-gallery .btn-next:after{
		background:url(../images/time_icons/arrow-gray-right02.png) no-repeat;
		margin-left:-1px;
	}
	.contacts-tabset-add-gallery .btn-prev:hover,
	.contacts-tabset-add-gallery .btn-next:hover,
	.contacts-tabset-add-gallery .btn-prev:focus,
	.contacts-tabset-add-gallery .btn-next:focus{
		text-decoration:none;
	}
	.contacts-tabset-add-gallery .btn-prev:hover:after,
	.contacts-tabset-add-gallery .btn-prev:focus:after{
		background:url(../images/time_icons/arrow-gray-left02-hover.png) no-repeat;
		transition: all 0.35s ease;
	}
	.contacts-tabset-add-gallery .btn-next:hover:after,
	.contacts-tabset-add-gallery .btn-next:focus:after{
		background:url(../images/time_icons/arrow-gray-right02-hover.png) no-repeat;
		transition: all 0.35s ease;
	}
	.contacts-tab-content .contacts-tab-heading{
		display:none;
	}
	.contacts-tab-content{
		padding:22px 11px 20px 28px;
	}
	.post-contacts .menu-comment{
		right:22px;
	}
	.post-contacts .like-section{
		right:23px;
	}
	.like-section .like-box .opener-like-box .icon{
		margin:0 7px 0 0;
	}
	.post-contacts .text-holder,
	.post-contacts .text-holder .date,
	.post-contacts .text-holder h3{
		font-size:14px;
		line-height:18px;
	}
	.post-contacts .link-holder .link-reply{
		font-size:12px;
		line-height:15px;
	}
	.post-contacts .text-holder .text{
		margin:-2px 0 5px;
	}
	.form-writing-comment{
		padding:5px 29px 40px;
	}
	.form-writing-comment .btn-send{
		right:29px;
		bottom:40px;
	}
	.form-writing-comment .input-holder input{
		height:40px;
		padding:10px 100px 10px 15px;
	}
	.upload-form-menu{
		top:17px;
		right:45px;
	}
	.upload-form-menu .comments-icon-menu .drop-icon-menu{
		margin:0 0 28px;
	}
	/* .general-post-section.no-comments .footer-bar .date-box{
		display:none;
	}
	.general-post-section.no-comments .footer-bar .like-section{
		width:100%;
	}
	.general-post-section.no-comments .footer-bar{
		padding:13px 2px 12px;
	}
	.general-post-section.no-comments .footer-bar .like-section .share-box{
		border:none;
	} */
	/* .post-menu{
		left:20px;
		pointer-events:none;
	}
	.post-menu .opener-post-menu{
		pointer-events:auto;
		float:right;
	}
	.post-menu .drop-post-menu{
		left:-20px !important;
		right:-20px !important;
		top:38px !important;
	}
	.post-menu .drop-post-menu ul{
		border-radius:0;
		padding:9px 0;
	}
	.post-menu .drop-post-menu ul a{
		padding:16px 27px;
	}
	.post-menu .drop-post-menu ul:before{
		right:31px;
	}
	.post-menu .drop-post-menu ul:after{
		right:33px;
	} */

	.activity-post-popup{
		display:block;
		position:absolute;
		z-index:5000;
		width:100%;
		left:0;
		top:83px;
		bottom:0;
		background:#fff;
	}
	.activity-post-popup .heading-block{
		border-bottom:3px solid #c9d0d5;
		position:relative;
		z-index:10;
		-webkit-box-shadow:0 0 6px 0 rgba(0,0,0,0.6);
		box-shadow:0 0 6px 0 rgba(0,0,0,0.6);
		text-align:center;
		color:#4d5163;
		padding:15px 10px 16px;
	}
	.activity-post-popup .heading-block h3{
		font-size:24px;
		line-height:28px;
		font-weight:bold;
		margin:0;
	}
	.activity-post-popup .activity-tabset{
		padding:15px 0 14px;
		margin:0;
		list-style:none;
		overflow:hidden;
		border-bottom:1px solid #bfcbda;
	}
	.activity-post-popup .activity-tabset li{
		float:left;
		width:25%;
		border-left:1px solid #a9b2bf;
		text-align:center;
	}
	.activity-post-popup .activity-tabset li:first-child{
		border:none;
	}
	.activity-post-popup .activity-tabset a{
		display:block;
		font-size:14px;
		line-height:18px;
		font-weight:600;
		text-decoration:none;
		color:$add-text-color;
		padding:2px 5px;
	}
	.activity-post-popup .activity-tabset li.active a,
	.activity-post-popup .activity-tabset li a:hover,
	.activity-post-popup .activity-tabset li a:focus{
		color:$base-link-color;
	}
	.activity-post-popup .footer-box{
		padding:15px 10px;
		text-align:center;
		background:#dfe4e8;
		display:block;
		height:auto;
	}
	.activity-post-popup .footer-box .btn-close{
		display:inline-block;
		vertical-align:top;
		position:relative;
		overflow:hidden;
		width:112px;
		height:50px;
		border-radius:8px;
		color:#fff;
		font:bold 12px/15px "Roboto",Arial,Helvetica,san-serif;
		background:$base-link-color;
		transition: all 0.3s ease-in-out;
		z-index:4;
		text-align:center;
		padding:13px 5px;
		font-size:18px;
		line-height:24px;
		font-weight:bold;
	}
	.activity-post-popup .footer-box .btn-close:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 1px solid $base-link-color;
		z-index: -1;
		border-radius: inherit;
		opacity: 0;
		transform: scale3d(0.6, 0.6, 1);
		transition: transform 0.3s, opacity 0.3s;
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	}
	.activity-post-popup .footer-box .btn-close:hover {
		background: #ffe0cc;
		color:$base-link-color;
		text-decoration:none;
	}
	.activity-post-popup .footer-box .btn-close:hover:before {
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
	.activity-post-popup .activity-tab-content{
		padding:20px 30px;
		position:relative;
		overflow:hidden;
	}
	.activity-post-popup .post-contacts .image-box{
		width:40px;
		height:40px;
		margin:0 30px 0 0;
		border:none;
	}
	.activity-post-popup .post-contacts .text-holder h3{
		font-size:18px;
		line-height:24px;
	}
	.activity-post-popup .post-contacts .text-holder,
	.activity-post-popup .post-contacts .text-holder .date{
		font-size:10px;
		line-height:16px;
	}
	.activity-post-popup .post-contacts{
		padding:9px 30px 8px 0;
	}
	.activity-post-popup .contacts-posts-container{
		max-height:600px;
	}
	.slideshow-images-post-holder{
		white-space:nowrap;
		width:100%;
		height:800px;
	}
	.slideshow-images-post-holder:after{
			content:'';
			display:inline-block;
			height:100%;
			width:1px;
			overflow:hidden;
			margin:0 0 0 -5px;
			vertical-align:middle;
	}
	.slideshow-images-post-frame{
		vertical-align:middle;
		display:inline-block;
		white-space:normal;
		width:100%;
	}
	.general-post-gallery-popup .gallery-post-section{
		display:none;
	}
	.slideshow-images-post{
		padding:10px 0;
	}
	.slideshow-images-post .slideshow-menu-holder{
		display:none;
	}

	.gallery-popup-heading-bar{
		display:block;
		position:absolute;
		width:100%;
		left:0;
		top:0;
		z-index:10;
		height:66px;
		padding:23px 30px 21px;
		text-align:center;
	}
	.gallery-popup-heading-bar .link-all-photos{
		float:left;
		font-size:18px;
		line-height:24px;
		font-weight:bold;
		color:#fff;
		position:relative;
		padding:0 0 0 38px;
		transition: all 0.35s ease;
	}
	.gallery-popup-heading-bar .link-all-photos:after{
		content:'';
		position:absolute;
		left:0;
		top:50%;
		width:22px;
		height:16px;
		background:url(../images/time_icons/gallery-left.png) no-repeat;
		margin:-8px 0 0;
		transition: all 0.35s ease;
	}
	.gallery-popup-heading-bar .link-all-photos:hover,
	.gallery-popup-heading-bar .link-all-photos:focus{
		text-decoration:none;
		color:#bfcbda;
		transition: all 0.35s ease;
	}
	.gallery-popup-heading-bar .link-all-photos:hover:after,
	.gallery-popup-heading-bar .link-all-photos:focus:after{
		background:url(../images/time_icons/gallery-left-hover.png) no-repeat;
		transition: all 0.35s ease;
	}
	.gallery-popup-heading-bar .link-photo{
		float:left;
		font-size:18px;
		line-height:24px;
		font-weight:bold;
		color:#fff;
		position:relative;
		padding:0 0 0 38px;
		transition: all 0.35s ease;
		display:none;
	}
	.gallery-popup-heading-bar .link-photo:after{
		content:'';
		position:absolute;
		left:0;
		top:50%;
		width:22px;
		height:16px;
		background:url(../images/time_icons/gallery-left.png) no-repeat;
		margin:-8px 0 0;
		transition: all 0.35s ease;
	}
	.gallery-popup-heading-bar .link-photo:hover,
	.gallery-popup-heading-bar .link-photo:focus{
		text-decoration:none;
		color:#bfcbda;
		transition: all 0.35s ease;
	}
	.gallery-popup-heading-bar .link-photo:hover:after,
	.gallery-popup-heading-bar .link-photo:focus:after{
		background:url(../images/time_icons/gallery-left-hover.png) no-repeat;
		transition: all 0.35s ease;
	}
	.gallery-popup-heading-bar .link-all-photos:before,
	.gallery-popup-heading-bar .link-photo:before,
	.gallery-popup-heading-bar .link-back:before{
		content:'';
		position:absolute;
		left:-10px;
		top:-10px;
		right:-10px;
		bottom:-10px;
	}
	.gallery-popup-heading-bar .link-back{
		float:left;
		width:22px;
		height:16px;
		background:url(../images/time_icons/gallery-left.png) no-repeat;
		transition: all 0.35s ease;
		position:relative;
		display:none;
	}
	.gallery-popup-heading-bar .link-back:hover,
	.gallery-popup-heading-bar .link-back:focus{
		background:url(../images/time_icons/gallery-left-hover.png) no-repeat;
		transition: all 0.35s ease;
		text-decoration:none;
	}
	.gallery-popup-footer-bar{
		display:block;
		position:absolute;
		width:100%;
		height:80px;
		padding:26px 15%;
		left:0;
		bottom:0;
		z-index:10;
		text-align:center;
	}
	.gallery-popup-footer-bar .link-share{
		float:left;
		width:23px;
		height:26px;
		background:url(../images/time_icons/share-white-popup.png) no-repeat;
		transition: all 0.35s ease;
	}
	.gallery-popup-footer-bar .link-share:hover,
	.gallery-popup-footer-bar .link-share:focus{
		text-decoration:none;
		background:url(../images/time_icons/share-white-popup-hover.png) no-repeat;
		transition: all 0.35s ease;
	}
	.gallery-popup-footer-bar .link-comments{
		float:right;
		width:23px;
		height:22px;
		margin:6px 2px 0 0;
		background:url(../images/time_icons/comment-white-popup.png) no-repeat;
		transition: all 0.35s ease;
	}
	.gallery-popup-footer-bar .link-comments:hover,
	.gallery-popup-footer-bar .link-comments:focus{
		text-decoration:none;
		background:url(../images/time_icons/comment-white-popup-hover.png) no-repeat;
		transition: all 0.35s ease;
	}
	.gallery-popup-footer-bar .link-like{
		display:inline-block;
		vertical-align:top;
		width:24px;
		height:24px;
		background:url(../images/time_icons/like-white-popup.png) no-repeat;
		transition: all 0.35s ease;
		margin:1px 0 0;
	}
	.gallery-popup-footer-bar .link-like:hover,
	.gallery-popup-footer-bar .link-like:focus{
		text-decoration:none;
		background:url(../images/time_icons/like-white-popup-hover.png) no-repeat;
		transition: all 0.35s ease;
	}
	.slideshow-images-post .slide .signature-photos{
		left:29.7%;
		top:9.4%;
	}
	.general-post-gallery-popup.gallery-post-section-active .gallery-post-section{
		display:block;
		position:absolute;
		width:100%;
		left:0;
		top:66px;
		height:100%;
		z-index:20;
	}
	.general-post-gallery-popup.gallery-post-section-active .gallery-popup-heading-bar .link-all-photos{
		display:none;
	}
	.general-post-gallery-popup.gallery-post-section-active .gallery-popup-heading-bar .link-photo{
		display:block;
	}
	.general-post-gallery-popup.gallery-post-section-active .gallery-popup-heading-bar{
		background:$base-link-color;
	}
	.general-post-gallery-popup .general-post-section{
		padding:32px 35px 30px;
	}
	.general-post-gallery-popup .general-post-section .heading-block .date{
		font-size:14px;
		line-height:18px;
		margin:1px 0 20px;
	}
	.general-post-gallery-popup .general-post-section .excerpt{
		font-size:16px;
		line-height:24px;
		padding:0 0 55px;
	}
	.general-post-gallery-popup .general-post-section .footer-bar{
		padding:0;
		margin:0;
		background:none;
	}
	.general-post-gallery-popup .general-post-section .footer-bar .like-section .share-box,
	.general-post-gallery-popup .general-post-section .footer-bar .like-section .like-box{
		padding:0;
		border:none;
		width:auto;
	}
	.general-post-gallery-popup .general-post-section .footer-bar .like-section{
		width:auto;
	}
	.general-post-gallery-popup .general-post-section .footer-bar .like-section .share-box{
		margin:0 39px 0 0;
	}
	.general-post-gallery-popup .general-post-section .footer-bar .like-section .like-box{
		margin:0 13px 0 0;
	}
	.general-post-gallery-popup .comments-section{
		margin:29px -20px -15px;
	}
	.btn-see-all-activity{
		display:block;
		float:right;
		font-size:14px;
		line-height:18px;
		color:$base-link-color;
		padding:8px 21px;
		min-width:120px;
		border-radius:3px;
		background:#ecf1f5;
		margin:-6px 0 0;
		transition: all 0.35s ease;
		overflow:hidden;
	}
	.btn-see-all-activity:hover,
	.btn-see-all-activity:focus{
		text-decoration:none;
		background:#bfcbda;
		color:#fff;
		transition: all 0.35s ease;
	}
	.general-post-gallery-popup .gallery-comments-section .contacts-tabset li{
		width:auto;
		border:none;
	}
	.general-post-gallery-popup .gallery-comments-section .contacts-tabset,
	.general-post-gallery-popup .gallery-comments-section .view-all{
		font-size:14px;
		line-height:18px;
	}
	.general-post-gallery-popup .gallery-comments-section .contacts-tabset li a,
	.general-post-gallery-popup .gallery-comments-section .view-all{
		padding:2px 45px;
		margin:0;
		border-left:1px solid $add-text-color;
		width:auto;
		min-width:10px;
	}
	.general-post-gallery-popup .gallery-comments-section .view-all{
		border-left:none;
		padding-left:0;
	}
	.general-post-gallery-popup .gallery-comments-section .contacts-tabset li:first-child a{
		border:none;
	}
	.general-post-gallery-popup .gallery-comments-section{
		padding:9px 30px 9px 10px;
	}
	.general-post-gallery-popup.all-photo-state .gallery-popup-heading-bar .link-back{
		display:block;
	}
	.general-post-gallery-popup.all-photo-state .gallery-popup-heading-bar .link-all-photos{
		display:none;
	}
	.gallery-popup-heading-bar .title{
		display:inline-block;
		vertical-align:top;
		font-size:18px;
		line-height:24px;
		font-weight:bold;
		color:#fff;
		margin:-4px 0 0;
		display:none;
	}
	.general-post-gallery-popup.all-photo-state .gallery-popup-heading-bar .title{
		display:inline-block;
	}
	.general-post-gallery-popup.all-photo-state .gallery-popup-heading-bar .gallery-popup-menu{
		display:block;
	}
	.gallery-popup-heading-bar .gallery-popup-menu{
		display:none;
		float:right;
	}
	.gallery-popup-heading-bar .gallery-popup-menu .gallery-popup-menu-opener{
		display:inline-block;
		vertical-align:top;
		text-decoration:none;
		position:relative;
		margin:3px 0 0;
	}
	.gallery-popup-heading-bar .gallery-popup-menu .gallery-popup-menu-opener span{
		float:left;
		width:6px;
		height:6px;
		border-radius:10px;
		overflow:hidden;
		margin:0 0 0 4px;
		background:#fff;
	}
	.gallery-popup-heading-bar .gallery-popup-menu .gallery-popup-menu-opener span:first-child{
		margin-left:0;
	}
	.gallery-popup-heading-bar .gallery-popup-menu .gallery-popup-menu-opener:before{
		content:'';
		position:absolute;
		left:-10px;
		top:-10px;
		right:-10px;
		bottom:-10px;
	}
	.gallery-popup-heading-bar .gallery-popup-menu .gallery-popup-menu-slider{
		position:absolute;
		width:100%;
		top:61px;
		right:0;
		z-index:10;
		background:#fff;
		font-size:16px;
		line-height:20px;
		text-align:left;
		padding:10px 0;
		display:none;
	}
	.gallery-popup-heading-bar .gallery-popup-menu .gallery-popup-menu-slider:before{
		content:'';
		position:absolute;
		right:30px;
		top:-26px;
		border:solid;
		border-width:13px;
		border-color:transparent transparent #fff transparent;
	}
	.gallery-popup-heading-bar .gallery-popup-menu .gallery-popup-menu-slider a{
		display:block;
		padding:16px 20px;
		height:50px;
		transition: all 0.35s ease;
		color:#333;
	}
	.gallery-popup-heading-bar .gallery-popup-menu .gallery-popup-menu-slider a:hover,
	.gallery-popup-heading-bar .gallery-popup-menu .gallery-popup-menu-slider a:focus{
		text-decoration:none;
		background:#d2d9df;
		transition: all 0.35s ease;
	}
	.general-post-gallery-popup{
		padding:66px 0 80px;
	}
	.general-post-gallery-popup.all-photo-state .slideshow-images-post-holder{
		display:none;
	}
	.general-post-gallery-popup .slideshow-images-post-tile{
		padding:0;
		margin:0;
		list-style:none;
		overflow:hidden;
		display:none;
	}
	.general-post-gallery-popup .slideshow-images-post-tile li{
		float:left;
		width:25%;
	}
	.general-post-gallery-popup .slideshow-images-post-tile li img{
		display:block;
		width:100%;
		height:auto;
		max-width:500%;
	}
	.general-post-gallery-popup .slideshow-images-post-tile a{
		display:block;
		position:relative;
		padding:1px;
	}
	.general-post-gallery-popup .slideshow-images-post-tile a:before{
		content:'';
		position:absolute;
		left:0;
		top:0;
		right:0;
		bottom:0;
		border:6px solid #6b7583;
		display:none;
	}
	.general-post-gallery-popup .slideshow-images-post-tile a:hover:before,
	.general-post-gallery-popup .slideshow-images-post-tile a:focus:before{
		display:block;
	}
	.general-post-gallery-popup.all-photo-state .slideshow-images-post-tile{
		display:block;
	}
	.photos-section .pagination-photos,
	.video-section .pagination-video{
		padding-bottom:1px;
	}
}

@include media("<tablet"){
	.like-section .like-box .opener-like-box .icon,
	.like-section .share-box .icon{
		margin:0 2px 0 0;
	}
	.contacts-tabset{
		font-size:12px;
		line-height:15px;
		padding:5px 46px;
	}
	.general-post-section.active-comment-section .activity-persons-section.bottom{
		margin:14px -20px -14px;
	}
	.contacts-tabset-add-gallery .btn-prev,
	.contacts-tabset-add-gallery .btn-next{
		width:46px;
	}
	.contacts-tabset a{
		min-width:50px;
		padding:5px 21px;
	}
	.contacts-tab-content{
		padding:14px 8px 15px 20px;
	}
	.post-contacts{
		padding:10px 40px 9px 0;
	}
	.post-contacts .menu-comment,
	.post-contacts .like-section{
		right:15px;
	}
	.form-writing-comment .input-holder input{
		height:30px;
		padding:8px 100px 6px 20px;
	}
	.upload-form-menu{
		top:12px;
		right:35px;
	}
	.form-writing-comment{
		padding:5px 20px 40px;
	}
	.form-writing-comment .btn-send{
		right:20px;
	}
	.photos-section,
	.video-section{
		margin:0 -20px;
	}
	/* .general-post-section .general-post-section .text-container{
		margin:0 0 35px;
	} */
	.activity-post-popup .activity-tab-content{
		padding:12px 20px;
	}
	.activity-post-popup .post-contacts .image-box{
		margin:0 20px 0 0;
	}
	.gallery-popup-heading-bar{
		padding:20px;
		height:60px;
	}
	.slideshow-images-post-holder{
		height:500px;
	}
	.gallery-popup-footer-bar{
		padding:22px 14%;
	}
	.general-post-gallery-popup.gallery-post-section-active .gallery-post-section{
		top:60px;
	}
	.general-post-gallery-popup .general-post-section{
		padding:17px 20px 18px;
	}
	.general-post-gallery-popup .general-post-section .heading-block .date{
		margin:2px 0 20px;
	}
	.general-post-gallery-popup .general-post-section .heading-block .info{
		font-size:14px;
		line-height:18px;
	}
	.general-post-gallery-popup .general-post-section .excerpt{
		padding:0 0 30px;
	}
	.general-post-gallery-popup .general-post-section .footer-bar .like-section .share-box{
		margin:0 25px 0 0;
	}
	.general-post-gallery-popup .general-post-section .footer-bar .like-section .like-box{
		margin:0 9px 0 0;
	}
	.general-post-gallery-popup .gallery-comments-section .contacts-tabset li a,
	.general-post-gallery-popup .gallery-comments-section .view-all{
		padding:1px 28px;
	}
	.general-post-gallery-popup .gallery-comments-section{
		padding:9px 30px 9px 14px;
	}
	.gallery-comments-section .btn-next{
		top:12px;
	}
	.general-post-gallery-popup .contacts-tab-content{
		padding:13px 7px 8px 20px;
	}
	.post-contacts .image-box{
		margin:2px 21px 0 0;
	}
	.general-post-gallery-popup .post-contacts .text-holder .date{
		font-size:12px;
		line-height:18px;
	}
	.post-contacts .text-holder .text{
		margin:0 0 5px;
	}
	.general-post-gallery-popup .slideshow-images-post-tile a:before{
		border-width:4px;
	}
	.general-post-gallery-popup{
		padding:60px 0 80px;
	}
	.gallery-popup-heading-bar .gallery-popup-menu .gallery-popup-menu-opener{
		margin:6px 6px 0 0;
	}
	.gallery-popup-heading-bar .gallery-popup-menu .gallery-popup-menu-slider:before{
		right:26px;
	}
}
@include media("<phone"){
	.photos-section .pagination-photos .add-link-photo{
		font-size:10px;
		line-height:12px;
		padding:4px;
	}
	.general-post-section .general-post-section .heading-block h2{
		font-size:13px;
	}
	.general-post-section .general-post-section .text-container{
		margin-bottom:15px;
	}
}

.post-menu{
	position:absolute;
	top:12px;
	right:11px;
	z-index:10;
}
.post-menu .opener-post-menu{
	display:block;
	padding:10px;
	overflow:hidden;
}
.post-menu.active-post-menu .opener-post-menu span,
.post-menu .opener-post-menu:hover span{
	background:$add-text-color;
	transition: all 0.35s ease-in-out;
}
.post-menu .opener-post-menu span{
	display:block;
	width:6px;
	height:6px;
	border-radius:8px;
	overflow:hidden;
	background:#d7dfe6;
	margin:0 0 0 4px;
	float:left;
	transition: all 0.35s ease-in-out;
}
.post-menu .opener-post-menu span:first-child{
	margin-left:0;
}
.post-menu .drop-post-menu{
	position:absolute;
	left:auto !important;
	right:-2px !important;
	top:33px !important;
	display:block !important;
	z-index:11;
}
.post-menu .drop-post-menu ul{
	padding:12px 0;
	margin:0;
	list-style:none;
	font-size:14px;
	line-height:18px;
	box-shadow: 0 0 5px rgba(0,0,0,.6);
	background:#fff;
	border-radius:5px;
	transition: all 0.35s ease-in-out;
	visibility:none;
	pointer-events:none;
	opacity:0;
}
.post-menu .drop-post-menu ul:after{
	content:'';
	position:absolute;
	right:15px;
	top:-18px;
	border:solid;
	border-width:9px 10px;
	border-color:transparent transparent #fff transparent;
	margin:0 0 0 -9px;
	pointer-events:none;
}
.post-menu .drop-post-menu ul:before{
	content:'';
	position:absolute;
	right:13px;
	top:-22px;
	border:solid;
	border-width:11px 12px;
	border-color:transparent transparent #bfbfbf transparent;
	margin:0 0 0 -11px;
	pointer-events:none;
}
.post-menu .drop-post-menu ul a{
	display:block;
	padding:4px 20px 2px;
	white-space:nowrap;
	text-decoration:none;
	color:#333;
	transition: all 0.35s ease-in-out;
}
.post-menu .drop-post-menu ul a:hover{
	background:#d2d9df;
	transition: all 0.35s ease-in-out;
}
.post-menu.active-post-menu .drop-post-menu ul{
	transition: all 0.35s ease-in-out;
	transform: translateY(0);
	visibility:visible;
	pointer-events:auto;
	opacity:1;
}
.comments-section{
	position:relative;
	overflow:hidden;
	background:$base-posts-border-color;
	margin:14px -22px -15px;
	border-radius:0 0 5px 5px;
}
.comments-section.comments-section-slider{
	display:none;
}

@include media("<desktop"){
	.activity-persons-section.top{
		display:block;
	}
	.activity-persons-section.bottom{
		display:none;
	}
	.activity-persons-section{
		margin:0 -27px;
		padding:7px 30px 6px;
		background:#fff;
	}
	.general-post-section{
	padding:18px 27px 15px;
	line-height:18px;
	margin-bottom:42px;
	}
	.general-post-section .heading-block h2{
	margin:0 7px 0 0;
	}
	.general-post-section .heading-block .info{
	font-size:14px;
	line-height:18px;
	}
	.post-menu{
	right:20px;
	}
	.general-post-section .add-menu .slide-add-menu ul{
	font-size:14px;
	line-height:18px;
	}
	.general-post-section .text-container .more-link{
	font-size:14px;
	line-height:16px;
	margin:3px 0 0;
	}
	.general-post-section .image-section{
	margin:0 -27px;
	}
	.general-post-section .text-container{
	margin:0 0 20px;
	}
	.general-post-section .add-tablet-date{
	display:block;
	position:absolute;
	top:48px;
	right:30px;
	font-size:14px;
	line-height:18px;
	color:$light-gray-text-color;
	}
	.general-post-section .footer-bar{
	margin:0 -27px -15px;
	padding:13px 2px 12px 30px;
	background:$base-posts-border-color;
	}
	.general-post-section .footer-bar .date-box ul li{
	display:none;
	}
	.general-post-section .footer-bar .date-box ul li:after{
	display:none;
	}
	.general-post-section .footer-bar .date-box ul li.comments-link{
	display:block;
	}
	.general-post-section .footer-bar .like-section{
	width:55%;
	margin:0;
	}
	.general-post-section .footer-bar .like-section .share-box,
	.general-post-section .footer-bar .like-section .like-box{
	width:25%;
	margin:0;
	padding:4px 5px 6px 10px;
	position:relative;
	border-left:1px solid $light-gray-text-color;
	text-align:center;
	}
	.general-post-section .footer-bar .like-section .share-box .icon,
	.general-post-section .footer-bar .like-section .like-box .icon,
	.general-post-section .footer-bar .like-section .share-box .number,
	.general-post-section .footer-bar .like-section .like-box .number{
	float:none;
	display:inline-block;
	vertical-align:top;
	}
	.general-post-section .footer-bar .date-box{
	width:40%;
	text-align:center;
	}
	.general-post-section .footer-bar .date-box ul{
	float:none;
	display:inline-block;
	vertical-align:top;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
	padding:2px 0 0;
	}
	.general-post-section.active-comment-section .activity-persons-section.top{
	display:none;
	}
	.general-post-section.active-comment-section .activity-persons-section.bottom{
	display:block;
	margin:15px -27px -14px;
	}
	.general-post-section.active-comment-section .comments-link{
	opacity:1;
	visibility:visible;
	pointer-events:auto;
	}
	.general-post-section.no-comments .footer-bar .date-box{
	display:none;
	}
	.general-post-section.no-comments .footer-bar .like-section{
	width:100%;
	}
	.general-post-section.no-comments .footer-bar{
	padding:13px 2px 12px;
	}
	.general-post-section.no-comments .footer-bar .like-section .share-box{
	border:none;
	}

	.post-menu{
		left:20px;
		pointer-events:none;
	}
	.post-menu .opener-post-menu{
		pointer-events:auto;
		float:right;
	}
	.post-menu .drop-post-menu{
		left:-20px !important;
		right:-20px !important;
		top:38px !important;
	}
	.post-menu .drop-post-menu ul{
		border-radius:0;
		padding:9px 0;
	}
	.post-menu .drop-post-menu ul a{
		padding:16px 27px;
	}
	.post-menu .drop-post-menu ul:before{
		right:31px;
	}
	.post-menu .drop-post-menu ul:after{
		right:33px;
	}
	.comments-section{
		margin:14px -27px -15px;
	}
}

@include media("<tablet"){
	.general-post-section{
	padding:18px 20px 15px;
	margin-bottom:23px;
	}
	.general-post-section .heading-block .info{
	font-size:12px;
	line-height:15px;
	}
	.post-menu{
	right:10px;
	}
	.post-menu .drop-post-menu ul a{
	height:50px;
	padding:17px 20px;
	}
	.general-post-section .add-tablet-date{
	font-size:12px;
	line-height:15px;
	right:20px;
	}
	.general-post-section .text-container{
	line-height:17px;
	margin:0 0 10px;
	}
	.general-post-section .text-container p{
	margin:0 0 8px;
	}
	.general-post-section .text-container .more-link{
	margin:0;
	font-size:12px;
	line-height:15px;
	}
	.general-post-section .image-section{
	margin:0 -20px;
	}
	.activity-persons-section{
	padding:7px 20px;
	margin:0 -20px;
	}
	.general-post-section .footer-bar .like-section{
	width:60%;
	}
	.general-post-section .footer-bar .date-box{
	width:35%;
	}
	.general-post-section .add-menu .slide-add-menu{
	margin-left:-118px;
	}
	.general-post-section .footer-bar{
	margin:0 -20px -15px;
	}
	.general-post-section .footer-bar .like-section .share-box,
	.general-post-section .footer-bar .like-section .like-box{
	padding:4px 2px 6px 4px;
	}
	.general-post-section.active-comment-section .activity-persons-section.bottom{
	margin:14px -20px -14px;
	}
	.general-post-section .general-post-section .text-container{
	margin:0 0 35px;
	}
	.comments-section{
		margin:14px -20px -15px;
	}
}

@include media("<phone"){
	.general-post-section .add-tablet-date{
	font-size:10px;
	line-height:12px;
	top:48px;
	}
	.general-post-section .heading-block h2{
	font-size:16px;
	line-height:20px;
	}
	.general-post-section .heading-block .info{
	font-size:10px;
	line-height:12px;
	}
	.general-post-section .heading-block .image-box{
	margin:0 10px 0 0;
	}
	.general-post-section .heading-block{
	padding-right:62px;
	}
	.general-post-section .footer-bar{
	padding-left:5px;
	}
	.general-post-section .footer-bar .date-box{
	width:25%;
	}
	.general-post-section .footer-bar .like-section{
	width:74%;
	}
	.general-post-section .general-post-section .heading-block h2{
	font-size:13px;
	}
	.general-post-section .general-post-section .text-container{
	margin-bottom:15px;
	}
}



.general-post-section .heading-block .location-link{
	display:inline-block;
	vertical-align:top;
	width:15px;
	height:20px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/time_icons/location.png) no-repeat;
	transition: all 0.35s ease;
}
.general-post-section .heading-block .location-link:hover,
.general-post-section .heading-block .location-link:focus{
	transition: all 0.35s ease;
	background:url(../images/time_icons/location-hover.png) no-repeat;
}
.general-post-section .general-post-section .map-post-section{
	margin:5px -12px -5px;
}
.general-post-section.media-post .heading-block .text-holder{
	padding:0;
}
.general-post-section .heading-block .decor-icon{
	display:inline-block;
	vertical-align:top;
	margin:3px 0 0;
}
.general-post-section .heading-block .decor-icon img{
	vertical-align:top;
}


.general-post-section.lifetime-post:before,
.general-post-section.lifetime-post:after{
	display:none;
}
.general-post-section.lifetime-post .lifetime-base-image{
	position:relative;
	overflow:hidden;
	margin:-18px -22px 0;
}
.general-post-section.lifetime-post .lifetime-base-image>img{
	display:block;
	width:100%;
	height:auto;
	max-width:500%;
}
.general-post-section.lifetime-post .heading-block{
	position:absolute;
	width:100%;
	left:22px;
	top:22px;
	color:#fff;
	margin:0;
}
.general-post-section.lifetime-post .post-menu{
	top:15px;
}
.general-post-section.lifetime-post .heading-block a{
	color:#fff;
}
.general-post-section.lifetime-post .heading-block a:hover,
.general-post-section.lifetime-post .heading-block a:focus{
	text-decoration:underline;
}
.general-post-section.lifetime-post .heading-block h2{
	margin:0;
}
.general-post-section.lifetime-post .heading-block h2 a{
	padding:0;
}
.general-post-section.lifetime-post .heading-block h2 a:before,
.general-post-section.lifetime-post .heading-block h2 a:after{
	display:none;
}
.general-post-section.lifetime-post .heading-block .text{
	display:inline-block;
	vertical-align:top;
	line-height:24px;
}
.general-post-section.lifetime-post .heading-block .text-holder{
	padding:13px 76px 0 0;
}
.general-post-section.lifetime-post .heading-block .decor-icon{
	display:inline-block;
	vertical-align:top;
	margin:3px 0 0 7px;
}
.general-post-section.lifetime-post .heading-block .decor-icon img{
	vertical-align:top;
}
.general-post-section.lifetime-post .text-container{
	margin:0;
}
.general-post-section.lifetime-post .text-container p{
	margin:18px 0;
}
.general-post-section.lifetime-post .text-container .more-link{
	position:absolute;
	left:0;
	top:-31px;
	color:#fff;
	margin:0;
}
.general-post-section.lifetime-post .text-container .more-link:after{
	background:#fff;
}
.general-post-section.lifetime-post .footer-bar{
	padding:14px 0 0;
}
.general-post-section.lifetime-post .image-section{
	margin-bottom:0;
	margin-top:1px;
}
.general-post-section.lifetime-post .menu-info-content{
	position:absolute;
	z-index:3;
	left:100px;
	bottom:16px;
	font-size:12px;
	line-height:15px;
}
.general-post-section.lifetime-post .menu-info-content li{
	float:left;
	margin:0 0 0 15px;
}
.general-post-section.lifetime-post .menu-info-content a{
	display:block;
	color:#fff;
	opacity:0.4;
}
.general-post-section.lifetime-post .menu-info-content a:hover,
.general-post-section.lifetime-post .menu-info-content a:focus{
	text-decoration:none;
	color:#fff;
	opacity:1;
}
.general-post-section.lifetime-post .menu-info-content li:first-child{
	margin-left:0;
}
.general-post-section.lifetime-post .menu-info-content .icon{
	float:left;
	margin:0 5px 0 0;
}
.general-post-section.lifetime-post .menu-info-content .icon>img{
	vertical-align:top;
}
.general-post-section.lifetime-post .menu-info-content .number{
	float:left;
	padding:3px 0 0;
}
.general-post-section.lifetime-post .photos-section,
.general-post-section.lifetime-post .video-section{
	margin-bottom:0;
	margin-top:1px;
}
.general-post-section.lifetime-post.reply-section >.heading-block{
	position:relative;
	left:0;
	top:0;
	margin:0 0 20px;
	color:inherit;
}
.general-post-section.lifetime-post.reply-section >.heading-block a{
	color:$add-text-color;
}
.general-post-section.lifetime-post.reply-section >.heading-block a:before,
.general-post-section.lifetime-post.reply-section >.heading-block a:after{
	display:none;
}
.general-post-section.lifetime-post.reply-section >.heading-block .text{
	line-height:14px;
}
.general-post-section.lifetime-post.reply-section .general-post-section{
	padding-bottom:0;
	margin-bottom:0;
}
.general-post-section.lifetime-post.reply-section .general-post-section .text-container p{
	margin:12px 0;
}
.general-post-section.lifetime-post .heading-block .add-text{
	margin-left:2px;
}

@include media("<desktop"){
	.general-post-section.lifetime-post .lifetime-base-image{
		margin:-18px -27px 0;
	}
	.general-post-section.lifetime-post .heading-block{
		top:18px;
	}
	.general-post-section.lifetime-post .post-menu{
		top:11px;
	}
	.general-post-section.lifetime-post .add-tablet-date{
		top:46px;
		color:#fff;
	}
	.general-post-section.lifetime-post .text-container .more-link{
		left:-8px;
		top:-37px;
	}
	.general-post-section.lifetime-post .menu-info-content{
		bottom:21px;
	}
	.general-post-section.lifetime-post .footer-bar{
		padding-bottom:15px;
	}
	.general-post-section.lifetime-post .text-container p{
		line-height:17px;
		margin:14px 0;
	}
	.general-post-section.lifetime-post.reply-section .general-post-section{
		margin-bottom:18px;
	}
}
@include media("<tablet"){
	.general-post-section.lifetime-post .lifetime-base-image{
		margin:-18px -20px 0;
	}
	.general-post-section.lifetime-post .footer-bar{
		padding:13px 0 12px;
	}
	.general-post-section.lifetime-post .heading-block{
		top:20px;
		left:20px;
	}
	.general-post-section.lifetime-post .post-menu{
		top:13px;
	}
	.general-post-section.lifetime-post .add-tablet-date{
		top:49px;
	}
	.general-post-section.lifetime-post .menu-info-content{
		bottom:16px;
		left:98px;
	}
	.general-post-section.lifetime-post .text-container .more-link{
		left:-1px;
		top:-31px;
	}
}
@include media("<phone"){
	.general-post-section.lifetime-post .heading-block .text{
		line-height:20px;
	}
	.general-post-section.lifetime-post .heading-block .text-holder{
		padding-top:5px;
	}
	.general-post-section.lifetime-post .general-post-section .heading-block .text-holder{
		padding-top:0;
	}
}

.map-post-section{
	position:relative;
	overflow:hidden;
	margin:-14px -22px 14px;
}
.map-post-section .map-post-opener{
	display:block;
	text-align:center;
	padding:11px 5px;
	background:url(../images/pictures/pic-63.jpg) no-repeat;
	-webkit-background-size:cover;
	background-size:cover;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
	color:#968e8e;
}
.map-post-section .map-post-slider{
	position:relative;
	overflow:hidden;
	display:none;
}
.map-post-section .map-post-slider>img{
	display:block;
	width:100%;
	height:auto;
}
.map-post-section .map-post-close{
	position:absolute;
	left:50%;
	bottom:0;
	width:50px;
	height:22px;
	border-radius:4px 4px 0 0;
	background:#fff;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 0 0 -25px;
	display:none;
}
.map-post-section .map-post-close:after{
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:14px;
	height:7px;
	background:url(../images/time_icons/arrow-top-map-close.png) no-repeat;
	margin:-4px 0 0 -7px;
	transition: all 0.35s ease;
}
.map-post-section .map-post-close:hover:after{
	background:url(../images/time_icons/arrow-top-map-close-hover.png) no-repeat;
	transition: all 0.35s ease;
}
.map-post-section.active .map-post-close{
	display:block;
}
.map-post-section.active .map-post-opener{
	display:none;
}

@include media("<desktop"){
	.map-post-section{
		margin:0 -27px;
	}
}

.media-post-container{
	position:relative;
	overflow:hidden;
	margin:-8px -22px 0;
	padding:0 22px;
}
.media-post-container .media-image-holder{
	float:left;
	width:221px;
	margin:0 19px 10px -22px;
}
.media-post-container .media-image-box{
	position:relative;
	overflow:hidden;
	margin:0 0 1px;
}
.media-post-container .media-image-box img{
	display:block;
	width:100%;
	height:auto;
}
.media-post-container .media-list{
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
}
.media-post-container .media-list li{
	float:left;
	width:33.33333333%;
}
.media-post-container .media-list a{
	display:block;
	position:relative;
	color:#fff;
}
.media-post-container .media-list a:hover,
.media-post-container .media-list a:focus{
	text-decoration:none;
}
.media-post-container .media-list a:after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:1px;
	background:#fff;
	z-index:3;
}
.media-post-container .media-list li:first-child a:after{
	display:none;
}
.media-post-container .media-list a img{
	display:block;
	width:100%;
	height:auto;
	max-width:500%;
}
.media-post-container .media-list .video-icon{
	position:absolute;
	top:50%;
	left:50%;
	width:16px;
	height:19px;
	background:url(../images/time_icons/video-icon.png) no-repeat;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	margin:-10px 0 0 -8px;
	z-index:3;
	text-indent:-9999px;
	overflow:hidden;
}
.media-post-container .media-list a:before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
	transition: all 0.35s ease;
	opacity:0;
	visibility:hidden;
}
.media-post-container .media-list a:hover:before,
.media-post-container .media-list a:focus:before{
	opacity:1;
	visibility:visible;
	transition: all 0.35s ease;
}
.media-post-container .media-list .text{
	position:absolute;
	padding:4px;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:3;
	background:rgba(0,0,0,0.4);
	white-space:nowrap;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
	text-align:center;
}
.media-post-container .media-list .text:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	overflow:hidden;
	margin:0 0 0 -5px;
	vertical-align:middle;
}
.media-post-container .media-list .text .frame{
	vertical-align:middle;
	display:inline-block;
	white-space:normal;
}
.media-post-container .media-list .text .number{
	display:block;
}
.media-post-container .media-text-holder{
	padding:13px 0 0;
}
.media-post-container .media-info-row{
	overflow:hidden;
	margin:0 0 6px;
	position:relative;
	font-size:14px;
	line-height:18px;
}
.media-post-container .media-info-row .title{
	float:left;
	width:60px;
	padding:0 5px 0 0;
	min-height:2px;
	color:#bfcbda;
}
.media-post-container .media-info-row .title.tracklist{
	margin-top:10px;
}
.media-post-container .media-info-row .description{
	overflow:hidden;
}
.media-post-container .media-info-row .description p{
	margin:0;
}
.media-post-container .media-info-row .list-stars{
	padding:0;
	margin:0;
	list-style:none;
}
.general-post-section .media-info-row .text-container .more-link{
	margin:8px 0 0;
}
.general-post-section.media-post .text-container .slide-text-holder{
	overflow:inherit;
}
.general-post-section.media-post .text-container .link-holder{
	overflow:hidden;
	margin:-3px 0 28px;
}
.general-post-section.media-post .text-container .link-holder .more-link{
	float:left;
	margin:0;
}
.general-post-section.media-post .text-container .link-holder .see-jass-more{
	float:right;
	color:$add-text-color;
	font-size:12px;
	line-height:14px;
}
.general-post-section.media-post .text-container .link-holder .see-jass-more:hover,
.general-post-section.media-post .text-container .link-holder .see-jass-more:focus{
	text-decoration:underline;
}

.tracklist-table{
	position:relative;
	overflow:hidden;
}
.tracklist-table table{
	width:100%;
	border-collapse:collapse;
	border:none;
	font-size:14px;
	line-height:18px;
}
.tracklist-table table td{
	padding:3px 0;
}
.tracklist-table table td:first-child{
	padding-right:5px;
}
.general-post-section.media-post .text-container.track-section .link-holder{
	margin:10px 0 28px;
}

.general-post-section.media-post .general-post-section .text-container{
	margin-bottom:5px;
}

.general-post-section.media-post.reply-post .heading-block .text-holder{
	padding-top:12px;
}
.general-post-section.media-post.reply-post{
	padding-top:15px;
}
.general-post-section.media-post.reply-post .general-post-section .heading-block .text-holder{
	padding:9px 0 3px;
}
.general-post-section.media-post.reply-post .general-post-section .heading-block{
	padding-left:10px;
}
.general-post-section.media-post.reply-post .general-post-section .heading-block h2{
	font-size:18px;
}
.general-post-section.media-post.reply-post .general-post-section .media-post-container{
	margin:0 -12px;
	padding:0 12px;
}
.general-post-section.media-post.reply-post .general-post-section .media-post-container .media-image-holder{
	margin:0 19px 10px -12px;
	width:199px;
}
.general-post-section.media-post.reply-post .general-post-section .media-post-container .media-info-row{
	font-size:12px;
	line-height:14px;
}
.general-post-section.media-post.reply-post .general-post-section  .media-post-container .media-text-holder{
	padding:8px 0 0;
}
.general-post-section.media-post.reply-post .general-post-section .media-post-container .media-info-row{
	margin:0 0 10px;
}
.general-post-section.media-post.reply-post .general-post-section .media-post-container .media-info-row .title{
	width:73px;
}
.general-post-section.media-post.reply-post .general-post-section .media-post-container .media-info-row .list-stars li{
	margin:0 0 4px;
}
.general-post-section.media-post.reply-post .general-post-section .text-container{
	font-size:12px;
	line-height:14px;
}
.general-post-section.media-post.reply-post .general-post-section .text-container p{
	margin:0 0 10px;
}

@include media("<desktop"){
	.general-post-section.media-post .heading-block .info{
		font-size:12px;
		line-height:14px;
	}
	.general-post-section.media-post .add-tablet-date{
		font-size:12px;
		line-height:15px;
	}
	.media-post-container{
		margin:-8px -27px 0;
		padding:0 27px;
	}
	.media-post-container .media-image-holder{
		margin:0 19px 10px -27px;
		width:52%;
	}
	.media-post-container .media-info-row .title{
		width:23%;
		min-width:60px;
	}
	.general-post-section.media-post .activity-persons-section.top{
		display:none;
	}
	.general-post-section.media-post .activity-persons-section.bottom{
		display:block;
		margin-top:15px;
		margin-bottom:-15px;
	}
	.tracklist-table table{
		font-size:12px;
		line-height:14px;
	}
	.general-post-section.media-post.reply-post .general-post-section .media-post-container .media-image-holder{
		width:54%;
	}
	.general-post-section.media-post.reply-post .media-info-row .text-container .more-link{
		font-size:12px;
		line-height:15px;
	}
	.general-post-section.media-post .text-container .link-holder .more-link{
		font-size:12px;
		line-height:15px;
	}
}
@include media("<tablet"){
	.general-post-section.media-post .add-tablet-date{
		top:42px;
	}
	.media-post-container{
		margin:-8px -22px 0;
		padding:0 22px;
	}
	.media-post-container .media-image-holder{
		margin:0 19px 10px -22px;
		width:45.8%;
	}
	.media-post-container .media-info-row .title{
		min-width:66px;
	}
	.general-post-section.media-post .text-container .link-holder{
		margin-bottom:10px;
	}
	.general-post-section.media-post.reply-post .general-post-section .media-post-container .media-image-holder{
		width:50%;
		margin-right:15px;
	}
	.general-post-section.media-post.reply-post .general-post-section .media-post-container .media-info-row .title{
		width:29%;
		min-width:50px;
	}
}