.bg-img-area{
	background: $base-background-color url("../images/bg/bg-img-1.jpg") no-repeat;
	background-size: cover;
}
.top-section {
	height: 40%;
	background: $base-link-color;
}
.bottom-section {
	height:  60%;
	width: 100%;
}
.container {
	max-width: 960px;
	margin: auto;
	padding: 0 15px;
}

/* header */
.grid-height-area{
	header {
		padding: 2.2% 0;
		width: 100%;
		height: 100%;
		.container {
			width: 100%;
			height: 100%;
		}
		.wrap{
				text-align: justify; 
			font-size: 0;
			line-height: 0;
				width: 100%;  
				-ms-text-justify: distribute-all-lines;
				text-justify: distribute-all-lines;
		}
		.wrap:after{
				content: '';
				display: inline-block;
				width: 100%;
				height: 0;
				font-size:0;
				line-height:0;
		}
		.table-box {
			width: 100%;
			height: 100%;
			display: table;
			table-layout: fixed;vertical-align: middle;
		}
		.cell-box {
			display: table-cell;
			vertical-align: middle;
		}
	}
	.logo {
		display: inline-block;
		vertical-align: middle;
		max-width: 370px;
		max-height: 84px;
		text-align: left;
		width: 40%;
		height: 28%;
		a{
			display: inline-block;
			vertical-align: top;
			img{
				max-width: 100%;
				width: 100%;
			}
		}
	}
}

.small-header{
	header {
		padding: 7px 0 17px;
		border-bottom: 3px solid #bb4734;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.5);
		background: $base-link-color;
	}
	.logo {
		display: block;
		max-width: none;
		text-align: center;
		a{
			max-width: 149px;
			width: 100%;
			display: inline-block;
			vertical-align: top;
		}
		img{
			max-width: 100%;
		}
	}
}
.groupinit-form {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	max-height: 258px;
	max-width: 348px;
	width: 100%;
	background: #dfe4e8;
	border-radius: 5px;
	box-shadow:         0px 0px 6px 0px rgba(94, 41, 41, 0.65);
	padding: 23px 0 30px; 
	h3{
		text-align: center;
		padding: 0 30px;
		font: bold 18px/100% 'Roboto', Arial, Helvetica, san-serif;
		color: #4d5163;
		margin: 0 0 20px;
	}
	input{
		display: block;
		width: 100%;
		margin: 0;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid #dfe4e8;
		background: #fff;
		padding: 14px 30px;
		font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
		color: $regent-gray-color;
		@include placeholder{
			font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
			color: $regent-gray-color;
			opacity: 1;
		}
	}
	.checkbox {
		float: left;
		margin: 20px 0 20px 30px;
		-webkit-user-select: none;
		-moz-user-select: none;
	}
	input[type="checkbox"] {
		position:absolute;
		left:-9999px;
		top:-99999px;
		& + span {
				display:inline-block;
			vertical-align: top;
			font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
			color: #333;
			position: relative;
			padding: 2px 0 0 23px;
		}
	}
	input[type="checkbox"]:focus + span{
		color:$base-link-color;
	}
	input[type="checkbox"] + span:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 15px;
		height: 15px;
		background: url("../images/icons/checkbox.png") no-repeat;
	}
	input[type="checkbox"]:checked + span:before {
		background-position: 0 -15px;
	}
	.forgot-password {
		float: right;
		font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
		color: $base-link-color;
		margin: 20px 30px 20px 0;
		&:focus{
			text-decoration:underline;
		}
	}
	button {
		clear: both;
		font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
		color: #fff;
		text-align: center;
		border: none;
		border-radius: 4px;
		background: #f96e57;
		display: block;
		width: 87px;
		margin: auto;
		padding: 9px 5px;
		&:hover,
		&:focus {
			opacity: 0.8;
		}
	}
}
.header-fixed{
	position:fixed;
	width:100%;
	left:0;
	top:0;
	z-index:2000;
}

.drop-box{
	display:none;
}