#popup-question,
#popup-question-next{
	.holder{
		background:#fff;
		padding:20px 30px;
		width:330px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	h2{
		text-align:center;
		font-size:18px;
		line-height:24px;
		color:#ec3e37;
		margin:0 0 20px;
	}
	.button-holder{
		text-align:right;
	}
	.btn-base{
		width:96px;
		margin:0 17px 0 0;
		font-weight:normal;
	}
	.close{
		display:inline-block;
		vertical-align:top;
		margin:9px 0 0;
		font-size:12px;
		line-height:15px;
		color:#f65b42;
		&:hover,
		&:focus{
			text-decoration:underline;
		}
	}
}

#new-group,
#edit-group-popup{
	>.holder{
		background:#fff;
		padding:14px 20px 20px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		width:330px;
		@include media("<tablet"){
			width:100%;
		}
	}
	h2{
		font-size:14px;
		line-height:18px;
		font-weight:bold;
		margin:0 0 14px;
		color:#f65847;
		text-align:center;
	}
	.title-form{
		padding:0;
		margin:0 0 19px;
		.input-holder{
			position:relative;
			overflow:hidden;
			input{
				background:#e9eff4;
				border:none;
				width:100%;
				height:30px;
				padding:7px 20px;
				margin:0;
				display:block;
				font-size:12px;
				line-height:22px;
				border-radius: 4px;
				&::-moz-placeholder{
					color:#b7c5da;
					opacity:1;
				}
				&:-ms-input-placeholder{color:#b7c5da;}
				&::-webkit-input-placeholder{color:#b7c5da;}
				&:-moz-placeholder{color:#b7c5da;}
			}
		}
	}
	.button-holder{
		text-align:right;
		.color-box{
			float:left;
			position:relative;
			.color-opener{
				float:left;
				padding:0 0 0 32px;
				position:relative;
				font-size:12px;
				line-height:15px;
				color:#b6c0d5;
				margin:8px 0 0;
				&:after{
					content:'';
					position:absolute;
					left:0;
					top:50%;
					width:24px;
					height:24px;
					background:#64d156;
					margin:-12px 0 0;
					border-radius: 30px;
				}
			}
			.color-box-drop{
				position:absolute;
				top:-50px;
				left:-10px;
				width:90px;
				height:90px;
				overflow:hidden;
				border-radius: 100%;
				box-shadow:0 0 5px #000;
				display:none;
				img{
					display:block;
					width:100%;
					height:auto;
				}
			}
		}
		.btn-base{
			width:96px;
			margin:0 17px 0 0;
		}
		.close{
			display:inline-block;
			vertical-align:top;
			margin:9px 8px 0 0;
			font-size:12px;
			line-height:15px;
			color:#f65b42;
			&:hover,
			&:focus{
				text-decoration:underline;
			}
		}
	}
}
#edit-group-popup .button-holder .btn-base{
	width:90px;
}

.add-new-friends-popup{
	position:absolute;
	top:156px;
	left:100%;
	margin:0 0 0 20px;
	width:350px;
	padding:11px 20px;
	border-radius: 10px;
	border: solid 1px #dadfe3;
	background: #dbe5ed;
	background: -moz-linear-gradient(top, #dbe5ed 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbe5ed), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #dbe5ed 0%,#ffffff 100%);
	background: -o-linear-gradient(top, #dbe5ed 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #dbe5ed 0%,#ffffff 100%);
	background: linear-gradient(to bottom, #dbe5ed 0%,#ffffff 100%);
	-webkit-box-shadow: 0 0 9px rgba(8,8,8,.7);
	-moz-box-shadow: 0 0 9px rgba(8,8,8,.7);
	box-shadow: 0 0 9px rgba(8,8,8,.7);
	display:none;
	@include media("<widescreen"){
		margin:0 0 0 17px;
	}
	*{
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	.search-form{
		width:100%;
		max-width:100%;
		margin:0 0 23px;
	}
	.popup-title{
		display:block;
		margin:0 0 8px;
		text-align:center;
		font-size:14px;
		line-height:18px;
		font-weight:bold;
		color:#333;
		letter-spacing:0.5px;
	}
	.popup-heading{
		margin:0 0 11px;
		overflow:hidden;
		position:relative;
		font-size:10px;
		line-height:12px;
		.title{
			display:inline-block;
			vertical-align:top;
			position:relative;
			letter-spacing:0.3px;
			&:after{
				content:'';
				position:absolute;
				left:100%;
				top:50%;
				width:500px;
				height:1px;
				background: #363946;
				margin:-1px 0 0 9px;
			}
		}
	}
	.list-new-friends{
		padding:0;
		margin:0 0 17px;
		list-style:none;
		>li{
			margin:16px 0 0;
			position:relative;
			overflow:hidden;
			padding:0 124px 0 0;
			&:first-child{
				margin-top:0;
			}
			a{
				color: inherit;
				&:hover,
				&:focus{
					text-decoration:underline;
				}
			}
		}
		.img-box{
			float:left;
			width:30px;
			margin:1px 10px 0 0;
			img{
				display:block;
				width:100%;
				height:auto;
			}
		}
		.text-holder{
			overflow:hidden;
		}
		h5{
			font-size:14px;
			line-height:16px;
			font-weight:bold;
			margin:0 0 6px;
			letter-spacing:0.5px;
			a{
				color: inherit;
				text-decoration:none;
				&:hover,
				&:focus{
					text-decoration:underline;
				}
			}
		}
		p{
			font-size:10px;
			line-height:12px;
			margin:0;
		}
	}
	.btn-list{
		position:absolute;
		top:2px;
		right:0;
		font-size:12px;
		line-height:15px;
		li{
			float:left;
			margin:0 0 0 5px;
			&:first-child{
				margin-left:0;
			}
			a{
				display:block;
				padding:8px 10px 7px;
				letter-spacing:0.5px;
				background: #f65b42;
				color: #fff;
				border-radius:5px;
				&:hover,
				&:focus{
					text-decoration:none;
					background: lighten(#f65b42, 10%);
				}
			}
		}
	}
}

.popup-base{
	position:fixed;
	z-index:3001;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.6);
	opacity:0;
	visibility:hidden;
	transition: all 0.4s linear;
	pointer-events:none;
	white-space:nowrap;
	text-align:center;
	&:after{
		content:'';
		display:inline-block;
		height:100%;
		width:1px;
		overflow:hidden;
		margin:0 0 0 -5px;
		vertical-align:middle;
	}
	&.lightbox-active{
		opacity:1;
		visibility:visible;
		pointer-events:auto;
	}
	>.popup-base-inner{
		text-align:left;
		vertical-align:middle;
		display:inline-block;
		white-space:normal;
		z-index:2;
		background: #fff;
		max-width:100%;
		max-height:100%;
		overflow:auto;
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
		border-radius: 5px;
	}
}

.add-members-pop-up,
.add-new-event-pop-up,
.choose-place-pop-up{
	width:340px;
	@include media("<desktop"){
		width:100%;
	}
}
.add-new-event-pop-up{
	@include media("<desktop"){
		.btn-group{
			.cancel-btn.mobile,
			button{
				padding:9px 5px;
				font-size:12px;
				min-width:110px;
			}
			.cancel-btn.mobile{
				margin-right:10px;
			}
		}
	}
}
.add-members-pop-up{
	.add-members-form {
		.checkbox-gallery{
			border-bottom:3px solid #dfe1e6;
			background:#fff;
			position:relative;
			box-shadow:0 2px 2px 0 rgba(0,0,0,0.3);
			padding:0 25px;
			margin-bottom:3px;
			.btn-prev,
			.btn-next{
				position:absolute;
				width:25px;
				height:48px;
				left:0;
				top:0;
				z-index:10;
				background:#fff;
				overflow:hidden;
				font-size:0;
				line-height:0;
				color:transparent;
				&:after{
					content:'';
					position:absolute;
					left:50%;
					top:50%;
					border:solid;
					border-width:5px 8px;
					border-color:transparent #8391a4 transparent transparent;
					margin:-4px  0 0 -12px;
				}
			}
			.btn-next{
				left:auto;
				right:0;
				&:after{
					border-color:transparent transparent transparent #8391a4;
					margin-left:-4px;
				}
			}
		}
		.mask{
			overflow:hidden;
		}
		.row-group{
			width:9999px;
			float:left;
			overflow:hidden;
			position:relative;
			.checkboxPopup{
				text-align:center;
				display:block;
				width:100%;
				margin:0;
				span{
					display:block;
					padding:0 0 20px;
					text-overflow:ellipsis;
					overflow:hidden;
					white-space:nowrap;
					&:before{
						right:auto;
						left:50%;
						top:auto;
						bottom:0;
						margin:0 0 0 -7px;
					}
				}
			}
		}
		.slide{
			float:left;
			width:96px;
			position:relative;
			&:after{
				content:'';
				position:absolute;
				left:-1px;
				top:6px;
				bottom:6px;
				width:2px;
				background:#dfe1e6;
			}
			&:first-child{
				&:after{
					display:none;
				}
			}
			.checkboxPopup span{
				font-size:13px;
			}
			&.active > a{
				background:#dfe1e6;
				margin:0 -1px;
				.checkboxPopup span{
					color:#f65b42;
					&:before{
						background-position:0 -15px;
					}
				}
			}
			>a{
				padding:8px 0 ;
				display:block;
				text-decoration:none;
				&:hover{
					text-decoration:none;
				}
			}
		}
		.tab-content{
			overflow:hidden;
			box-shadow:none;
			border:none;
			>div{
				display:none;
			}
		}
	}
	.accordion-content{
		padding:3px 0 0;
		box-shadow:inset 0 3px 0 0 #5a2017;
		.small-row{
			&:first-child{
				border-top:none;
			}
		}
	}
	.accordion-area .accordion-panel{
		margin:0;
	}
}