.seach-results-container{
	position:absolute;
	top:50px;
	left:25px;
	width:270px;
	border-radius: $search-section-border-radius;
	overflow:hidden;
	box-shadow: 0 3px 3px rgba(35,31,32,.38);
	min-height:10px;
	background:$white;
	z-index:302;
	@include media("<widescreen"){
		width:240px;
	}
	.seach-results-block:first-child .heading{
		border-radius:4px 4px 0 0;
		box-shadow:inset 0 1px 0 0 rgba(255,255,255,.5);
		padding-top:4px;
	}
	.link-holder{
		text-align:center;
		background:$search-section-heading-bg;
		padding:11px 15px 10px;
		.more{
			display:inline-block;
			vertical-align:top;
			color:$base-link-color;
			font-size:10px;
			line-height:13px;
			letter-spacing:0.2px;
			margin:0 0 0 22px;
			position:relative;
			&:before{
				content:'';
				position:absolute;
				left:-5px;
				top:-5px;
				right:-5px;
				bottom:-5px;
			}
			>span{
				display:block;
				padding:0 20px 0 0;
				position:relative;
				&:after{
					content:'';
					position:absolute;
					right:0;
					top:3px;
					width:5px;
					height:7px;
					background:url(../images/icons/arrow-right-red.png) no-repeat;
				}
			}
		}
	}
}

.seach-results-block{
	position:relative;
	overflow:hidden;
	background: $white;
	.heading{
		padding:3px 10px;
		background:$search-section-heading-bg;
		border-bottom:1px solid $search-section-border-color;
		@extend %clearfix;
		.title{
			float:left;
			font-size:10px;
			line-height:13px;
			color:$search-section-heading-text-color;
		}
		.link{
			float:right;
			color:$search-section-heading-link-color;
			font-size:10px;
			line-height:13px;
			text-transform:capitalize;
			letter-spacing:0.2px;
		}
	}
	.seach-results-list{
		text-align:left;
		padding:0;
		margin:0;
		list-style:none;
		li{
			border-bottom:1px solid $search-section-border-color;
			height:65px;
			padding:0 20px 0 79px;
			position:relative;
			overflow:hidden;
			&:hover{
				.overlay{
					transition: all 0.25s ease;
					visibility:visible;
					opacity:1;
				}
				.btn-add{
					transition: all 0.3s ease-in-out;
					opacity:1;
					visibility:visible;
				}
			}
		}
		.image-box{
			position:absolute;
			left:10px;
			top:6px;
		}
		.img-holder{
			position:relative;
			overflow:hidden;
			width:50px;
			height:50px;
			border-radius:50px;
			border:3px solid $base-person-border-color;
			img{
				@include image-responsive;
			}
		}
		.image-wrap{
			position:absolute;
			left:0;
			top:0;
			width:64px;
			img{
				@include image-responsive;
			}
		}
		.mark{
			position:absolute;
			right:5px;
			bottom:1px;
			width:10px;
			height:10px;
			border-radius:10px;
			overflow:hidden;
			background: $base-dark-green-color;
			@include hide-text;
		}
		.date-box{
			position:absolute;
			top:11px;
			left:14px;
			background:#fff;
			width:41px;
			height:41px;
			border:2px solid $search-section-heading-text-color;
			border-radius:5px;
			overflow:hidden;
			padding:11px 2px 1px;
			text-align:center;
			&:before{
				content:'';
				position:absolute;
				left:0;
				top:0;
				width:100%;
				height:8px;
				background:$search-section-heading-text-color;
			}
			.date{
				display:block;
				font-size:12px;
				line-height:14px;
				color:$search-section-heading-text-color;
				margin:0 0 -1px;
			}
			.month{
				display:block;
				font-weight:bold;
				font-size:8;
				line-height:10px;
				color:$search-section-heading-text-color;
				text-transform:uppercase;
			}
		}
	}
	.text-holder{
		height:64px;
		overflow:hidden;
		width:100%;
		font-size:10px;
		line-height:12px;
		color:$add-text-color;
		>.frame{
			display:table-cell;
			width:1000px;
			height:64px;
			vertical-align:middle;
			>.holder{
				display:inline-block;
				vertical-align:middle;
				width:100%;
			}
		}
	}
	h3{
		color:$base-link-color;
		font-size:12px;
		line-height:15px;
		margin:0 0 -1px;
		letter-spacing:0.2px;
		font-weight:bold;
		a{
			color:inherit;
		}
	}
	p{
		margin:0;
		letter-spacing:0.3px;
	}
	address{
		display:block;
		font-style:normal;
	}
	.members{
		display:block;
		.number{
			color:$base-link-color;
		}
	}
	.overlay{
		position:absolute;
		top:0;
		right:0;
		width:80%;
		height:100%;
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
		pointer-events:none;
		opacity:0;
		visibility:hidden;
		transition: all 0.25s ease;
		z-index:3;
	}
	.btn-add{
		position:absolute;
		top:20px;
		right:15px;
		width:59px;
		height:25px;
		border-radius:4px;
		color:#fff;
		font-size:12px;
		line-height:15px;
		background:$base-link-color;
		transition: all 0.3s ease-in-out;
		z-index:4;
		text-align:center;
		padding:6px 5px;
		opacity:0;
		visibility:visible;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 1px solid $base-link-color;
			z-index: -1;
			border-radius: inherit;
			opacity: 0;
			transform: scale3d(0.6, 0.6, 1);
			transition: transform 0.3s, opacity 0.3s;
			transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		}
		&:hover {
			background: #ffe0cc;
			color:$base-link-color;
			text-decoration:none;
			&:before{
				transform: scale3d(1, 1, 1);
				opacity: 1;
			}
		}
	}
}

.search-results-container{
	.seach-results-block{
		background:none;
		margin:0 0 12px;
		.heading{
			background:none;
			border:none;
			padding:0 22px 11px 10px;
			.title{
				font-size:14px;
				line-height:18px;
				font-weight:bold;
				color:$search-section-heading-text-color;
				letter-spacing:0.2px;
				.results-text{
					font-weight:normal;
					color:#7e8396;
				}
			}
			.link{
				font-size:12px;
				line-height:15px;
				color:$add-text-color;
				margin:2px 0 0;
			}
		}
		.seach-results-list{
			border-radius:4px;
			background:#fff;
			overflow:hidden;
			li{
				border:solid $search-section-border-color;
				border-width:1px 0 0;
				height:79px;
				padding:0 120px 0 90px;
				&:first-child{
					border:none;
				}
			}
			.img-holder{
				width:64px;
				height:64px;
				border-width:4px;
			}
			&.all-state{
				.image-box{
					top:16px;
					left:18px;
				}
				.mark{
					width:14px;
					height:14px;
					border-width:2px;
					bottom:0;
					right:0;
				}
				.img-holder{
					width:45px;
					height:45px;
					border:none;
				}
			}
			.image-box{
				left:14px;
				top:8px;
			}
			.mark{
				width:17px;
				height:17px;
				bottom:2px;
				right:2px;
				border:2px solid $white;
			}
			.date-box{
				top:19px;
				left:18px;
			}
			.image-wrap{
				width:79px;
			}
		}
		.text-holder{
			font-size:12px;
			line-height:14px;
			height:78px;
			>.frame{
				height:78px;
			}
		}
		h3{
			font-size:16px;
			line-height:20px;
			margin:0;
			white-space:nowrap;
			overflow:hidden;
			text-overflow:ellipsis;
			width:100%;
			display:block;
		}
		.btn-add{
			right:23px;
			top:24px;
			width:70px;
			border-radius:4px;
			height:30px;
			font-size:12px;
			line-height:15px;
			padding:9px 5px;
			letter-spacing:0.5px;
		}
	}
}

@include media("<desktop"){
	.search-results-container .seach-results-block{
		margin:0 -10px 12px;
	}
	.search-results-container .seach-results-block .seach-results-list{
		border-radius:0;
	}
	.search-results-container .seach-results-block .heading .title .text{
		display:none;
	}
	.search-results-container .seach-results-block .heading{
		padding:0 30px 11px 18px;
	}
	.search-results-container .seach-results-block .seach-results-list .img-holder{
		width:51px;
		height:51px;
		border-width:3px;
	}
	.search-results-container .seach-results-block .seach-results-list .image-box{
		left:20px;
		top:14px;
	}
	.search-results-container .seach-results-block .seach-results-list .mark{
		width:14px;
		height:14px;
		bottom:1px;
		right:1px;
	}
	.search-results-container .seach-results-block .seach-results-list.all-state .image-box{
		left:22px;
	}
	.search-results-container .seach-results-block .seach-results-list.all-state .img-holder{
		width:46px;
		height:46px;
	}
	.search-results-container .seach-results-block .menu-options-search .text-holder{
		height:auto;
	}
}

@include media("<phone"){
	.search-results-container .seach-results-block .menu-options-search .text-holder{
		height:auto;
	}
	.search-results-container .seach-results-block .seach-results-list li{
		padding:0 100px 0 90px;
	}
	.search-results-container .seach-results-block .btn-add{
		right:15px;
	}
}



.menu-filter-results{
	background:#fff;
	border-radius:4px 4px 0 0;
	margin:46px 0 0;
	width:220px;
	.heading{
		padding:14px 22px 11px;
		position:relative;
		@extend %clearfix;
		.title{
			display:block;
			font-size:12px;
			line-height:15px;
			font-weight:bold;
			color:$search-section-heading-text-color;
		}
	}
	.row-holder{
		border-top:1px solid #dfe4e8;
		position:relative;
	}
	select{
		display:block;
		width:100%;
		border:none;
		height:39px;
		font:12px/39px "Roboto",Arial,Helvetica,san-serif;
		color:$add-text-color;
		padding-left:18px;
		outline:none;
		&:focus{
			outline:none;
		}
	}
	.check-container{
		padding:26px 20px 11px 22px;
		.cell{
			margin:16px 0 0;
			overflow:hidden;
			&:first-child{
				margin-top:0;
			}
		}
		.title{
			float:left;
			width:35%;
			margin:0 10px 0 0;
			font-size:12px;
			line-height:15px;
			color:$search-section-heading-text-color;
			font-weight:bold;
		}
		.text-holder{
			overflow:hidden;
		}
	}
	[type="radio"]{
		position:fixed;
		left:0;
		top:0;
		opacity:0;
		z-index: -1;
	}
	.fake-input{
		display: inline-block;
		width:15px;
		height:15px;
		vertical-align: middle;
		position: relative;
		margin:-1px 11px 0 0;
		background-color: #edf2f6;
		box-shadow: inset 0 0 3px rgba(0,0,0,.5);
	}
	[type="radio"] + .fake-input{border-radius:100%;}
	[type="radio"] + .fake-input:before{
		content:'';
		position: absolute;
		top: 2px;
		right: 2px;
		bottom: 2px;
		left: 2px;
		background-color: $base-link-color;
		background-image: linear-gradient(to top, rgba(6,7,7,.12), rgba(255,255,255,.12));
		opacity: 0;
		border-radius:20px;
	}
	[type="radio"]:checked + .fake-input:before{opacity:1;}
	input:disabled + .fake-input,
	input:disabled ~ .fake-label{opacity: .5;}
	.check-container .check-block{
		margin:10px 0 0;
	}
	.check-container .check-block:first-child{
		margin:0;
	}
	.fake-label{
		font-size:12px;
		line-height:16px;
	}
	.row-holder input{
		display: block;
		width: 100%;
		margin: 0;
		border: none;
		border-radius: 0;
		border-bottom:none;
		background: #fff;
		padding: 12px 22px;
		font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
		color: $add-text-color;
		height:39px;
		@include placeholder{
			font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
			color: $add-text-color;
			opacity: 1;
		}
	}
}

.search-results-container .menu-options-search .menu-filter-results .heading{
	height:61px;
	padding:25px 19px;
}

.menu-options-search .menu-filter-results{
	border-radius:0;
	width:100%;
	margin:0;
	-webkit-box-shadow:0 3px 3px 0 rgba(0,0,0,0.2);
	box-shadow:0 3px 3px 0 rgba(0,0,0,0.2);
}

@include media("<desktop"){
	.menu-filter-results{
		width:100%;
	}
	.menu-filter-results select{
		height:59px;
		font-size:14px;
		padding-left:15px;
		letter-spacing:0.5px;
	}
	.menu-filter-results .check-container{
		padding:24px 20px 16px 19px;
	}
	.menu-filter-results .check-container .title{
		width:16%;
	}
	.menu-filter-results .check-container .text-holder{
		width:auto;
	}
	.menu-filter-results .check-container .check-block{
		float:left;
		width:37%;
		margin:0 0 0 5px;
	}
	.menu-filter-results .check-container .check-block+.check-block{
		width:33%;
	}
	.menu-filter-results .check-container .check-block+.check-block+.check-block{
		width:26%;
	}
	.menu-filter-results .check-container .check-block:first-child{
		margin:0;
	}
	.menu-filter-results .fake-label{
		font-size:15px;
		line-height:18px;
	}
	.menu-filter-results .fake-input{
		margin:-4px 11px 0 0;
	}
	
	.menu-filter-results .check-container .cell{
		margin:41px 0 0;
	}
}

@include media("<phone"){
	.menu-filter-results .check-container .check-block{
		width:32%;
	}
	.menu-filter-results .check-container .check-block+.check-block{
		width:34%;
	}
	.menu-filter-results .check-container .check-block+.check-block+.check-block{
		width:29%;
	}
	.menu-filter-results .fake-label{
		font-size:13px;
		line-height:18px;
	}
	.menu-filter-results .fake-input{
		margin:-4px 5px 0 0;
	}
}



.sub-filter-menu{
	padding:10px 0 0;
	margin:0 0 -3px;
	list-style:none;
	a{
		display:block;
		padding:8px 20px 7px;
		text-decoration:none;
		font-size:12px;
		line-height:15px;
		color:$add-text-color;
		transition: background-color 0.3s, color 0.3s;
		&:hover,
		&:focus{
			background:#5b6074;
			color: $white;
			text-decoration:none;
		}
		@include media("<desktop"){
			padding:10px 19px;
			font-size:16px;
			line-height:20px;
		}
	}
}