// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray: #999;
$black: #000;
$mine-shaft-color: #333;
$soft-peach-color: #f7efef;
$white: #fff;
$light-blue: #39f;
$tomato-color: #f65b42;
$pastel-green-color: #72d668;
$dark-sea-green-color: #9ec289;
$regent-gray-color: #8391a4;
$ghost-color: #bfcbda;
$banana-yellow-color: #fbe631;
$french-gray-color: #bbc2c7;
$iron-color: #d2d9df;
$comet-color: #5b6074;

$base-font-sans-serif: 'Roboto', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body
$base-text-color: $mine-shaft-color;
$base-background-color: $soft-peach-color;
$base-font-size: 14px;
$base-line-height: 1.2;
$base-font-family: $base-font-sans-serif;
$add-text-color: $regent-gray-color;
$light-gray-text-color: $ghost-color;
$base-person-border-color: #edf2f6;

$base-red-color: $tomato-color;
$base-green-color: $pastel-green-color;
$base-dark-green-color: $dark-sea-green-color;

$vertical-rhythm: ($base-line-height * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $tomato-color;

// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 30px !default;
$h2-font-size: 27px !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;


$animation-speed: 0.35s;

// Posts
$base-posts-bg: #fff;
$base-posts-border-radius: 5px;
$base-posts-border-color: #dee6ee;

// Search Section
$search-section-border-radius: 4px;
$search-section-border-color: $french-gray-color;
$search-section-text-color: $regent-gray-color;
$search-section-heading-bg: $iron-color;
$search-section-heading-text-color: $comet-color;
$search-section-heading-link-color: $regent-gray-color;
