<div class="comments-section comments-section-slider">
    <div class="custom-comments-tabs">
        <a href="#" class="custom-comments-tabs-link js-comments__btn_all is-red-bg">All Comment</a>
        <a href="#" class="custom-comments-tabs-link js-comments__btn_group opener">Group Comments {{x.comments|length}}</a>
        <div class="custom-comments-tabs-drop">
            <h4>Select Group</h4>
            <ul class="contacts-tabset">
            {% if x.group.count != 0 %}
            {% for grp in x.groups %}
            <li class="active"><a class="bg-style-01" href="#tab851">{{grp.name}}</a>
            </li>
            {% endfor %} {% endif %}
            </ul>
        </div>
    </div>

    {%for grp in groups%}
    {%if grp.name !=  "New Requests" %}
    <div class="contacts-tab-content">
        <div id="tab851" class="contacts__tab_content">
            <div class="contacts-tab-heading">
                <span class="contacts-count-friends">{{grp.name}} <strong>3,405</strong></span>
            </div>
            <form action="#" class="custom-form">
            <div class="contacts-posts-container" id="comment-post-{{x.id}}">
                {% if x.comments.count != 0%} {% for comm in x.comments%}
                <article class="post-contacts" id="comment-{{comm.id}}">
                    <div class="image-box">
                        {% if comm.creator.profile_pic != null %}
                        <strong><img src="/static/images/pictures/{{comm.creator.profile_pic}}" alt="Picture"></strong> {%else%}
                        <strong><img src="/static/images/pictures/avatar.jpg" alt="Picture"></strong>
                        {% endif %}
                    </div>
                    <div class="text-holder">
                        <div class="heading">
                            <h3><a href="#">{{comm.creator.first_name}}</a></h3>
                            <time class="date" datetime="2015-11-23">{{comm.created_on}}</time>
                        </div>
                        <div class="text">
                            <p id="contents-{{comm.id}}">{{comm.comment}}</p>
                        </div>
                        <div class="link-holder">
                            <a href="#" class="link-reply" id="replyto-{{comm.id}}">Reply</a>
                        </div>
                    </div>
                    <ul class="menu-comment">
                        <li><a href="#popup-comment" class="close close-comment lightboxpop" id="close-{{comm.id}}" data-post="{{x.id}}">close comment</a>
                        </li>
                    </ul>
                    <div class="contacts-posts-container" id="reply-post-{{comm.id}}" style="padding-left:25px">
                        {% if comm.reply|length != 0%} {% for reply in comm.reply %}
                        <article class="post-contacts" id="reply-{{reply.id}}">
                            <div class="image-box">
                                {% if reply.creator.profile_pic != null %}
                                <strong><img src="/static/images/pictures/{{reply.creator.profile_pic}}" alt="Picture"></strong> {%else%}
                                <strong><img src="/static/images/pictures/avatar.jpg" alt="Picture"></strong> {% endif %}
                            </div>
                            <div class="text-holder">
                                <div class="heading">
                                    <h3><a href="#">{{reply.creator.first_name}}</a></h3>
                                    <time class="date" datetime="2015-11-23">{{reply.created_on}}</time>
                                </div>
                                <div class="text">
                                    <p id="contents-{{reply.id}}">{{reply.comment}}</p>
                                </div>
                            </div>
                            <ul class="menu-comment">
                                <li><a href="#popup-reply" class="close close-reply lightboxpop" id="close-{{reply.id}}" data-comment="{{comm.id}}" data-post="{{x.id}}">close comment</a>
                                </li>
                            </ul>
                        </article>
                        {%endfor%} {%endif%}
                    </div>
                    <div class="form-writing-comment" style="display:none" id="replyform-{{comm.id}}">
                        <div class="input-holder">
                            <input type="text" placeholder="Type your reply" id="replybox-{{comm.id}}" data-post="{{x.id}}">
                        </div>
                        <button class="btn-send post_reply" id="postreply-{{comm.id}}" style="margin-bottom:10px;" data-post="{{x.id}}">Reply</button>
                    </div>
                </article>
                {%endfor%} {% endif %}
            </div>
        </form>
        </div>
    </div>
    {%endif%}
    {%endfor%}
<form action="#" class="form-writing-comment">
    <div class="input-holder">
        <input type="text" placeholder="Type your comment" id="commentbox-{{x.id}}">
    </div>
    <ul class="upload-form-menu">
        <li class="upload-photo">
	                            <span class="fileinput-button" ng-class="{disabled: disabled}" style="float:left;width:100%">
	    							<a href="#">photo</a>
	    							<input type="file" name="file" id="upload-comment-images" multiple>
	    						</span>
        </li>
        <li class="upload-video">
	                            <span class="fileinput-button" ng-class="{disabled: disabled}" style="float:left;width:100%">
	    							<a href="#">video</a>
	    							<input type="file" name="file" id="upload-comment-videos" multiple>
	    						</span>
        </li>
        <li class="comments-icon-menu">
            <a href="#" class="opener-icon-menu">icon</a>
            <div class="drop-icon-menu">
                <ul class="icons-list">
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon01.png" height="19" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon02.png" height="19" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon03.png" height="19" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon04.png" height="19" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon05.png" height="19" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon06.png" height="19" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon07.png" height="20" width="24" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon08.png" height="20" width="23" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon09.png" height="19" width="22" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon10.png" height="18" width="19" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon11.png" height="20" width="19" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon12.png" height="18" width="23" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon13.png" height="20" width="21" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon14.png" height="19" width="18" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon15.png" height="20" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon16.png" height="19" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon17.png" height="19" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon18.png" height="20" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon19.png" height="20" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon20.png" height="20" width="18" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon21.png" height="19" width="23" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon22.png" height="19" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon23.png" height="14" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon24.png" height="19" width="19" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon25.png" height="19" width="23" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon26.png" height="20" width="16" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon27.png" height="17" width="19" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon28.png" height="20" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon29.png" height="18" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon30.png" height="7" width="20" alt=""></span></a>
                    </li>
                    <li><a href="#"><span class="frame"><img src="/static/images/time_icons/comments-icon31.png" height="18" width="21" alt=""></span></a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="uploaded-info-section">
    </div>
    <button class="btn-send post_comment" id="postcomment-{{x.id}}">Send</button>
</form>
</div>
