<section class="general-post-section" id="postsec_{{x.origin_post_details.id}}">
    <header class="heading-block">
        <div class="image-box">
            {% if x.origin_post_details.creator_profile.profile_pic != null %}
            <strong><img src="/static/images/pictures/{{x.origin_post_details.creator_profile.profile_pic}}" alt="Picture"></strong> {%else%}
            <strong><img src="/static/images/pictures/avatar.jpg" alt="Picture"></strong> {% endif %}
        </div>
        <div class="text-holder">
            <div class="heading">
                <h2><a href="#">{{x.origin_post_details.creator.name}}</a></h2>
                <a href="#" class="edit-link">edit</a>
            </div>
        </div>
    </header>
    <div class="text-container">
        <div class="read-more">
            <p>{{x.origin_post_details.description |safe }}</p>
        </div>
    </div>
    {% if x.origin_post_details.attachments|length == 1 %}
    <div class="image-section">
        {% for i in x.origin_post_details.attachments %}
        <div class="image-block">
            {% if i.type == 'image/jpeg' or i.type == 'image/png' or i.type == 'image/gif'%}
            <img src="{{i.url}}"> {% endif %} {% if i.type == 'video/mp4'%}
            <img width="492" height="275" alt="" src="{{i.thumbnailUrl}}" id="video-{{i.id}}">
            <a class="btn-play" href="#" id="{{i.id}}">play</a> {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %} {% if x.origin_post_details.attachments|length > 1 %}
    <article class="photos-section">
        <div class="slideset">
            {% for i in x.origin_post_details.attachments%} {% if i.type == 'image/jpeg' or i.type == 'image/png' or i.type == 'image/gif'%}
            <div class="slide">
                <img src="{{i.url}}">
            </div>
            {% endif %} {% if i.type == 'video/x-msvideo' or i.type == 'video/3gpp' or i.type == 'video/mp4'%}
            <div class="slide">
                <img width="492" height="275" alt="" src="{{i.thumbnailUrl}}" id="video-{{i.id}}">
                <a class="btn-play" href="#" id="{{i.id}}">play</a>
            </div>
            {% endif %} {%endfor%}
        </div>
        <div class="pagination-photos">
            <ul>
                {% for i in x.origin_post_details.attachments%} {% if i.type == 'image/jpeg' or i.type == 'image/png' or i.type == 'image/gif'%}
                <li>
                    <a href="#"><img height="71" width="81" src="{{i.thumbnailUrl}}" alt="">
                    </a>
                </li>
                {% endif %} {% if i.type == 'video/x-msvideo' or i.type == 'video/3gpp' or i.type == 'video/mp4'%}
                <li class="video">
                    <a href="#" class="play" id="{{i.id}}">
                        <img height="71" width="81" alt="" src="{{i.thumbnailUrl}}" id="video-{{i.id}}">
                    </a>
                </li>
                {% endif %} {%endfor%}
            </ul>
        </div>
    </article>
    {% endif %}
</section>