 <div class="like-section">
        {%if x.post_type == 'general' or x.post_type == 'media' or x.post_type == 'shared'%}
        <div class="share-box">
            <a href="#" class="share" id="post_share" data-post="{{x.id}}">
                <span class="icon">icon share</span>
                <span class="number" id="count_share-{{x.id}}">{{x.share_count}}</span>
            </a>
        </div>
        {%endif%}
        <div id="likepost-{{x.id}}" class="like-box plus{% if x.like_plus|length != 0 %} {% for lik in x.like_plus%} {% if user.id == lik.user %}active{% endif %}{% endfor %}{% endif %}">
            <a href="#" class="opener-like-box" data-type="like-plus" data-post="{{x.id}}" id="like-box">
                <span class="icon">like</span>
                            <span class="number" id="count-like-plus-{{x.id}}">
    							{{x.like_plus_count}}</span>
            </a>
            <div class="drop-add-info">
                <ul id="members-like-plus-{{x.id}}">
                    {% if x.like_plus|length != 0%} {% for lik in x.like_plus%}
                    <li><a id="like_people" data-type="like-plus" data-post="{{x.id}}">
                        {% if lik.profile_pic != null %}
                        <strong><img src="/static/images/pictures/{{lik.profile_pic}}" alt="Picture" height="45" width="45"></strong>
                        {%else%}
                        <strong><img src="/static/images/pictures/avatar.jpg" alt="Picture" height="45" width="45"></strong>
                        {% endif %}
                    </a>
                    </li>
                    {%endfor%} {% endif %} {% if x.like_plus_count > 4%}
                    <li><a id="like_people" data-type="like-plus" data-post="{{x.id}}"><span class="number-persons">{{x.like_plus_count}}</span></a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </div>
        <div class="like-box{% if x.likes|length != 0 %} {% for lik in x.likes%} {% if user.id == lik.user %}active{% endif %}{% endfor %}{% endif %}" id="likepost-{{x.id}}">
            <a href="#" class="opener-like-box" data-type="like" data-post="{{x.id}}" id="like-box">
                <span class="icon">like</span>
                <span class="number" id="count-like-{{x.id}}">{{x.like_count}}</span>
            </a>
            <div class="drop-add-info">
                <ul id="members-like-{{x.id}}">
                    {% if x.likes|length != 0%} {% for lik in x.likes%}
                    <li><a id="like_people" data-type="like" data-post="{{x.id}}">
                        {% if lik.profile_pic != null %}
                        <strong><img src="/static/images/pictures/{{lik.profile_pic}}" alt="Picture" height="45" width="45"></strong>
                        {%else%}
                        <strong><img src="/static/images/pictures/avatar.jpg" alt="Picture" height="45" width="45"></strong>
                        {% endif %}
                    </a>
                    </li>
                    {%endfor%} {% endif %} {% if x.like_count > 4%}
                    <li><a id="like_people" data-type="like" data-post="{{x.id}}"><span class="number-persons">{{x.like_count}}</span></a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </div>
        <div class="like-box minus{% if x.like_minus|length != 0 %} {% for lik in x.like_minus %} {% if user.id == lik.user %}active{% endif %}{% endfor %}{% endif %}" id="likepost-{{x.id}}">
            <a href="#" id="like-box" class="opener-like-box" data-type="like-minus" data-post="{{x.id}}" id="like-box">
                <span class="icon">like</span>
                <span class="number" id="count-like-minus-{{x.id}}">{{x.like_minus_count}}</span>
            </a>
            <div class="drop-add-info">
                <ul id="members-like-minus-{{x.id}}">
                    {% if x.like_minus|length != 0%} {% for lik in x.like_minus%}
                    <li><a id="like_people" data-type="like-minus" data-post="{{x.id}}">
                        {% if lik.profile_pic != null %}
                        <strong><img src="/static/images/pictures/{{lik.profile_pic}}" alt="Picture" height="45" width="45"></strong>
                        {%else%}
                        <strong><img src="/static/images/pictures/avatar.jpg" alt="Picture" height="45" width="45"></strong>
                        {% endif %}
                    </a>
                    </li>
                    {%endfor%} {% endif %} {%if x.like_minus_count > 4%}
                    <li><a id="like_people" data-type="like-minus" data-post="{{x.id}}"><span class="number-persons">{{x.like_minus_count }}</span></a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </div>