<template id="audience-selection">
    <div class="pop-up-area add-size" :class="{'lightbox-active': showinvite}" :id="popupid">
        <div class="holder">
            <div class="add-members-pop-up">
                <div class="title-pop-up">Invite friends</div>
                <form action="#" class="add-members-form">
                    <div class="checkbox-gallery">
                        <div class="mask">
                            <div class="row-group">
                                <div class="slide"
                                     :class="{'active' : selectall}">
                                    <a @click="disableSelection" href="#checkbox-gallery-tab01">
                                        <label for="checkboxPopupAll" class="checkboxPopup">
                                            <input type="checkbox" v-model="selectall" id="checkboxPopupAll" name="checkboxPopupAll" ><span><div @click="selectAll"  class="check"></div>All</span>
                                        </label>
                                    </a>
                                </div>
                                <div class="slide"
                                     v-for="box in boxes">
                                    <a :href='"#checkbox-gallery-tab-" + popupid +"-"+ box.id'>
                                        <label  :for='"checkboxPopup"+box.id' class="checkboxPopup">
                                            <input type="checkbox" :readonly="tabreadonly" v-model="tabmodel"  :value="'b'+box.id.toString()"
                                                   :id='"checkboxPopup"+ box.id'
                                                   :name='box.name'>
                                            <span ><div @click='tabClick(box,$event)'  class="check"></div> {! box.name !}</span>
                                        </label>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn-prev">previous</a>
                        <a href="#" class="btn-next">next</a>
                    </div>
                    <div class="tab-content">
                    <div id="checkbox-gallery-tab01">
                      <h2>Click All to select<br>or select everyone</h2>
                    </div>
                        <div v-for="box in boxes" :id='"checkbox-gallery-tab-"+ popupid +"-"+ box.id' >
                            <div  class="scroll-area checkbox-gallery-wrapper">
                                <div class="accordion-area">
{#                                    :style='"background:"+group.group_bar_color+";"'#}
                                    <div v-for='group in box.groups' :class='"accordion-panel bg-"+group.id'>
                                        <div class="accordion-title">
                                            <span class="accordion-btn" :data-id='group.id' :style='"color:"+group.group_bar_color'>
                                                {! group.name !}
                                            </span>
                                            <label :for='popupid+group.name+"-"+group.id' class="checkboxPopup checkboxGroup">
                                                <input @click="GroupBoxClick(group,box,$event)"  v-model="groupmodel" type="checkbox"  :id='popupid+group.name+"-"+group.id'
                                                       :name='popupid+group.name+"-"+group.id'
                                                        :value="'b'+box.id+'-'+'g'+group.id" >
                                                <span></span>
                                            </label>
                                            <a href="#" class="opener-accordion-panel">opener</a>
                                        </div>
                                        <div class="accordion-content scroll-area">
                                            <ul class="scrolling-area">
                                                <li v-for="user in group.members" class="small-row">
                                                    <a href="#">
                                                        <img :src='user.profile_pic' alt="Picture">
                                                        <span>{! user.first_name !}</span></a>
                                                    <label @click="UserClick(group,box)" :for='user.first_name+"-"+user.id+"-"+group.id' class="checkboxPopup checkboxUsers">
                                                        <input v-model="usermodel" type="checkbox" :id='user.first_name+"-"+user.id+"-"+group.id'
                                                               :value="'b'+box.id+'-'+'g'+group.id+'-'+'uid:'+user.id+',uname:'+user.first_name"
                                                               :name='user.first_name+"-"+user.id'>
                                                        <span></span>
                                                    </label>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="btn-group clearfix">
                        <p id="selectioncount">{! peoplecount !}  people selected</p>
                        <a href="#" @click='CancelPopup' id="deskclose" class="mfp-close cancel-btn desktop close">Cancel</a>
                        <a href="#" @click='CancelPopup' id="deskclose" class="cancel-btn mobile close">Cancel</a>
                        <button @click.prevent="ApplySelection($event)" id="friends_li" type="submit">Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    var Audiencepopup = Vue.component('audiencepopup',{
    template: '#audience-selection',
    props: ['popupid'],
    data:function() {
        return{
            boxes : [],tabreadonly: false,
            peoplecount : 0, tabmodel : [], selectall : false,
            groupmodel : [], usermodel : [], currbox : {},
            currgroup : {}, rem : false, showinvite : false,
            tag : false, onetime: false, edit: false
        }
    },
    ready : function() {
        var self= this;
        self.currgroup.members = '';
        self.currbox.groups = '';
    },
    events:{
        'clearAudience': function(){
            this.usermodel.splice(0, this.usermodel.length);
            this.groupmodel.splice(0, this.groupmodel.length);
            this.tabmodel.splice(0, this.tabmodel.length);
            this.ApplySelection();
        },
        'editwcs' : function(wcs){
            this.pushToArray(wcs.user,this.usermodel);
            this.pushToArray(wcs.group,this.groupmodel);
            this.pushToArray(wcs.tab,this.tabmodel);
            this.ApplySelection();
            this.edit = true;
        },
        'audience' : function(x) {
            var self = this;
            self.UpdateAudiencePopup(x);
        }
    },
    methods: {
        pushToArray: function(source,target){
            var self = this;
            target.splice(0, target.length);
            $.each(source,function(index,value) {
               target.push(value);
            });

        },
        disableSelection: function() {
            console.log("disabled");
        },
        CancelPopup : function(){
            var self = this;
            self.showinvite = false;
        }
        ,
        ApplySelection: function(event){
            var self = this,rawdata = {
                tab : self.tabmodel,
                group : self.groupmodel,
                user : self.usermodel
            };
            //event.preventDefault();
            var userMod = [];
            $.each(self.usermodel,function(index,value){
                var x = value.split('-'),
                    namePart = x[2].split(',');
                var obj = {
                    name: namePart[1].substr(6,namePart[1].length),
                    id : namePart[0].substr(4,namePart[0].length),
                    boxid: x[0].substr(1,x[0].length),
                    groupid: x[1].substr(1,x[1].length)
                };
                userMod.push(obj);
            });
            //message to parent component
            self.$dispatch('audienceupdated',userMod, rawdata);
            self.$dispatch('groupboxupdated',self.groupmodel,self.tabmodel);
            self.showinvite = false;
        },
        selectAll : function() {
            var self =this;
            console.log('Clicked Select All');
            self.tabmodel = [];
                self.usermodel =[];
                    self.groupmodel = [];
            console.log('Cleared Whole Model');
            self.selectall = !self.selectall;
            if(self.selectall){
                $.each(self.boxes,function(index,box) {
                    self.tabClick(box);
{#                    console.log(box);#}
                });
{#                self.tabreadonly = true;#}
            }else{
{#                self.tabreadonly = false;#}
            }
        },
        usersUnderGroup: function(group) {
            var self = this;
            var undergroup = self.usermodel.filter(function(user) {
                        return user.indexOf(group) > -1;
                });
            return undergroup;
        },
        groupunderBox : function(id) {
            var self = this;
            var undertab = self.groupmodel.filter(function(group) {
                        return group.indexOf(id) > -1;
                });
            return undertab;
        },
        tabClick : function(box,event){
            var bid = box.id;
            var id = 'b'+box.id;
            var self = this;
            if(typeof event!='undefined')
             console.log(event.target);


{#            if(box.groups.length > 0)#}
{#            {#}
                 var indexVal = self.tabmodel.indexOf(id);
                if( indexVal > -1 ){
                    self.tabmodel.splice(indexVal,1);
                    self.selectall = false;
                    //Uchecking groups
                    $.each(box.groups,function(index,grp) {
                        var gid = 'b'+box.id+'-g'+grp.id;
                        if(self.groupmodel.indexOf(gid) > -1){
                            self.groupmodel.splice(self.groupmodel.indexOf(gid),1);
                        }
                        var users = self.usersUnderGroup(gid);
                        $.each(grp.members,function(index,user) {
                            var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                            // console.log(uid);
                            self.usermodel.splice(self.usermodel.indexOf(uid),1);
                        });
                    });

                }else {
                    //Checking groups
                    $.each(box.groups, function (index, grp) {
                        var gid = id + '-g' + grp.id;
                        if (self.groupmodel.indexOf(gid) == -1) {
                            self.groupmodel.push(gid);
                        }
                        $.each(grp.members,function(index,user) {
                            var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                            if(self.usermodel.indexOf(uid) == -1){
                                self.usermodel.push(uid);
                            }
                        });
                    });
                    self.tabmodel.push(id);
                }
{#            }#}
        },
        UpdateAudiencePopup: function(aud) {
            var self = this;
            // $('#invite-friends .tab-content').children().addClass('js-tab-hidden');
            ajaxGet('/api/audience/tree', function (response) {
                // self.boxes = [];self.tabmodel= [];
                // self.groupmodel = [];self.usermodel = [];
                self.selectall = false;
                self.boxes = response.audience.box;
                if(self.tabmodel.length == self.boxes.length)
                    self.selectall = true;
                self.currbox = '';
                self.showinvite = true;
            });
        },
        GroupBoxClick: function(grp,box,event) {
            var self = this;
            console.log(event.target);

            if(typeof box.id == 'undefined'){
{#                self.rem = false;#}
                 return;
            }
            var boxid = box.id,
                groupid = grp.id;
            var bid='b'+boxid,gid = bid+'-g'+groupid;
            //checking group is in its model
            setTimeout(function() {
                if(self.groupmodel.indexOf(gid) > -1){
                    console.log('Group Exist');
                    $.each(grp.members, function(index,user) {
                        var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                        if(self.usermodel.indexOf(uid) == -1){
                            self.usermodel.push(uid);
                        }
                    });
                    var groups = self.groupunderBox(bid);
                    if(box.groups!= undefined)
                    if(groups.length == box.groups.length ){
                        if(self.tabmodel.indexOf(bid) == -1){
                            self.tabmodel.push(bid);
                        }
                    }
                }else{
                     console.log('Group NOT Exist');
                    $.each(grp.members, function(index,user) {
                        var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                        if(self.usermodel.indexOf(uid) > -1){
                            self.usermodel.splice(self.usermodel.indexOf(uid),1);
                        }
                    });

                    console.log('Removing...' + self.tabmodel[self.tabmodel.indexOf(bid)]);
                    if(self.tabmodel[self.tabmodel.indexOf(bid)] != undefined)
                        self.tabmodel.splice(self.tabmodel.indexOf(bid),1);
                }
            },50);

        },
        UserClick : function(group,box) {
            var self = this;
            if(typeof box.id == 'undefined')
                return;
            var gid = 'b'+box.id+'-g'+group.id;

            setTimeout(function () {
                var undergroup = self.usersUnderGroup(gid);
                if (undergroup.length == group.members.length) {
                    if (self.groupmodel.indexOf(gid) == -1) {
                        self.groupmodel.push(gid);
                        var bid= 'b'+box.id;
                        var groups = self.groupunderBox(bid);
                        if (box.groups != undefined)
                            if (groups.length == box.groups.length) {
                                if (self.tabmodel.indexOf(bid) == -1) {
                                    self.tabmodel.push(bid);

                                }
                            }
                    }
                } else {
                    if (self.groupmodel.indexOf(gid) > -1) {
{#                        self.rem = true;#}
                        self.groupmodel.splice(self.groupmodel.indexOf(gid), 1);
                        //removing tab
                        var bid = 'b' + box.id;
                        if (self.tabmodel.indexOf(bid) > -1) {
                            self.tabmodel.splice(self.tabmodel.indexOf(bid), 1);
                        }
                    }
                }
            },50);

        }
    },
    watch:  {
        'showinvite': function(){
            var self = this;
            if(self.edit){
                return;
            }
            if(!self.onetime){
                self.selectAll();
                self.onetime = true;
            }

        },
        'boxes' : function() {
            var self = this;
            contentAccordion();

            // var members = jQuery('.checkbox-gallery .mask .row-group').children().length;
        },
        'tabmodel': function() {
{#            console.log('changed tabmodel');#}
{#            console.log(this.tabmodel);#}
            $('.row-group div:not(:first-child)').removeClass('active');
            var self = this;
            if(self.tabmodel.length == self.boxes.length){
                self.selectall = true;
            }else{
                self.selectall = false;
            }
        },
        'usermodel' : function() {
{#            console.log('changed usermodel');#}
            var self = this;
            self.peoplecount = self.usermodel.length;

        },
        'groupmodel' : function() {
{#            console.log('changed groupmodel');#}
{#             console.log(this.groupmodel);#}
            var self =this;
        }
    }
});

    var SharePopup = Vue.component('shareaudience',{
    template: '#audience-selection',
    props: ['popupid'],
    data:function() {
        return{
            boxes : [],tabreadonly: false,
            peoplecount : 0, tabmodel : [], selectall : false,
            groupmodel : [], usermodel : [], currbox : {},
            currgroup : {}, rem : false, showinvite : false,
            tag : false
        }
    },
    ready : function() {
        var self= this;
        self.currgroup.members = '';
        self.currbox.groups = '';
    },
    events:{
        'shareaud' : function(x) {
            var self = this;
            console.log("Executed");
            self.UpdateAudiencePopup(x);
        }
    },
    methods: {
        disableSelection: function() {
            console.log("disabled");
        },


        CancelPopup : function(){
            var self = this;
            self.showinvite = false;
            self.$dispatch('shareaudiencecancel');
        }
        ,
        ApplySelection: function(event){
            var self = this;
            event.preventDefault();
            var userMod = [];
            console.log(self.usermodel);
            $.each(self.usermodel,function(index,value){
                var x = value.split('-'),
                    namePart = x[2].split(',');
                var obj = {
                    name: namePart[1].substr(6,namePart[1].length),
                    id : namePart[0].substr(4,namePart[0].length),
                    boxid: x[0].substr(1,x[0].length),
                    groupid: x[1].substr(1,x[1].length)
                };
                userMod.push(obj);
            });
            //message to parent component
            self.$dispatch('shareaudienceup',userMod);
            // self.$dispatch('groupboxupdated',self.groupmodel,self.tabmodel);
            self.showinvite = false;
        },
        selectAll : function() {
            var self =this;
            self.tabmodel = [];
                self.usermodel =[];
                    self.groupmodel = [];
            self.selectall = !self.selectall;
            if(self.selectall){
                $.each(self.boxes,function(index,box) {
                    self.tabClick(box);
                });
                self.tabreadonly = true;
            }else{
                self.tabreadonly = false;
            }
        },
        usersUnderGroup: function(group) {
            var self = this;
            var undergroup = self.usermodel.filter(function(user) {
                        return user.indexOf(group) > -1;
                });
            return undergroup;
        },
        groupunderBox : function(id) {
            var self = this;
            var undertab = self.groupmodel.filter(function(group) {
                        return group.indexOf(id) > -1;
                });
            return undertab;
        },
        tabClick : function(box,event){
            var bid = box.id;
            var id = 'b'+box.id;
            var self = this;
            if(typeof event!='undefined')
             console.log(event.target);


            if(box.groups.length > 0)
            {
                 var indexVal = self.tabmodel.indexOf(id);
                if( indexVal > -1 ){
                    self.tabmodel.splice(indexVal,1);
                    self.selectall = false;
{#                    if(typeof event!='undefined')#}
{#                        $(event.target).parents('.slide').removeClass('active');#}

                    //Uchecking groups
                    $.each(box.groups,function(index,grp) {
                        var gid = 'b'+box.id+'-g'+grp.id;
                        if(self.groupmodel.indexOf(gid) > -1){
                            self.groupmodel.splice(self.groupmodel.indexOf(gid),1);
                        }
                        var users = self.usersUnderGroup(gid);
                        $.each(grp.members,function(index,user) {
                            var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                            // console.log(uid);
                            self.usermodel.splice(self.usermodel.indexOf(uid),1);
                        });
                    });

                }else {
                    //Checking groups
                    $.each(box.groups, function (index, grp) {
                        var gid = id + '-g' + grp.id;
                        if (self.groupmodel.indexOf(gid) == -1) {
                            self.groupmodel.push(gid);
                        }
                        $.each(grp.members,function(index,user) {
                            var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                            if(self.usermodel.indexOf(uid) == -1){
                                self.usermodel.push(uid);
                            }
                        });
                    });
                    self.tabmodel.push(id);
                }
            }
        },
        UpdateAudiencePopup: function(aud) {
            var self = this;
            // $('#invite-friends .tab-content').children().addClass('js-tab-hidden');
            ajaxGet('/api/audience/tree', function (response) {
                // self.boxes = [];self.tabmodel= [];
                // self.groupmodel = [];self.usermodel = [];
                self.selectall = false;
                self.boxes = response.audience.box;
                if(self.tabmodel.length == self.boxes.length)
                    self.selectall = true;
                self.currbox = '';
                self.showinvite = true;
            });
        },
        GroupBoxClick: function(grp,box,event) {
            var self = this;
            console.log(event.target);

            if(typeof box.id == 'undefined'){
{#                self.rem = false;#}
                 return;
            }
            var boxid = box.id,
                groupid = grp.id;
            var bid='b'+boxid,gid = bid+'-g'+groupid;
            //checking group is in its model
            setTimeout(function() {
                if(self.groupmodel.indexOf(gid) > -1){
                    console.log('Group Exist');
                    $.each(grp.members, function(index,user) {
                        var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                        if(self.usermodel.indexOf(uid) == -1){
                            self.usermodel.push(uid);
                        }
                    });
                    var groups = self.groupunderBox(bid);
                    if(box.groups!= undefined)
                    if(groups.length == box.groups.length ){
                        if(self.tabmodel.indexOf(bid) == -1){
                            self.tabmodel.push(bid);
                        }
                    }
                }else{
                     console.log('Group NOT Exist');
                    $.each(grp.members, function(index,user) {
                        var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                        if(self.usermodel.indexOf(uid) > -1){
                            self.usermodel.splice(self.usermodel.indexOf(uid),1);
                        }
                    });

                    console.log('Removing...' + self.tabmodel[self.tabmodel.indexOf(bid)]);
                    if(self.tabmodel[self.tabmodel.indexOf(bid)] != undefined)
                        self.tabmodel.splice(self.tabmodel.indexOf(bid),1);
                }
            },50);

        },
        UserClick : function(group,box) {
            var self = this;
            if(typeof box.id == 'undefined')
                return;
            var gid = 'b'+box.id+'-g'+group.id;

            setTimeout(function () {
                var undergroup = self.usersUnderGroup(gid);
                if (undergroup.length == group.members.length) {
                    if (self.groupmodel.indexOf(gid) == -1) {
                        self.groupmodel.push(gid);
                        var bid= 'b'+box.id;
                        var groups = self.groupunderBox(bid);
                        if (box.groups != undefined)
                            if (groups.length == box.groups.length) {
                                if (self.tabmodel.indexOf(bid) == -1) {
                                    self.tabmodel.push(bid);
                                }
                            }
                    }
                } else {
                    if (self.groupmodel.indexOf(gid) > -1) {
{#                        self.rem = true;#}
                        self.groupmodel.splice(self.groupmodel.indexOf(gid), 1);
                        //removing tab
                        var bid = 'b' + box.id;
                        if (self.tabmodel.indexOf(bid) > -1) {
                            self.tabmodel.splice(self.tabmodel.indexOf(bid), 1);
                        }
                    }
                }
            },50);

        }
    },
    watch:  {
        'boxes' : function() {
            var self = this;
            contentAccordion(self.popupid);

            // var members = jQuery('.checkbox-gallery .mask .row-group').children().length;
        },
        'tabmodel': function() {
            console.log('changed tabmodel');
            console.log(this.tabmodel);
            $('.row-group div:not(:first-child)').removeClass('active');
            var self = this;
            if(self.tabmodel.length == self.boxes.length){
                self.selectall = true;
            }else{
                self.selectall = false;
            }
        },
        'usermodel' : function() {
            console.log('changed usermodel');
             console.log(this.usermodel);
            var self = this;
            self.peoplecount = self.usermodel.length;

        },
        'groupmodel' : function() {
            console.log('changed groupmodel');
             console.log(this.groupmodel);
            var self =this;
        }
    }
});

    var TagPopup = Vue.component('tagpopup',{
    template: '#audience-selection',
    props: ['popupid'],
    data:function() {
        return{
            boxes : [],tabreadonly: false,
            peoplecount : 0, tabmodel : [], selectall : false,
            groupmodel : [], usermodel : [], currbox : {},
            currgroup : {}, rem : false, showinvite : false,
            tag : false
        }
    },
    ready : function() {
        var self= this;
        self.currgroup.members = '';
        self.currbox.groups = '';
    },
    events:{
        'clearAudience': function(){
            this.usermodel.splice(0, this.usermodel.length);
            this.groupmodel.splice(0, this.groupmodel.length);
            this.tabmodel.splice(0, this.tabmodel.length);
            this.ApplySelection();
        },
        'edittag' : function(wcs){
            this.pushToArray(wcs.user,this.usermodel);
            this.pushToArray(wcs.group,this.groupmodel);
            this.pushToArray(wcs.tab,this.tabmodel);
            this.ApplySelection();
            this.edit = true;
        },

        'opentag' : function(x) {
            console.log('reached here');
            var self = this;
            self.UpdateTagPeople(x);
        }
    },
    methods: {

        pushToArray: function(source,target){
            var self = this;
            target.splice(0, target.length);
            $.each(source,function(index,value) {
                target.push(value);
            });

        },


        disableSelection: function() {
            console.log("disabled");
        },
        CancelPopup : function(){
            var self = this;
            self.showinvite = false;
        }
        ,
        ApplySelection: function(){
            var self = this,rawdata = {
                tab : self.tabmodel,
                group : self.groupmodel,
                user : self.usermodel
            };
            //event.preventDefault();
            var userMod = [];
            // console.log(self.usermodel);
            $.each(self.usermodel,function(index,value){
                var x = value.split('-'),
                    namePart = x[2].split(',');
                var obj = {
                    id : namePart[0].substr(4,namePart[0].length),
                    name: namePart[1].substr(6,namePart[1].length),
                    box_id: x[0].substr(1,x[0].length),
                    group_id: x[1].substr(1,x[1].length)
                };
                userMod.push(obj);
            });
            //message to parent component
            self.$dispatch('tagupdated',userMod,rawdata);
            self.$dispatch('groupboxupdated',self.groupmodel,self.tabmodel);
            self.showinvite = false;
        },
        selectAll : function() {
            var self =this;
            self.tabmodel = [];
                self.usermodel =[];
                    self.groupmodel = [];
            self.selectall = !self.selectall;
            if(self.selectall){
                $.each(self.boxes,function(index,box) {
                    self.tabClick(box);
                });
                self.tabreadonly = true;
            }else{
                self.tabreadonly = false;
            }
        },
        usersUnderGroup: function(group) {
            var self = this;
            var undergroup = self.usermodel.filter(function(user) {
                        return user.indexOf(group) > -1;
                });
            return undergroup;
        },
        groupunderBox : function(id) {
            var self = this;
            var undertab = self.groupmodel.filter(function(group) {
                        return group.indexOf(id) > -1;
                });
            return undertab;
        },
        tabClick : function(box,event){
            var bid = box.id;
            var id = 'b'+box.id;
            var self = this;
            if(typeof event!='undefined')
             console.log(event.target);


            if(box.groups.length > 0)
            {
                 var indexVal = self.tabmodel.indexOf(id);
                if( indexVal > -1 ){
                    self.tabmodel.splice(indexVal,1);
                    self.selectall = false;
{#                    if(typeof event!='undefined')#}
{#                        $(event.target).parents('.slide').removeClass('active');#}

                    //Uchecking groups
                    $.each(box.groups,function(index,grp) {
                        var gid = 'b'+box.id+'-g'+grp.id;
                        if(self.groupmodel.indexOf(gid) > -1){
                            self.groupmodel.splice(self.groupmodel.indexOf(gid),1);
                        }
                        var users = self.usersUnderGroup(gid);
                        $.each(grp.members,function(index,user) {
                            var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                            // console.log(uid);
                            self.usermodel.splice(self.usermodel.indexOf(uid),1);
                        });
                    });

                }else {
                    //Checking groups
                    $.each(box.groups, function (index, grp) {
                        var gid = id + '-g' + grp.id;
                        if (self.groupmodel.indexOf(gid) == -1) {
                            self.groupmodel.push(gid);
                        }
                        $.each(grp.members,function(index,user) {
                            var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                            if(self.usermodel.indexOf(uid) == -1){
                                self.usermodel.push(uid);
                            }
                        });
                    });
                    self.tabmodel.push(id);
                }
            }
        },
        UpdateTagPeople: function(taglist) {
             var self = this;
            console.log(taglist);
            var userlist = [];
            // self.usermodel = [];
            $.each(taglist,function(index,value){
                var user = 'b'+value.boxid+'-g'+value.groupid+'-uid:'+value.id+',uname:'+value.name;
                userlist.push(user);
                // self.UserClick(value.groupid)
                // self.usermodel.push(user);


            });
            ajaxGet('/api/audience/tree', function (response) {
                // self.boxes = [];self.tabmodel= [];
                // self.groupmodel = [];self.usermodel = [];
                self.usermodel=userlist;
                self.boxes = response.audience.box;
                self.selectall = false;
                self.boxes = response.audience.box;
                if(self.tabmodel.length == self.boxes.length)
                    self.selectall = true;
                self.currbox = '';
                self.showinvite = true;
            });

        },
        GroupBoxClick: function(grp,box,event) {
            var self = this;
            console.log(event.target);

            if(typeof box.id == 'undefined'){
{#                self.rem = false;#}
                 return;
            }
            var boxid = box.id,
                groupid = grp.id;
            var bid='b'+boxid,gid = bid+'-g'+groupid;
            //checking group is in its model
            setTimeout(function() {
                if(self.groupmodel.indexOf(gid) > -1){
                    console.log('Group Exist');
                    $.each(grp.members, function(index,user) {
                        var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                        if(self.usermodel.indexOf(uid) == -1){
                            self.usermodel.push(uid);
                        }
                    });
                    var groups = self.groupunderBox(bid);
                    if(box.groups!= undefined)
                    if(groups.length == box.groups.length ){
                        if(self.tabmodel.indexOf(bid) == -1){
                            self.tabmodel.push(bid);
                        }
                    }
                }else{
                     console.log('Group NOT Exist');
                    $.each(grp.members, function(index,user) {
                        var uid = gid+'-uid:'+user.id+',uname:'+user.first_name;
                        if(self.usermodel.indexOf(uid) > -1){
                            self.usermodel.splice(self.usermodel.indexOf(uid),1);
                        }
                    });

                    console.log('Removing...' + self.tabmodel[self.tabmodel.indexOf(bid)]);
                    if(self.tabmodel[self.tabmodel.indexOf(bid)] != undefined)
                        self.tabmodel.splice(self.tabmodel.indexOf(bid),1);
                }
            },50);

        },
        UserClick : function(group,box) {
            var self = this;
            if(typeof box.id == 'undefined')
                return;
            var gid = 'b'+box.id+'-g'+group.id;

            setTimeout(function () {
                var undergroup = self.usersUnderGroup(gid);
                if (undergroup.length == group.members.length) {
                    if (self.groupmodel.indexOf(gid) == -1) {
                        self.groupmodel.push(gid);
                        var bid= 'b'+box.id;
                        var groups = self.groupunderBox(bid);
                        if (box.groups != undefined)
                            if (groups.length == box.groups.length) {
                                if (self.tabmodel.indexOf(bid) == -1) {
                                    self.tabmodel.push(bid);
                                }
                            }
                    }
                } else {
                    if (self.groupmodel.indexOf(gid) > -1) {
{#                        self.rem = true;#}
                        self.groupmodel.splice(self.groupmodel.indexOf(gid), 1);
                        //removing tab
                        var bid = 'b' + box.id;
                        if (self.tabmodel.indexOf(bid) > -1) {
                            self.tabmodel.splice(self.tabmodel.indexOf(bid), 1);
                        }
                    }
                }
            },50);

        }
    },
    watch:  {
        'boxes' : function() {
            var self = this;
            contentAccordion(self.popupid);

        },
        'tabmodel': function() {
            console.log('changed tabmodel');
            console.log(this.tabmodel);
            $('.row-group div:not(:first-child)').removeClass('active');
            var self = this;
            if(self.tabmodel.length == self.boxes.length){
                self.selectall = true;
            }else{
                self.selectall = false;
            }
        },
        'usermodel' : function() {
            console.log('changed usermodel');
             console.log(this.usermodel);
            var self = this;
            self.peoplecount = self.usermodel.length;

        },
        'groupmodel' : function() {
            console.log('changed groupmodel');
             console.log(this.groupmodel);
            var self =this;
        }
    }
});

</script>