<template id="box-selection">
    <div class="pop-up-area add-size" :class="{'lightbox-active': show}" id="movetobox">
        <div class="holder">
            <div class="add-members-pop-up">
                <div class="title-pop-up">Move Group</div>
                <form action="#" class="add-members-form">
                    <div class="checkbox-gallery">
                        <div class="mask">
                            <div class="row-group">
{#                                <div  class="slide"#}
{#                                     :class="{'active' : selectall}">#}
{#                                    <a href="#checkbox-gallery-tab01">#}
{#                                        <label for="checkboxPopupAll" class="checkboxPopup">#}
{#                                            <input type="checkbox"  id="checkboxPopupAll" name="checkboxPopupAll" ><span>All</span>#}
{#                                        </label>#}
{#                                    </a>#}
{#                                </div>#}
                                <div  class="slide"
                                     v-for="box in boxes">
                                    <a @click="TabClick(box.id,$event)" :href='"#checkbox-gallery-tab-movegroup-"+ box.id'>
                                        <label  :for='"checkboxPopup"+box.id' class="checkboxPopup">
                                            <input  v-model="boxmodel" type="checkbox" :value="box.id.toString()"
                                                   :id='"boxpopup"+ box.id'
                                                   :name='box.name'>
                                            <span ><div class="check"></div>{! box.name !}</span>
                                        </label>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn-prev">previous</a>
                        <a href="#" class="btn-next">next</a>
                    </div>
                    <div class="tab-content">
                        <div id="checkbox-gallery-tab01">
                            <h2>Click All to select<br>or select everyone</h2>
                        </div>
                    </div>
                    <div class="btn-group clearfix">
                        <a href="#" @click='HideGroupSelection' id="deskclose" class="mfp-close cancel-btn desktop close">Cancel</a>
                        <a href="#" @click='HideGroupSelection' id="deskclose" class="cancel-btn mobile close">Cancel</a>
                        <button @click="CopyGroup" id="friends_li" type="submit">Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    var BoxSelection = Vue.component('boxselection',{
   template: '#box-selection',
    data: function() {
        return{
            boxes: [],
            selectedbox: 0
        }
    },
    props:['show','groupid'],
    methods: {
        CopyGroup: function(event) {
            var self = this;
            event.preventDefault();
             ajaxPost('/api/group/move/',{
                 box_id: self.selectedbox,
                 group_id : self.groupid
             },function(response){
                 console.log(response);
                if(response.result == 'ok'){
                    self.show = !self.show;
                }
             });

        },
        TabClick: function(boxid,e) {
            var self = this;
            self.selectedbox = boxid;
            $(e.target).parents('.row-group').find('input').prop('checked',false);
            $(e.target).parents('a').find('input').prop('checked',true);
        },
        HideGroupSelection: function() {
            var self = this;
            self.show = false;
        },
        LoadBoxGroups : function() {
            var self = this;
            ajaxGet('/api/audience/tree',function(response) {
                self.boxes = response.audience.box;
            });
        }
    },
    watch: {
      'show' : function() {
          var self = this;
            if(self.show == true){
                self.boxes = [];
                self.LoadBoxGroups();
            }
      },
      'boxes' : function() {
          contentAccordion('movetobox');
      }
    },
    ready : function() {
        var self = this;
    }
});
</script>