<template id="chatmessages">
    <div class="messages-container">
        <div id="all-msg-block" v-show="showfriends" transition="fade"
             class="message-discussion-area active-discussion stretch" :class="{'active' : showfriends}">
            <div class="discussion-title stretch__top">
                <span class="text01"><a href="#create-msg-block" @click.prevent="CreateMessage" class="chat_opener desktop link-create-msg">Create new message</a></span>
                <span class="text02">Direct Messages</span>
                <a @click.prevent="HidePopup" href="#" class="hide-discussion-btn desktop">&nbsp;</a>
                <a href="messages.html" class="hide-discussion-btn mobile">&nbsp;</a>
            </div>
            <div class="scroll-area discussion-scroll stretch__middle">
                <ul class="messages-list">
                    <li :class="{'unread-messages': head.unread > 0}" v-for="head in chatheads">
                        <div class="img-box">
                            <span class="img-holder">
                                <img :src="head.profile_pic" alt="">
                            </span>
                            <span v-if="head.status == true" class="mark-new-message"></span>
                        </div>
                        <div class="text-holder" v-if="head.last_msg | image">
                            <h3>{! head.name | capitalize !}</h3>
                            <div class="sub-messages">
                                <span class="img-block">
                                    <img :src="head.last_msg | image" alt="" height="43" width="46">
                                </span>
                                <p>{! head.last_msg | text !}</p>
                            </div>
                        </div>
                        <div class="text-holder" v-else>
                            <h3>{! head.name | capitalize !}</h3>
                            <p>{! head.last_msg | text !}</p>
                        </div>
                        <span v-if="head.unread > 0" class="number-messages">{! head.unread !}</span>
                        <a @click.prevent="IndividualMessage(head)" href="#individual-msg-block"
                           class="link-open-message chat_opener"></a>
                    </li>
                </ul>
            </div>
            <a href="#" class="btn-tablet-new-message mobile">Create New Message</a>
        </div>

        <div id="individual-msg-block"
             class="stretch individual-discussion message-discussion-area active-discussion"
             :class="{'active': individualchat}">
            <div class="discussion-title stretch__top">
                Back to discussions list
                <a @click.prevent="DiscussionList" href="#" class="hide-discussion-btn desktop">&nbsp;</a>
                <a href="events.html" class="hide-discussion-btn mobile">&nbsp;</a>
            </div>
            <div class="discussion-add-navbar stretch__top">
                <h3>{! curruser.name | capitalize !}</h3>
                <div class="discussion-nav active-drop">
                    <a  href="#" class="opener">
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                    </a>
                    <div class="discussion-nav-dropdown">
                        <ul>
                            <li><a @click.prevent="ShowDelete" class="delete-choosed" href="#">Delete messages</a></li>
                            <li><a @click.prevent="ShowClearDiscussion" class="delete-discussion" href="#">Delete discussion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="scroll-area discussion-scroll stretch__middle" v-show="!smiley.show">
                <ul class="discussion-list" :class="{'editable' : deletedropdown}">
                    <li v-for="message in messages">
                        <div class="wrap-img"><a href="#">
                            <img :src="message.profile_pic" alt="Picture"></a>
                        </div>
                        <div class="text-box">
                            <h3><a href="#">{! message.sender | capitalize !}</a></h3>
                            <p>{! message.message | text !}</p>
                            <img v-if="message.message | image != ''" class="discussion-smiley"
                                 :src="message.message | image"
                                 alt="" height="66" width="60">
                        </div>
                        <a @click.prevent="ShowConfirm($index)" href="#" class="delete">Delete</a>
                    </li>
                </ul>
            </div>
             <div class="discussion-scroll stretch__middle scroll-area" v-else>
                    <section class="profile-popup smiley-popup">
                        <div class="profile-popup-content">
                            <div>
                                <ul class="avatar-menu">
                                    <li v-for="comic in smiley.comics" @click="SetComic(comic)">
                                        <a href="#">
                                            <img :src="comic" width="70" height="70px" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
            </div>
            <form class="message-form clearfix stretch__bottom create-message-bottom" action="#">
                <div class="messsage-input">
                    <div class="message-enter">
                        <input v-model="chatmessage" type="text" name="message" autocomplete="off"
                       placeholder="Type your message">
                    </div>
                    <div class="smiley" @click="smiley.show = !smiley.show" @dblclick="RemoveStatusImage">
                        <img :src="smiley.selection" />
                    </div>
                </div>

                <div class="message-btn">
                    <a href="#" class="message-btn1">&nbsp;</a>
                    <a href="#" class="message-btn2">&nbsp;</a>
                </div>
                <button @click.prevent="SendMessage" type="submit">Send</button>
            </form>
        </div>

        <div id="create-msg-block" class="message-discussion-area active-discussion stretch" :class="{'active': createmessage}">
            <div class="discussion-title stretch__top">
                &nbsp;
                <a href="#" @click.prevent="DiscussionList" class="hide-discussion-btn desktop">&nbsp;</a>
                <a href="events.html" class="hide-discussion-btn mobile">&nbsp;</a>
            </div>
            <div class="message-to-title stretch__top">
                <form action="#" class="message-to-form">
                    <strong class="title">Message To: </strong>
                    <input type="text" style="margin-left:3px" @blur="onBlurSearch" v-model="searchstring" placeholder="" @keyup="SearchUser | debounce 500">
                </form>
            </div>
            <div class="scroll-area discussion-scroll popover" v-show="searchusers.length > 0" transition="fade">
                <div class="messages-contact-list">
                    <div class="searchable-container">
                        <div class="items chat_opener" v-for="user in searchusers" @click="AssignMessageReciver(user)">
                            <div class="info-block block-info clearfix chat_opener">
                                <div class="square-box pull-left chat_opener">
                                    <img :src="user.profile_details.profile_pic" class="img-responsive img-circle"/>
                                </div>

                                <div class="name chat_opener">
                                    <h4><b>{! user.profile_details.name | capitalize !}</b></h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="scroll-area discussion-scroll stretch__middle">
                <ul class="messages-contact-list">
                </ul>
            </div>
            <form class="message-form clearfix stretch__bottom create-message-bottom" action="#">
                <div class="messsage-input">
                    <div class="message-enter">
                        <input type="text" name="message" placeholder="Type your message">
                    </div>

                    <div class="smiley" @click="smiley.show = !smiley.comic">
                        <img src="/static/images/time_icons/icon-setting.png" />
                    </div>
                </div>
                <div class="message-btn">
                    <a href="#" class="message-btn1">&nbsp;</a>
                    <a href="#" class="message-btn2">&nbsp;</a>
                </div>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    <div class="pop-up-area" :class="{'lightbox-active' : deleteconfirm}" id="popup-confirmation">
        <div class="holder">
            <h2>Are you sure you want to Delete?</h2>
            <p style="color:#BDBDBD">Your message will be deleted</p>
            <div class="button-holder">
                <a @click.prevent="DeleteMessage(delmsgid)" href="#" class="btn-base"
                   id="delpost" data-post="2">Delete</a>
                <a @click.prevent="HideDeletePopup" href="#" class="close" id="close_popup">Cancel</a>
            </div>
            <div style="display:none" id="del_success"></div>
        </div>
    </div>
    <div class="pop-up-area" :class="{'lightbox-active' : deletediscussion}" id="popup-confirmation">
        <div class="holder">
            <h2>Are you sure you want to Delete?</h2>
            <p style="color:#BDBDBD">Your chat will be cleared</p>
            <div class="button-holder">
                <a @click.prevent="DeleteDiscussion" href="#" class="btn-base"
                   id="delpost" data-post="2">Delete</a>
                <a @click.prevent="HideDeletePopup" href="#" class="close" id="close_popup">Cancel</a>
            </div>
            <div style="display:none" id="del_success"></div>
        </div>
    </div>


</template>

<script>
    var Chat = Vue.component('chat', {
        template: '#chatmessages',
        data: function () {
            return {
                showfriends: false,
                individualchat: false,
                createmessage: false,
                curruser: {},
                messages: [],
                chatheads: [],
                chatmessage: '',
                timer: {
                    chathead: null,
                    individual: null
                },
                my: window.userprofile,
                deletedropdown: false,
                deleteconfirm: false,
                delmsgid : 0,
                delmsginx: 0,
                deletediscussion: false,
                searchusers: [],
                searchstring:'',
                smiley:{
                    show: false,
                    comics: [],
                    selection:'/static/images/time_icons/icon-setting.png',
                    failsafe: '/static/images/time_icons/icon-setting.png'
                }
            }
        },
        events: {
            'openchat': function () {
                var self = this;
                self.individualchat = false;
                self.messagetouser = {};
                self.showfriends = !this.showfriends;
                ajaxGet('/api/chat/notification/', function (response) {
                    if (response.result == 'ok') {
                        self.chatheads = response.Notification;
                        self.refreshScroll();
                    }
                });

            },
            'openindividual': function (member) {
                var self = this;
                self.curruser = member;
                self.showfriends = false;
                self.createmessage = false;
                self.smiley.show = false;
                self.messages = [];
                console.log(JSON.stringify(member));
                $('.loader-container').addClass('lightbox-private');
                ajaxGet('/api/chat/load/?user_id=' + member.id, function (response) {
                    self.messages = response.messages;
                    self.$nextTick(function () {
                        //Scroll to last
                        var el = $('#individual-msg-block').find('.scroll-area').data('IScroll');
                        el.refresh();
                        el.scrollTo(0, el.maxScrollY, 0);
                    });

                });
                self.individualchat = !this.individualchat;
                $('.loader-container').removeClass('lightbox-private');
            }
        },
        filters: {
            image: function (value) {
                return value.slice(0,value.indexOf('%%'));
            },
            text: function (value) {
                return value.slice(value.indexOf('%%')+2,value.length);
            }
        },
        methods: {
            RemoveStatusImage: function() {
                this.smiley.selection = this.smiley.failsafe;
            },
            SetComic: function(comic) {
                var self = this;
                self.smiley.show = false;
                self.smiley.selection = comic;
                self.$nextTick(function() {
                   self.scrollToEnd();
                });
            },
            onBlurSearch: function() {
                var self = this;
                self.searchusers = [];
            },
            AssignMessageReciver: function (member) {
                var self = this;
                member.id=member.profile_details.id;
                self.$emit('openindividual',member);
            },
            SearchUser: function(event) {
                var searchstring = event.target.value,
                        url = "/api/search_people/?search_key=" + searchstring, self = this;
                ajaxGet(url, function (response) {
                    self.searchusers = response.people;
                });
            },
            refreshScroll: function () {
                $('#individual-msg-block').find('.scroll-area').data('IScroll').refresh();
            },
            scrollToEnd: function () {
                console.log('Scrolling to end');
                var el = $('#individual-msg-block').find('.scroll-area').data('IScroll');
                console.log(el);
                el.refresh();
                el.scrollTo(0, el.maxScrollY, 0);
            },
            HideDeletePopup: function() {
              this.deleteconfirm = false;
              this.deletediscussion = false;
            },
            CreateMessage: function(){
                var self = this;
                self.showfriends = false;
                self.createmessage=!self.createmessage;

            },
            SendMessage: function () {
                var self = this,
                    pic = self.smiley.selection == self.smiley.failsafe ? '' : self.smiley.selection,
                    message = pic + '%%' + self.chatmessage;
                if(message == '%%'){
                    return notification.error('No message to send');
                }
                ajaxPost('/api/chat/send/', {
                    user_id: self.curruser.id,
                    message: message
                }, function (response) {
                    if (response.result == 'ok') {
                        console.log(response);
                        self.messages.push(response.messages);
                        self.$nextTick(function () {
                            //Scroll to last
                            self.scrollToEnd();
                        });
                        self.chatmessage = '';
                        self.smiley.selection = self.smiley.failsafe;
                    }
                });
            },
            DiscussionList: function () {
                var self = this;
                self.createmessage = false;
                self.$dispatch('openchat');
            },
            ShowConfirm: function(index) {
                if (this.messages.length == 0) {
                    notification.error('No messages to clear');
                } else {
                    this.delmsgid = this.messages[index].msg_id;
                    this.delmsginx = index;
                    this.deleteconfirm = true;
                }
            },
            DeleteDiscussion: function() {
                var self = this;
                ajaxPost('/api/chat/clear/',{
                    user_id: self.curruser.id ,
                    last_msg_id: self.messages[self.messages.length -1].msg_id
                },function(response) {
                    console.log(response);
                    if(response.result == 'ok'){
                       self.messages = [];
                        notification.success('Discussion cleared');
                    }else{
                        notification.error('Discussion not cleared');
                    }

                });
                 self.HideDeletePopup();
            },
            DeleteMessage: function (msgid) {
                var self = this,
                        parm = 'user_id=' + self.curruser.id + '&msg_id=' + msgid;
                ajaxPost('/api/chat/delete/', {
                    user_id: self.curruser.id,
                    msg_id: msgid
                }, function (response) {
                    console.log(response);
                    if (response.result == 'ok') {
                        self.messages.splice(self.delmsginx, 1);
                        self.refreshScroll();
                        self.ShowDelete();
                        notification.success('Message deleted successfully');
                    }else{
                        notification.error('Message not deleted');
                    }
                    self.deleteconfirm = false;
                });
            },
            ShowClearDiscussion: function() {
                if(this.messages.length == 0){
                    notification.error('No messages to clear');
                }else{
                    this.deletediscussion = true;
                }
            },
            ShowDelete: function () {
                var self = this;
                $('.discussion-nav').removeClass('active');
                $('.discussion-nav-dropdown').css('display', 'none');
                self.deletedropdown = !self.deletedropdown;
            },
            HidePopup: function () {
                var self = this;
                self.showfriends = false;
                self.individualchat = false;
            },
            IndividualMessage: function (member) {
                var self = this;
                self.$emit('openindividual', member);
            }
        },
        ready: function () {
            {#                initIScroll();#}
            jQuery('.discussion-nav').openClose({
                hideOnClickOutside: true,
                activeClass: 'active',
                opener: '.opener',
                slider: '.discussion-nav-dropdown',
                animSpeed: 400,
                effect: 'none'
            });
            initIScroll();
        },
        watch: {
            'createmessage': function(){
                var self = this;
                console.log("Create Message");
                if(self.createmessage){
                    var popup = $("#create-msg-block");
                    $('#main-bar').on('click',function(event) {
                        console.log(popup.has(event.target));
                        if(popup.has(event.target).length > 0)
                            return;
                        else
                            if(!$(event.target).hasClass('chat_opener'))
                                self.createmessage = false;
                    });
                }else{
                    $('#main-bar').off();
                }

            },
            'showfriends': function () {
                var self = this;
                if (self.showfriends) {
                    self.timer.chathead = setInterval(function () {
                        ajaxGet('/api/chat/notification/', function (response) {
                            if (response.result == 'ok') {
                                console.log(response);
                                self.chatheads = response.Notification;
                                self.refreshScroll();
                            }
                        });
                    }, 3000);

                    $('#main-bar').on('click',function(event) {
                        console.log(event.target);
                        if($(event.target).hasClass('chat_opener'))
                            return;
                        else
                            self.showfriends = false;
                    });

                } else {
                    $('#main-bar').off();
                    if (self.timer.chathead != null) {
                        clearInterval(self.timer.chathead);
                        self.timer.chathead = null;
                    }
                }
            },
            'smiley':{
                handler: function() {
                    var self = this;
                    if(self.smiley.show){
                        if (self.smiley.comics.length == 0) {
                            ajaxGet('/api/load/statusimages/', function (response) {
                                if (response.result == 'ok')
                                    self.smiley.comics = response.statusimages;
                                self.$nextTick(function() {
                                    initIScroll();
                                });
                            });
                        }
                    }
                    self.refreshScroll();
                },
                deep:true
            },
            'individualchat': function () {
                var self = this;


                if (self.individualchat) {
                    var popup = $("#individual-msg-block");
                    $('#main-bar').on('click',function(event) {
                        if(popup.has(event.target).length > 0)
                            return;
                        else
                            if(!$(event.target).hasClass('chat_opener'))
                                self.individualchat = false;
                    });

                    if(self.deletedropdown){
                        self.ShowDelete();
                    }
                    self.timer.individual = setInterval(function () {
                        ajaxGet('/api/chat/update/?user_id=' + self.curruser.id +
                                '&last_msg_id=' + self.messages[self.messages.length - 1].msg_id,
                                function (response) {
                                    if (response.result == 'ok') {
                                        console.log(response);
                                        if (response.messages.length > 0) {
                                            self.messages.push.apply(self.messages, response.messages);
                                            self.$nextTick(function () {
                                                self.scrollToEnd();
                                            });

                                        }

                                        /* or JQuery
                                         $.merge(self.messages,response.messages);
                                         */

                                    }
                                });
                    }, 3000);
                } else {
                    $('#main-bar').off();
                    if (self.timer.individual != null) {
                        clearInterval(self.timer.individual);
                        self.timer.individual = null;
                    }
                }

            }
        }
    });
</script>