
<template id="commentstemplate">
    <div class="activity-persons-section top">
                <strong class="title">Activity by:</strong>
                <span class="link-person"><a href="#">George Alanberger</a>,</span>
                <span class="link-person"><a href="#">Sam Tomson</a>,</span>
                <span class="link-person"><a href="#">Paul Tower</a>,</span>
                <span class="link-person">and</span>
                <div class="add-menu">
                    <a href="#" class="opener-add-menu">11 other</a>
                    <div class="slide-add-menu">
                        <ul>
                            <li><a href="#">Sam Gunn</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                        </ul>m
                    </div>
                </div>
    </div>
    <div class="share-creation" v-if="shareapost" transition="fade">
        <div class="general-post-input">
            <textarea v-model="description" cols="30" rows="10" placeholder="Description"></textarea>
        </div>
        <div class="general-post-button-bar">
            <div class="button-bar-row">
                <div class="whocanseeshare">
							<strong class="title">Who can see this post:</strong>
							<div class="text-holder">
								<ul class="member-list">
									<li v-for="aud in audience" v-if="$index < audience.length ">
                                        <a href="#">{! aud.name | capitalize !}</a>,
                                    </li>
								</ul>
								<a @click="AudiencePopup" href="#" class="edit-link">Edit</a>
							</div>
                </div>
                <div class="button-group">
                    <a @click="ShareThePost" href="#" class="btn-base">Share</a>
                    <a @click="HideSharePost($event)" href="#" class="btn-base btn-default">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bar">
                <div class="date-box">
                    <ul>
                        <li><time datetime="2015-10-21">{! post.post_created_date !}</time></li>
                        <li class="comments-link"><a @click="ShowComments($event)" href="#" class="opener-comment-section">Comment</a></li>
                        <li class="comments-link" v-if="post.discussion_type == 'private'"><a href="#" @click.prevent="ShowParticipants()" class="opener-comment-section">Paricipants</a></li>
                    </ul>
                </div>
                <div class="like-section">
                    <div @click="ShareThisPost($event)" class="share-box">
                        <a href="#" class="share">
                            <span class="icon">icon share</span>
                            <span class="number">{! post.share_count !}</span>
                        </a>
                    </div>
                    <div class="like-box plus" :class="{'active': post.like_status=='like_plus' }">
                        <a @click="LikePlus" href="#" class="opener-like-box" :class="{'like-reset' : !post.like_plus.length }">
                            <span class="icon">like</span>
                            <span class="number">{! post.like_plus.length !}</span>
                        </a>
                        <div class="drop-add-info" v-show="post.like_plus.length">
                            <ul>
                                <li v-for="like in post.like_plus.slice(0,5)" >

                                    <a @click.prevent="OpenLikeBox(post.like_plus)" v-if="$index == 4 && post.like_plus.length > 5" class="lightbox" href="#popup2">
                                        <span class="number-persons">{! post.like_plus.length - 4 !}</span>
                                    </a>
                                    <a v-else href="#"><img :src="like.profile_pic" height="45" width="45" alt=""></a>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="like-box" :class="{'active': post.like_status=='like' }">
                        <a @click="LikeNormal" href="#" class="opener-like-box" :class="{'like-reset' : !post.likes.length }">
                            <span class="icon">like</span>
                            <span class="number">{! post.likes.length !}</span>
                        </a>
                        <div class="drop-add-info" v-show="post.likes.length">
                            <ul>
                                <li v-for="like in post.likes.slice(0,5)" >
                                    <a @click.prevent="OpenLikeBox(post.likes)" v-if="$index == 4 && post.likes.length > 5" class="lightbox" href="#popup2">
                                        <span class="number-persons">{! post.likes.length - 4 !}</span>
                                    </a>
                                    <a v-else href="#"><img :src="like.profile_pic" height="45" width="45" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="like-box minus" :class="{'active': post.like_status=='like_minus' }">
                        <a @click="LikeMinus" href="#" class="opener-like-box" :class="{'like-reset' : !post.like_minus.length }" >
                            <span class="icon">like</span>
                            <span class="number">{! post.like_minus.length !}</span>
                        </a>
                        <div class="drop-add-info" v-show="post.like_minus.length">
                            <ul>
                                <li v-for="like in post.like_minus.slice(0,5)" >
                                    <a @click.prevent="OpenLikeBox(post.like_minus)" v-if="$index == 4 && post.like_minus.length > 5" class="lightbox" href="#popup2">
                                        <span class="number-persons">{! post.like_minus.length - 4 !}</span>
                                    </a>
                                    <a v-else href="#"><img :src="like.profile_pic" height="45" width="45" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
    </div>
    <div class="activity-persons-section bottom">
                <strong class="title">Activity by:</strong>
                <span class="link-person" v-for="activity in post.latest_activity.slice(0,3)">
                    <a href="#">{! activity.name | capitalize !}</a>
                    <span v-if="$index < post.latest_activity.slice(0,3).length-1">, &nbsp; </span>
                </span>
                <span class="link-person" v-if="post.latest_activity.length > 3">and</span>
                <div class="add-menu" v-if="post.latest_activity.length > 3">
                    <a href="#" class="opener-add-menu">{! post.latest_activity.length-3 !} other</a>
                    <div class="slide-add-menu">
                        <ul>
                            <li v-for="activity in post.latest_activity">
                                <a href="#">
                                    {! activity.name | capitalize !}
                                </a></li>
                        </ul>
                    </div>
                </div>
    </div>



    <div v-show="showcomments" class="comments-section">
        <div class="custom-comments-tabs">
            <a href="#" @click.prevent="AllCommentClick" class="custom-comments-tabs-link js-comments__btn_all is-red-bg">All Comment</a>
            <a href="#" @click.prevent="GroupCommentClick" class="custom-comments-tabs-link js-comments__btn_group opener">Group Comments {! totalcomments !}</a>
            <div class="custom-comments-tabs-drop" v-show="hideGroup">
                <h4>Select Group</h4>
                <ul class="contacts-tabset">
                    <li v-for="grp in post.groups" v-if="grp.id" :class="{'active' : $index==0}">
                        <a @click="SetSelectedGroup(grp,$index)" :style="'background:'+grp.group_bar_color" :href="'#tab-'+post.id+'-'+grp.id">
                            {! grp.group_name | capitalize !}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contacts-tab-content">
{#            v-for="grp in post.groups"  #}
            <div :id=" 'tab-'+ currgroup.id +'-' + currgroup.id " class="contacts__tab_content" style="display:block" :style="{'display': currgroup.id == 0 ? 'none !important'}">
                <div class="contacts-tab-heading" :class="{'hide-comments-header': currgroup.id == 0}">
                    <span class="contacts-count-friends">
                        {! currgroup.group_name | capitalize !}
                        <strong>{! currgroup.comments.length !}</strong>
                    </span>
                </div>
                <form action="#" class="custom-form">
                    <div class="contacts-posts-container jcf-scrollable">
                        <commentsingle v-for="comment in currgroup.comments" :index="$index" :comments.sync="currgroup.comments" :comment="comment" :postid="post.id">
                        </commentsingle>
                    </div>
                </form>
            </div>
        </div>
        <form action="#" class="form-writing-comment">
            <div class="input-holder">
                <input v-model="typecomment" type="text" :placeholder="placeholder">
            </div>
            <button @click="SendComment" class="btn-send">Send</button>
        </form>
    </div>
    <likebox :show.sync="showlikes" :likes="likesarray" v-if="showlikes"></likebox>
    <shareaudience :popupid="'share-aud'+ post.id " v-if="audiencepopup"></shareaudience>
</template>
<script>
    var Comments = Vue.component('commentbox',{
    template: '#commentstemplate',
    props: ['post','og_post'],
    ready: function(){
        var self = this;
           self.ApplySwitch();
    },
    data : function() {
        return{
            shareapost: false,
            description: '',
            typecomment : '',
            showcomments : true,
            currgrpid : '',
            backupcomment :'',
            placeholder : 'Type your comment',
            currentgid: 0,
            currgroup: {},
            groupindex: 0,
            audiencepopup: false,
            audience : {},
            showlikes: false,
            likesarray: [],
            hideGroup: false
        }
    },
    events: {
      'shareaudienceup' : function(x) {
          var self = this;
          self.audience = x;
          self.audiencepopup = false;
      },
        'shareaudiencecancel': function() {
            var self = this;
            self.audiencepopup = false;
        }
    },
    computed: {
        totalcomments: function() {
            var self = this;
            var total = 0;
            $.each(self.post.groups,function(index,value) {
                if(value.id != 0)
                total+= value.comments.length;
            });
            return total;
        }
    },
    methods:  {
        ShowParticipants: function() {
            var self = this;
            self.participants = !self.participants;
            self.$dispatch('participants',self.post.id);
        },
        OpenLikeBox: function(likes) {
            var self = this;
            self.likesarray = likes;
            self.showlikes= true;
        },
        AudiencePopup: function(event) {
            var self =this;
            event.preventDefault();
            self.audiencepopup = true;
            console.log('clicked');
        },
        SetSelectedGroup:function(grp,index) {
            var self =this;
            self.currgroup = grp;
            self.currentgid = grp.id;
            self.groupindex = index;
        },
        AllCommentClick: function() {
            var self = this;
            self.backupcomment = self.typecomment;
            self.typecomment = '';
            self.currentgid = 0;
            self.hideGroup = false;
            self.ApplySwitch();
        },
        GroupCommentClick: function() {
            var self = this;
            self.hideGroup = !self.hideGroup;
            self.typecomment = self.backupcomment;
        },
        ApplySwitch: function() {
            var self = this;
            $.each(this.post.groups,function (index,value) {
                if(value.id== 0){
                    self.currgroup = value;
                    self.groupindex = index;
                    return false;
                }
            });
        },
        ShareThisPost: function(event) {
            var self = this;
            event.preventDefault();
            self.shareapost = true;
        },
        HideSharePost : function(event) {
            var self = this;
            event.preventDefault();
            self.shareapost = false;
        },
        SendComment : function(event) {
            var self = this;
            event.preventDefault();
            console.log(self.typecomment);
            if(self.typecomment !=''){
                console.log('not null');
                ajaxPost('/post_comments/',{
                    postid : self.post.id,
                    group_id : self.currentgid,
                    comment : self.typecomment
                },function(response){
                    console.log(response);
                    self.typecomment = '';
                    response.comment.reply = [];
                    //Pushing to the comment stack
                    self.post.groups[self.groupindex].comments.push(response.comment);
                    // console.log(JSON.stringify(self.post.groups[self.groupindex].comments));
                });
            }
        },
        ShareThePost : function() {
            var self = this;
            if(typeof self.og_post != 'undefined')
                self.post = self.og_post;
            ajaxPost('/post_resharing/',{
                csrfmiddlewaretoken: $('#csrf_token').val(),post_id:self.post.id,countbox:0,countgroup:0,countmemb:0
            },function(response) {
                console.log(response);
                if(response.result == 'ok'){
                    self.shareapost = false;
                }
            });

        },
        likePost : function(type) {
            var self = this;
            ajaxPost('/post_like/',{
                postid:self.post.id,
                type:type,
                csrfmiddlewaretoken: $('#csrf_token').val()
            },function(response){
                if(response.result == "ok"){
                    self.post.like_plus = response.like_plus;
                    self.post.likes = response.like;
                    self.post.like_minus = response.like_minus;
                    if(type == 'like-plus')
                        self.post.like_status = 'like_plus';
                    else if(type == 'like')
                        self.post.like_status = 'like';
                    else if(type == 'like-minus')
                        self.post.like_status = 'like_minus';

                }
            })
        },
        LikePlus: function(event) {
            var self = this;
            event.preventDefault();
            self.likePost('like-plus');
        },
        LikeMinus: function(event) {
          var self = this;
            event.preventDefault();
            self.likePost('like-minus');
        },
        LikeNormal: function(event) {
            var self = this;
            event.preventDefault();
            self.likePost('like');
        },
        ShowComments : function(event) {
            var self = this;
            event.preventDefault();
            self.showcomments = !self.showcomments;
        }
    },
    watch: {
        'showcomments' : function() {
            this.$nextTick(function() {
                    $(window).trigger('resize');
                    initSameHeight();
                });
        },
        'post' :{
            handler: function() {
                console.log('changed');
                if(this.currentgid == 0 ){
                    this.currentgid = this.post.groups[0].id;
                    console.log(this.currentgroup);
                }
                jcf.refreshAll($('#main-content'));
            },
            deep: true
        },
        'audiencepopup': function() {
            var self = this;
            if(self.audiencepopup == true){
                 this.$broadcast('shareaud', self.audience);
            }
        }
    }
});
</script>