<template id="conformation">
        <div class="pop-up-area" :class="{'lightbox-active' : showdelete}" id="popup-confirmation">
                    <div class="holder">
                        <h2>Are you sure you want to Delete?</h2>
                        <p style="color:#BDBDBD">You will still be connected, group will be removed</p>
                        <div class="button-holder">
                            <a href="#" class="btn-base" id="delpost" data-post="2">Delete</a>
                            <a href="#" class="close" id="close_popup">Cancel</a>
                        </div>
                        <div style="display:none" id="del_success"></div>
                    </div>
        </div>
</template>

<script>
    var Conformation =  Vue.component('messagebox',{
    template: '#conformation',
    ready: function(){
    },
    props: ['show'],
    data: function(){
        return{
        }
    }
});
</script>