<template id="create-post-message">
    <div class="create-general-post-holder">
        <article class="create-general-post-box" v-show="!showcreatearea">
            <div class="input-holder">
                <input @click="ShowPostArea" placeholder="What`s new..." type="text">
            </div>
        </article>
        <section class="create-general-posts-section" v-show="showcreatearea" transition="fade">
                <ul class="tabset-create-post">
                    <li class="active"><a href="#create-post0101">Post</a></li>
                    <li><a @click.prevent="TravelPost" href="#create-post0202">Travel</a></li>
                    <li><a href="#create-post0303">Lifetime</a></li>
                    <li><a href="#create-post0404">Media</a></li>
                </ul>
                <div class="tabset-create-post-content">
                    <div style="display: block;" id="create-post0101" class="tab-create-post">
                        <div class="create-post-textarea">
                            <textarea v-model="description" cols="30" rows="1" placeholder="Title" @keyup.enter="generalPost"></textarea>
                        </div>

                        <file-upload action="/uploadimage/"></file-upload>


                        <div class="footer-info-section">
                            <strong class="title">Who can see this post:</strong>
                            <div class="text-holder">
                                <ul class="member-list">
{#                                    <li v-for="aud in audience" v-if="$index < audience.length ">#}
{#                                        <a href="#">{! aud.name | capitalize !}</a>,#}
{#                                    </li>#}
                                    <li v-if="audience.length > 0" style="padding-right:12px"><span>{! audience.length !} people selected</span></li>
                                </ul>

                                <a @click="openAudiencepopup" href="#" class="edit-link">Edit</a>
                            </div>
                        </div>
                         <a @click.prevent="HideCreateArea()" href="#" class="btn-base btn-cancel" style="right:90px">Cancel</a>
                        <a @click.prevent="generalPost" href="#" class="btn-base">Post</a>
                        <div class="related-section">
                            <a href="#" class="related-opener">Related</a>
                            <div class="related-slider js-slide-hidden">
                                <ul class="related-menu-list">
                                    <li>
                                        <div class="date-box">
                                            <span class="date">06</span>
                                            <span class="month">feb</span>
                                        </div>
                                        <div class="text-holder">
                                            <div class="frame">
                                                <div class="holder">
                                                    <h3><a href="#">Tom`s Bday party!</a></h3>
                                                    <address>Long Str. 546, 3 Sep 2015</address>
                                                    <span class="members">Members: <span class="number">24</span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="btn-add">Add to Event</a>
                                    </li>
                                    <li>
                                        <div class="image-box">
                                            <div class="img-holder">
                                                <img src="/static/images/pictures/man-5.jpg">
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <div class="frame">
                                                <div class="holder">
                                                    <h3><a href="#">Simon McCoy</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="btn-add">Add to Event</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div style="display: none; width: 662px;" id="create-post0202"
                         class="tab-create-post js-tab-hidden">
                        <div class="create-post-textarea">
                            <textarea v-model="description" cols="30" rows="1" placeholder="Title" @keyup.enter="SubmitTravelPost"></textarea>
                        </div>

{#                        <file-upload action="/uploadimage/"></file-upload>#}

                        <div class="map-section">

                                <maparea :people="marker" :mapid="'createmap'"></maparea>

                        </div>

                        <div  class="location-input-form">
                            <input v-model='searchmodel' placeholder="Type location" id="pac-input" type="text">
                            <button @click="AddToBottom" type="button" class="btn-base" id="mark-place">Add</button>
                            <input id="places" value="" autocomplete="off" type="hidden">
                        </div>

                        <ul class="location-info-list">
                            <li v-for="loc in location">
                                <strong class="title">{! loc.formatted_address !}</strong>
                                <a @click.prevent="removePlace($index)" href="#" class="close">close</a>
                            </li>
                        </ul>

                        <div class="edit-btns-block">
                            <a href="#popup-resultat-uploaded-images" class="btn-edit-large lightbox" @click="ShowLocationPhotos">Edit Photos</a>
                            <a href="#popup-resultat-uploaded-videos" class="btn-edit-large lightbox" @click="ShowLocationVideos">Edit Videos</a>
                        </div>

                       <div class="footer-info-section">
                            <strong class="title">Who can see this post:</strong>
                            <div class="text-holder">
                                <ul class="member-list">
{#                                    <li v-for="aud in audience" v-if="$index < audience.length ">#}
{#                                        <a href="#">{! aud.name | capitalize !}</a>,#}
{#                                    </li>#}
                                    <li v-if="audience.length > 0"><span style="padding-right:12px">{! audience.length !} people selected</span></li>
                                </ul>
                                <a @click="openAudiencepopup" href="#" class="edit-link">Edit</a>
                            </div>
                        </div>
                         <a @click.prevent="HideCreateArea()" href="#" class="btn-base btn-cancel" style="right:90px">Cancel</a>
                        <a @click.prevent="SubmitTravelPost" href="#" class="btn-base">Post</a>
                    </div>
                    <div style="display: none; width: 479px;" id="create-post0303"
                         class="tab-create-post js-tab-hidden">
                        <div class="create-post-textarea add-info-popup">
                            <textarea v-model="description" cols="30" rows="1" placeholder="Title" @keyup.enter="LifeTimePost"></textarea>
                            <div class="info-popup">
                                <a href="#" class="info-opener">opener</a>
                                <div class="info-slider js-slide-hidden">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et</p>
                                </div>
                            </div>
                        </div>
                        <div v-show="cover.which == 0" class="add-cover-picture" id="drag">
                            <div class="frame" style="position:relative">
                                <span class="fileinput-button link"
                                      style="float:left;width:100%">
                                    <form>
                                        <input name="file" style="height:65px;width:120px;z-index:999" id="lifetime-cover"
                                           accept="image/*" type="file">
                                    </form>
                                    <span class="icon">icon</span>
                                    <span class="text">Add cover picture</span>
                                </span>
                            </div>
                        </div>
                        <div v-show="cover.which == 1" class="cover-picture-box">
                            <div class="image-box">
                                <img :src="cover.photo.url" alt="" height="auto" width="492" id="croppreview">
                            </div>
                            <ul class="nav-bar">
                                <li><a @click.prevent="StartCrop" href="#" class="link">Crop</a></li>
                                <li><a @click.prevent="RemoveCover" href="#" class="link">Delete cover</a></li>
                            </ul>
                        </div>
                        <div v-show="cover.which == 2" class="cover-picture-box">
                            <div class="image-box">
                                <img id="cropme" :src="cover.photo.url" alt=""  width="492">
                            </div>
                            <ul class="crope-menu" >
                                <li><a @click.prevent="CropImage" href="#" class="yes">yes</a></li>
                                <li><a @click.prevent="StopCrop" href="#" class="no">no</a></li>
                            </ul>
                        </div>
                        <div v-show="cover.which == 3" class="cover-picture-box">
                            <div class="image-box">
                                <img :src="cover.photo.url" alt="" width="492">
                            </div>
                            <ul class="nav-bar">
{#                                <li><a @click.prevent="StartCrop" href="#" class="link">Crop</a></li>#}
                                <li><a @click.prevent="RemoveCover" href="#" class="link">Delete cover</a></li>
                            </ul>
                        </div>
                        <div class="base-input-box">
                            <form>
                                <input v-model="lifetimetitle" id="lifetimetitle" placeholder="" type="text">
                            </form>
                        </div>

                        <file-upload action="/uploadimage/"></file-upload>

                       <div class="footer-info-section">
                            <strong class="title">Who can see this post:</strong>
                            <div class="text-holder">
                                <ul class="member-list">
{#                                    <li v-for="aud in audience" v-if="$index < audience.length ">#}
{#                                        <a href="#">{! aud.name | capitalize !}</a>,#}
{#                                    </li>#}
                                    <li v-if="audience.length > 0"><span style="padding-right:12px">{! audience.length !} people selected</span></li>
                                </ul>
                                <a @click.prevent="openAudiencepopup" href="#" class="edit-link">Edit</a>
                            </div>
                        </div>
                        <a @click.prevent="HideCreateArea()" href="#" class="btn-base btn-cancel" style="right:90px">Cancel</a>
                        <a @click.prevent="LifeTimePost" href="#" class="btn-base">Post</a>
                    </div>
                    <div style="display: none; width: 479px;" id="create-post0404"
                         class="tab-create-post js-tab-hidden">
                        <div v-show="mediapost.resultcontainer" style="width:95% !important;" transition="fade" class="seach-results-container"
                                 style="display: none ">
                                <article class="seach-results-block" >
                                    <div class="heading">
                                        <strong class="title">Images</strong>
{#                                        <a href="#" class="link">People Only</a>#}
                                    </div>
                                    <ul class="seach-results-list">
                                        <li v-for="result in mediapost.postersearch">
                                            <div class="image-box">
                                                <div class="img-holder">
                                                    <img :src="result">
                                                </div>
                                            </div>
{#                                            <div class="text-holder">#}
{#                                                <div class="frame">#}
{#                                                    <div class="holder">#}
{#                                                        <h3>Select this</h3>#}
{#                                                        <p >Request already sent</p>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
                                            <div class="overlay"></div>
                                            <a @click.prevent="SelectImage($index)" href="" class="btn-add">Select</a>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        <form action="#">
                            <div class="create-post-textarea media" style="margin-top:-2px">
                                <textarea  v-model="description" cols="30" rows="1" placeholder="Title" @keyup.enter="SubmitMediaPost"></textarea>
                                <div class="create-media-tabs">
                                    <ul class="create-media-tabset">
                                        <li class="active">
                                            <a @click="VideoType" href="#media-tab01" class="video">
                                                video
                                            </a>
                                        </li>
                                        <li>
                                            <a @click="AudioType" href="#media-tab02" class="audio">
                                                audio
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="create-media-tabcontent">
                                <div style="display: block;" id="media-tab01" class="media-tab">
                                    <div class="add-box">
                                        <div class="frame" v-if="mediapost.cover.video == ''">
                                            <a @click.prevent="AddVideoPoster" href="#popup-search" class="link">
											    <span class="icon"></span>
											    <span class="text">Add poster</span>
										    </a>
                                        </div>
                                        <div class="frame" v-else>
                                            <a href="#popup-search" class="link">
											    <img :src="mediapost.cover.video">
										    </a>
                                        </div>
                                    </div>
                                    <div class="form-holder">
                                        <div class="row-holder">
                                            <input v-model="mediapost.genre" placeholder="Genre (use coma)" type="text"></div>
                                        <div class="row-holder">
                                            <select v-model="mediapost.year" clas \s="base-select">
                                                <option>Year</option>
                                                <option>2017</option>
                                                <option v-for="loop in 215">{! 2016-loop !}</option>
                                            </select>
                                        </div>
                                        <div  class="row-holder">
                                            <input v-model="mediapost.director" placeholder="Director" type="text"></div>
                                        <div class="row-holder">
                                            <input v-model="mediapost.stars" placeholder="Stars (use coma)" type="text"></div>
                                        <div class="row-holder">
                                            <textarea v-model="mediapost.plot" cols="30" rows="10" placeholder="Plot"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: none; width: 254px;" id="media-tab02" class="media-tab js-tab-hidden">
                                    <div class="add-box">
                                        <div class="frame" v-if="mediapost.cover.audio == ''">
                                                <a @click.prevent="AddVideoPoster" href="#popup-search" class="link">
                                                    <span class="icon album"></span>
                                                    <span class="text">Add poster</span>
                                                </a>
                                            </div>
                                            <div class="frame" v-else>
                                                <a href="#popup-search" class="link">
                                                    <img :src="mediapost.cover.audio">
                                                </a>
                                            </div>
                                    </div>
                                    <div class="form-holder">
                                        <div class="row-holder">
                                            <input v-model="mediapost.genre" placeholder="Genre (use coma)" type="text"></div>
                                        <div class="row-holder">
                                            <select v-model="mediapost.year" class="base-select">
                                                <option>Year</option>
                                                <option>2016</option>
                                                <option v-for="loop in 215">{! 2015-loop !}</option>
                                            </select>
                                        </div>
                                        <div  class="row-holder">
                                            <input v-model="mediapost.director" placeholder="Director" type="text"></div>
                                        <div class="row-holder">
                                            <input v-model="mediapost.stars" placeholder="Stars (use coma)" type="text"></div>
                                        <div class="row-holder">
                                            <textarea v-model="mediapost.plot" cols="30" rows="10" placeholder="Plot"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="base-input-box" style="display:none">
                                <input v-model="mediapost.mediadesc" placeholder="" type="text">
                            </div>
                        </form>



                        <file-upload action="/uploadimage/"></file-upload>

                     <div class="footer-info-section">
                            <strong class="title">Who can see this post:</strong>
                            <div class="text-holder">
                                <ul class="member-list">
{#                                    <li v-for="aud in audience" v-if="$index < audience.length ">#}
{#                                        <a href="#">{! aud.name | capitalize !}</a>,#}
{#                                    </li>#}
                                    <li v-if="audience.length > 0"><span style="padding-right:12px">{! audience.length !} people selected</span></li>
                                </ul>
                                <a @click.prevent="openAudiencepopup" href="#" class="edit-link">Edit</a>
                            </div>
                        </div>
                         <a @click.prevent="HideCreateArea()" href="#" class="btn-base btn-cancel" style="right:90px">Cancel</a>
                        <a @click.prevent="SubmitMediaPost" href="#" class="btn-base">Post</a>
                        <div class="related-section">
                            <a href="#" class="related-opener">Related</a>
                            <div class="related-slider js-slide-hidden">
                                <ul class="related-menu-list">
                                    <li>
                                        <div class="date-box">
                                            <span class="date">06</span>
                                            <span class="month">feb</span>
                                        </div>
                                        <div class="text-holder">
                                            <div class="frame">
                                                <div class="holder">
                                                    <h3><a href="#">Tom`s Bday party!</a></h3>
                                                    <address>Long Str. 546, 3 Sep 2015</address>
                                                    <span class="members">Members: <span class="number">24</span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="btn-add">Add to Event</a>
                                    </li>
                                    <li>
                                        <div class="image-box">
                                            <div class="img-holder">
                                                <img src="/static/images/pictures/man-5.jpg">
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <div class="frame">
                                                <div class="holder">
                                                    <h3><a href="#">Simon McCoy</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="btn-add">Add to Event</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="footer-bar-mobile">
                    <li><a href="#" class="photo">photo</a></li>
                    <li><a href="#" class="video">video</a></li>
                    <li><a href="#" class="person">person</a></li>
                    <li><a href="#" class="view">view</a></li>
                    <li class="setting-menu">
                        <a href="#" class="setting setting-opener">setting</a>
                        <div class="setting-slider js-slide-hidden">
                            <ul class="related-menu-list">
                                <li>
                                    <div class="date-box">
                                        <span class="date">06</span>
                                        <span class="month">feb</span>
                                    </div>
                                    <div class="text-holder">
                                        <div class="frame">
                                            <div class="holder">
                                                <h3><a href="#">Tom`s Bday party!</a></h3>
                                                <address>Long Str. 546, 3 Sep 2015</address>
                                                <span class="members">Members: <span class="number">24</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-add">Add to Event</a>
                                </li>
                                <li>
                                    <div class="date-box">
                                        <span class="date">06</span>
                                        <span class="month">feb</span>
                                    </div>
                                    <div class="text-holder">
                                        <div class="frame">SerachPoster
                                            <div class="holder">
                                                <h3><a href="#">Tom`s Bday party!</a></h3>
                                                <address>Long Str. 546, 3 Sep 2015</address>
                                                <span class="members">Members: <span class="number">24</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-add">Add to Event</a>
                                </li>
                                <li>
                                    <div class="image-box">
                                        <div class="img-holder">
                                            <img src="/static/images/pictures/man-5.jpg">
                                        </div>
                                    </div>
                                    <div class="text-holder">
                                        <div class="frame">
                                            <div class="holder">
                                                <h3><a href="#">Simon McCoy</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-add">Add to Event</a>
                                </li>
                                <li>
                                    <div class="image-box">
                                        <div class=marker"img-holder">
                                            <img src="/static/images/pictures/man-5.jpg">
                                        </div>
                                    </div>
                                    <div class="text-holder">
                                        <div class="frame">
                                            <div class="holder">
                                                <h3><a href="#">Simon McCoy</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-add">Add to Event</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
{#            </form>#}
        </section>
    </div>
</template>

<script>
    var CreateMessage = Vue.component('postmessage', {
        template: '#create-post-message',
        data: function () {
            return {
                showcreatearea: false,
                edit: {
                    status: false,
                    post: 0,
                    index: 0,
                    poster: null,
                },
                audience: [],
                taggedusers: [],
                videos: [],
                images: [],
                box: [],
                group: [],
                description: '',
                location: window.locationpoints,
                marker: [],
                cover: window.coverphoto,
                jscropobj: {},
                lifetimetitle: '',
                rawwcs: {},
                rawtag:{},
                places:[],
                searchmodel: '',
                mediapost:{
                    genre: '',
                    year: '',
                    director: '',
                    stars:'',
                    plot:'',
                    cover: window.media,
                    type: 'video',
                    mediadesc:'',
                    postersearch: [],
                    resultcontainer : false,
                    searchimages : window.searchimages
                }
            }
        },
        created: function () {
            var self = this;
        },
        ready: function () {
            //FileUpload
            initiateLifetimeUploads();
            if (typeof google != 'undefined') {
                this.pacInput();
            }
        },
        events: {
            'editpost': function(post,index){
                var self = this;
                self.edit.index = index;
                self.edit.poster = post.poster;
                self.showcreatearea = true;

                function generaledit(response) {
                    function statusChange(data){
                        var arr = [];
                        $.each(data,function(index,value){
                            arr.push({
                                status: 'Ok',
                                files: [value]
                            });
                        });
                        return arr;
                    }
                    window.shared.images = statusChange(response.images) ;
                    window.shared.videos = statusChange(response.videos) ;

                    if(Object.keys(response.whocansee).length > 0){
                        console.log("Editing WCS: ");
                        self.$dispatch('editwcs',response.whocansee);
                    }

                    if(Object.keys(response.tags).length > 0)
                        self.$dispatch('edittag',response.tags);
                    self.description = response.description ;
                    $('.create-post-textarea textarea').trigger('click');
                    self.edit.status = true;
                    self.edit.post = response.id;
                }

                function processTravel(response){
                    response.locations = response.locations.map(function(loc){
                        loc.formatted_address = loc.location_address;
                        return loc;
                    });

                    console.log(JSON.stringify(response.locations));
                    window.locationpoints.splice(0, window.locationpoints.length);

                    (function markerAdd() {
                        $.each(response.locations, function (index, loc) {
                            var marker = {
                                "name": loc.location_address,
                                "link": "#",
                                "icon": "http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi.png",
                                "style": "right gray",
                                "location": {
                                    "lat": loc.latitude,
                                    "lng": loc.longitude
                                }
                            };
                            self.$broadcast('markeradded', marker);
                        });
                    })();


                    (function locationExpose(){
                        $.each(response.locations,function(index,loc){
                            window.locationpoints.push(loc)
                        });
                    })();

                    self.$nextTick(function(){
                        $('#popup-resultat-uploaded-images .uploaded-section').each(function (index) {
                            if(index == 0){
                                $(this).addClass('upload-active');
                            }
                            var element = $(this).find('.uploaded-images-holder');
                            $.each(response.locations[index].images,function(index,image){
                                var block = $('<div class="uploaded-image"></div>');
                                element.append(block);
                                block.data('file',image);
                                block.append('<img src="'+image.thumbnailUrl+
                                    '" height="88" width="69" alt="">');
                                block.append('<a href="#" class="close">close</a>');
                                $('a',block).on('click',function(e){
                                    e.preventDefault();
                                    self.block.remove();
                                });
                            });
                        });

                        $('#popup-resultat-uploaded-videos .uploaded-section').each(function (index) {
                            if(index == 0){
                                $(this).addClass('upload-active');
                            }

                            var element = $(this).find('.uploaded-images-holder');
                            $.each(response.locations[index].videos,function(index,image){
                                var block = $('<div class="uploaded-image"></div>');
                                element.append(block);
                                block.data('file',image);
                                block.append('<a href="#" class="close">close</a>');
                                $('a',block).on('click',function(e){
                                    e.preventDefault();
                                    self.block.remove();
                                });
                            });
                        });
                    });
                    $('a[href="#create-post0202"]').trigger('click');
                }

                function processLifetime(response){
                    var self = this;
                    self.lifetimetitle = response.title;
                    $('#lifetimetitle').val(response.title);
                    if(  response.cover_photo!= null && typeof response.cover_photo.url != 'undefined'){
                        window.coverphoto.photo = response.cover_photo;
                        window.coverphoto.which = 1;
                    }
                    console.log(JSON.stringify(response));
                    $('a[href="#create-post0303"]').trigger('click');
                }

                function processMedia(response){
                    if (response.media_type == 'video') {
                        if (response.poster != null) {
                            self.mediapost.cover.video = response.poster.url;
                            self.mediapost.cover.audio = '';
                        } else {
                            self.mediapost.cover.video = '';
                            self.mediapost.cover.audio = '';
                        }
                    } else {
                        if (response.poster != null) {
                            self.mediapost.cover.audio = response.poster.url;
                            self.mediapost.cover.video = '';
                        } else {
                            self.mediapost.cover.video = '';
                            self.mediapost.cover.audio = '';
                        }
                    }
                    self.description = response.title;
                    self.mediapost.genre = response.genre;
                    self.mediapost.year = response.year;
                    self.mediapost.director = response.director;
                    self.mediapost.stars = response.stars;
                    self.mediapost.plot = response.plot;
                    self.mediapost.type = response.media_type;
                    self.mediapost.mediadesc = response.description;
                    $('a[href="#create-post0404"]').trigger('click');
                    if(response.media_type == 'audio'){
                        $('a[href="#media-tab02"]').trigger('click');
                    }else
                        $('a[href="#media-tab01"]').trigger('click');
                }

                ajaxGet('/api/load/post/?postid='+ post.id,function(response){
{#                    console.log(JSON.stringify(response));#}
                    switch (post.post_type) {
                        case 'general':
                            generaledit(response);
                            break;
                        case 'travel' :
                            generaledit(response);
                            processTravel(response);
                            break;
                        case 'lifetime':
                            generaledit(response);
                            processLifetime(response);
                            break;
                        case 'media':
                            generaledit(response);
                            processMedia(response);
                    }
                });


            },
            'maplocation': function (loc) {
                var self = this,
                        present = false;
                $.each(self.location, function (index, location) {
                    if (location.id == loc.id) {
                        present = true;
                    }
                });
                if (!present) {
{#                    self.location.push(loc);#}
                    self.location.push(loc);
                    console.log(JSON.stringify(loc));
                    console.log('Heyy',JSON.stringify(self.location));
                    var marker = {
                        "name": loc.name,
                        "link": "#",
                        "icon": "http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi.png",
                        "style": "right gray",
                        "location": {
                                    "lat" : loc.geometry.location.lat(),
                                    "lng" : loc.geometry.location.lng()
                                }
                    };
{#                    self.marker.push(marker);#}
                    self.$broadcast('markeradded',marker);
                }

            },
            'audienceupdated': function (aud,rawdata) {
                var self = this;
                self.audience = aud;
                self.rawwcs = rawdata;
            },
            'tagupdated': function (taglist,rawdata) {
                var self = this;
                self.taggedusers = taglist;
                self.rawtag = rawdata;
                self.$broadcast('tagupdated', taglist);
            },
            'mediaupdated': function (shared) {
                this.videos = shared.videos;
                this.images = shared.images;
            },
            'groupboxupdated': function (group, box) {
                this.box = box;
                this.group = group;
            },
            'OneFileCompleted': function (file, res) {
                console.log(res);
            },
            'showcreatearea': function(state){
                var self = this;
                self.showcreatearea = state;
            }
        },
        methods: {
            HideCreateArea: function(clear){
                var self = this;
                self.edit = {
                  status : false,
                    post: 0,
                    index: 0,
                    poster : null
                };
                window.shared.videos = [];
                window.shared.images = [];
                self.mediapost.cover.video='';
                self.mediapost.cover.audio='';
                self.description = '';
                self.title = '';
                self.cover.photo = {};
                self.cover.which = 0;
                self.lifetimetitle = '';
                self.location.splice(0,self.location.length);
                self.mediapost.genre = '';
                self.mediapost.year= '';
                self.mediapost.director= '';
                self.mediapost.stars = '';
                self.mediapost.plot = '';
                self.mediapost.cover = window.media;
                self.mediapost.type = 'video';
                self.mediapost.mediadesc = '';
                self.mediapost.postersearch = [];
                self.mediapost.searchimages.images = [];
                self.mediapost.searchimages.type = 'video';

                $('.popup-resultat-uploaded-images .uploaded-images-holder').empty();
                self.$broadcast('clearmarkers');
                self.$broadcast('clearImages');
                self.$dispatch('clearAudience');
                if(typeof clear =='undefined')
                    this.showcreatearea = false;
            },
            ShowMessage: function(){
                alert('hellow');
            },
            ShowLocationPhotos: function(){
                TravelImage.$data.show = true;
            },
            ShowLocationVideos: function () {
                TravelVideos.$data.show = true;
            },
            pacInput: function () {
                var self = this;
                var searchbox = new google.maps.places.SearchBox(document.getElementById('pac-input'));
                google.maps.event.addListener(searchbox, 'places_changed', function () {
                    self.places = searchbox.getPlaces();
                    {#                   console.log(self.places);#}
                });
            },
            AddToBottom: function () {
                var self = this;
                {#            console.log(JSON.stringify(self.places));#}
                self.searchmodel = '';
                console.log(typeof self.places[0]);
                if(self.places[0].formatted_address != undefined)
                self.$dispatch('maplocation', self.places[0]);
                {#            self.places = [];#}
            },
            AddVideoPoster: function() {
                var self = this,
                    search =self.description;
                self.mediapost.searchimages.show = true;
                ajaxGet('/Load/google/image/?keyword='+search,function(response) {
                    if(Array.isArray(response.images)){
                        console.log(response);
                        self.mediapost.searchimages.images = response.images;
                        self.mediapost.searchimages.type = self.mediapost.type;
                    }
                });
            },
            SearchPoster: function() {
                var self = this,
                    search =self.description;
                ajaxGet('/Load/google/image/?keyword='+search,function(response) {
                    if(Array.isArray(response.images)){
                        self.mediapost.postersearch = response.images;
                        self.mediapost.resultcontainer = true;
                    }
                    console.log(response);
                });
            },
            HideSearch: function() {
                var self = this;
                self.mediapost.resultcontainer = false;
            },
            AudioType: function () {
              var self = this;
                self.mediapost.type="audio";
            },
            VideoType: function () {
                var self = this;
                self.mediapost.type= "video";
            },
            CropImage: function() {
              var self = this,
                      position = self.jscropobj.getSelection(),cropped = false;
                $.each(position,function (index,value) {
                    if(value != 0){
                        cropped= true;
                        return ;
                    }
                });

                console.log(JSON.stringify(self.cover));
                ajaxPost('/crop_image/',{
                    id: self.cover.photo.id,
                    height: parseInt(position.h),
                    width: parseInt(position.w),
                    x: position.x,
                    y: position.y
                },function(data) {
                    self.cover.photo = data.files[0];
                    self.cover.which = 3;
                    self.jscropobj.destroy();
                });
            },
            StopCrop: function() {
                var self = this;
                self.jscropobj.destroy();
                self.cover.which = 0;
                self.cover.photo= {};
            },
            RemoveCover: function() {
                var self = this;
                self.cover.which = 0;
                self.cover.photo = {};
                console.log('RemoveCover');
                console.log(JSON.stringify(self.cover));
            },
            StartCrop: function() {
                var self = this,
                        x = $('#croppreview').width()/2,
                        y = $('#croppreview').height()/2;
                self.cover.which = 2;
                self.$nextTick(function() {
                    $('#cropme').Jcrop({
                        aspectRatio: 164 / 103,
                        setSelect: [x/2,y/2,x,y]
                    },function () {
                        self.jscropobj = this;
                    });
                });

            },
            removePlace: function (index) {
                var self = this;
                self.$broadcast('removemarker',index);
                self.location.splice(index, 1);
{#                self.marker.splice(index, 1);#}

            },
            TravelPost: function () {
                var self = this;
                self.$broadcast('refreshmap');
            },
            SubmitMediaPost: function() {

            var self = this;
                console.log(self.mediapost.cover.video);
            var box= self.returnSelectedBox(),
                        group = self.returnSelectedGroup(),
                        members = self.returnSelectedMembers(group),
                        whocansee = {boxes: box, groups: group, members: members},
                        images = self.returnUploadedImages(),
                        videos = self.returnUploadedVideos(),
                        poster = '';

                if(self.mediapost.type == "video" && typeof self.mediapost.cover.video != "undefined"){
                    poster = self.mediapost.cover.video;
                }else if(self.mediapost.type == "audio" && typeof self.mediapost.cover.audio != "undefined"){
                    poster = self.mediapost.cover.audio;
                }

                var data = {
                    post_type: 'media',
                    whocansee: JSON.stringify(whocansee),
                    tags: JSON.stringify(self.taggedusers),
                    title: self.description,
                    description: self.mediapost.mediadesc,
                    csrfmiddlewaretoken: $('#csrf_token').val(),
                    rawtag: JSON.stringify(self.rawtag),
                    rawwcs: JSON.stringify(self.rawwcs),
                    images: images,
                    videos: videos,
                    poster: poster,
                    genere: self.mediapost.genre,
                    year: self.mediapost.year,
                    stars: self.mediapost.stars,
                    plot: self.mediapost.plot,
                    directer: self.mediapost.director,
                    mediatype: self.mediapost.type
                };
                if(self.edit.status){
                    data['postid'] = self.edit.post;
                    data['poster'] = self.edit.poster.id;
                }
                ajaxPost('/media_posts/',data, function (response) {
                    console.log(response);
                    if (response.result == 'ok') {
                        console.log(self.edit.status);
                        console.log(response);
                        if(self.edit.status){
                            App.$data.boxinfo.posts.splice(self.edit.index,1);
                        }
                        self.HideCreateArea();
                        self.$dispatch('generalpostcreated', response.media_post);
                    }else{
                        notification.error(capitalize(response.msg));
                        self.title = '';
                    }
                });
            },
            LifeTimePost: function() {
                var self = this;
{#                if(self.cover.photo.id == undefined){#}
{#                    notification.error('Please upload a cover image');#}
{#                    return ;#}
{#                }#}
                var box= self.returnSelectedBox(),
                        group = self.returnSelectedGroup(),
                        members = self.returnSelectedMembers(group),
                        whocansee = {boxes: box, groups: group, members: members},
                        images = self.returnUploadedImages(),
                        videos = self.returnUploadedVideos();
                var data = {
                    post_type: 'lifetime',
                    whocansee: JSON.stringify(whocansee),
                    tags: JSON.stringify(self.taggedusers),
                    description: self.description,
                    title: self.lifetimetitle,
                    coverid: self.cover.photo.id == undefined ? '' : self.cover.photo.id,
                    csrfmiddlewaretoken: $('#csrf_token').val(),
                    images: images,
                    videos: videos,
                    rawtag: JSON.stringify(self.rawtag),
                    rawwcs: JSON.stringify(self.rawwcs),
                };
                if(self.edit.status){
                    data['postid']= self.edit.post;
                }
                ajaxPost('/lifetime_posts/', data , function (response) {
                    console.log(response);
                    if (response.result == 'ok') {
                        if(self.edit.status){
                            App.$data.boxinfo.posts.splice(self.edit.index,1);
                        }
                        self.HideCreateArea();
                        self.$dispatch('generalpostcreated', response.lifetime_post);
                    }else{
                        //self.lifetimetitle = '';
                        notification.error(capitalize(response.msg));
                    }
                });
            },
            generalPost: function () {
                var self = this;

                var box= self.returnSelectedBox(),
                        group = self.returnSelectedGroup(),
                        members = self.returnSelectedMembers(group),
                        whocansee = {boxes: box, groups: group, members: members},
                        images = self.returnUploadedImages(),
                        videos = self.returnUploadedVideos();

                console.log(JSON.stringify(whocansee));

                var data = {
                    post_type: 'general',
                    whocansee: JSON.stringify(whocansee),
                    tags: JSON.stringify(self.taggedusers),
                    description: this.description,
                    csrfmiddlewaretoken: $('#csrf_token').val(),
                    images: images,
                    videos: videos,
                    rawtag: JSON.stringify(self.rawtag),
                    rawwcs: JSON.stringify(self.rawwcs)
                };
                if(self.edit.status){
                    data['postid'] = self.edit.post;
                }
                ajaxPost('/posts/',data, function (response) {
                    console.log(response);
                    if (response.result == 'ok') {
                        if(self.edit.status){
                            App.$data.boxinfo.posts.splice(self.edit.index,1);
                        }
                        self.HideCreateArea();
                        self.$dispatch('generalpostcreated', response.post);
                    }else{
                        self.description = '';
                        notification.error(capitalize(response.msg));
                    }
                });
            },
            returnSelectedBox: function () {
                var box = [];
                $.each(this.box, function (index, value) {
                    box.push(value.substr(1, value.length));
                });
                return box;
            },
            returnSelectedGroup: function() {
                var group = [];
                $.each(this.group, function (index, value) {
                    var tmp = value.split('-')[1];
                    group.push(tmp.substr(1, tmp.length));
                });
                return group;
            },
            returnSelectedMembers: function(group) {
                var self = this;
                var members = {};
                /*

                console.log(JSON.stringify(self.audience));
                $.each(group, function (index, grp) {
                    $.each(self.audience, function (inx, user) {
                        if (grp == user.groupid) {
                            members[grp] = [];
                            members[grp].push(user.id);
                        }
                    });
                }); */

                $.each(self.audience, function (inx, user) {
                    if(typeof members[user.groupid] == 'undefined'){
                        members[user.groupid]= [];
                    }
                    members[user.groupid].push(user.id);
                });

                return members;
            },
            returnUploadedImages: function() {
                var images = [];
                $.each(this.images, function (index, value) {
                    if (typeof  value.id != "undefined")
                        images.push(value.id);
                });
                return images;
            },
            returnUploadedVideos: function() {
                var videos = [];
                $.each(this.videos, function (index, value) {
                    if (typeof  value.id != "undefined")
                        videos.push(value.id);
                });
                return videos;
            },
            SubmitTravelPost: function() {
                var self = this;

                $('#popup-resultat-uploaded-images .uploaded-section').each(function (e) {
                     var index = $(this).attr('locationindex');
                    console.log(index);
                     window.locationpoints[index].images = [];
                     $('.uploaded-image',$(this)).each(function(e) {
                        window.locationpoints[index].images.push($(this).data('file'));
                     });
                });

                $('#popup-resultat-uploaded-videos .uploaded-section').each(function (e) {
                     var index = $(this).attr('locationindex');
                     window.locationpoints[index].videos = [];
                     $('.uploaded-image',$(this)).each(function(e) {
                        window.locationpoints[index].videos.push($(this).data('file'));
                     });
                });

                var box = self.returnSelectedBox(),
                        group = self.returnSelectedGroup(),
                        members = self.returnSelectedMembers(group),
                        whocansee = {boxes: box, groups: group, members: members};
{#                        images = self.returnUploadedImages(),#}
{#                        videos = self.returnUploadedVideos();#}
                var data =  {
                    post_type: 'travel',
                    whocansee: JSON.stringify(whocansee),
                    tags: JSON.stringify(self.taggedusers),
                    description: self.description,
                    csrfmiddlewaretoken: $('#csrf_token').val(),
                    images: [],
                    videos: [],
                    rawtag: JSON.stringify(self.rawtag),
                    rawwcs: JSON.stringify(self.rawwcs),
                    locations: JSON.stringify(locationpoints)
                };
                if(self.edit.status){
                    data['postid'] = self.edit.post;
                }
                ajaxPost('/travel_posts/',data, function (response) {
                    console.log(response);
                    if (response.result == 'ok') {
                        if(self.edit.status){
                            App.$data.boxinfo.posts.splice(self.edit.index,1);
                        }
                        self.HideCreateArea();
                        $('.popup-resultat-uploaded-images .uploaded-images-holder').empty();
                        self.$dispatch('generalpostcreated', response.travel_post);
                    }else{
                        self.description = '';
                        notification.error(capitalize(response.msg));
                    }
                });

            },
            ShowPostArea: function () {
                var self = this;
                self.showcreatearea = true;
            }, openAudiencepopup: function () {
                this.$dispatch('openpopup', this.audience);
            },
            openTagPeople: function () {
                this.$dispatch('opentag', this.taggedusers);
            }
        },
        watch: {
            'showcreatearea': function () {
                var self = this;
                this.$nextTick(function () {
                    $(window).trigger('resize');
                    self.TravelPost();
                });
            },
            'location': function () {
                var self = this;
            }
        }
    });
</script>