<template id="favitem">
    <li>
        <div class="img-box">
            <span class="img-holder">
                <img :src="user.profile_pic" alt="">
            </span>
            <span class="mark-new-message" v-if="false"></span>
        </div>
        <div class="text-holder">
            <h3 v-if="user.name!=null">{! user.name | capitalize !}</h3>
            <form class="favorite-form" action="#" v-else>
                <input type="text" placeholder="Enter name" v-model="fvname">
                <button type="submit" class="favorite-edit-button" @click="AddFavoriteName(user.id)">&nbsp;</button>
            </form>
            <p>{! user.about !}</p>
        </div>
        <a href="#" class="link-open-message" @click="LoadFavorite(user)" v-if="user.name!=null"> </a>
    </li>
</template>
<script>
    var favitem = Vue.component('favlist', {
        template: '#favitem',
        data: function () {
            return {
                fvname: ''
            }
        },
        props: ['user', 'index'],
        methods: {
            LoadFavorite: function (user) {
                var self = this;
                self.$dispatch('loadfavorite', user);
            },
            AddFavoriteName: function (favid) {
                var self = this;
                ajaxPost('/api/favourite/name/', {
                    name: self.fvname,
                    fav_id: favid
                }, function (response) {
                    console.log(JSON.stringify(response));
                    if (response.result == 'ok') {
                        self.$dispatch('favnameadded', response.favourite, self.index);
                    }
                });
            }
        }
    });
</script>
<template id="discussions">
    <div class="aside-holder same-height">
        <div class="aside-frame">
            <aside class="left-sidebar">
                <div class="tab-panel">
                    <ul class="tab-nav">
                        <li><a href="#tab1" @click="PublicTab">Public</a></li>
                        <li class="active"><a href="#tab2" @click="PrivateTab">Private</a></li>
                    </ul>
                    <div id="tab1" class="tab-section">
                        <div class="discussion-tab-note">Anyone around the world can see posts here</div>
                        <div class="btn-row desktop is-discussion-style">
                            <a href="#" class="add-new-group-btn" @click.prevent="NewPost">Create New</a>
                            <div class="setting-group-btn-cell is-center">
                                <a href="#" class="setting-group-btn group-setting-editing-opener">icon setting</a>
                            </div>
                            <a href="#all-msg-block"
                               class="messages-btn btn-open-messages"
                               @click.prevent="OpenChat"><strong class="chat_opener"><span></span></strong>
                            </a>
                        </div>
                        <div class="discussion-box">
                            <div class="scroll-area discussion-scroll stretch__middle">
                                <ul class="messages-list is-dark-style">
                                    <favlist :user="user" :index="$index" v-for="user in boxinfo.favourite"></favlist>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-section">
                        <div class="discussion-tab-note">Only you can see posts here</div>
                        <div class="btn-row desktop is-discussion-style">
                            <a href="#" class="add-new-group-btn" @click.prevent="NewPost">Create New</a>
                            <div class="setting-group-btn-cell is-center">
                                <a href="#" class="setting-group-btn group-setting-editing-opener">icon setting</a>
                            </div>
                            <a href="#all-msg-block"
                               class="messages-btn btn-open-messages"
                               @click.prevent="OpenChat"><strong class="chat_opener"><span></span></strong></a>
                        </div>
                        <div class="discussion-box">
                            <div class="scroll-area discussion-scroll stretch__middle">
                                <ul class="messages-list is-dark-style">
                                    <li v-for="user in boxinfo.users">
                                        <div class="img-box">
                                            <span class="img-holder">
                                              <img :src="user.profile_pic" alt="">
                                            </span>
                                            {#                                            <span class="mark-new-message"></span>#}
                                        </div>
                                        <div class="text-holder">
                                            <h3>{! user.name | capitalize !}</h3>
                                            <p>{! user.about !}</p>
                                        </div>
                                        <a href="#" class="link-open-message" @click.prevent="LoadUserPost(user)"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <chat></chat>
                </div>
            </aside>
        </div>
    </div>
    <div class="main-content is-add-width same-height">
        <div class="add-to-far-row" transition="fade" v-if="publictab">
            <a href="#" class="add-to-link" @click="AddFavorite">Add to Favourite</a>
            <ul class="tag-list">
                <li v-for="item in selcategory.full">
                    <strong class="title">{! item.category !}</strong>
                    <a href="#" class="close" @click="RemoveSelectedCategory($index)">close</a>
                </li>
                <li v-if="searchstore.keyword != ''">
                    <strong class="title">{! searchstore.keyword !}</strong>
                    <a href="#" class="close" @click="searchstore.keyword = ''">close</a>
                </li>
                <li v-if="searchstore.location != ''">
                    <strong class="title">{! searchstore.location !}</strong>
                    <a href="#" class="close" @click="searchstore.location = ''">close</a>
                </li>
            </ul>
        </div>
        <div class="create-general-post-holder">
            <article class="create-general-post-box" v-show="!createmessage.show">
                <div class="input-holder">
                    <input @click="ShowPostArea" placeholder="What`s new..." type="text">
                </div>
            </article>
            <section class="create-general-posts-section" v-show="createmessage.show" transition="fade">
                {#            <form action="#" class="custom-form">#}
                <ul class="tabset-create-post">
                    <li class="active"><a href="#create-post0101">Post</a></li>
                </ul>
                <div class="tabset-create-post-content">
                    <div style="display: block;" id="create-post0101" class="tab-create-post">
                        <div class="create-post-textarea">
                            <textarea v-model="createmessage.description" cols="30" rows="1"
                                      placeholder="Title"></textarea>
                        </div>

                        <file-upload action="/uploadimage/"></file-upload>


                        <div class="footer-info-section">
                            <strong class="title">Who can see this post:</strong>
                            <div class="text-holder">
                                <ul class="member-list">
{#                                    <li v-for="aud in createmessage.audience"#}
{#                                        v-if="$index < createmessage.audience.length ">#}
{#                                        <a href="#">{! aud.name | capitalize !}</a>,#}
{#                                    </li>#}
                                    <li v-if="createmessage.audience.length > 0"><span>{! createmessage.audience.length !} people selected</span></li>
                                </ul>
                                <a @click="openAudiencepopup" href="#" class="edit-link">Edit</a>
                            </div>
                        </div>
                        <a @click.prevent="HideCreateArea" href="#" class="btn-base btn-cancel" style="right:90px">Cancel</a>
                        <a @click="DiscussionCreate($event)" href="#" class="btn-base">Post</a>
                        <div class="related-section">
                            <a href="#" class="related-opener">Related</a>
                            <div class="related-slider js-slide-hidden">
                                <ul class="related-menu-list">
                                    <li>
                                        <div class="date-box">
                                            <span class="date">06</span>
                                            <span class="month">feb</span>
                                        </div>
                                        <div class="text-holder">
                                            <div class="frame">
                                                <div class="holder">
                                                    <h3><a href="#">Tom`s Bday party!</a></h3>
                                                    <address>Long Str. 546, 3 Sep 2015</address>
                                                    <span class="members">Members: <span class="number">24</span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="btn-add">Add to Event</a>
                                    </li>
                                    <li>
                                        <div class="image-box">
                                            <div class="img-holder">
                                                <img src="/static/images/pictures/man-5.jpg">
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <div class="frame">
                                                <div class="holder">
                                                    <h3><a href="#">Simon McCoy</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="btn-add">Add to Event</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="footer-bar-mobile">
                    <li><a href="#" class="photo">photo</a></li>
                    <li><a href="#" class="video">video</a></li>
                    <li><a href="#" class="person">person</a></li>
                    <li><a href="#" class="view">view</a></li>
                    <li class="setting-menu">
                        <a href="#" class="setting setting-opener">setting</a>
                        <div class="setting-slider js-slide-hidden">
                            <ul class="related-menu-list">
                                <li>
                                    <div class="date-box">
                                        <span class="date">06</span>
                                        <span class="month">feb</span>
                                    </div>
                                    <div class="text-holder">
                                        <div class="frame">
                                            <div class="holder">
                                                <h3><a href="#">Tom`s Bday party!</a></h3>
                                                <address>Long Str. 546, 3 Sep 2015</address>
                                                <span class="members">Members: <span class="number">24</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-add">Add to Event</a>
                                </li>
                                <li>
                                    <div class="date-box">
                                        <span class="date">06</span>
                                        <span class="month">feb</span>
                                    </div>
                                    <div class="text-holder">
                                        <div class="frame">SerachPoster
                                            <div class="holder">
                                                <h3><a href="#">Tom`s Bday party!</a></h3>
                                                <address>Long Str. 546, 3 Sep 2015</address>
                                                <span class="members">Members: <span class="number">24</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-add">Add to Event</a>
                                </li>
                                <li>
                                    <div class="image-box">
                                        <div class="img-holder">
                                            <img src="/static/images/pictures/man-5.jpg">
                                        </div>
                                    </div>
                                    <div class="text-holder">
                                        <div class="frame">
                                            <div class="holder">
                                                <h3><a href="#">Simon McCoy</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-add">Add to Event</a>
                                </li>
                                <li>
                                    <div class="image-box">
                                        <div class=marker"img-holder">
                                            <img src="/static/images/pictures/man-5.jpg">
                                        </div>
                                    </div>
                                    <div class="text-holder">
                                        <div class="frame">
                                            <div class="holder">
                                                <h3><a href="#">Simon McCoy</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-add">Add to Event</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                {#            </form>#}
            </section>
        </div>
        <div id="main-content">
            <slot name="general" v-for="post in boxinfo.posts">
                <section class="general-post-section marked-post">
                    <header class="heading-block">
                        <div class="image-box">
                            <img :src="post.creator_profile.profile_pic" alt="">
                        </div>
                        <div class="text-holder">
                            <div class="heading">
                                <h2><a href="#"> {! post.creator_profile.first_name | capitalize !} </a></h2>
                                <a href="#" class="edit-link">edit</a>
                            </div>
                            <!-- Tagging -->
                            <div class="info" v-if="post.tags.length > 0">
                                <span class="text">with</span>
                                <a href="#" class="author">{! post.tags[0].name | capitalize!}</a>
                                <span class="text" v-if="post.tags.length > 1">and</span>
                                <div class="add-menu" v-if="post.tags.length > 1" v-tagopener>
                                    <a href="#" class="opener-add-menu">{! post.tags.length -1 !} other</a>
                                    <div class="slide-add-menu">
                                        <ul>
                                            <li v-for="tag in post.tags"><a href="#">{! tag.name | capitalize !}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
{#                            <div class="info">#}
{#                                <span class="text">with</span>#}
{#                                <a href="#" class="author">Sam Tomson</a>#}
{#                                <span class="text">and</span>#}
{#                                <div class="add-menu">#}
{#                                    <a href="#" class="opener-add-menu">1 other</a>#}
{#                                    <div class="slide-add-menu">#}
{#                                        <ul>#}
{#                                            <li><a href="#">Sam Gunn</a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </header>
                    <div v-openclose class="post-menu" v-if="!shared">
                        <a href="#" class="opener-post-menu"><span></span><span></span><span></span></a>
                        <div style="display: none ;" class="drop-post-menu js-slide-hidden">
                            <ul>
                                <li ><a href="#" @click.prevent="EditPost(post.id,$index)" >Edit post</a></li>
                                <li><a href="#">Tag people</a></li>
                                <li><a href="#">Report</a></li>
                                <li><a href="#">Block this user</a></li>
                                <li><a @click.prevent="DeletePost(post.id,$index)" href="#">Delete post</a></li>
                            </ul>
                        </div>
                    </div>
                    <time class="add-tablet-date">21 Nov, 16:24</time>
                    <div class="text-container" v-textmore>
                        <p>{! post.description | concise !}</p>
                        <div v-if="post.description.length > 450" class="slide-text-holder">
                            <p>{! post.description | detailed !}</p>
                        </div>
                        <a v-if="post.description.length > 450" href="#" class="more-link">
                            <span class="text-more">Show more</span>
                            <span class="text-less">Show less</span>
                        </a>
                    </div>
                    <slideshow :images="post.attachments" type="general">
                    </slideshow>
                    <commentbox :post="post"
                                v-if="!shared"></commentbox>
                </section>
            </slot>

            <div align="center" style="padding-bottom:50px;">
                <button id="load_more_button" @click.prevent="LoadMoreContent">
                    <img src="/static/images/ajax-loader.gif" class="animation_image"
                         style="float:left;vertical-align: middle" v-show="showajaxloader">
                    Load More
                </button>
            </div>
        </div>
        <div class="pop-up-area" :class="{'lightbox-active' : deletepost.show }" id="popup-confirmation">
            <div class="holder">
                <h2>Are You sure you want to Delete this Discussion?</h2>
                <div class="button-holder">
                    <a @click.prevent="DeleteConfirm" href="#" class="btn-base"
                       id="delpost" data-post="2">Delete</a>
                    <a @click.prevent="HideDeletePopup" href="#" class="close" id="close_popup">Cancel</a>
                </div>
                <div style="display:none" id="del_success"></div>
            </div>
        </div>
        <audiencepopup popupid="invite-friends"></audiencepopup>
        <tagpopup popupid="tagged-popup"></tagpopup>
    </div>
    <div class="aside-right same-height is-border" transition="fade" v-if="publictab">
        <div class="aside-frame">
            <aside class="right-sidebar">
                <div id="right-sidebar">
                    <div class="discussion-aside">
                        <div class="discussion-aside-heading">
                            <div class="discussion-aside-heading-cell">
                                <h3>Browse Public Discussions</h3>
                            </div>
                        </div>
                        <div class="discussion-aside-search-box">
                            <div class="row">
                                <form class="search-form" action="#">
                                    <input type="search" name="search" placeholder="Search by keyword"
                                           v-model="searchkeyword">
                                    <button type="submit" @click.prevent="SearchKeyword">&nbsp;</button>
                                </form>
                            </div>
                            <div class="row">
                                <form class="search-form" action="#">
                                    <input type="search" name="search" placeholder="Search by location"
                                           v-model="searchlocation">
                                    <button type="submit" @click.prevent="SearchLocation">&nbsp;</button>
                                </form>
                            </div>
                        </div>
                        <div class="scroll-area categories-scroll">
                            <ul class="categories-list">
                                <li class="categories-list-item" v-for="category in boxinfo.category">
                                    <div class="categories-list-picture">
                                        <img :src="'/static/images/time_icons/'+category.pic" alt="">
                                    </div>
                                    <div class="categories-list-text">
                                        <strong class="title"><a href="#" @click="AddToSelection(category)">{!
                                            category.category !}</a></strong>
                                        <p>{! category.post_count !} posts</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <div class="aside-right same-height is-border" v-if="participants.show">
        <div class="aside-frame">
            <aside class="right-sidebar">
                <div id="right-sidebar">
                    <div class="discussion-aside">
                        <div class="discussion-aside-heading">
                            <div class="discussion-aside-heading-cell">
                                <h4>Participants <a href="#" class="link-participant"></a></h4>
                            </div>
                        </div>
                        <div class="scroll-area categories-scroll">
                            <ul class="participant-list">
                                <li class="participant-list-item" v-for="member in participants.members">
                                    <div class="participant-list-picture">
                                        <div class="participant-list-picture-frame">
                                            <img :src="member.profile_pic" alt="">
                                        </div>
                                    </div>
                                    <div class="participant-list-text">
                                        <strong class="title">{! member.first_name | capitalize !}</strong>
                                        <p><a href="#" @click="RemoveParticipant(member)">Remove</a></p>
                                    </div>
                                </li>
                                <li class="participant-list-item" v-for="group in participants.groups">
                                    <div class="participant-list-picture">
                                        <div class="participant-list-picture-frame">
                                            <img :src="group.profile_pic" alt="">
                                        </div>
                                    </div>
                                    <div class="participant-list-text">
                                        <strong class="title">{! group.name | capitalize !}</strong>
                                        <p><a href="#">Remove</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</template>

<script>
    var Discussions = Vue.component('discussions', {
        template: '#discussions',
        props: ['boxinfo'],
        data: function () {
            return {
                createmessage: {
                    show: false,
                    audience: [],
                    tag: [],
                    box: [],
                    group: [],
                    description: '',
                    videos: [],
                    images: [],
                    rawwcs: {},
                    rawtag:{}
                },
                edit: {
                    status: false,
                    post: 0,
                    index: 0,
                },
                selcategory: {
                    full: [],
                    brief: []
                },
                searchstore: {
                    keyword: '',
                    location: ''
                },
                participants: {
                    show: false,
                    members: [],
                    groups: [],
                    id: ''
                },
                searchkeyword: '',
                searchlocation: '',
                publictab: false,
                loadmoreapi: '/api/box/discussion/?type=private&action=more',
                showajaxloader: false,
                deletepost: {
                    show: false,
                    index: '',
                    postid: ''
                }
            }
        },
        events: {
            'participants': function (id) {
                var self = this;

                ajaxGet('/api/discussion/participants/?post_id=' + id, function (response) {
                    console.log(response);
                    self.participants.members = response.participants.friends;
                    self.participants.groups = response.participants.group;
                });

                console.log(self.participants.id, ' : ', id);
                if (self.participants.id == id) {
                    self.participants.show = false;
                    self.participants.id = '';
                } else {
                    self.participants.show = true;
                    self.participants.id = id;
                }
                self.boxinfo.result = self.participants.show; //Trick to trigger boxinfo watch
            },
            'audienceupdated': function (aud,rawdata) {
                var self = this;
                self.createmessage.audience = aud;
                self.createmessage.rawwcs = rawdata;
            },
            'tagupdated': function (taglist,rawdata) {
                var self = this;
                self.createmessage.tag = taglist;
                self.createmessage.rawtag = rawdata;
                self.$broadcast('tagupdated', taglist);
            },
            'opentag': function (currlist) {
                this.$broadcast('opentag', currlist);
            },
            'groupboxupdated': function (group, box) {
                this.createmessage.box = box;
                this.createmessage.group = group;
            },
            'mediaupdated': function (shared) {
                this.createmessage.videos = shared.videos;
                this.createmessage.images = shared.images;
            },
            'generalpostcreated': function (general) {
                //Adding to the top of post area
                this.boxinfo.posts.unshift(general);
                if (this.boxinfo.posts.length > 5)
                    this.boxinfo.posts.pop();
            },
            'favnameadded': function (fav, index) {
                var self = this;
                self.boxinfo.favourite.splice(index, 1, fav);
            },
            'loadfavorite': function (fav) {
                var self = this;
                console.log(fav.api);
                self.loadmoreapi = fav.api + '&action=more';
                ajaxGet(fav.api, function (response) {
                    self.boxinfo = response;
                });
            },
            'editpost': function(postid,index){
                var self = this;
                self.edit.index = index;
                self.createmessage.show = true;
                console.log('Insidde Post Editing');
                function generaledit(response) {
                    function statusChange(data){
                        var arr = [];
                        $.each(data,function(index,value){
                            arr.push({
                                status: 'Ok',
                                files: [value]
                            });
                        });
                        return arr;
                    }
                    window.shared.images= statusChange(response.images) ;
                    window.shared.videos  = statusChange(response.videos) ;
                    console.log(self.createmessage.images);
                    console.log(self.createmessage.videos);

                    if(Object.keys(response.whocansee).length > 0){
                        console.log("Editing WCS: ");
                        self.$dispatch('editwcs',response.whocansee);
                    }

                    if(Object.keys(response.tags).length > 0)
                        self.$dispatch('edittag',response.tags);

                    self.createmessage.description = response.description ;

                    console.log(self.createmessage.description);

                    $('.create-post-textarea textarea').trigger('click');
                    self.edit.status = true;
                    self.edit.post = response.id;
                }

                ajaxGet('/api/load/post/?postid='+ postid,function(response){
{#                    console.log(JSON.stringify(response));#}
                    if(response.post_type == 'discussion'){
                        generaledit(response);
                    }

                });


            }
        },
        methods: {
            EditPost: function(postid,index){
                var self = this;
                console.log('Editing post');
                self.$emit('editpost',postid,index);
            },
            HideCreateArea: function(){
                this.createmessage = {
                        show: false,
                        audience: [],
                        tag: [],
                        box: [],
                        group: [],
                        description: '',
                        videos: [],
                        images: [],
                        rawwcs: {},
                        rawtag:{}
                }
            },
            RemoveParticipant: function() {
                ajaxPost('/api/participants/remove/',
                    {   post_id:12,
                        group_id:211,
                        member_id:12},
                        function(){

                        }
                )
            },
            HideDeletePopup: function () {
                var self = this;
                self.deletepost = {
                    show: false,
                    index: '',
                    postid: ''
                };
            },
            DeleteConfirm: function () {
                var self = this;
                ajaxGet('/delete_posts/?postid=' + self.deletepost.postid, function (response) {
                    if (response.result == 'ok') {
                        self.HideDeletePopup();
                        self.boxinfo.posts.splice(self.deletepost.index,1);
                        initScrollToFixed();
                        notification.success(response.msg);
                         $(window).trigger('resize');
                    }else{
                        notification.error(response.msg);
                    }
                });
            },
            DeletePost: function (id,index) {
                var self = this;
                self.deletepost = {
                    show: true,
                    index: index,
                    postid: id
                },
                self.showdelete = true;
            },
            showcreatemessage: function(state) {
                this.createmessage.show = state;
            },
            LoadUserPost: function (user) {
                var self = this;
                self.loadmoreapi = user.api + '&action=more';
                ajaxGet(user.api, function (response) {
                    self.boxinfo = response;
                });
            },
            LoadMoreContent: function () {
                var self = this,
                        url = self.loadmoreapi;
                self.showajaxloader = true;

                ajaxGet(url, function (response) {
                    console.log(response);
                    if (response.posts.length > 0)
                        self.boxinfo.posts.push.apply(self.boxinfo.posts,response.posts);
                    self.showajaxloader = false;
                });
            },
            NewPost: function () {
                var self = this;
                $('html, body').animate({scrollTop: 0}, 800);
                self.showcreatemessage(!self.createmessage.show);
            },
            OpenChat: function () {
                var self = this;
                self.$broadcast('openchat');
            },
            AddFavorite: function () {
                var self = this;

                ajaxPost('/api/favourite/add/', {
                    category: self.selcategory.brief.toString(),
                    keyword: self.searchkeyword,
                    location: self.searchlocation
                }, function (response) {
                    console.log(response);
                    if (response.result == 'ok') {
                        self.selcategory = {
                            full: [],
                            brief: []
                        };
                        self.searchkeyword = '';
                        self.searchlocation = '';
                        self.boxinfo.favourite.unshift(response.favourite);
                        self.$nextTick(function () {
                            $(window).trigger('resize');
                            $('.discussion-box .scroll-area').data('IScroll').refresh();
                        });
                    }
                });
            },
            SearchLocation: function () {
                var self = this;

                if (self.searchlocation != '' && self.createmessage.show !=true){
                    self.searchstore.location = self.searchlocation;
                    return;
                }


                var api = '/api/box/discussion/?type=public&keyword=' + self.searchstore.keyword +
                        '&location=' + self.searchstore.location + '&category=' + self.selcategory.brief.toString();
                ajaxGet(api, function (response) {
                    self.boxinfo = response;
                });
                self.searchlocation = '';
                self.searchkeyword = '';
            },
            SearchKeyword: function () {
                var self = this;

                if (self.searchkeyword != '' && self.createmessage.show !=true ){
                    self.searchstore.keyword = self.searchkeyword;
                    return;
                }

                var api = '/api/box/discussion/?type=public&keyword=' + self.searchstore.keyword +
                        '&location=' + self.searchstore.location + '&category=' + self.selcategory.brief.toString();
                ajaxGet(api, function (response) {
                    self.boxinfo = response;
                });

                self.searchkeyword = '';
                self.searchlocation = '';
            },
            AddToSelection: function (category) {
                var self = this;
                if (self.createmessage.show) {
                    self.selcategory = {
                        full: [category],
                        brief: [category.id]
                    };
                    return;
                }
                if(self.selcategory.brief.indexOf(category.id) < 0){
                    self.selcategory.full.push(category);
                    self.selcategory.brief.push(category.id);
                }
            },
            RemoveSelectedCategory: function (index) {
                var self = this;
                self.selcategory.full.splice(index, 1);
                self.selcategory.brief.splice(index, 1);
            },
            PublicTab: function () {
                var self = this;
                self.publictab = true;
                self.participants.show = false;
                self.loadmoreapi = '/api/box/discussion/?type=public&action=more';
                window.scrollTo(0, 0);
                ajaxGet('/api/box/discussion/?type=public', function (response) {
                    self.boxinfo = response;
                    console.log(response);
                });
            },
            PrivateTab: function () {
                var self = this;
                self.publictab = false;
                self.loadmoreapi = '/api/box/discussion/?type=private&action=more';
                window.scrollTo(0, 0);
                ajaxGet('/api/box/discussion/?type=private', function (response) {
                    self.boxinfo = response;
                    console.log(response);
                });
            },
            ShowPostArea: function () {
                var self = this;
                self.createmessage.show = true;
            },
            openAudiencepopup: function () {
                this.$broadcast('audience', this.createmessage.audience);
            },
            DiscussionCreate: function (event) {
                var self = this;
                event.preventDefault();

                var box = self.returnSelectedBox(),
                        group = self.returnSelectedGroup(),
                        members = self.returnSelectedMembers(),
                        whocansee = {boxes: box, groups: group, members: members},
                        images = self.returnUploadedImages(),
                        videos = self.returnUploadedVideos();

                console.log(JSON.stringify(whocansee));
                console.log(self.createmessage.tag);
                console.log(self.createmessage.images);
                console.log(self.createmessage.videos);

                var data ={
                    post_type: 'discussion',
                    whocansee: JSON.stringify(whocansee),
                    tags: JSON.stringify(self.createmessage.tag),
                    description: self.createmessage.description,
                    discussion_type: self.publictab ? 'public' : 'private',
                    csrfmiddlewaretoken: $('#csrf_token').val(),
                    category: self.selcategory.brief.toString(),
                    images: images,
                    videos: videos,
                    rawtag: JSON.stringify(self.rawtag),
                    rawwcs: JSON.stringify(self.rawwcs)
                };

                if(self.edit.status){
                    data['postid'] = self.edit.post;
                }

                ajaxPost('/discussion_posts/', data, function (response) {
                    console.log(response);
                    if (response.result == 'ok') {
                        window.shared.videos = [];
                        window.shared.images = [];
                        self.createmessage = {
                            show: false,
                            audience: [],
                            tag: [],
                            box: [],
                            group: [],
                            description: '',
                            videos: [],
                            images: [],
                            rawwcs: {},
                            rawtag:{}
                        };
                        self.selcategory = {
                            full: [],
                            brief: []
                        };
                        self.searchstore = {
                            keyword: '',
                            location: ''
                        };
                        self.$broadcast('clearImages');
                        self.$dispatch('generalpostcreated', response.post);
                    } else {
                        notification.error(response.msg);
                    }
                });
            },
            returnSelectedBox: function () {
                var box = [];
                $.each(this.createmessage.box, function (index, value) {
                    box.push(value.substr(1, value.length));
                });
                console.log('box ready');
                return box;
            },
            returnSelectedGroup: function () {
                var group = [];
                $.each(this.createmessage.group, function (index, value) {
                    var tmp = value.split('-')[1];
                    group.push(tmp.substr(1, tmp.length));
                });
                console.log('group ready');
                return group;
            },
            returnSelectedMembers: function () {
                var self = this;
                var members = {};
                console.log('Audience:', self.createmessage.audience);
                $.each(self.createmessage.audience, function (index, user) {
                    if (typeof members[user.groupid] == 'undefined') {
                        members[user.groupid] = [];
                    }
                    members[user.groupid].push(user.id);
                });
                console.log('members ready: ', members);
                return members;
            },
            returnUploadedImages: function () {
                var images = [];
                $.each(this.createmessage.images, function (index, value) {
                    if (typeof  value.id != "undefined")
                        images.push(value.id);
                });
                return images;
            },
            returnUploadedVideos: function () {
                var videos = [];
                $.each(this.createmessage.videos, function (index, value) {
                    if (typeof  value.id != "undefined")
                        videos.push(value.id);
                });
                return videos;
            },
        },
        filters: {
            concise: function (str) {
                console.log(str.substr(450, str.length).indexOf(' '));
                var length = str.length < 450 ? str.length : 450 + str.substr(450, str.length).indexOf(' ');
                return str.substr(0, length) + '...';
            },
            detailed: function (str) {
                if (str.length < 450)
                    return '';
                else
                    return str.substr(450 + str.substr(450, str.length).indexOf(' '), str.length);
            }
        },
        watch: {
            'boxinfo': {
                handler: function () {
                    console.log("Changed");
                    initSameHeight();
                    initIScroll();
                    initStretchHeight();
                    initScrollToFixed();
                    $(window).trigger('resize');
                },
                deep: true
            },
            'createmessage': {
                handler: function () {
                    if (this.createmessage.show) {
                        this.selcategory = {
                            full: [],
                            brief: []
                        };
                        this.searchstore={
                            location: '',
                            keyword: ''
                        };
                    }
                },
                deep: true
            }
        }
    });
</script>