
<template id="fileupload-template">
  <ul class="upload-form-menu">
    <li class="upload-photo">
        <span class="fileinput-button" style="float:left;width:100%;cursor:pointer">
            <a href="#">image</a>
            <form>
                <input name="file" id="upload-general-images"
                    accept="image/*" multiple="" style="cursor:pointer" title="Choose a image" type="file">
            </form>
        </span>
    </li>
    <li class="upload-video">
        <span class="fileinput-button" style="float:left;width:100%">
            <a href="#">video</a>
            <form>
            <input
                   name="file" id="upload-general-videos" accept="video/*"
                   multiple="" style="cursor:pointer" title="Choose a video " type="file">
                </form>
        </span>
    </li>
    <li class="person-link">
        <a @click.prevent="whocanseeClicked" href="#who-can-see-this-post">person</a>
    </li>
  </ul>
  <ul class="create-list-participants">
      <li v-for="tag in taggedusers">
          <strong class="title">{! tag.name !}</strong>
          <a @click.prevent="deleteTag($index)" href="#" class="close">close</a></li>
  </ul>
    <ul class="uploaded-photos">
        <li v-for="uploaded in shared.images.slice(0,6)">
            <div class="uploaded-pagination" v-if="uploaded.status == 'uploading' && $index < 5" >
                <div style="border: 1px solid #ccc;height:100%">
                    <img src="/static/images/no-image-box.png" alt="" height="60" width="90">
                    <div class="general-progress" :style="{width: uploaded.percent+'%'}"></div>
                </div>
{#                <div class="meter">#}
{#			        <span :style="'width:'+uploaded.percent+'%'"></span>#}
{#		        </div>#}
            </div>
            <div class="uploaded-pagination" v-if="$index < 5 && uploaded.status !='uploading'">
                <div v-if="uploaded.status == 'Ok'">
                    <img :src="uploaded.files[0].thumbnailUrl" alt="" height="55" width="69">
                    <a @click.prevent="removeImage($index)" href="#" class="close">close</a>
                </div>
                <div v-else>
                    <img src="/static/images/error.png" alt="" height="55" width="69">
                    <a @click.prevent="removeImage($index)" href="#" class="close">close</a>
                </div>
            </div>
            <div class="uploaded-pagination" v-if="$index == 5  && uploaded.status != 'uploading'">
                <img :src="uploaded.files[0].thumbnailUrl" alt="" height="55" width="69">
                <a @click.prevent="imageExtra" v-if="shared.images.length > 6" href="#pupup-create-uploaded-images" class="add-link-photo lightbox">
                    <span class="frame"><span class="number">{! shared.images.length-5 !}</span> photos</span>
                </a>
                <a href="#" class="close" v-show="shared.finished && shared.images.length <= 6">close</a>
            </div>
        </li>
        <div :class="{'lightbox-active' : imageshow}" id="pupup-create-uploaded-images" class="popup-base" v-if="shared.images.length  > 6">
            <div class="pupup-create-uploaded-images popup-base-inner">
                <div class="uploaded-images-holder">
                    <div class="uploaded-image" v-for="image in shared.images.slice(5,shared.images.length)">
                        <div class="uploaded-progress" v-if="image.status == 'uploading'">
                            <div style="border: 1px solid #ccc;height:100%">
                                <img src="/static/images/no-image-box.png" alt="" height="60" width="90">
                                <div class="general-progress" :style="{width: image.percent+'%'}"></div>
                            </div>
                        </div>
                        <img v-if="image.status=='Ok'" :src="image.files[0].thumbnailUrl" height="69" width="89" alt="">
                        <img v-else src="/static/images/error.png" height="69" width="89" alt="">
                        <a @click.prevent="removeImage($index)" href="#" class="close">close</a>
                    </div>
                </div>


                <div class="button-holder">
                    <a href="#" class="btn-base">Apply</a>
                    <a @click.prevent="imageExtra" href="#" class="btn-base">Cancel</a>
                </div>
            </div>
        </div>
    </ul>
    <ul class="uploaded-videos">
        <li v-for="video in shared.videos">
            <div class="uploaded-pagination" v-if="video.status == 'uploading' && $index < 5" style="height: 100%;width:100%;">
                <div style="border: 1px solid #ccc;height:100%">
                    <img src="/static/images/no-image-box.png" alt="" height="60" width="90">
                    <div class="general-progress" :style="{width: video.percent+'%'}"></div>
                </div>
{#                <div class="meter">#}
{#			        <span :style="'width:'+video.percent+'%'"></span>#}
{#		        </div>#}
            </div>
            <div class="uploaded-video-pagination" v-if="$index < 4  && video.status !='uploading'">
                <div v-if="video.status == 'Ok'">
                    <img :src="video.files[0].thumbnailUrl" alt="" height="60" width="90">
                    <a @click.prevent="removeVideo($index)" href="#" class="close">close</a>
                    <span class="time">0:54</span>
                </div>
                <div v-else>
                    <img src="/static/images/error.png" alt="" height="60" width="90">
                    <a @click.prevent="removeVideo($index)" href="#" class="close">close</a>
                </div>
            </div>
            <div class="uploaded-video-pagination" v-if="$index == 4  && video.status !='uploading'">
                <img :src="video.files[0].thumbnailUrl" alt="" height="60" width="90">
                <a @click.prevent="videoExtra" v-if="shared.videos.length > 6" class="add-link-photo lightbox">
                    <span class="frame"><span class="number">{! shared.videos.length-4 !}</span> videos</span>
                </a>
                <a href="#" class="close" v-show="shared.finished && shared.images.length <= 6">close</a>
            </div>
        </li>
        <div :class="{'lightbox-active' : videoshow}" id="pupup-create-uploaded-images" class="popup-base"
             v-if="shared.videos.length  > 5">

            <div class="pupup-create-uploaded-images popup-base-inner">
                <div class="uploaded-images-holder">
                    <div class="uploaded-image" v-for="video in shared.videos.slice(4,shared.videos.length)">
                             <div class="uploaded-progress" v-if="video.status == 'uploading'">                <div style="border: 1px solid #ccc;height:100%">
                                <img src="/static/images/no-image-box.png" alt="" height="60" width="90">
                                <div class="general-progress" :style="{width: video.percent+'%'}"></div>
                            </div>
                        </div>
                        <img :src="video.files[0].thumbnailUrl" height="60" width="901" alt="">
                        <a @click.prevent="removeVideo($index)" href="#" class="close">close</a>
                    </div>

                </div>
                <div class="button-holder">
                    <a href="#" class="btn-base">Apply</a>
                    <a @click="videoExtra" href="#" class="btn-base">Cancel</a>
                </div>
            </div>
        </div>
    </ul>

</template>

<script>
    var FileUploadComponent = Vue.component('file-upload',{
  template: '#fileupload-template',
  props: {
    class: String,
    id: String,
    action: {
      type: String,
      required: true
    },
    accept: String,
    multiple: String,
    headers: Object,
    method: String
  },
  data: function() {
    return {
      myFiles: [], // a container for the files in our field
      images : [],
      videos : [],
      shared: window.shared,
      imageshow: false,
      videoshow: false,
      loadingtext: '',
      taggedusers : [],
        progressshow : false
    };
  },
    ready: function() {
    },
    watch: {
      'shared': {
          handler:function() {
              this.$dispatch('mediaupdated',this.shared);
      },
          deep:true
      }
    },
  events: {
    'clearImages': function(){
        this.images = [];
            this.videos = [];
        this.progressshow = false;
    },
    'tagupdated' : function(taglist) {
      this.taggedusers = taglist;
    }
  },
  methods: {
    deleteTag : function(index) {
      this.taggedusers.splice(index,1);
    },
    whocanseeClicked: function() {
      this.$dispatch('opentag',this.taggedusers);
    },
    removeImage:function(index) {
      if(typeof this.shared.images[index].files !='undefined' ){
       ajaxGet(this.shared.images[index].files[0].deleteUrl,function(response) {
          console.log(response);
       }) ;
      }
      this.shared.images.splice(index,1);
    },
    removeVideo: function(index) {
      if(typeof this.shared.videos[index].files !='undefined' ){
       ajaxGet(this.shared.videos[index].files[0].deleteUrl,function(response) {
          console.log(response);
       }) ;
      }
      this.shared.videos.splice(index,1);
    },
    imageExtra : function(){
        this.imageshow = !this.imageshow;
    },
    videoExtra : function() {
        this.videoshow = !this.videoshow;
      console.log("clicked");

    }
  }
});
</script>