<template id="group-selection">
    <div class="pop-up-area add-size" :class="{'lightbox-active': show}" id="movegroup">
        <div class="holder">
            <div class="add-members-pop-up">
                <div class="title-pop-up">Assign Group</div>
                <form action="#" class="add-members-form">
                    <div class="checkbox-gallery" style="display: none;">
                        <div class="mask">
                            <div class="row-group">
{#                                <div  class="slide"#}
{#                                     :class="{'active' : selectall}">#}
{#                                    <a href="#checkbox-gallery-tab01">#}
{#                                        <label foHideGroupSelectionr="checkboxPopupAll" class="checkboxPopup">#}
{#                                            <input type="checkbox"  id="checkboxPopupAll" name="checkboxPopupAll" ><span>All</span>#}
{#                                        </label>#}
{#                                    </a>#}
{#                                </div>#}
                                <div  class="slide active"
                                     v-for="box in boxes">
                                    <a :href='"#checkbox-gallery-tab-movegroup-"+ box.id'>
                                        <label  :for='"checkboxPopup"+box.id' class="checkboxPopup">
                                            <input v-model="boxmodel" type="checkbox" :readonly="tabreadonly"  :value="'b'+box.id.toString()"
                                                   :id='"checkboxPopup"+ box.id'
                                                   :name='box.name'>
                                            <span >{! box.name !}</span>
                                        </label>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn-prev">previous</a>
                        <a href="#" class="btn-next">next</a>
                    </div>
                    <div class="tab-content">
{#                    <div id="checkbox-gallery-tab01">#}
{#                      <h2>Click All to select<br>or select everyone</h2>#}
{#                    </div>#}
                        <div v-for="box in boxes" :id='"checkbox-gallery-tab-movegroup-"+ box.id' >
                            <div  class="scroll-area checkbox-gallery-wrapper">
                                <div class="accordion-area">
                                    <div v-for='group in box.groups' :class='"accordion-panel bg-"+group.id'
                                         :style='"background:"+group.group_bar_color+";"'>
                                        <div class="accordion-title">
                                            <span class="accordion-btn" :data-id='group.id'>
                                                {! group.name | capitalize !}
                                            </span>
                                            <label :for='group.name+"-"+group.id' class="checkboxPopup checkboxGroup">
                                                <input v-model="groupmodel" type="checkbox"  :id='group.name+"-"+group.id'
                                                       :name='group.name+"-"+group.id'
                                                        :value="group.id" >
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="btn-group clearfix">
                        <a href="#" @click='HideGroupSelection' id="deskclose" class="mfp-close cancel-btn desktop close">Cancel</a>
                        <a href="#" @click='HideGroupSelection' id="deskclose" class="cancel-btn mobile close">Cancel</a>
                        <button @click="ApplySelection" id="friends_li" type="submit">Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    var GroupSelection = Vue.component('groupselection',{
   template: '#group-selection',
    data: function() {
        return{
            boxes: [],
            groupmodel : [],
            boxmodel : [],
            requestid: '',
            userindex: 0,
            role : ''
        }
    },
    props:['show'],
    events: {
        'assigngroup' : function(id,index) {
            var self = this;
            self.userindex = index;
            self.requestid = id;
            self.role = 'assigngroup';
            self.LoadBoxGroups();
        },
         'usercopy' : function(userid) {
            var self = this;
             self.requestid = userid;
             self.role='usercopy';
             self.LoadBoxGroups();
            }
    },
    methods: {
        HideGroupSelection: function() {
            var self = this;
            self.show = false;
            self.groupmodel = [];
            self.boxmodel = [];
            self.userindex = 0;
            self.requestid = '';
        },
        ApplySelection : function(event) {
            var self = this;
            event.preventDefault();
            console.log(self.groupmodel);

            if(self.groupmodel.length < 1 ){
                console.log('Not a group selected');
                return false;
            }

            console.log(self.groupmodel);
            if(self.role == 'assigngroup'){
                  ajaxPost('/api/request/add/group/',{
                    request_id : self.requestid,
                    group_id : self.groupmodel[0]
                },function(response) {
                    console.log(JSON.stringify(response));
                    if(response.message == 'Friend Request Moved to group'){
                        self.$dispatch('userassigned',self.index,response.request.invited_group);
                        notification.success("User assigned to the group");
                        self.show = false;
                        self.$dispatch('updatebox');
                    }else if(response.message == 'Friend Request Added to Hub'){
                        notification.success("Friend Request Added to Hub");
                        self.$dispatch('useraddedtohub',self.index);
                        self.show = false;
                    }else{
                        notification.error(response.message);
                        self.show = false;
                    }

                });
            }else{
                ajaxPost('/api/request/send/',{
                    user_id : self.requestid,
                    group_id : self.groupmodel[0]
                },function(response) {
                    console.log(response);
                    if(response.message == 'Request Sent'){
                        notification.success("User sent a group request");
                        self.show = false;
                    }else if(response.message == 'connected'){
                        notification.error('User already present in group');
                        self.show = false;
                    }

                });
                self.show = false;
            }

            self.requestid = null;
            self.userindex = null;

        },
        LoadBoxGroups : function() {
            var self = this;
            self.boxmodel = [];
            self.groupmodel = [];
            ajaxGet('/api/box/view/',function(response) {
                self.boxes = new Array(response.box);
                console.log(response);

            });
            self.show = true;
        }
    },
    watch: {
      'boxes' : function() {
          contentAccordion('movegroup');2
      },
        'groupmodel': function() {
          var self = this;
         if(self.groupmodel.length > 1){
             self.groupmodel.splice(0,self.groupmodel.length-1);
         }
      }
    },
    ready : function() {
    }
});

</script>