<template id="leftbar">
    <div class="aside-holder same-height">
        <div class="aside-frame">
            <aside class="left-sidebar">
                <div class="tab-panel">
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab1">Groups {! grpcount !}</a></li>
                        <li><a @click="LoadFriends" href="#tab2">Friends {! frndscount !}</a></li>
                    </ul>
                    <div id="tab1" class="tab-section">
                        <div class="btn-row desktop">
                            <a @click="OpenNewGroup" href="#new-group" class="add-new-group-btn lightbox">Add New
                                Group</a>
                            <div class="setting-group-btn-cell">
                                <a href="#" class="setting-group-btn group-setting-editing-opener">icon setting</a>
                            </div>
                            <div class="wrap-all-btn">
                                <a href="#" class="all-btn js-personal-group-btn">&nbsp;</a>
                            </div>
                            <div class="messages-btn">
                                <strong class="chat_opener" @click.prevent="OpenMessageContainer"><span style="opacity:1">{! chatcount !}</span></strong>
{#                                <a @click.prevent="OpenMessageContainer" href="#" class="msg-btn js-personal-group-btn">&nbsp;</a>#}
                            </div>

{#                            <a @click.prevent="OpenMessageContainer" href="#all-msg-block"#}
{#                               class="messages-btn btn-open-messages"><strong><span></span></strong></a>#}
                        </div>
                        <div class="group-setting-editing-drop">
{#                            <a href="#" class="btn">Apply</a>#}
                            <a href="#" class="btn group-setting-editing-opener">Done</a>
                        </div>
                        <div id="personal-accordion" class="accordion-wrap personal-group">
                            <ul class="accordion-area expand-collapse">
                                <li class="accordion-panel" id="accor_newrequest">
                                    <h3 class="accordion-title-tow accordion-opener" :style="{background: GradientBackground(newrequest.color)}"
                                        data-acc-content="/api/request/view/user/"
                                        data-content-list="ajax-content-newreq">
                                        <b @click="NewRequest" class="accordion-btn ">New Requests <span id="membcount_id">{! nrqcount !}</span></b>
                                        <a href="#" class="alboms-btn">&nbsp;</a>
                                    </h3>
                                    <div class="accordion-content acc-section">
                                        <a href="#" class="add-people-btn">Click here to import people</a>
                                        <ul class="list-items">
                                            <li v-for="req in newrequest.newrequests">
                                                <div class="left-cell">
                                                    <a :href="req.avatarLink" class="wrap-img">
                                                        <img v-if="req.avatar!=null" :src="req.avatar"
                                                             :alt="req.avatarDescription">
                                                        <img v-else src="/static/images/pictures/avatar.jpg"
                                                             :alt="req.avatarDescription">
                                                    </a>
                                                </div>
                                                <div class="text-box">
                                                    <h3><a href="#">{! req.name | capitalize !}</a></h3>
                                                    <div class="description"><p>{! req.msg | capitalize !}</p></div>
                                                </div>
                                                <div class="right-cell">
                                                    <div class="overlay">&nbsp;</div>
                                                    <a @click="AcceptRequest(req.request_id,$index,$event)"
                                                       v-if="req.status == 'Already sent'" href="#"
                                                       class="btn-add btn-add-hub">Add</a>
                                                    <a @click="AcceptRequest(req.request_id,$index,$event)"
                                                       v-if="req.status == 'Recieved'" href="#"
                                                       class="btn-add btn-add-hub">Accept</a>
                                                    <a @click="AssignGroup(req.request_id,$index,$event)"
                                                       v-if="req.status == 'Added to hub'" href="#"
                                                       class="btn-add btn-assign-group btn-assign">
                                                        Assign Group
                                                    </a>
                                                </div>
                                            </li>


                                            <li v-for="suggestion in suggestionlist.users">
                                                <div class="left-cell">
                                                    <a href="#" class="wrap-img">
                                                        <img :src="suggestion.pic">
                                                    </a>
                                                </div>
                                                <div class="text-box">
                                                    <h3>
                                                        <a href="#">{! suggestion.name | capitalize !}</a>
                                                    </h3>
                                                    <div class="description">
                                                        <p>{! suggestion.msg | capitalize !}</p>
                                                    </div>
                                                </div>
                                                <div class="right-cell">
                                                    <div class="overlay">&nbsp;</div>
                                                    <a href="#" class="btn-add btn-add-hub" @click.prevent="InviteUser(suggestion.id,$index)">Invite</a>
                                                </div>
                                            </li>
                                        </ul>1
                                    </div>
                                </li>
                                <li v-for="grp in groups" class="accordion-panel" v-threedot="grp.group_bar_color">
                                    <h3 class="accordion-title-tow accordion-opener"
                                        :style="{background: grp.group_bar_color, background: GradientBackground(grp.group_bar_color) }"
                                        data-acc-content="/api/friends/view/group/?group_id={! grp.id !}"
                                        data-content-list="ajax-content-{! grp.id !}">
                                        <b class="accordion-btn">{! grp.name | capitalize !} <span
                                                class="quantity-person">{!grp.notification !}</span></b>
                                        <a href="#" class="alboms-btn">&nbsp;</a>
                                        <a @click.stop="GroupPosts(grp,$index)" href="#" class="posts-btn eye-btn">&nbsp;</a>
                                        <a @click.stop="EditNewGroup($event,grp.id,$index)" href="#"
                                           class="accordion-title-tow-edit">Edit</a>
                                        <a @click.stop="DeleteGroup($event,grp.id,$index)" href="#"
                                           class="accordion-title-tow-delete">Delete</a>
                                        <a href="#" class="accordion-title-tow-menu">
                                                    	<span>
                                                    		<span class="bullet"></span>
                                                    		<span class="bullet"></span>
                                                    		<span class="bullet"></span>
                                                    	</span>
                                        </a>
                                        <div class="accordion-title-tow-menu-drop">
                                            <ul>
                                                <li><a @click.stop="OpenBoxSelection($event,grp.id)" href="#">Move</a></li>
                                                <li><a @click.stop="" href="#">Info</a></li>
                                            </ul>
                                        </div>
                                    </h3>
                                    <div class="accordion-content acc-section">
                                        <a @click="FriendsPopup($event,grp.id,$index)" href="#" class="add-people-btn">Click
                                            here to add people</a>
                                        <ul class="list-items" :group-id="grp.id">
                                            <li v-for="member in grp.members">
                                                <div class="left-cell">
                                                    <div class="peel-effect">
                                                        <img class="content-btm" :src="member.member_profile.comic_pic"
                                                             alt="Milosz Bazela">
                                                        <div class="mask">
                                                            <div class="mask-inner">
                                                                <img class="content-top" :src="member.profile_pic"
                                                                     :alt="member.member_profile.avatarDescription">
                                                            </div>
                                                            <div class="peel"></div>
                                                            <div class="shadow"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-box">
                                                    <h3><a @click.stop="UserPosts(member.id,grp.id)" href="#">{! member.member_profile.first_name | capitalize
                                                        !}</a></h3>
{#                                                    <div class="description"><p>This is a sample description and i have to add one more img to the status image</p></div>#}
                                                    <div class="description"><p>{! member.member_profile.status_msg.slice(0,21) | capitalize !}</p></div>
                                                    <div class="description"><p>{! member.member_profile.status_msg.slice(21,42) | capitalize !}</p></div>
                                                    <div class="person-menu">
                                                        <a v-if="member.member_profile.menu.muteBtn == 'Mute'"
                                                           style="margin-left: 80px;"
                                                           @click="MuteOrUnmute($event,member)" href="#">Mute</a>
                                                        <a v-else style="margin-left: 75px;"
                                                           @click="MuteOrUnmute($event,member)" href="#">Unmute</a>

                                                        <a @click="OpenGroupSelection($event,member.id)"
                                                           href="#">Move</a>
                                                    </div>
                                                </div>
                                                <div class="status-icon">
                                                    <a href="#"  class="status-img" :style="{'background' : 'url('+ member.member_profile.status_pic+') no-repeat'}" > </a>
                                                </div>
                                                <div class="right-cell">
{#                                                    <a class="status-image" :style="{'background' : 'url('+member.member_profile.status_pic+') no-repeat' }">#}
{#                                                    </a>#}
                                                    <a @click.prevent="OpenChatHead(member)" href=""
                                                       class="notifications chat_opener" :class="{'msg-active': member.chat_notification > 0 }">&nbsp;</a>
                                                    <a @click="OpenPersonSettings(member)"
                                                       href="#person-setting-menu-popup"
                                                       class="btn-dots lightbox">DOTS</a>
                                                </div>
                                            </li>
                                            <li v-for="request in grp.request">
                                               <div class="left-cell">
                                                    <div class="peel-effect">
                                                        <img class="content-btm" :src="request.comic_pic"
                                                             alt="Milosz Bazela">
                                                        <div class="mask">
                                                            <div class="mask-inner">
                                                                <img class="content-top" :src="request.profile_pic"
                                                                     :alt="">
                                                            </div>
                                                            <div class="peel"></div>
                                                            <div class="shadow"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-box">
                                                    <h3><a @click.stop="UserPosts(request.id,grp.id)" href="#">{! request.member_profile.first_name | capitalize
                                                        !}</a></h3>
                                                    <div class="description"><p>{! request.status | capitalize
                                                        !}</p></div>
                                                </div>
                                               <div class="right-cell"></div>

                                            </li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="btn-row mobile">
                            <a href="#" class="add-new-group-btn">Add New Group</a>
                            <a href="#" class="messages-btn"><strong><span></span></strong></a>
                        </div>


                        <chat></chat>



                    </div>
                    <div id="tab2" class="events-section">
                        <div>
                            <div class="events-search-heading">
                                <ul class="events-search-alphabet">
                                    <li v-for="alphabet in alphabets.slice(0,15)">
                                        <a @click="LetterSearch(alphabet)" class="letterclick" href="#">{! alphabet !}</a>
                                    </li>
                                </ul>
                                <ul class="events-search-alphabet">
                                    <li v-for="alphabet in alphabets.slice(15,26)">
                                        <a @click="LetterSearch(alphabet)" class="letterclick" href="#">{! alphabet !}</a>
                                    </li>
                                </ul>
                                <form action="#" class="events-search">
                                    <input v-model="eventsearch"  @input="FriendsSearch | debounce 500"  class="events-search-input" type="search" placeholder="Search">
                                    <a @click="EventClear" class="events-search-close" href="#">close</a>
                                </form>
                            </div>
                        </div>
                        <div id="personal-accordion" class="accordion-wrap personal-group">
                            <ul class="accordion-area expand-collapse">
                                <div class="friends-list">
                                    <ul class="list-items">
                                        <li class="friends-list-item" v-for="friend in friendslist">
                                            <div class="left-cell">
                                                    <div class="peel-effect">
                                                        <img class="content-btm" :src="friend.comic_pic"
                                                             alt="Milosz Bazela">
                                                        <div class="mask">
                                                            <div class="mask-inner">
                                                                <img class="content-top" :src="friend.profile_pic"
                                                                     :alt="friend.avatarDescription">
                                                            </div>
                                                            <div class="peel"></div>
                                                            <div class="shadow"></div>
                                                        </div>
                                                    </div>
                                                </div>
{#                                            <div class="left-cell">#}
{#                                                <a href="#" class="wrap-img  ">#}
{#                                                    <img :src="friend.avatar" alt="">#}
{#                                                </a>#}
{#                                            </div>#}
                                            <div class="text-box">
                                                <h3><a href="#">{! friend.name | capitalize !}</a></h3>
                                                <div class="description"><p>{! friend.about !}</p></div>
                                            </div>
                                            <div class="right-cell">
                                                <div class="overlay">&nbsp;</div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </ul>
                        </div>

                    </div>

                </div>
                <newfriends :show.sync="showfriends" :groupid="groupid" :groupreq="groupreq" :groupindex="selgrpindex"></newfriends>
            </aside>
        </div>
    </div>
    <div class="pop-up-area" :class="{'lightbox-active' : showdelete.show}" id="popup-confirmation">
        <div class="holder">
            <h2>Are you sure you want to Delete?</h2>
            <p style="color:#BDBDBD">You will still be connected, group will be removed</p>
            <div class="button-holder">
                <a @click.prevent="DeleteConfirm(showdelete.grpid,showdelete.index)" href="#" class="btn-base"
                   id="delpost" data-post="2">Delete</a>
                <a @click.prevent="HideDeletePopup" href="#" class="close" id="close_popup">Cancel</a>
            </div>
            <div style="display:none" id="del_success"></div>
        </div>
    </div>
    <newgroup :groupid.sync="groupid" :show.sync="shownewgroup" :group="groups[groupindex]"
              :groupindex.sync="groupindex"></newgroup>
    <groupselection :show.sync="showgroupselection"></groupselection>
    <boxselection :show.sync="showboxselection" :groupid="groupid"></boxselection>
    <personsettings :person.sync="person" :show.sync="showpersonsettings"></personsettings>
</template>

<script>
    var LeftBar = Vue.component('leftbar', {
        template: '#leftbar',
        props: ['groups', 'newrequest'],
        data: function () {
            return {
                showgroupselection: false,
                showboxselection: false,
                showpersonsettings: false,
                person: {},
                groupid: 999,
                showfriends: false,
                groupreq: [],
                shownewgroup: false,
                groupindex: 0,
                selgrpindex: 0,
                friendslist: [],
                eventsearch: '',
                nrqcount: 0,
                chatcount: 0,
                frndscount:0,
                grpcount:0,
                suggestionlist: {
                    groups: [],
                    users: []
                },
                showdelete: {
                    show: false,
                    grpid: '',
                    index: ''
                },
                alphabets: ['A','B','C','D','E','F','G',
                    'H', 'I','J','K','L','M','N','O','P',
                    'Q','R','S','T','U','V','W','X','Y','Z']
            }
        },
        watch: {
            'groups': function () {
                // console.log(JSON.stringify(this.groups));
                initPersonalGroup();
                console.log('GroupsUpdated');

            }
        },
        events: {
            'useraddedtohub': function (index) {
                var self = this;
                self.newrequest.newrequests.splice(index, 1);
            },
            'userassigned': function (index, group) {
                var self = this;
                self.newrequest.newrequests.splice(index, 1);
            },
            'groupadded': function (group) {
                var self = this;
                self.groups.push(group)
            },
            'groupedited': function (group, index) {
                var self = this;
                self.groups.splice(index, 1, group);
            },
            'addmember' : function (member,grpindex) {
                var self = this;
                self.groups[index].members.push(member);
                initPersonalGroup();
            }
        },
        ready: function () {
            var self = this;
            initPersonalGroup();
            setInterval(function () {
                ajaxGet('/api/notification/count/',function(response) {
                    if(response.result == 'ok'){
                        self.nrqcount = response.nrg_count;
                        self.chatcount = response.chat_count;
                        self.frndscount = response.frnds_count;
                        self.grpcount = response.grp_count;
                    }
                });
            },3000);
        },
        methods: {
            InviteUser: function (userid, index) {
                var self = this;
                ajaxPost("/api/request/send/", {
                    user_id: userid
                }, function (response) {
                    switch (response.message) {
                        case 'Request Sent':
                            notification.success('Request sent successfully');
                            break;
                        case 'connected':
                            notification.error('Request is yet to accept');
                            break;
                        default:
                            notification.error('Unknown error !');
                    }

                });
                self.suggestionlist.users.splice(index, 1);
            },
            GradientBackground: function(color){
              var col = 'linear-gradient(to bottom, '+
                      shadeColor2(color,.2) +' 0%, '+ shadeColor2(color,-.2)+' 100%)';
                return col.toString();
            },
            UserPosts: function(uid,gid) {
                var self = this;
                self.$dispatch('loaduserposts',uid,gid);
            },
            GroupPosts: function (grp,inx) {
                var self = this;
                if(typeof grp.clicked == 'undefined'){
                    self.$dispatch('loadgroupposts',grp.id,inx);
                    grp['clicked'] = true;
                    notification.success('Loading group specific post');
                }else{
                    self.$dispatch('changebox');
{#                    delete grp['clicked'];#}
                    notification.success('Loading hub related posts');
                }

            },
            OpenChatHead: function(member) {
                var self = this;
                member.chat_notification = 0;
                self.$broadcast('openindividual',member);
            },
            OpenMessageContainer: function() {
                var self = this;
                self.$broadcast('openchat');
            },
            EventClear: function() {
              var self = this;
{#                self.eventsearch = '';#}
                self.eventsearch = self.eventsearch.slice(0,-1);
                setTimeout(function() {
                    self.LetterSearch('');
                },100);
            },
            FriendsSearch: function(event) {
                var self = this;
                ajaxGet('/api/friends/view/box/?search_key='+event.target.value, function (response) {
                    console.log(response);
                    if (response.result == 'ok') {
                        self.friendslist = response.friends;
                    }
                });
            },
            LetterSearch: function(letter) {
                var self = this;
{#                self.eventsearch += letter;#}
                var el = document.getElementsByClassName('events-search-input')[0];
                el.value += letter;
                el.dispatchEvent(new Event('input'));
            },
            LoadFriends: function () {
                var self = this;
                self.eventsearch = '';
                ajaxGet('/api/friends/view/box/', function (response) {
                    console.log(response);
                    if (response.result == 'ok') {
                        self.friendslist = response.friends;
                    }
                });
            },
            MuteOrUnmute: function (event, member) {
                var self = this;
                console.log('clicked');
                ajaxPost('/api/mute/', {
                    user_id: member.id
                }, function (response) {
                    console.log(response);
                    if (response.result == 'ok') {
                        if (response.mute) {
                            member.member_profile.menu.muteBtn = 'Unmute';
                            notification.success('Successfully muted ' + capitalize(member.name));
                        } else {
                            member.member_profile.menu.muteBtn = 'Mute';
                            notification.success('Successfully unmuted ' + capitalize(member.name));
                        }
                    }
                });
            },
            HideDeletePopup: function () {
                var self = this;
                self.showdelete = {
                    show: false,
                    grpid: '',
                    index: ''
                }
            },
            DeleteConfirm: function (grpid, index) {
                var self = this;
                ajaxPost('/api/group/exit/', {
                    group_id: grpid
                }, function (response) {
                    console.log(response);
                    if (response.result == 'ok') {
                        notification.success("You've deleted the group");
                        self.groups.splice(index, 1);
                        self.HideDeletePopup();
                    } else {
                        notification.error("Error while Deleting");
                    }
                });
            },
            DeleteGroup: function (event, grpid, index) {
                var self = this;
                event.preventDefault();
                self.showdelete.show = true;
                self.showdelete.grpid = grpid;
                self.showdelete.index = index;
                console.log(grpid);
            },
            NewRequest: function (event) {
                var self = this;
{#                console.log(event);#}
                ajaxGet('/api/request/view/user/', function (response) {
{#                    console.log(JSON.stringify(response));#}
                    self.newrequest.newrequests = response.requests;
                });

                //Suggetions
                ajaxGet('/api/friends/suggestion/', function (response) {
                    self.suggestionlist = {
                        groups: response.groups,
                        users: response.users
                    }
                });
            },
            OpenNewGroup: function (event) {
                var self = this;
                event.preventDefault();
                self.groupid = null;
                self.groupindex = null;
                self.shownewgroup = !self.shownewgroup;
            },
            EditNewGroup: function (event, groupid, groupindex) {
                var self = this;
                self.groupid = groupid;
                self.groupindex = groupindex;
                self.shownewgroup = !self.shownewgroup;
            },
            FriendsPopup: function (event, grpid , grpindex) {
                var self = this;
                event.preventDefault();
                self.groupid = grpid;
                self.selgrpindex = grpindex;
                ajaxGet('/api/request/view/group/?group_id=' + self.groupid, function (response) {
                    self.groupreq = response.requests;
                });
                self.showfriends = !self.showfriends;
                console.log('clicked');
            },
            AcceptRequest: function (reqid, index, event) {
                var self = this;
                console.log(reqid);
                event.preventDefault();
                ajaxPost('/api/request/add/box/', {
                    request_id: reqid
                }, function (response) {
                    console.log(response);
                    if (response.status == 'Added to hub') {
                        self.newrequest.newrequests[index].status = 'Added to hub';
                        self.newrequest.newrequests[index].msg = response.message;
                    } else if (response.status == 'Accepted') {
                        self.newrequest.newrequests.splice(index,1);
                        self.groups.push(response.request.invited_group);
                        self.$dispatch('updatebox');
                    }
                });
            },
            AssignGroup: function (reqid, index, event) {
                var self = this;
                event.preventDefault();
                console.log(reqid);
                self.$broadcast('assigngroup', reqid, index);
                console.log('Assign Group');
            },
            OpenGroupSelection: function (event, userid) {
                var self = this;
                event.preventDefault();
                self.$broadcast('usercopy', userid);
                $('.add-new-friends-popup').self.showgroupselection = true;
            },
            OpenBoxSelection: function (event, groupid) {
                var self = this;
                event.preventDefault();
                self.groupid = groupid;
                self.showboxselection = true;
            },
            OpenPersonSettings: function (person) {
                var self = this;
                self.person = person;
                self.showpersonsettings = true;
            }
        }
    });
</script>