<template id="likebox">
    <div id="popup2" class="general-post-popup-list" :class="{'lightbox-active' : show}">
    <div class="inner-box">
        <article class="general-post-popup">
            <div class="heading">
                <div class="holder">
                    <h3>People who liked this post</h3>
                </div>
            </div>
            <div class="content">
                <form action="#" class="custom-form">
                    <div class="jcf-scrollable">
                        <ul class="list-people-base">
                            <li v-for="like in likes">
                                <div class="image-box">
                                    <div class="img-holder">
                                        <img :src="like.profile_pic">
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <div class="frame">
                                        <div class="holder">
                                            <h3><a href="#">{! like.name | capitalize !}</a></h3>
                                            <p>{! like.about !}</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="footer-block">
                <a @click.prevent="HidePopup" href="#" class="btn-base close">Close</a>
            </div>
        </article>
    </div>
</div>
</template>

<script>
    var LikeBox = Vue.component('likebox',{
        template: '#likebox',
        data: function () {
            return{

            }
        },
        props: ['show','likes'],
        methods: {
            HidePopup: function() {
                var self = this;
                self.show = false;
            }
        }
    })
</script>