<template id="mainbar">
    <div id="contentarea" class="main-content same-height">
        <postmessage></postmessage>
        <div class="slider-for" id="main-content" data-current-id="friends">
            <mypost v-for="post in postData" :post="post" :shared="false" :postindex="$index"></mypost>
            <div align="center" style="padding-bottom:50px;">
                <button id="load_more_button" @click.prevent="LoadMoreContent">
                    <img src="/static/images/ajax-loader.gif" class="animation_image" style="float:left;vertical-align: middle" v-show="showajaxloader">
                    Load More
                </button>
            </div>
            <a href="inc/family.html" class="load-category active" data-container="main-content" data-category-id="family">Load</a>
        </div>
        <audiencepopup popupid="invite-friends"></audiencepopup>
        <tagpopup popupid="tagged-popup"></tagpopup>
    </div>
</template>
<script>
    var MainBar =  Vue.component('contentbar',{
    template: '#mainbar',
    data: function(){
        return{
            showajaxloader: false,
        }
    },
    props:['postData'],
    watch: {
      'postData': function() {
          $(window).trigger('resize');
          this.$nextTick(function() {
               $(window).trigger('resize');
            });
          }
    },
    methods: {
      LoadMoreContent: function() {
        var self = this,
                url = '';
          self.showajaxloader = true;
          switch (window.post.type) {
              case 'travel':
                  url = "/api/box/load/?post_type='travel'&action=more";
                  break;
              case 'media' :
                  url = "/api/box/load/?post_type='media'&action=more";
                  break;
              case 'lifetime' :
                  url = "/api/box/load/?post_type='general'&action=more";
                  break;
              case 'group':
                  url= "/api/box/load/?group_id="+window.post.grpid+"&action=more";
                  break;
              case 'user':
                  url = "/api/box/load/?group_id="+ window.post.grpid +"&friend_id="+ window.post.usrid +"&action=more";
                  break;
              default:
                  url = '/api/box/load/?action=more';
          }
          ajaxGet(url, function (response) {
              console.log(response);
              if (response.posts.length > 0)
                  self.postData.push.apply(self.postData, response.posts);
              self.showajaxloader = false;
          });
      }
    },
    events: {
        //towards audience popup
        'editwcs': function (wcs) {
            this.$broadcast('editwcs',wcs);
        },
        'edittag': function (wcs) {
            this.$broadcast('tag',wcs);
        },
        'openpopup': function (aud) {
            this.$broadcast('audience', aud);
        },
        'opentag': function (currlist) {
            this.$broadcast('opentag', currlist);
        },
        //towards create message
        'audienceupdated': function (audience,raw) {
            this.$broadcast('audienceupdated', audience,raw);
        },
        'tagupdated': function (taglist,raw) {
            this.$broadcast('tagupdated', taglist,raw);
        },
        'groupboxupdated': function(a,b) {
            this.$broadcast('groupboxupdated',a,b);
        },
        'generalpostcreated': function(general) {
            //Adding to the top of post area
            this.postData.unshift(general);
            if(this.postData.length > 5)
                this.postData.pop();
        }
    }
});
</script>