<template id="maptemplate">
    <div class="map-area">
        <div :id="mapid">
        </div>
        <a href="javascript:;" class="full-map">&nbsp;</a>
    </div>


</template>

<script>
    var MapArea = Vue.component('maparea', {
        template: '#maptemplate',
        props: ['mapid', 'people'],
        data: function () {
            return {
                map: {},
                marker: {},
                infoBox: {},
                places: [],
                searchbox: {},
                searchmodel: '',
                markers: [],
                bounds : {}
            }
        },
        events: {
            'homelocation': function(home){
                var self = this;
                var marker = {
                        "name": home.name,
                        "link": "#",
                        "icon": "http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi.png",
                        "style": "right gray",
                        "location": {
                            "lat": home.geometry.location.lat(),
                            "lng": home.geometry.location.lng()
                        }
                    };
                    self.createMarker(marker);
            },
            'zoomglobal': function(){
                var self = this;
                self.map.setZoom(0);
            },
            'clearmarkers': function() {
                var self = this;
                $.each(self.markers,function (index,value) {
                    value.setMap(null);
                });
                self.markers = [];
{#                self.bounds = new google.maps.LatLngBounds();#}
{#                self.map.fitBounds(self.bounds);#}
                if(typeof google != 'undefined')
                    self.updateBounds();
            },
            'refreshmap': function () {
                var self = this;
                self.refreshMap();
            },
            'removemarker': function(index) {
                var self = this;
                console.log('removing marker', index);
                console.log(self.markers);
                self.markers[index].setMap(null);
                self.markers.splice(index,1);
                self.updateBounds();
            },
            'markeradded' : function (marker) {
                var self = this;
                if(typeof google != 'undefined')
                    self.createMarker(marker);
            }
        },
        watch: {
            'people': function () {
                var self = this;
                console.log('People is updated');
            }
        },
        ready: function () {
            var self = this;
            if (self.location) {
                console.log('location is not null');
            }

            this.FullScreenMap();
            this.$nextTick(function () {
                if(typeof google != 'undefined')
                    this.updatePeople();
                $(window).trigger('resize');
            });



        },
        methods: {
            FullScreenMap: function() {
                var self = this;
{#                $(".map .full-map").on('click', function () {#}
{#                    $('.map').css({#}
{#                        'position': 'fixed',#}
{#                        'width' : '100%',#}
{#                        'z-index' : '2000',#}
{#                        'left' : '0',#}
{#                        'top' : $('.header-fixed').height().toString(),#}
{#                        'width' : '100%'#}
{#                    });#}
{#                });#}

                $(".map .full-map").off();
                $(".map .full-map").on('click', function () {
                    if ($('.map').hasClass('full')) {
                        var map = $("#content .map.full").removeClass('full').detach();
                        $("#content .right-sidebar").prepend(map);
                        $("#map").height("auto");
                    } else {
                        var map = $("#content .map").addClass('full').detach();
                        $("#content .main-content").before(map);
{#                        map.css({#}
{#                            'left': $('#contentarea').offset().left,#}
{#                            'top' : $('.header-fixed').height()#}
{#                        });#}
                        var width = $(".map.full").width();
                        var height = $(window).height()-$('.header-fixed').height()-$('.map .travel').height()- 50;
                        console.log(height);
{#                        var height = (width * 3) / 4;#}
                        $("#map").height(height);
                    }

                    google.maps.event.trigger(self.map, 'resize');
                    self.updateBounds();
{#                    $scope.map.panTo(new google.maps.LatLng($scope.lat, $scope.lon));#}

                    return false;
                });
            },
            AddToBottom: function () {
                var self = this;
                {#            console.log(JSON.stringify(self.places));#}
                self.searchmodel = '';
                console.log(typeof self.places[0]);
                if(self.places[0].formatted_address != undefined)
                self.$dispatch('maplocation', self.places[0]);
                {#            self.places = [];#}
            },
            updateBounds: function() {
                var self = this;
              self.bounds = new google.maps.LatLngBounds();
              $.each(self.markers,function(index,value) {
                    self.bounds.extend(value.position);
              }) ;
              self.map.fitBounds(self.bounds);
            },
            showInfoBox: function (info, marker) {
                var self = this;
                self.infoBox.setContent(info);
                self.infoBox.open(self.map, marker);
                self.infoBox.show();
            },
            hideInfoBox: function (info, marker) {
                var self = this;
                self.infoBox.hide();
            },
            refreshMap: function () {
                var self = this;
                google.maps.event.trigger(self.map, 'resize');
            },
            createMapCenterMarker: function () {
                var self = this;
                var center = self.map.getCenter();
                self.createMarker({
                    lat: center.lat(),
                    lon: center.lng()
                });
            },
            createMarker: function (data) {
                var self = this;
                var marker = self.marker = new google.maps.Marker({
                    map: self.map,
                    icon: data.icon,
                    position: new google.maps.LatLng(data.location.lat, data.location.lng)
                });

                self.markers.push(marker);
                self.bounds.extend(marker.position);
                self.map.fitBounds(self.bounds);
{#                google.maps.event.addListener(marker, "mouseover", function (e) {#}
{#                    jQuery(self.mapid).append('<span class="hidden">' + data.name + '</span>');#}
{#                    var width = jQuery('#' + self.mapid + 'span.hidden').width();#}
{#                    jQuery('#' + self.mapid + 'span.hidden').remove();#}
{#                    self.showInfoBox('<div style="width: ' + width + 'px" class="info-box ' + data.style + '"><a href="' + data.link + '">' + data.name + '</a></div>', marker);#}
{#                });#}
            },
            updatePeople: function () {
                var self = this;
{#                var Lat = 11.182354;#}
                var Lat = -34.347;
{#                var Lng = 75.99893;#}
                var Lng = 150.644;
                var Zoom = 2;
                self.map = new google.maps.Map(document.getElementById(self.mapid), {
                    zoom: Zoom,
                    maxZoom: 6,
                    center: new google.maps.LatLng(Lat, Lng),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true,
                    zoomControl: true,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.LARGE,
                        position: google.maps.ControlPosition.RIGHT_CENTER
                    }
                });

                google.maps.event.addListenerOnce(self.map, 'idle', function () {
                    google.maps.event.trigger(self.map, 'resize');
                });

                google.maps.event.addListenerOnce(self.map, 'bounds_changed', function(event) {
                    if (this.getZoom()){
                        this.setZoom(2);
                    }
                });

                self.bounds = new google.maps.LatLngBounds();
                var center_marker = null;
                var geocoder = new google.maps.Geocoder();

{#                self.infoBox = new InfoBox({#}
{#                    disableAutoPan: true,#}
{#                    pixelOffset: new google.maps.Size(-16, -45),#}
{#                    zIndex: null,#}
{#                    boxStyle: {#}
{#                        width: "32px",#}
{#                        height: "52px",#}
{#                        'z-index': "-1"#}
{#                    },#}
{#                    infoBoxClearance: new google.maps.Size(1, 1),#}
{#                    isHidden: false,#}
{#                    pane: "floatPane",#}
{#                    enableEventPropagation: false#}
{#                });#}

                for (var i = 0; i < self.people.length; i++) {
                    self.createMarker(self.people[i]);
                }


            }
        }

    });
</script>