<template id="viewmap">
        <div :id="mapid" class="viewmap">
        </div>
</template>

<script>
    var RouteMap = Vue.component('routemap', {
        template: '#viewmap',
        props: ['mapid','locations'],
        data: function () {
            return {
                map: {},
                marker: {},
                infoBox: {},
                places: [],
                searchbox: {},
                searchmodel: '',
                markers: [],
                bounds : {}
            }
        },
        events: {
            'refreshmap': function () {
                var self = this;
                self.refreshMap();
            },
            'maphighlight': function(index){
                var self = this;
                $.each(self.markers,function(index,value){
                    value.setIcon('/static/images/marker-image.png');
                });

                self.markers[index].setIcon('/static/images/marker-active.png');
            }
        },
        ready: function () {
            var self = this;
            self.$nextTick(function () {
                if(typeof google != 'undefined')
                    self.updatePeople();
                $(window).trigger('resize');
            });

        },
        methods: {
            showInfoBox: function (info, marker) {
                var self = this;
                self.infoBox.setContent(info);
                self.infoBox.open(self.map, marker);
                self.infoBox.show();
            },
            hideInfoBox: function (info, marker) {
                var self = this;
                self.infoBox.hide();
            },
            refreshMap: function () {
                var self = this;
                google.maps.event.trigger(self.map, 'resize');
            },
            createMarker: function (data) {
                var self = this;
{#                console.log(data);#}
                var marker = self.marker = new google.maps.Marker({
                    map: self.map,
                    icon: "/static/images/marker-image.png",
                    position: new google.maps.LatLng(data.latitude, data.longitude)
                });
{#                var marker = self.marker = new google.maps.Marker({#}
{#                    map: self.map,#}
{#                    icon: "``",#}
{#                    position: new google.maps.LatLng(data.latitude, data.longitude)#}
{#                });#}


{#                console.log(self.marker);#}
                self.bounds.extend(marker.position);
                self.map.fitBounds(self.bounds);
                return marker;
{#                google.maps.event.addListener(marker, "mouseover", function (e) {#}
{#                    jQuery(self.mapid).append('<span class="hidden">' + data.name + '</span>');#}
{#                    var width = jQuery('#' + self.mapid + 'span.hidden').width();#}
{#                    jQuery('#' + self.mapid + 'span.hidden').remove();#}
{#                    self.showInfoBox('<div style="width: ' + width + 'px" class="info-box ' + data.style + '"><a href="' + data.link + '">' + data.name + '</a></div>', marker);#}
{#                });#}
            },
            updatePeople: function () {
                var self = this;
                var Lat = 11.182354;
{#                var Lat = -34.347;#}
                var Lng = 75.99893;
{#                var Lng = 150.644;#}
                var Zoom = 6;
                self.map = new google.maps.Map(document.getElementById(self.mapid), {
                    zoom: Zoom,
                    maxZoom: 6,
                    center: new google.maps.LatLng(Lat, Lng),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true,
                    zoomControl: true,
                    scrollwheel: false,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.LARGE,
                        position: google.maps.ControlPosition.RIGHT_CENTER
                    }
                });

                google.maps.event.addListenerOnce(self.map, 'idle', function () {
                    google.maps.event.trigger(self.map, 'resize');
                });

                self.bounds = new google.maps.LatLngBounds();
                var center_marker = null;
                var geocoder = new google.maps.Geocoder();

{#                self.infoBox = new InfoBox({#}
{#                    disableAutoPan: true,#}
{#                    pixelOffset: new google.maps.Size(-16, -45),#}
{#                    zIndex: null,#}
{#                    boxStyle: {#}
{#                        width: "32px",#}
{#                        height: "52px",#}
{#                        'z-index': "-1"#}
{#                    },#}
{#                    infoBoxClearance: new google.maps.Size(1, 1),#}
{#                    isHidden: false,#}
{#                    pane: "floatPane",#}
{#                    enableEventPropagation: false#}
{#                });#}
                var waypoints = [];

                $.each(self.locations, function (index, value) {
                    self.markers.push(self.createMarker(value));
                    waypoints.push({
                        location: new google.maps.LatLng(value.latitude, value.longitude),
                        stopover: true
                    });
                });

                if(self.markers.length > 0){
                    self.markers[0].setIcon('/static/images/marker-active.png');
                }

                var directionsService = new google.maps.DirectionsService;
                var directionsDisplay = new google.maps.DirectionsRenderer({
                    map: self.map,
                    suppressMarkers: true
                });

                directionsService.route({
                    origin: waypoints[0].location,
                    destination: waypoints[waypoints.length-1].location,
                    waypoints: waypoints.slice(1,waypoints.length-1),
                    optimizeWaypoints: true,
                    travelMode: 'DRIVING'
                }, function (response, status) {
{#                    console.log(response);#}
                    if (status === 'OK') {
                        directionsDisplay.setDirections(response);
                        var route = response.routes[0];
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });

            }
        }

    });
</script>