 <template id="friendspopup">
    <div :class="{'js-slide-hidden' : !show}" id="add-new-friends-popup" class="scroll-area nohide add-new-friends-popup">
        <div class="new-friend-popup">
            <strong class="popup-title">Add new friends</strong>
            <form class="search-form" action="#">
                <input @click="onFocusSearch" @blur="HideFriends" v-model="searchmodel"  @keyup="WhenSearch($event) | debounce 500" name="search" placeholder="Search" type="search" autocomplete="off">
                <button type="submit">&nbsp;</button>
            </form>
            <article class="seach-results-block" style="padding-bottom: 10px" v-show="message.show" transition="fade">
                <ul class="search-result-error-message">
                    <p> {! message.msg !}</p>
                </ul>
            </article>
            <article class="seach-results-block">
                <ul class="seach-results-list">
                    <li v-for="user in userlist">
                        <div class="image-box">
                            <div class="img-holder">
                                <img :src="user.profile_details.avatar">
                            </div>
                        </div>
                        <div class="text-holder">
                            <div class="frame">
                                <div class="holder">
                                    <h3>{! user.name | capitalize !}</h3>
                                    <p>{! user.msg !}</p>
                                </div>
                            </div>
                        </div>
{#                        <div class="overlay"></div>#}
                        <a v-show="user.status == 'open'" @click="GroupRequest($event,user.user_id)" href="" class="btn-add nohide">Invite</a>
                        <a v-show="user.status == 'sendemail'"
                           @click.prevent="GroupRequestEmail(user.name,groupid)" href="" class="btn-add btn-suggest nohide">Add</a>
                    </li>
                </ul>
            </article>

            <div v-if="groupreq.length > 0">
                <div class="popup-heading">
                    <strong class="title">Requests</strong>
                </div>
                <ul class="list-new-friends">
                    <li v-for="user in groupreq">
                        <div class="img-box">
                            <img :src="user.avatar" alt="" height="30" width="30">
                        </div>
                        <div class="text-holder">
                            <h5>{! user.name | capitalize !}</h5>
                            <p>{! user.email !}
                            <p>{! user.status !}</p>
                        </div>
                        <ul class="btn-list" v-if="user.status == 'Already sent' || user.status == 'Added to hub' || user.status == 'Recieved'">
                            <li><a href="#" class="nohide" @click.prevent="GroupLevelRequest(user.request_id,groupid,$index)">Add</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</template>

<script>
    var NewFriendsPopup = Vue.component('newfriends',{
   template: '#friendspopup',
    data: function() {
        return{
            userlist : [],
            searchmodel: '',
            message:{
                show: false,
                msg : 'Search name or email address, or enter an email address to invite someone new',
                msglist: {
                    fallback: 'Search name or email address, or enter an email address to invite someone new',
                    notfound: 'We don\'t know this person. Enter email above to invite'
                }
            },
        }
    },
    props:['show','groupid','groupreq','groupindex'],
    methods: {
        GroupLevelRequest: function(reqid,grpid,index){
            var self = this;
            ajaxPost('/api/request/add/group/',{
                request_id: reqid,
                group_id: grpid
            },function(response){
                console.log(response);
                if(response.result == 'ok'){
                    console.log(JSON.stringify(response));
                    notification.success(response.message);
                    self.$dispatch('groupedited',response.request.invited_group,self.groupindex);
{#                    self.$dispatch('updatebox');#}
                    self.show = false;
                }else{
                    notification.error(response.message);
                }
{#                self.show = false;#}
                self.groupreq.splice(index,1);
{#                self.$dispatch('updatebox');#}
            });
        },
        GroupRequestEmail: function(email,groupid) {
            var self = this;
             ajaxPost('/send_invitation/',{
                 mail_id: email,
                 group_id: groupid,
                 box_id: App.boxinfo.current_box.id
             },function(res) {
                 if(res.result == 'ok'){
                     var mail_id = res.mail_id.split('@')[0];
                     notification.success('Group request sent succesfully');
                     self.$dispatch('updatebox');
                     self.groupreq.push({
                        name: mail_id,
                        avatar : '/static/images/pictures/avatar.jpg',
                        email: 'Pending'
                     });
                      self.userlist = [];
                 }else{
                     notification.error(res.message);
                     self.userlist = [];
                 }
             });
        },
        HideFriends: function() {
            this.message.show = false;
        },
        onFocusSearch: function() {
            this.message.show = true;
        },
        WhenSearch: function(event) {
            var self = this;
            var url = "/api/search_people/?search_key="+event.target.value+'&group_id='+self.groupid;

            if (event.target.value == '') {
                self.message.show = true;
                self.message.msg = self.message.msglist['fallback'];
                return;
            } else {
                self.message.show = false;
            }

            ajaxGet(url,function(response) {
                self.userlist = response.people;
                if(response.result == 'notfound' ){ //|| response.people.length == 0
                    console.log('notfound');
                    self.message.msg = self.message.msglist['notfound'];
                    self.message.show = true;
                }else if(response.result == 'send_mail'){
                    console.log('Email');
                    self.userlist.push({
                        name: response.search_key,
                        msg: 'Invite to this group by email',
                        status: 'sendemail',
                        profile_details: {
                            avatar: '/static/images/pictures/avatar.jpg'
                            }
                    });
                    self.message.show = false;
                }else{
                    self.message.show = false;
                }
                console.log(response);
                console.log(self.userlist);
            });
        },
        GroupRequest: function(event,userid) {
            var self = this;
            self.userlist = [];
            console.log(userid);
            console.log(self.groupid);
            event.preventDefault();
            ajaxPost('/api/request/send/',{
                user_id: userid,
                group_id: self.groupid
            },function(response){
                console.log(response);
                if(response.message == 'Request Sent'){
{#                    self.userlist[index].email = 'Request sent Successfully';#}
                    notification.success('Request sent succesfully');
                    self.$dispatch('updatebox');
                    response.user.status='pending';
                    self.$dispatch('addmember',response.user,self.groupindex);
                    self.groupreq.push(response.user);
                }else if(response.message =='connected'){
{#                    self.userlist[index].email = 'Request already sent'#}
                    notification.error('Request already sent');
                }
            })
        }
    },
    watch: {
        'show': function() {
            var self = this;
            console.log(this.show);
            if(this.show){
              var popup = $('.add-new-friends-popup');
              $('#main-bar').on('click',function(event) {
                  console.log(event.target);
                  if($(event.target).hasClass('add-people-btn') ||
                            $(event.target).hasClass('nohide'))
                      return;
                  if(popup.has(event.target).length < 1){
                      self.show = false;
                  }else{
                      if($(event.target).hasClass('btn-add'))
                        return;
                      $('.add-new-friends-popup form input').val('');
                      self.userlist = [];
                  }
              });
            }else{
              $('#main-bar').off();
                self.userlist = [];
                self.searchmodel = '';
            }
        },
        'userlist': function() {
            initIScroll();
        },
        'groupreq': function () {
            console.log(this.groupreq);
        }
    }
});
</script>