<template id="newgroup-template">
    <div class="pop-up-area" :class="{'lightbox-active': show}" id="new-group"  tabindex="0">
        <div class="holder">
            <h2>{! heading !}</h2>
            <form action="#" class="title-form">
                <div class="input-holder">
                    <input v-model="groupname" @click="ClearTextbox"  type="text" placeholder="Please add a group name" maxlength="20">
                </div>
            </form>
            <div class="button-holder">
                <div class="color-box">
                    <div id="changecolor" style='content: "";position: absolute;left: 0;top: 50%;width: 24px;height: 24px;background: #64d156;margin: -8px 0 0;border-radius: 30px;'></div>
                    <a href="#" class="color-opener">Pick the color <span></span></a>
                    <div class="color-box-drop">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-2 -2 504 504" id="menu" style="transform-origin: 50% 50% 0px; transform: translate3d(0px, 0px, 0px); touch-action: none; -webkit-user-select: none;">
                            <style>
                                #menu {
                                    display: block;
                                    margin: 0 auto;
                                    /*overflow: visible;*/ /* uncomment this if you are using bouncing animations*/
                                }

                                a {
                                    cursor: pointer; /* SVG &lt;a&gt; elements don't get this by default, so you need to explicitly set it */
                                    outline: none;
                                }

                                /* You can change these default styles any way you want */

                                .item .sector {
                                    transition: all .1s linear;
                                    fill: #4182b6;
                                    stroke: #fff;
                                }
                                .item:hover .sector, .item:focus .sector {
                                    fill: #eee;
                                }

                                #item-3 .sector{
                                    fill: #4182b6;
                                }
                                #item-3:hover .sector, #item-3:focus .sector{
                                    fill: #346790;
                                }
                                #item-2 .sector{
                                    fill: #4149b6;
                                }
                                #item-2:hover .sector, #item-1:focus .sector{
                                                                    fill: #343a90;
                                                                }
                                #item-1 .sector{
                                    fill: #7641b6;
                                }
                                #item-1:hover .sector, #item-1:focus .sector{
                                    fill: #5e3490;
                                }
                                #item-10 .sector{
                                    fill: #b741a7;
                                }
                                #item-10:hover .sector, #item-10:focus .sector{
                                    fill: #913485;
                                }
                                #item-9 .sector{
                                    fill: #f96e57;
                                }
                                #item-9:hover .sector, #item-9:focus .sector{
                                    fill: #f74326;
                                }
                                #item-8 .sector{
                                    fill: #d1694a;
                                }
                                #item-8:hover .sector, #item-8:focus .sector{
                                    fill: #b94f2f;
                                }
                                #item-7 .sector{
                                    fill: #d1904a;
                                }
                                #item-7:hover .sector, #item-7:focus .sector{
                                    fill: #b9772f;
                                }
                                #item-6 .sector{
                                    fill: #d1ab4a;
                                }
                                #item-6:hover .sector, #item-6:focus .sector{
                                    fill: #b9922f;
                                }
                                #item-4 .sector{
                                    fill: #72d668;
                                }
                                #item-4:hover .sector, #item-4:focus .sector{
                                    fill: #4dcb40;
                                }
                                #item-5 .sector{
                                    fill: #d1c54a;
                                }
                                #item-5:hover .sector, #item-5:focus .sector{
                                    fill: #b9ad2f;
                                }

                                .menu-trigger {
                                    fill: #72d668;
                                    pointer-events: auto; /* KEEP THIS to make sure it stays clickable even when SVG's pointer events is disabled */
                                }

                                .menu-trigger:hover, .menu-trigger:focus {
                                    cursor: pointer;
                                }
                                symbol {
                                    overflow: visible; /* KEEP THIS so that text will not get cut off it it is wider than the icon width */
                                }
                            </style>
                            <g id="symbolsContainer">
                                <symbol class="icon icon-" id="icon-1" viewBox="0 0 35 35"><!--Replace the contents of this symbol with the content of your icon--><rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect><text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">1</text></symbol>

                                <symbol class="icon icon-" id="icon-2" viewBox="0 0 35 35"><!--Replace the contents of this symbol with the content of your icon--><rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect><text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">2</text></symbol>

                                <symbol class="icon icon-" id="icon-3" viewBox="0 0 35 35"><!--Replace the contents of this symbol with the content of your icon--><rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect><text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">3</text></symbol>

                                <symbol class="icon icon-" id="icon-4" viewBox="0 0 35 35"><!--Replace the contents of this symbol with the content of your icon--><rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect><text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">4</text></symbol>

                                <symbol class="icon icon-" id="icon-5" viewBox="0 0 35 35"><!--Replace the contents of this symbol with the content of your icon--><rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect><text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">5</text></symbol>

                                <symbol class="icon icon-" id="icon-6" viewBox="0 0 35 35"><!--Replace the contents of this symbol with the content of your icon--><rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect><text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">6</text></symbol>

                                <symbol class="icon icon-" id="icon-7" viewBox="0 0 35 35"><!--Replace the contents of this symbol with the content of your icon--><rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect><text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">7</text></symbol>

                                <symbol class="icon icon-" id="icon-8" viewBox="0 0 35 35"><!--Replace the contents of this symbol with the content of your icon--><rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect><text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">8</text></symbol>

                                <symbol class="icon icon-" id="icon-9" viewBox="0 0 35 35"><!--Replace the contents of this symbol with the content of your icon--><rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect><text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">9</text></symbol>

                                <symbol class="icon icon-" id="icon-10" viewBox="0 0 35 35"><!--Replace the contents of this symbol with the content of your icon--><rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect><text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">10</text></symbol>
                            </g>
                            <g id="itemsContainer" class="coloritems">
                                <a class="item" id="item-1" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent" transform="matrix(1,0,0,1,0,0)" data-svg-origin="250 250" style="">
                                    <path fill="none" stroke="#111" stroke-width="8" class="sector" d="M250,250 l250,0 A250,250 0 0,0 452.25424859373686,103.05368692688171 z"></path>
                                </a>
                                <a class="item" id="item-2" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent" transform="matrix(0.80901,-0.58778,0.58778,0.80901,-99.20056166685515,194.69206447938143)" data-svg-origin="250 250" style="">
                                    <path fill="none" stroke="#111" stroke-width="8" class="sector" d="M250,250 l250,0 A250,250 0 0,0 452.25424859373686,103.05368692688171 z"></path>
                                </a>
                                <a class="item" id="item-3" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent" transform="matrix(0.30901,-0.95105,0.95105,0.30901,-65.01837766752521,410.5098804800515)" data-svg-origin="250 250" style="">
                                    <path fill="none" stroke="#111" stroke-width="8" class="sector" d="M250,250 l250,0 A250,250 0 0,0 452.25424859373686,103.05368692688171 z"></path>
                                </a>
                                <a class="item" id="item-4" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent" transform="matrix(-0.30901,-0.95105,0.95105,-0.30901,89.49011951994842,565.0183776675252)" data-svg-origin="250 250" style="">
                                    <path fill="none" stroke="#111" stroke-width="8" class="sector" d="M250,250 l250,0 A250,250 0 0,0 452.25424859373686,103.05368692688171 z"></path>
                                </a>
                                <a class="item" id="item-5" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent" transform="matrix(-0.80901,-0.58778,0.58778,-0.80901,305.3079355206185,599.2005616668552)" data-svg-origin="250 250" style="">
                                    <path fill="none" stroke="#111" stroke-width="8" class="sector" d="M250,250 l250,0 A250,250 0 0,0 452.25424859373686,103.05368692688171 z"></path>
                                </a>
                                <a class="item" id="item-6" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent" transform="matrix(-1,0,0,-1,500,500)" data-svg-origin="250 250" style="">
                                    <path fill="none" stroke="#111" stroke-width="8" class="sector" d="M250,250 l250,0 A250,250 0 0,0 452.25424859373686,103.05368692688171 z"></path>
                                </a>
                                <a class="item" id="item-7" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent" transform="matrix(-0.80901,0.58778,-0.58778,-0.80901,599.2005616668552,305.30793552061857)" data-svg-origin="250 250" style="">
                                    <path fill="none" stroke="#111" stroke-width="8" class="sector" d="M250,250 l250,0 A250,250 0 0,0 452.25424859373686,103.05368692688171 z"></path>
                                </a>
                                <a class="item" id="item-8" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent" transform="matrix(-0.30901,0.95105,-0.95105,-0.30901,565.0183776675253,89.49011951994851)" data-svg-origin="250 250" style="">
                                    <path fill="none" stroke="#111" stroke-width="8" class="sector" d="M250,250 l250,0 A250,250 0 0,0 452.25424859373686,103.05368692688171 z"></path>
                                </a>
                                <a class="item" id="item-9" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent" transform="matrix(0.30901,0.95105,-0.95105,0.30901,410.5098804800516,-65.01837766752521)" data-svg-origin="250 250" style="">
                                    <path fill="none" stroke="#111" stroke-width="8" class="sector" d="M250,250 l250,0 A250,250 0 0,0 452.25424859373686,103.05368692688171 z"></path>
                                </a>
                                <a class="item" id="item-10" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent" transform="matrix(0.80901,0.58778,-0.58778,0.80901,194.69206447938151,-99.20056166685515)" data-svg-origin="250 250" style="">
                                    <path fill="none" stroke="#111" stroke-width="8" class="sector" d="M250,250 l250,0 A250,250 0 0,0 452.25424859373686,103.05368692688171 z"></path>
                                </a>
                            </g>
                            <g id="trigger" class="trigger menu-trigger" role="button">
                                <circle cx="250" cy="250" r="70" stroke="#fff" stroke-width="10"></circle>
                                <!-- menu button label or icon goes here -->
                            </g>
                        </svg>
                    </div>
                </div>
                <a v-if="groupid == undefined" @click="AddGroup" href="#" class="btn-base">Add Group</a>
                <a v-else @click="EditGroup" href="#" class="btn-base">Edit Group</a>
                <a @click="CloseNewGroup" href="#" class="close">Cancel</a>
            </div>
        </div>
    </div>
</template>

<script>
    var NewGroup =  Vue.component('newgroup',{
    template: '#newgroup-template',
    props: ['show','groupid','groupindex','group'],
    ready: function(){
        $('#new-group .coloritems path').off();
        $('#new-group .coloritems path').on('click',function(event) {
                event.preventDefault();
                $('#changecolor').css('background',$(this).css('fill'));
                $('.color-box-drop').addClass('js-slide-hidden');
                $('#new-group').focus();
            });
        $('.color-box .color-opener').off();
        jQuery('.color-box').openClose({
            activeClass: 'active',
            hideOnClickOutside: true,
            opener: '.color-opener',
            slider: '.color-box-drop',
            animSpeed: 400,
            effect: 'none'
        });
    },
    data: function(){
        return{
            groupname : '',
            heading : 'New Group',
        }
    },
    methods: {
        ClearTextbox: function() {
            var self = this;
            console.log(self.heading);
{#            if(self.heading != 'New Group'){#}
{#                self.groupname = '';#}
{#            }#}
            if(self.groupname == 'Please add group name'){
                $('#new-group input').css('background','#e9eff4');
                self.groupname = '';
            }

        },
        CloseNewGroup: function() {
            var self = this;
            self.show = !self.show;
        },
        EditGroup: function() {
            var self = this;
            if(self.groupname == ''){
                notification.success("Group name cannot be blank");
                console.log('Group name cannot be blank');
                return false;
            }
            ajaxPost('/api/group/edit/',{
                name:  self.groupname,
                color: rgb2hex($('#changecolor').css('backgroundColor')),
                group_id : self.groupid,
                csrfmiddlewaretoken: $('#csrf_token').val()
            },function(response) {
                console.log(response);
                self.show = false;
                notification.success('Group edited successfully');
                self.$dispatch('groupedited',response.group,self.groupindex);
            });
        },
        AddGroup : function(event) {
            var self = this;
            event.preventDefault();
            if(self.groupname == ''){
                $('#new-group input').css('background','#FFC1C0');
                this.groupname='Please add group name';
{#                alertify.alert("Group name cannot be blank");#}
{#                console.log('Group name cannot be blank');#}
                return ;
            }else if(self.groupname == 'Please add group name' ){
                $('#new-group input').css('background','#FFC1C0');
                return ;
            }
            ajaxPost('/api/group/create/',{
                name:  self.groupname,
                color: rgb2hex($('#changecolor').css('backgroundColor')),
                csrfmiddlewaretoken: $('#csrf_token').val()
            },function(response) {
                console.log(response);
                self.groupname = '';
                self.show = false;
                self.$dispatch('groupadded',response.group);
            });
        }
    },
    watch: {
        'show': function() {
            var self = this;
            console.log('Changed');

{#            this.groupname= '';#}
            if(this.show == false){
                $('#new-group input').css('background','#e9eff4');
                if(this.heading == 'New Group'){
                    this.groupname = '';
                }
                $("#new-group").off('keydown');
            }else{
                $("#new-group").keydown(function(e) {
                    if(e.keyCode == 13){
                        if(typeof self.groupid == 'undefined' || self.groupid == null){
                            self.AddGroup(e);
                        }else{
                            self.EditGroup(e);
                        }
                    }
                });

            }
        },
        'groupid' : function() {
            console.log(this.groupid);
            if(this.groupid != null && this.group !=undefined){
                this.heading = 'Edit Group';
                this.groupname = this.group.name;
                $('#new-group').find('#changecolor').css('background',this.group.group_bar_color);
            }else{
                this.heading = "New Group";
                this.groupname= '';
            }
        }
    }
});
</script>