<template id="person-settings">
    <div id="person-setting-menu-popup" :class="{'lightbox-active': show}" class="popup-base">
    <div class="popup-base-inner">
        <div class="person-setting-menu-popup">
            <div class="image-holder">
                <img src="/static/images/pictures/pic-84.jpg" height="150" width="440" alt="">
                <div class="person-setting-photo"><img :src="person.profile_pic" height="100" width="100" alt=""></div>
            </div>
            <div class="content-holder">
                <h2>{! person.name | capitalize !}</h2>
                <div class="radio-box-area">
                    <form action="#">
                        <div class="scroll-area">
                            <div>
                                <div class="row-box-holder">
                                    <div class="row-box">
                                        <div class="cell-box">
                                            <h3>All activity will be muted until you unmute again</h3>
                                        </div>
                                        <div class="cell-box">
                                            <label for="radio1" class="radio-box"><input type="radio" name="radio_1" id="radio1"  checked><span v-if="typeof person.member_profile != 'undefined'">{! person.member_profile.menu.muteBtn !}</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="button-holder">
                    <a @click="ApplySettings" href="#" class="btn-base">Apply</a>
                    <a @click="HidePersonSettings" href="#" class="btn-base close">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
    var PersonSettings = Vue.component('personsettings',{
   template: '#person-settings',
    data: function() {
        return{
        }
    },
    props:['person','show'],
    methods: {
        HidePersonSettings : function() {
            var self = this;
            self.show = false;
        },
        ApplySettings: function(event) {
            var self = this;
            event.preventDefault();
            ajaxPost('/api/mute/',{
                user_id: self.person.id
            },function(response) {
                console.log(response);
                if(response.result == 'ok'){
                    if(response.mute){
                        self.person.member_profile.menu.muteBtn = 'Unmute';
                        notification.success('Successfully muted '+self.person.name);
                    }else{
                        self.person.member_profile.menu.muteBtn = 'Mute';
                        notification.success('Successfully unmuted '+self.person.name);
                    }
                }
            });
            self.show = false;
        }
    },
    watch:{
        'person' : function() {
            console.log(JSON.stringify(this.person));
        }
    }
});
</script>