<template id="posttemplate">
    <slot name="general" v-if="post.post_type == 'general'">
        <section class="general-post-section marked-post" >
            <header class="heading-block">
                <div class="image-box">
                    <img :src="post.creator_profile.profile_pic" alt="">
                </div>
                <div class="text-holder">
                    <div class="heading">
                        <h2><a href="#"> {! name | capitalize !} </a></h2>
                        <a href="#" class="edit-link">edit</a>
                    </div>
                    <!-- Tagging -->
                    <div class="info" v-if="post.tags.length > 0">
                        <span class="text">with</span>
                        <a href="#" class="author">{! post.tags[0].name | capitalize!}</a>
                        <span class="text"  v-if="post.tags.length > 1">and</span>
                        <div class="add-menu" v-if="post.tags.length > 1" v-tagopener>
                            <a href="#" class="opener-add-menu">{! post.tags.length -1 !} other</a>
                            <div class="slide-add-menu">
                                <ul>
                                    <li v-for="tag in post.tags"><a href="#">{! tag.name | capitalize !}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div v-openclose class="post-menu" v-if="!shared">
                <a href="#" class="opener-post-menu"><span></span><span></span><span></span></a>
                <div style="display: none;" class="drop-post-menu js-slide-hidden">
                    <ul>
                        <li><a @click.prevent="EditPost" href="#">Edit post</a></li>
                        <li><a href="#">Tag people</a></li>
                        <li><a href="#">Report</a></li>
                        <li><a href="#">Block this user</a></li>
                        <li><a @click.prevent="DeletePost()" href="#">Delete post</a></li>
                    </ul>
                </div>
            </div>
            <time class="add-tablet-date">21 Nov, 16:24</time>
            <div class="text-container" v-textmore>
                <p>{! post.description | concise !}</p>
                <div v-if="post.description.length > 450" class="slide-text-holder">
                    <p>{! post.description | detailed !}</p>
                </div>
                <a v-if="post.description.length > 450" href="#" class="more-link">
                    <span class="text-more">Show more</span>
                    <span class="text-less">Show less</span>
                </a>
            </div>
            <slideshow :post="post" :images="post.attachments" type="general">
            </slideshow>

            <commentbox :post="post"
                        v-if="!shared"></commentbox>
            <a class="post-status-icon"
               :style="{'background' : 'url('+post.creator_profile.status_pic+') no-repeat'}"></a>
        </section>
    </slot>

    <slot name="travel" v-if="post.post_type == 'travel' ">
        <section class="general-post-section travel-post"  >
            <header class="heading-block">
                <div class="image-box">
                    <img :src="post.creator_profile.profile_pic" alt="">
                </div>
                <div class="text-holder">
                    <div class="heading">
                        <h2><a href="#"> {! name | capitalize !} </a></h2>
                        <a href="#" class="edit-link">edit</a>
                    </div>
                    <!-- Tagging -->
                    <div class="info" v-if="post.tags.length > 0">
                        <span class="text">with</span>
                        <a href="#" class="author">{! post.tags[0].name | capitalize !}</a>
                        <span class="text"  v-if="post.tags.length > 1">and</span>
                        <div class="add-menu" v-if="post.tags.length > 1" v-tagopener>
                            <a href="#" class="opener-add-menu">{! post.tags.length -1 !} other</a>
                            <div class="slide-add-menu">
                                <ul>
                                    <li v-for="tag in post.tags"><a href="#">{! tag.name | capitalize !}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div v-openclose class="post-menu" v-if="!shared">
                <a href="#" class="opener-post-menu"><span></span><span></span><span></span></a>
                <div style="display: none;" class="drop-post-menu js-slide-hidden">
                    <ul>
                        <li><a @click.prevent="EditPost" href="#">Edit post</a></li>
                        <li><a href="#">Tag people</a></li>
                        <li><a href="#">Report</a></li>
                        <li><a href="#">Block this user</a></li>
                        <li><a @click.prevent="DeletePost" href="#">Delete post</a></li>
                    </ul>
                </div>
            </div>
            <time class="add-tablet-date">21 Nov, 16:24</time>
            <div class="text-container" v-textmore>
                <p>{! post.description | concise !}</p>
                <div v-if="post.description.length > 450" class="slide-text-holder">
                    <p>{! post.description | detailed !}</p>
                </div>
                <a v-if="post.description.length > 450" href="#" class="more-link">
                    <span class="text-more">Show more</span>
                    <span class="text-less">Show less</span>
                </a>
            </div>

            <slideshow :post="post" :images="post.locations[locindex].images.concat(post.locations[locindex].videos)"
                        :location="post.locations[locindex].location_address" type="travel">
            </slideshow>

            <div class="map-section">
                <div class="map-area">
                    <routemap :locations="post.locations" :mapid="'map-'+post.id"></routemap>
                </div>
            </div>


            <commentbox :post="post"
                        v-if="!shared"></commentbox>
        </section>
    </slot>

    <slot name="lifetime" v-if="post.post_type == 'lifetime' ">
        <section v-readmore class="general-post-section lifetime-post"  >
            <div class="lifetime-base-image">
                <img :src="post.cover_photo.url" alt="" height="309" width="492">
            </div>
            <header class="heading-block">
                <div class="image-box">
                    <img :src="post.creator_profile.profile_pic" alt="">
                </div>
                <div class="text-holder">
                    <div class="heading">
                        <h2><a href="#"  :style="{'color' : post.cover_photo == null ? '#f65b42' : '#fff'}">{! name | capitalize !}</a></h2>
                        <span class="text" :style="{'color' : post.cover_photo == null ? '#f65b42' : '#fff'}">{! post.title !}</span>
                        {#					<h2><a href="#">MagenFox</a></h2>#}
                        <span class="decor-icon"><img src="/static/images/time_icons/heard.png" alt="heard icon"
                                                      height="16" width="18"></span>
                    </div>
                </div>
            </header>
            <div v-openclose class="post-menu" v-if="!shared">
                <a href="#" class="opener-post-menu"><span></span><span></span><span></span></a>
                <div style="display: none;" class="drop-post-menu js-slide-hidden">
                    <ul>
                        <li><a @click.prevent="EditPost" href="#">Edit post</a></li>
                        <li><a href="#">Tag people</a></li>
                        <li><a href="#">Report</a></li>
                        <li><a href="#">Block this user</a></li>
                        <li><a @click.prevent="DeletePost" href="#">Delete post</a></li>
                    </ul>
                </div>
            </div>
            <time class="add-tablet-date">{! post.post_created_date !}</time>
            <div class="text-container">
                <div style="display: none;" class="slide-text-holder js-slide-hidden">
                    <p>{! post.description !}</p>
                </div>
                <a href="#" class="more-link" :style="{'color' : post.cover_photo == null ? 'rgb(131, 145, 164)' : 'rgb(255, 255, 255)'}">
                    <span class="text-more">Show more</span>
                    <span class="text-less">Show less</span>
                </a>
            </div>

            <slideshow :post="post" :images="post.attachments" type="general">
            </slideshow>

            <commentbox :post="post"
                        v-if="!shared"></commentbox>
        </section>
    </slot>

    <slot name="media" v-if="post.post_type == 'media' ">
        <section class="general-post-section media-post"  >
            <header class="heading-block">
                <div class="text-holder">
                    <div class="heading">
                        <h2><a href="#">{! post.title | capitalize !}</a></h2>
                        <span class="decor-icon">
                        <img src="/static/images/time_icons/triangle.png" alt="" height="15" width="15">
                    </span>
                    </div>
                    <div class="info">
                        <span class="text">recommended by</span>
                        <a href="#" class="author">{! name !}</a>
                    </div>
                </div>
            </header>
            <div v-openclose class="post-menu" v-if="!shared">
                <a href="#" class="opener-post-menu"><span></span><span></span><span></span></a>
                <div style="display: none;" class="drop-post-menu js-slide-hidden">
                    <ul>
                        <li><a @click.prevent="EditPost" href="#">Edit post</a></li>
                        <li><a href="#">Tag people</a></li>
                        <li><a href="#">Report</a></li>
                        <li><a href="#">Block this user</a></li>
                        <li><a @click.prevent="DeletePost(post.id)" href="#">Delete post</a></li>
                    </ul>
                </div>
            </div>
            <time class="add-tablet-date">{! post.post_created_date !}</time>
            <article class="media-post-container">
                <div class="media-image-holder">
                    <div class="media-image-box" @click="ShowExtendedPost($event)">
                        <img :src="post.poster.url" alt="" height="311" width="221">
                    </div>
                    <ul class="media-list">
                        <li v-for="media in post.attachments" v-if="$index < 3">
                            <a href="#" v-if="$index < 2">
                                <img :src="media.thumbnailUrl" alt="" height="40" width="73">
                            </a>
                            <a href="#" v-if="$index == 2">
                                <img :src="media.thumbnailUrl" alt="" height="40" width="73">
                                <span class="text"><span class="frame"><span class="number">+ {!(post.attachments.length-1) - $index !} </span> photos</span></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="media-text-holder">
                    <div class="media-info-row">
                        <strong class="title">Genre</strong>
                        <div class="description">
                            <p>{! post.genre !}</p>
                        </div>
                    </div>
                    <div class="media-info-row">
                        <strong class="title">Year</strong>
                        <div class="description">
                            <p>{! post.year !}</p>
                        </div>
                    </div>
                    <div class="media-info-row">
                        <strong class="title">Director</strong>
                        <div class="description">
                            <p>{! post.director !}</p>
                        </div>
                    </div>
                    <div class="media-info-row">
                        <strong class="title">Stars</strong>
                        <div class="description">
                            <ul class="list-stars">
                                <li v-for="actor in actors.slice(0,5)">{! actor !}</li>
                            </ul>
                            <div class="text-container" v-if="actors.length > 5" v-textmore>
                                <div class="slide-text-holder js-slide-hidden">
                                    <ul class="list-stars">
                                        <li v-for="actor in actors.slice(5,actors.length)">{! actor !}</li>
                                    </ul>
                                </div>
                                <a href="#" class="more-link"><span class="text-more">More stars</span><span
                                        class="text-less">Less stars</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="text-container" v-textmore>
                        <p>{! post.plot | concise !}</p>
                        <div class="link-holder">
                            <a href="#" class="more-link" v-if="post.plot.length > 450"><span class="text-more">Show more</span><span
                                    class="text-less">Show less</span></a>
                            <a href="#" class="see-jass-more">See {! name | capitalize !}'s review</a>
                        </div>
                        <div class="slide-text-holder js-slide-hidden">
                            {! post.plot | detailed !}
                        </div>
                    </div>
                </div>
            </article>
            <commentbox :post="post"
                        v-if="!shared"></commentbox>
        </section>
    </slot>

    <slot name="shared" v-if="post.post_type == 'shared' ">
        <section class="general-post-section"  >
            <header class="heading-block">
                <div class="image-box">
                    <img :src="post.creator_profile.profile_pic" alt="">
                </div>
                <div class="text-holder">
                    <div class="heading">
                        <h2><a href="#">{! name | capitalize !}</a></h2>
                        <span class="add-text">shared <strong>post:</strong></span>
                    </div>
                </div>
            </header>
            <div v-openclose class="post-menu">
                <a href="#" class="opener-post-menu"><span></span><span></span><span></span></a>
                <div style="display: none;" class="drop-post-menu js-slide-hidden">
                    <ul>
                        <li><a @click.prevent="EditPost" href="#">Edit post</a></li>
                        <li><a href="#">Tag people</a></li>
                        <li><a href="#">Report</a></li>
                        <li><a href="#">Block this user</a></li>
                        <li><a @click.prevent="DeletePost(post.id)" href="#">Delete post</a></li>
                    </ul>
                </div>
            </div>
            <time class="add-tablet-date">21 Nov, 16:24</time>
            <mypost :post="post.origin_post_details" :shared="true"></mypost>
            <commentbox :post="post" :og_post="post.origin_post_details"></commentbox>
        </section>
    </slot>
        <div class="pop-up-area" :class="{'lightbox-active' : showdelete}" id="popup-confirmation">
            <div class="holder">
                <h2>Are You sure you want to Delete this Post?</h2>
{#                <p style="color:#BDBDBD">You will still be connected, group will be removed</p>#}
                <div class="button-holder">
                    <a @click.prevent="DeleteConfirm(post.id)" href="#" class="btn-base"
                       id="delpost" data-post="2">Delete</a>
                    <a @click.prevent="HideDeletePopup" href="#" class="close" id="close_popup">Cancel</a>
                </div>
                <div style="display:none" id="del_success"></div>
            </div>
        </div>
</template>

<script>
    var PostView = Vue.component('mypost', {
        template: '#posttemplate',
        data: function () {
            return {
                x: true,
                locindex: 0,
                showdelete: false
            }
        },
        props: ['post', 'shared','postindex'],
        events: {
            'nextlocation': function () {
                var self = this;
                console.log('NextLocation');
                console.log(JSON.stringify(self.post.locations));
                var loclength = self.post.locations.length-1;
                //Reset index if it reaches last
                if(self.locindex < loclength){
                    self.locindex += 1;
                    console.log(self.locindex);
                    console.log(self.post.locations[self.locindex]);
                }
                else if(self.locindex == loclength){
                    self.locindex = 0;
                }
                self.$broadcast('maphighlight',self.locindex);
            },
            'prevlocation' : function() {
                var self = this;
                console.log('PrevLocation');
                var loclength = self.post.locations.length-1;
                //Reset index if it reaches last
                if(self.locindex > 0){
                    self.locindex -= 1;
                }
                else if(self.locindex == 0){
                    self.locindex = loclength;
                }
                self.$broadcast('maphighlight',self.locindex);
            }
        },
        computed: {
            name: function () {
                return this.post.creator_profile.first_name + ' ' +
                        this.post.creator_profile.last_name
            },
            actors: function() {
                return this.post.stars.split(',');
            }
        },
        filters: {
            concise: function (str) {
                if(typeof str == 'undefined'){
                    return ''
                }
                var length = str.length < 450 ? str.length: 450+str.substr(450,str.length).indexOf(' ') ;
                return str.substr(0, length)+'...';
            },
            detailed: function (str) {
                if(typeof str == 'undefined'){
                    return ''
                }
                if (str.length < 450)
                    return '';
                else
                    return str.substr(450+str.substr(450,str.length).indexOf(' ') , str.length);
            }
        },
        methods: {
            ShowExtendedPost: function ($event) {
                if(this.post == undefined )
                    return;

                console.log($event.target);
                PostEnlarge.$data.post = this.post;
                PostEnlarge.$data.show = true;
            },
            EditPost: function(){
                var self = this;
                console.log('Editing post');
                self.$dispatch('editpost',self.post,self.postindex);
            },
            HideDeletePopup: function() {
                var self = this;
                self.showdelete = false;
            },
            DeleteConfirm: function(postid){
                var self = this;
                ajaxGet('/delete_posts/?postid='+postid,function (response) {
                    if(response.result == 'ok'){
                        self.HideDeletePopup();
                        App.$data.boxinfo.posts.splice(self.postindex,1);
                        initScrollToFixed();
                        notification.success(response.msg);
                         $(window).trigger('resize');
                    }else{
                        notification.error(response.msg);
                    }
                });
            },
            DeletePost: function() {
                var self = this;
                self.showdelete = true;
            },
            actors: function (stars) {
                return stars.split(',');
{#                console.log(star);#}
{#                if (star.length < 6) {#}
{#                    return star;#}
{#                } else {#}
{#                    return star.slice(5, star.length);#}
{#                }#}
            },
            imagetype: function (type) {
                if (type.indexOf('image') != -1)
                    return true;
                else
                    return false;
            },
            videotype: function (type) {
                if (type.indexOf('video') != -1)
                    return true;
                else
                    return false;
            }
        },
        ready: function () {
        }
    });
</script>