<template id="post-area">
        <leftbar :groups="boxinfo.groups" :newrequest="boxinfo.new_request"></leftbar>
        <contentbar :post-data="boxinfo.posts"></contentbar>
        <rightbar :mapdata="boxinfo.map_data" :media="boxinfo.media_data" :lifetime="boxinfo.lifetime_data" :notification="boxinfo.notification"></rightbar>
</template>
<script>
    var postarea= Vue.component('postarea',{
        template: '#post-area',
        props:['boxinfo'],
    });
</script>