<template id="profile-page">
    <div class="profile-fixed">
        <section class="profile-section">
			<div class="profile-container">
				<div class="profile-gallery slider">
                    <div class="slick-slide">
						<div class="slick-slide-picture"  :style="{ 'background' : 'url('+ settings.user_info.fav_pic +')'}"></div>
					</div>
					<div class="slick-slide" v-for="slide in settings.fav" v-if="slide.fav_pic != ''">
						<div class="slick-slide-picture" :style="{ 'background' : 'url('+ slide.fav_pic +')'}"></div>
					</div>
				</div>
				<aside class="profile-setting-bar">
					<ul class="profile-menu">
						<li>
							<a href="#" @click="MoreSettings">
								<span class="profile-menu-icon"><img src="/static/images/pictures/pic-90.png" height="56" width="56" alt=""></span>
								<span class="profile-menu-text">Change Photos</span>
							</a>
						</li>
						<li>
							<a href="#" @click="ShowSettings('password')">
								<span class="profile-menu-icon is-icon is-change-password"></span>
								<span class="profile-menu-text">Change Password</span>
							</a>
						</li>
						<li>
							<a href="#" @click="ShowSettings('user')">
								<span class="profile-menu-icon is-icon is-change-user-name"></span>
								<span class="profile-menu-text">Change User Name</span>
							</a>
						</li>
						<li>
							<a href="#" @click="ShowSettings('visibility')">
								<span class="profile-menu-icon is-icon is-change-visibility"></span>
								<span class="profile-menu-text">Change Visibility</span>
							</a>
						</li>
						<li>
							<a href="#" @click="MoreSettings">
								<span class="profile-menu-text">More Settings</span>
							</a>
						</li>
					</ul>
					<button class="btn-login" @click="LogOut">Logout</button>
					<div class="add-profile-menu" v-show="false">
						<a href="#" class="info-box is-messages">
							<span class="picture"></span>
							<span class="text">3,045</span>
						</a>
						<a href="#" class="info-box is-like">
							<span class="picture"></span>
							<span class="text">13,045</span>
						</a>
						<a href="#" class="see-photo" @click="ShowComic">See More Photos</a>
					</div>
					<section id="sidebar-settings" class="profile-setting-popup" transition="fade" v-if="showsettings">
						<div class="scroll-area">
							<form action="#" class="personal-setting-form">
								<div class="heading-box">
									<strong class="title">Personal Settings</strong>
								</div>
								<div class="form-block">
									<div class="form-row">
										<input type="password" id="newpassword" placeholder="New Password" v-model="model.password">
									</div>
									<div class="form-row">
										<input type="password" placeholder="Re Enter Password" v-model="model.repassword">
									</div>
								</div>
								<div class="form-block">
									<div class="form-row">
										<input type="text" placeholder="Home Location" id="homelocation" :value="settings.user_info.location" v-model="model.homelocation">
									</div>
									<div class="form-row">
										<input type="text" placeholder="Username" id="username" :value="settings .user_info.name" v-model="model.name">
									</div>
								</div>
								<div class="heading-box">
									<strong class="title">View Settings</strong>
								</div>
								<div class="form-block" id="visibility">
									<div class="form-row">
										<label for="radio-01" class="radio-box-cell">
											<input id="radio-01" name="radio-vew" type="radio" value="Public" v-model="model.visibility">
											<span class="text">Any one can see my Photo</span>
											<span class="decor"></span>
										</label>
									</div>
									<div class="form-row">
										<label for="radio-02" class="radio-box-cell">
											<input id="radio-02" name="radio-vew" type="radio" value="Friends only"  v-model="model.visibility">
											<span class="text">Only people it was shared with can see</span>
											<span class="decor"></span>
										</label>
									</div>
								</div>
								<div class="heading-box">
									<strong class="title">Tag Settings</strong>
								</div>
								<div class="form-text">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, odit dolores esse harum quidem atque ipsum voluptatum, ad, perspiciatis corrupti dicta cumque repudiandae minima reprehenderit ratione. Illum earum saepe sed.</p>
								</div>
							</form>
						</div>
						<div class="profile-setting-popup-footer">
							<a href="#" class="link-close" @click="CloseSettings">Close</a>
							<button class="btn-login" @click="SaveSettings">Save</button>
						</div>
					</section>
					<section id="sidebar-moresettings" class="profile-setting-popup" transition="fade" v-if="moresettings">
						<div class="scroll-area">
							<div>
								<div class="heading-box">
									<strong class="title">Profile Settings for Each Hub</strong>
								</div>
								<div class="hub-menu">
									<div class="hub-menu-item" v-for="box in settings.box_info">
										<div class="hub-menu-item-holder">
											<div class="picture" @mouseover="ShowDevilMessage">
												<a href="#" @click="ShowComic(box)">
													<img :src="box.comic_pic" height="60" width="60" alt="">
												</a>
											</div>
											<div class="picture">
												<label :for="'b-' + box.id" >
													<img :src="box.profile_pic.pic" height="60" width="60" alt="">
												</label>
                                                <input name="file" :id="'b-' + box.id" accept="image/*" multiple="" style="display:none"
                                                       title="Choose a image" type="file" v-upload="box">
											</div>
											<a href="#" class="btn-hub" :style="{background: box.color}">{! box.name !}</a>
										</div>
										<span  class="going-to-link">
{#											<span class="cell">Test Man</span>#}
                                            <input type="text" @change="BoxStatusChange($event,box)" class="discussion-edit" :value="box.status" maxlength="25" style="width:100%">
                                            <div v-if="box.status_pic != null" @click="ShowStatus(box)" :style="{'background' : 'url('+box.status_pic+') no-repeat'}" class="status-image"></div>
                                            <div v-else @click="ShowStatus(box)" :style="{'background' : 'url(/static/images/time_icons/icon-setting.png) no-repeat'}" class="status-image"></div>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="profile-setting-popup-footer">
							<a href="#" class="link-close" @click="MoreSettings">Close</a>
							<button class="btn-login" @click.prevent="SaveBoxSettings" >Save</button>
						</div>
					</section>
				</aside>
				<a href="#" class="link-add-photo" @click="ShowPhotos">
					<span class="link-add-photo-icon"></span>
					<span class="link-add-photo-text">Click here to add your Favorite photos in showcase</span>
				</a>
				<div class="profile-description">
					<p>Mauris auctor sapien at nulla suscipit congue. Praesent consequat.</p>
					<em class="date">01/16</em>
				</div>
				<div class="person-info-box">
					<div class="decor-line"></div>
					<div class="small-picture is-left">
						<div class="picture"><img :src="settings.user_info.profile_pic" height="23" width="23" alt=""></div>
						<strong class="text">Me</strong>
					</div>

                    <div class="center-picture" v-if="settings.fav[0].profile_pic != ''">
                        <div class="picture"><img :src="settings.fav[0].profile_pic" height="85" width="85" alt=""></div>
                        <strong class="author">{! settings.fav[0].name | capitalize !}</strong>
                        <strong class="locaton">{! settings.fav[0].location !}</strong>
                    </div>

                    <div class="small-picture is-right" v-if="settings.fav[1].profile_pic != ''">
						<div class="picture"><img :src="settings.fav[1].profile_pic" height="23" width="23" alt=""></div>
						<strong class="text">{! settings.fav[1].name | capitalize !}</strong>
					</div>

				</div>
				<div class="profile-popup-section" v-if="showcomic || showphotos || showstatusimage">
					<div class="profile-popup-section-inner">
						<section class="profile-popup" transition="zoom" v-if="showphotos">
							<div class="profile-popup-header">
								<div class="cell">
									<h5 class="title">Select Photos</h5>
								</div>
							</div>
							<div class="profile-popup-content">
								<ul class="profile-popup-tabset">
									<li class="active"><a href="#"><span class="cell">All Photos</span></a></li>
{#									<li><a href="#"><span class="cell">Albums</span></a></li>#}
								</ul>
								<div class="profile-popup-tabset-content">
									<div class="tab-profile-01">
										<div class="scroll-area">
											<div class="select-photos-list">
												<div @click="SelectPic(image.id)" class="select-photos-list-item"
                                                     :class="{'is-active': image.id == activeshowcaseid}"
                                                     v-for="image in images">
													<a href="#"><img :src="image.thumbnailUrl" height="108" width="108" alt=""></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="profile-popup-footer">
								<label for="favpicupload" class="link-from">From Computer</label>
                                <input type="file" id="favpicupload" style="display: none">
								<div class="btn-group">
									<button class="btn is-red" @click.prevent="SaveFavoriteImage">Save</button>
									<button class="btn is-default" @click="ShowPhotos">Cancel</button>
								</div>
							</div>
						</section>
						<section class="profile-popup" transition="zoom" v-if="showcomic">
							<div class="profile-popup-header">
								<div class="cell">
									<h5 class="title">Your Devil's photo</h5>
								</div>
							</div>
							<div class="profile-popup-content">
								<div class="scroll-area">
									<ul class="avatar-menu">
										<li v-for="comic in comics" :class="{'is-selected': comic == boxcomic.activecomic}" @click="SelectComic(comic)">
											<a href="#">
												<img :src="comic" width="70" height="70px" alt="">
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="profile-popup-footer">
								<div class="btn-group">
									<button class="btn is-red" @click.prevent="SaveComicToBox">Save</button>
									<button class="btn is-default" @click="ShowComic">Cancel</button>
								</div>
							</div>
						</section>
                        <section class="profile-popup" transition="zoom" v-if="showstatusimage">
							<div class="profile-popup-header">
								<div class="cell">
									<h5 class="title">Select Photos</h5>
								</div>
							</div>
							<div class="profile-popup-content">
								<div class="scroll-area">
									<ul class="avatar-menu">
										<li v-for="status in statusimages" :class="{'is-selected': status == boxstatus.active}" @click="SelectStatus(status)">
											<a href="#">
												<img :src="status" width="70" height="70px" alt="">
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="profile-popup-footer">
								<div class="btn-group">
									<button class="btn is-red" @click.prevent="SaveStatusToBox">Save</button>
									<button class="btn is-default" @click="ShowStatus">Cancel</button>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
    </div>

</template>

<script>
    var profile = Vue.component('profilepage',{
       template: '#profile-page',
        data: function() {
            return{
                settings:{},
                model:{
                  visibility: '',
                  name: '',
                  homelocation: '',
                  password: '',
                  repassword: ''
                },
                place: {},
                images: [],
                comics : [],
                statusimages:[],
                boxarray: [],
                favupload: window.upload,
                activeshowcaseid: '',
                boxcomic:{
                  activecomic: '',
                  box: ''
                },
                boxstatus:{
                    active:'',
                    box: ''
                },
                slickslide: '<div class="slick-slide"><div class="slick-slide-picture" style="background : url({url})"></div> </div>',
                showsettings: false,
                changephoto: false,
                initscroll: false,
                moresettings: false,
                showcomic: false,
                showphotos: false,
                showstatusimage: false,
                slick: false
            }
        },
        ready: function () {
            var self = this;
            self.loadsettings();
        },
        methods:{
            ShowDevilMessage: function() {
              notification.success('This is your bad side....devil side....');
            },
            SaveFavoriteImage: function(){
                var self = this;
                ajaxPost('/api/favpic/add/',{
                    pic_id: self.activeshowcaseid
                },function(response) {
                    if(response.result == 'ok'){
                        notification.success('Favorite photo updated successfully');
                        self.settings.user_info.fav_pic = response.fav;
{#                        self.loadsettings();#}
                    }else{
                        notification.error('Error updating favorite photo');
                    }
                });
                self.showphotos = !self.showphotos;
            },
            BoxStatusChange: function (event,box) {
                var self = this;
                box.status = event.target.value;
            },
            SelectPic: function(imageid){
                var self = this;
                console.log(imageid);
                self.activeshowcaseid = imageid;
            },
            SelectComic: function (image) {
                var self = this;
                self.boxcomic.activecomic = image;
            },
            SelectStatus: function (image) {
                var self = this;
                self.boxstatus.active = image;
            },
            pacinput: function() {
                var self = this,input = document.getElementById('homelocation');
{#                console.log(input);#}
                var searchbox = new google.maps.places.Autocomplete(input);

                google.maps.event.addListener(searchbox, 'place_changed', function () {
                    self.place = searchbox.getPlace();
                });
            },
            loadsettings: function() {
                var self = this;
                ajaxGet('/api/settings/load/',function (response) {
                   self.settings = response;
{#                   self.settings.fav.unshift(response.user_info);#}
                   if(response.user_info.visibility == 'Public'){
                       self.model.visibility = 'Public';
                   }else{
                       self.model.visibility = 'Friends only';
                   }
                    console.log(JSON.stringify(response));
                });
            },
            SaveComicToBox: function() {
                var self = this;
                if(self.boxcomic.activecomic != '')
                    self.boxcomic.box.comic_pic = self.boxcomic.activecomic;
                self.showcomic = false;
                self.boxcomic.activecomic = '';
            },
            SaveStatusToBox: function () {
                var self = this;
                if (self.boxstatus.active != '')
                    self.boxstatus.box.status_pic = self.boxstatus.active;
                self.showstatusimage = false;
                self.boxstatus.active = '';
            },
            SaveBoxSettings: function() {
                var self = this;
                ajaxPost('/api/boxsettings/add/', {
                    box_settings: JSON.stringify(self.settings.box_info)
                }, function (response) {
                    if (response.result == 'ok') {
                        console.log(App.$data.boxinfo);
                        notification.success("Box settings updated successfully");
                    } else {
                        notification.error("Box settings not updated");
                    }
                    console.log(response);
                });
                self.moresettings = false;
                $('.profile-gallery').slick('unslick');
                self.slick = false;
                self.loadsettings();
                var currentbox = App.$data.boxinfo.current_box;
                $.each(self.settings.box_info,function(index,box) {
                    if(currentbox.id == box.id){
                        currentbox.status = box.status;
                        currentbox.profile_pic = box.profile_pic.pic;
                        currentbox.status_pic = box.status_pic;
                        return false;
                    }
                });
            },
            SaveSettings:function(){
                var self = this, model = self.model;
                function validation(){
                    var user = self.settings.user_info;
                    function checkChanges() {
                        return model.password != '' ||
                               model.name.toLowerCase() != user.name ||
                               model.homelocation != user.location ||
                               model.visibility != user.visibility;
                    }
                    function passwordCheck(){
                        if( model.password != model.repassword){
                            notification.error('Password is not match');
                            return false;
                        }else{
                            return true;
                        }
                    }
                    return checkChanges() ? true : passwordCheck();
                }

                if(validation()){
                    ajaxPost('/api/usersettings/add/', {
                        name : model.name,
                        location : JSON.stringify(self.place),
                        visibility : model.visibility,
                        newpassword : model.password,
                        repassword : model.repassword
                    },function(response) {
                        if(response.result == 'ok'){
                            notification.success('Profile updated successfully');
                            self.$dispatch('homelocation',self.place);

                        }
                        else
                            notification.error('Error in profile update');
                    });

                    $('.profile-gallery').slick('unslick');
                    self.slick = false;
                    self.loadsettings();
                    self.showsettings = false;
                }
            },
            ShowComic: function(box) {
              var self = this;
                 self.showcomic = !self.showcomic;
                if(self.showcomic){
                    ajaxGet('/api/load/comic/', function (response) {
                        if (response.result == 'ok')
                            self.comics = response.comics;
                    });
                    self.boxcomic.box = box;
                }else{
                    self.boxcomic.activecomic= '';
                }
            },
            ShowStatus: function(box) {
              var self = this;
                console.log('ClickedStatus');
                 self.showstatusimage = !self.showstatusimage;
                if(self.showstatusimage){
                    ajaxGet('/api/load/statusimages/', function (response) {
                        if (response.result == 'ok')
                            self.statusimages = response.statusimages;
                    });
                    self.boxstatus.box = box;
                }else{
                    self.boxstatus.active= '';
                }
            },

            ShowPhotos: function() {
                var self = this;
                ajaxGet('/api/load/images/',function (response) {
                    if(response.result == 'ok')
                        self.images = response.images;
                });
                  self.showphotos = !self.showphotos;
            },
            MoreSettings: function() {
                var self = this;
                self.moresettings = !self.moresettings;
            },
            LogOut: function(){
{#            window.location.replace(window.location.origin + '/logout');#}
                ajaxGet('/logout/',function (response) {
                    if(response.result == 'success'){
                       window.location.replace(window.location.origin);
                    }else{
                        notification.error(response.message);
                    }
                });
          },
            SwitchSettings: function () {
                var self = this;
                if(self.showsettings){
                    self.CloseSettings();
                    self.MoreSettings();
                }else{
                    self.MoreSettings();
                    self.ShowSettings('user');
                }
            },
          ShowSettings: function(val) {
             var self = this;
              self.showsettings = !self.showsettings;
              self.$nextTick(function() {
                  if(self.showsettings){
                 switch(val){
                     case 'password':
                         $('#newpassword').focus();
                             console.log($('#newpassword'));
                         break;
                     case 'user':
                         $('#username').focus();
                              console.log($('#username'));
                         break;
                     case 'location':
                         $('#homelocation').focus();
                         break;
                     case 'visibility':
                         $('#visibility').focus();
                         break;
                 }
             }
              });

          },
            CloseSettings: function() {
                var self = this;
                self.showsettings = false;
            }
        },
       watch:{
           'settings':{
             handler: function(){
                 var _ = this;
                 if(!_.slick){
                    $('.profile-gallery').off();
                    $('.profile-gallery').on('afterChange', function (event, slick, currentSlide) {
                        var count = $(this).slick("getSlick").slideCount;
                        console.log(count);
                        if(currentSlide == count-2){
                           ajaxGet('/api/favpic/next/',function (response) {
                                $.each(response.next_user,function(index,slide) {
                                    var el = _.slickslide.replace('{url}',slide.fav_pic);
                                    $('.profile-gallery').slick('slickAdd',el);
                                });
                           });
                        }

                    });
                    this.slick = true;
                    $('.profile-gallery').slick();
                 }else{
                     $('.profile-gallery').slick('unslick');
                     $('.profile-gallery').slick();
                 }


             },
             deep: true

           },
           'favupload': {
             handler: function(){
                this.images.unshift(this.favupload.file);
                this.activeshowcaseid = this.favupload.file.id;
             },
               deep:true
           },
           'model': {
               handler: function(){
                   console.log(this.model.visibility);
               },
               deep:true

           },
           'showsettings': function() {
               var self = this;
               if(this.showsettings){
                    initIScroll();
                   if (typeof google != 'undefined')
                     self.pacinput();
                   var scroll = $('#sidebar-settings > .scroll-area').data('IScroll');
                   scroll.on('scrollEnd', function () {
                       console.log('ScrollEnded');
                       if(this.y == this.maxScrollY){
                            self.SwitchSettings();
                       }

                   });

               }

           },
           'moresettings': function() {
               var self = this;
               if (this.moresettings) {
                   initIScroll();
                   var scroll = $('#sidebar-moresettings > .scroll-area').data('IScroll');
                   scroll.on('scrollEnd', function () {
                       console.log('ScrollEnded');
                       if (this.y == this.maxScrollY) {
                           self.SwitchSettings();
                       }
                   });

               }
           },
           'images': function() {
               if(this.showphotos){
                   initIScroll();
               }
           },
           'comics': function(){
               if(this.showcomic){
                    initIScroll();
                }
           },
           'statusimages' : function() {
               if(this.showstatusimage){
                    initIScroll();
                }
           },
           'showphotos' : function() {
               initiateFavpicUpload();
           }
       }
    });
</script>
