<template id="rightbar">
    <div class="aside-right same-height">
        <div class="aside-frame">
            <aside class="right-sidebar">
                <div id="right-sidebar">
                    <div class="desktop">
                        <div class="map">
                            <div class="title-right-sidebar travel">
                                <a @click="LoadMapPosts" href="#">Travel posts</a>
                                <span >
                                        {! notification.map_data  !}
                                    </span>
                                <a @click="MapcreateDisplay" href="#" class="add">&nbsp;</a>
                            </div>
                            <maparea mapid="map" :people="markers"></maparea>
                        </div>

                        <div class="title-right-sidebar media" :class="{'underline-right': media.length == 0}">
                            <a @click="LoadMediaPosts" href="#">Media posts</a>
                            <span >
                                        {! notification.media_data  !}
                            </span>
                            <a @click="MediacreateDisplay" href="#" class="add">&nbsp;</a>
                        </div>
                        <div id="iscroll-1" class="media-box scroll-bar scroll-area" v-show="media.length > 0">
                            <ul>
                                <li v-for="post in media">
                                    <a href="#" class="wrap-img">
                                        <strong>
                                            <img v-if="post.poster != undefined" :src="post.poster.url" alt="Picture">
                                        </strong>
                                    </a>
                                    <a href="#" class="title-name">{! post.title | capitalize !}</a>
                                    <div class="wrap-user">
                                        <div><a href="#">
                                            <img :src="post.creator_profile.avatar" alt="Picture"></a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="title-right-sidebar lifetime">
                            <a @click="LoadLifePosts" href="#">Lifetime posts</a>
                            <span >
                                        {! notification.lifetime_data  !}
                            </span>
                            <a @click="LifetimecreateDisplay" href="#" class="add">&nbsp;</a>
                        </div>
                        <div id="iscroll-2" class="lifetime-box scroll-bar scroll-area" v-show="lifetime.length > 0">
                            <ul>
                                <li v-for="post in lifetime" v-if="post.cover_photo != null">
                                    <a href="#" class="wrap-img"><strong>
                                        <img :src="post.cover_photo.url" alt="Picture"></strong>
                                    </a>
                                    <a href="#" class="title-name">{! post.description !}</a>
                                    <div class="wrap-user">
                                        <div><a href="#"><img :src="post.creator_profile.avatar" alt="Picture"></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrap-column-group-area lifetime-mobile">
                        <ul class="column-group-area">
                            <li>
                                <div class="column-group-section big gr-box">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-3.jpg" alt="Picture">
                                        <span><strong>Terry White</strong> married <strong>Simon Collins</strong></span>
                                    </a>
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-8.jpg"></a>
                                        </div>
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-6.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-group-section">
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-7.jpg"></a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-box">
                                        <span><strong>Poul Tower</strong> did something</span>
                                    </a>
                                </div>
                                <div class="column-group-section">
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-7.jpg"></a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-box">
                                        <span><strong>Poul Tower</strong> did something</span>
                                    </a>
                                </div>
                                <div class="column-group-section big gr-box">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-4.jpg" alt="Picture">
                                        <span><strong>Phill Todd</strong> moved to new house  at 18 King Street</span>
                                    </a>
                                    <div class="photo-section">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-8.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-group-section">
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-7.jpg"></a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-box">
                                        <span><strong>Poul Tower</strong> did something</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="column-group-section big gr-box">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-4.jpg" alt="Picture">
                                        <span><strong>Phill Todd</strong> moved to new house  at 18 King Street</span>
                                    </a>
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-8.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-group-section">
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-7.jpg"></a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-box">
                                        <span><strong>Poul Tower</strong> did something</span>
                                    </a>
                                </div>
                                <div class="column-group-section big gr-box">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-3.jpg" alt="Picture">
                                        <span><strong>Terry White</strong> married <strong>Simon Collins</strong></span>
                                    </a>
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-8.jpg"></a>
                                        </div>
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-6.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-group-section">
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-7.jpg"></a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-box">
                                        <span><strong>Poul Tower</strong> did something</span>
                                    </a>
                                </div>
                                <div class="column-group-section big gr-box">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-4.jpg" alt="Picture">
                                        <span><strong>Phill Todd</strong> moved to new house  at 18 King Street</span>
                                    </a>
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-8.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="column-group-section">
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-7.jpg"></a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-box">
                                        <span><strong>Poul Tower</strong> did something</span>
                                    </a>
                                </div>
                                <div class="column-group-section">
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-7.jpg"></a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-box">
                                        <span><strong>Poul Tower</strong> did something</span>
                                    </a>
                                </div>
                                <div class="column-group-section">
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-7.jpg"></a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-box">
                                        <span><strong>Poul Tower</strong> did something</span>
                                    </a>
                                </div>
                                <div class="column-group-section big gr-box">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-4.jpg" alt="Picture">
                                        <span><strong>Phill Todd</strong> moved to new house  at 18 King Street</span>
                                    </a>
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-8.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-group-section">
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-7.jpg"></a>
                                        </div>
                                    </div>
                                    <a href="#" class="image-box">
                                        <span><strong>Poul Tower</strong> did something</span>
                                    </a>
                                </div>
                                <div class="column-group-section big gr-box">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-3.jpg" alt="Picture">
                                        <span><strong>Terry White</strong> married <strong>Simon Collins</strong></span>
                                    </a>
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-8.jpg"></a>
                                        </div>
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-6.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="wrap-column-group-area posts-mobile">
                        <ul class="column-group-area">
                            <li>
                                <div class="column-group-section big">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-5.jpg" alt="Picture">
                                    </a>
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-8.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-group-section big">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-6.jpg" alt="Picture">
                                    </a>
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-8.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-group-section big">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-7.jpg" alt="Picture">
                                    </a>
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture"
                                            <maparea :mapid="'map'" :people="marker"></maparea>
                                            src="/static/images/pictures/man-8.jpg"></a></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="column-group-section big">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-8.jpg" alt="Picture">
                                    </a>
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-8.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-group-section big">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-9.jpg" alt="Picture">
                                    </a>
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-8.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-group-section big">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-10.jpg" alt="Picture">
                                    </a>
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-8.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="column-group-section big">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-11.jpg" alt="Picture">
                                    </a>
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-8.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-group-section big">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-12.jpg" alt="Picture">
                                    </a>
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-8.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-group-section big">
                                    <a href="#" class="image-box">
                                        <img src="/static/images/pictures/pic-13.jpg" alt="Picture">
                                    </a>
                                    <div class="photo-box">
                                        <div><a href="#"><img alt="Picture" src="/static/images/pictures/man-8.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</template>

<script>
    var RightBar = Vue.component('rightbar', {
        template: '#rightbar',
        props: ['mapdata', 'media', 'lifetime', 'notification'],
        data: function () {
            return {
                markers: []
            }
        },
        methods: {
            MapcreateDisplay: function () {
                var self = this;
                self.$dispatch('showcreatearea', true);
                $('a[href="#create-post0202"]').trigger('click');
            },
            MediacreateDisplay: function () {
                var self = this;
                self.$dispatch('showcreatearea', true);
                $('a[href="#create-post0404"]').trigger('click');
            },
            LifetimecreateDisplay: function () {
                var self = this;
                self.$dispatch('showcreatearea', true);
                $('a[href="#create-post0303"]').trigger('click');
            },
            LoadMediaPosts: function () {
                var self = this;
                self.$dispatch('loadmediaposts');
            },
            LoadLifePosts: function () {
                var self = this;
                self.$dispatch('loadlifeposts');
            },
            LoadMapPosts: function () {
                var self = this;
                console.log('Loading map posts');
                self.$dispatch('loadmapposts');
            }
        },
        watch: {
            'mapdata': function () {
                var self = this;
                console.log('Updating map data');
                self.$broadcast('clearmarkers');
                if(self.mapdata.length == 0){
                    self.$broadcast('zoomglobal');
                }else{
                    $.each(self.mapdata, function (index, mappost) {
                        var last_loc = mappost.locations[mappost.locations.length - 1];
                        {#                    "http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi.png"#}
                        if (typeof last_loc != "undefined")
                            self.$broadcast('markeradded',
                                {
                                    "name": capitalize(last_loc.traveller.name),
                                    "link": "#",
                                    "icon": mappost.creator_profile.map_marker_grey,
                                    "style": "right gray",
                                    "location": {
                                        "lat": last_loc.latitude,
                                        "lng": last_loc.longitude
                                    }
                                });
                    });
                }


            }
        }
    });
</script>