<template id="commentatom">
    <article @mouseover="ShowMenu" @mouseout="HideMenu" class="post-contacts">
        <div class="image-box">
            <img :src="comment.creator.avatar" alt="">
        </div>
        <div class="text-holder">
            <div class="heading">
                <h3><a href="#">{! comment.creator.name | capitalize !}</a></h3>
                <time class="date" datetime="2015-11-23">{! comment.created_on !}</time>
            </div>
            <div class="text">
                <p>{! comment.comment !}</p>
            </div>
            <div class="link-holder">
                <a @click="ShowReplay" href="#" class="link-reply">Reply</a>
                <div v-if="showreplay"  class="reply-comment">
                    <div class="input-holder">
                        <input v-model="replymodel" type="text" :placeholder="placeholder">
                    </div>
                    <button @click="SendReply" class="btn-send">Send</button>
                </div>
            </div>
            <div class="reply-container">
                <div v-for="reply in comment.reply" class="reply-bar ">
                     <div class="image-box">
                        <img :src="reply.creator.avatar" alt="">
                    </div>

                    <div class="text-holder">
                        <div class="heading">
                            <h3><a href="#">{! reply.creator.name | capitalize !}</a></h3>
                            <time class="date" datetime="2015-11-23">{! reply.created_on !}</time>
                        </div>
                        <div class="text">
                            <p>{! reply.comment !}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul v-show="showmenu" class="menu-comment">
            <li><a href="#" class="close" @click.prevent="DeleteComment">close comment</a></li>
        </ul>
    </article>
</template>

<script>
    var CommentSingle = Vue.component('commentsingle',{
    template: '#commentatom',
    props: ['comment','postid','comments','index'],
    ready: function() {
        console.log('Comment executed');
    },
    data : function() {
        return{
            showreplay: false,
            replymodel: '',
            showmenu : false
        }
    },
    methods: {
        DeleteComment: function () {
            var self = this;
            ajaxPost('/delete_comments/',{
                postid: self.postid,
                commentid: self.comment.id
            },function(response) {
                console.log(response);
                if(response.result == 'ok'){
                    self.comments.splice(self.index,1);
                    notification.success('Comment deleted successfully');
                }else{
                    notification.error('Error in comment deletion');
                }
            });
        },
        ShowMenu : function() {
            var self = this;
            self.showmenu = true;
        },
        HideMenu: function() {
            var self = this;
            self.showmenu = false;
        },
        ShowReplay: function(event) {
            var self = this;
            event.preventDefault();
            self.showreplay = !self.showreplay;
        },
        SendReply: function(event) {
            var self = this;
            event.preventDefault();
            if(self.replymodel == ''){
                console.log('Empty Reply');
                return false;
            }
            ajaxPost('/post_reply/',{
                postid: self.postid,
                commentid: self.comment.id,
                reply: self.replymodel
            },function(response){
                console.log(response);
                self.replymodel = '';
                self.showreplay = false;
                self.comment.reply.push(response.reply);
            });
        }
    },
    watch: {
        'reply': {
            handler:function() {
            this.$nextTick(function() {
                    $(window).trigger('resize');
                });
            },
            deep: true
        }

    }
});
</script>