<template id="tslideshow">
    <div v-if="type == 'travel' && location.length > 0" class="location-change">
            <a @click.prevent="PrevLocation" class="group2-Prev"></a>
            <span style="display:inline-block;margin-top: -8px;vertical-align: middle;">
                {! location.toUpperCase() !}
            </span>
            <a @click.prevent="NextLocation" class="group2-Next"></a>
    </div>

    <div class="image-section"
         v-if="images.length == 1">
        <div class="image-block">
            <a href="#general-post-gallery-popup" @click.prevent="ShowExtendedPost($event)" class="lightbox" v-if="imagetype(images[0].type)">
                <img :src="images[0].url" alt="">
            </a>
            <a href="#general-post-gallery-popup" class="lightbox" v-else>
                <video width="100%" controls>
                    <source :src="post.post.locations[0].videos[0].url">
                </video>
            </a>
        </div>
    </div>
    <article v-slideshow class="photos-section" v-if="images.length > 1 && restartslideshow">
        <div class="slideset">
            <div class="slide" v-for="pics in images">
                <a href="#" class="lightbox slideshow-bar" @click.prevent="ShowExtendedPost($event)">
                    <div class="slide-container-post" :style="'background-image:url('+pics.url+');'"
                         v-if="imagetype(pics.type)">
                    </div>
                    <div class="slide-container-post video-container" v-else>
                        <video width="100%" controls>
                            <source :src="pics.url">
                        </video>
                    </div>
                    <div class="slider-toggle">
                        <button class="slide-prev">Previous</button>
                        <button class="slide-next">Next</button>
                    </div>
                </a>
            </div>
        </div>
        <div class="pagination-photos">
            <li v-for="pics in images" v-if="$index<=5">
                <a v-if="$index <5" href="#">
                    <div class="pagination-container">
                        <img :src="pics.thumbnailUrl" width="81" height="71" alt=""></div>
                </a>
                <a v-else href="#general-post-gallery-popup" class="add-link-photo lightbox">
                            <span class="frame">
                                <span class="number">+{! images.length-$index !}</span>
                                {! filetype !}
                            </span>
                </a>
                <img v-if="$index==5" :src="pics.thumbnailUrl" width="81" height="71" alt="">
            </li>
        </div>

    </article>

</template>

<script>
    var slideshow = Vue.component('slideshow', {
        data: function () {
            return{
                restartslideshow: true,
            }
        },
        template: '#tslideshow',
        props: ['images', 'location', 'type' , 'post'],
        watch: {
            'images': function() {
                var self = this;
                self.restartslideshow = true;
                if(self.images.length > 1){
                    self.$nextTick(function() {
                        $(window).trigger('resize');
                    });
                }
            }
        },
        computed: {
            filetype: function () {
                var str = ['Images', 'Videos', 'Files'];
                const IMG = 0, VID = 1, MIXED = 2;
                var type = null;
                $.each(this.images, function (index, payload) {
                    if (payload.type.indexOf('video') != -1) {
                        if (type == IMG) {
                            type = MIXED;
                            return false;
                        } else if (type == null) {
                            type = VID;
                        }
                    }
                    else if (payload.type.indexOf('image') != -1) {
                        if (type == VID) {
                            type = MIXED;
                            return false;
                        } else if (type == null) {
                            type = IMG;
                        }
                    }
                });
                return str[type];
            }
        },
        methods: {
            ShowExtendedPost: function ($event) {
              if(this.post == undefined || !$($event.target).hasClass('slide-container-post'))
                  return;

              console.log($event.target);
              PostEnlarge.$data.post = this.post;
              PostEnlarge.$data.show = true;
            },
            NextLocation: function () {
                var self = this;
                self.$dispatch('nextlocation');
                self.restartslideshow = false;
            },
            PrevLocation: function() {
                var self = this;
                self.$dispatch('prevlocation');
            },
            imagetype: function (type) {
                if (type.indexOf('image') != -1)
                    return true;
                else
                    return false;
            }
        }
    });
</script>