<template id="userchat">
    <div id="individual-msg-block"
             class="stretch individual-discussion message-discussion-area active-discussion">
            <div class="discussion-title stretch__top">
                Back to discussions list
                <a href="#" class="hide-discussion-btn desktop">&nbsp;</a>
                <a href="events.html" class="hide-discussion-btn mobile">&nbsp;</a>
            </div>
            <div class="discussion-add-navbar stretch__top">
                <h3>Sam Gann</h3>
                <div class="discussion-nav active-drop">
                    <a href="#" class="opener">
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                    </a>
                    <div class="discussion-nav-dropdown">
                        <ul>
                            <li><a class="delete-choosed" href="#">Delete messages</a></li>
                            <li><a class="delete-discussion" href="#">Delete discussion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="scroll-area discussion-scroll stretch__middle">
                <ul class="discussion-list">
                    <li>
                        <div class="wrap-img"><a href="#"><img
                                src="/static/images/pictures/man-2.jpg" alt="Picture"></a></div>
                        <div class="text-box">
                            <h3><a href="#">Sam</a></h3>
                            <p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat.</p>
                            <img class="discussion-smiley" src="/static/images/icons/icon-19.png"
                                 height="59" width="60" alt="">
                        </div>
                        <a href="#" class="delete">Delete</a>
                    </li>
                    <li>
                        <div class="wrap-img "><a href="#"><img
                                src="/static/images/pictures/man-1.jpg" alt="Picture"></a></div>
                        <div class="text-box">
                            <h3><a href="#">John1111</a></h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                quae ab illo inventore veritatis et quasi architecto beatae vitae
                                dicta sunt explicabo.</p>
                        </div>
                        <a href="#" class="delete">Delete</a>
                    </li>
                    <li>
                        <div class="wrap-img "><a href="#"><img
                                src="/static/images/pictures/man-2.jpg" alt="Picture"></a></div>
                        <div class="text-box">
                            <h3><a href="#">Samanta</a></h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur.</p>
                        </div>
                        <a href="#" class="delete">Delete</a>
                    </li>
                    <li>
                        <div class="wrap-img "><a href="#"><img
                                src="/static/images/pictures/man-1.jpg" alt="Picture"></a></div>
                        <div class="text-box">
                            <h3><a href="#">Kirk</a></h3>
                            <p><strong>Sed ut!</strong></p>
                        </div>
                        <a href="#" class="delete">Delete</a>
                    </li>
                    <li>
                        <div class="wrap-img "><a href="#"><img
                                src="/static/images/pictures/man-2.jpg" alt="Picture"></a></div>
                        <div class="text-box">
                            <h3><a href="#">Sam</a></h3>
                            <img class="discussion-smiley" src="/static/images/icons/icon-20.png"
                                 height="66" width="60" alt="">
                        </div>
                        <a href="#" class="delete">Delete</a>
                    </li>
                    <li>
                        <div class="wrap-img "><a href="#"><img
                                src="/static/images/pictures/man-1.jpg" alt="Picture"></a></div>
                        <div class="text-box">
                            <h3><a href="#">Nina</a></h3>
                            <p>Sed ut!</p>
                        </div>
                        <a href="#" class="delete">Delete</a>
                    </li>
                    <li>
                        <div class="wrap-img "><a href="#"><img
                                src="/static/images/pictures/man-2.jpg" alt="Picture"></a></div>
                        <div class="text-box">
                            <h3><a href="#">Sam</a></h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                fugit</p>
                        </div>
                        <a href="#" class="delete">Delete</a>
                    </li>
                    <li>
                        <div class="wrap-img "><a href="#"><img
                                src="/static/images/pictures/man-2.jpg" alt="Picture"></a></div>
                        <div class="text-box">
                            <h3><a href="#">Sam</a></h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                fugit</p>
                        </div>
                        <a href="#" class="delete">Delete</a>
                    </li>
                    <li>
                        <div class="wrap-img "><a href="#"><img
                                src="/static/images/pictures/man-2.jpg" alt="Picture"></a></div>
                        <div class="text-box">
                            <h3><a href="#">Sam</a></h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                fugit</p>
                        </div>
                        <a href="#" class="delete">Delete</a>
                    </li>
                </ul>
            </div>
            <form class="message-form clearfix stretch__bottom" action="#">
                <input type="text" name="message" placeholder="Type your message">
                <div class="message-btn">
                    <a href="#" class="message-btn1">&nbsp;</a>
                    <a href="#" class="message-btn2">&nbsp;</a>
                </div>
                <button type="submit">Send</button>
            </form>
        </div>
</template>
<script>
    var UserChat = Vue.component('userchat',{
        template: '#userchat'
    });
</script>