.create-general-posts-section .related-section:after, .footer-bar-mobile:after {
  content: " ";
  display: block;
  clear: both; }

.create-general-post-box {
  position: relative;
  margin: 0 0 20px;
  background: #fff;
  padding: 15px 22px;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .create-general-post-box .input-holder {
    position: relative;
    overflow: hidden; }
    .create-general-post-box .input-holder input {
      background: #ecf1f5;
      border: none;
      border-radius: 5px;
      width: 100%;
      height: 30px;
      padding: 8px 20px;
      margin: 0;
      float: left;
      font-size: 12px;
      line-height: 15px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      color: #8391a4; }
      .create-general-post-box .input-holder input::-webkit-input-placeholder {
        color: #bfcbda; }
      .create-general-post-box .input-holder input::-moz-placeholder {
        opacity: 1;
        color: #bfcbda; }
      .create-general-post-box .input-holder input:-moz-placeholder {
        color: #bfcbda; }
      .create-general-post-box .input-holder input:-ms-input-placeholder {
        color: #bfcbda; }
      .create-general-post-box .input-holder input.placeholder {
        color: #bfcbda; }