
.seach-results-blocked {
	position: relative;
	overflow: hidden;
/*	background: #fff;*/
}
.seach-results-blocked .heading {
	padding: 3px 10px;
	background: #d2d9df;
	border-bottom: 1px solid #bbc2c7;
}
.seach-results-blocked .heading .title {
	float: left;
	font-size: 10px;
	line-height: 13px;
	color: #5b6074;
}
.seach-results-blocked .heading .link {
	float: right;
	color: #8391a4;
	font-size: 10px;
	line-height: 13px;
	text-transform: capitalize;
	letter-spacing: .2px;
}
.seach-results-blocked .seach-results-list {
	text-align: left;
	padding: 0;
	margin: 0;
	list-style: none;
}
.seach-results-blocked .seach-results-list li {
/*	border-bottom: 1px solid #bbc2c7;*/
	height: 65px;
	padding: 0 20px 0 79px;
	position: relative;
	overflow: hidden;
}
.seach-results-blocked .seach-results-list li:hover .overlay {
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
	visibility: visible;
	opacity: 1;
}
.seach-results-blocked .seach-results-list li:hover .btn-add {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	opacity: 1;
	visibility: visible;
}
.seach-results-blocked .seach-results-list .image-box {
	position: absolute;
	left: 10px;
	top: 6px;
}
.seach-results-blocked .seach-results-list .img-holder {
	position: relative;
	overflow: hidden;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 3px solid #edf2f6;
}
.seach-results-blocked .seach-results-list .img-holder img {
	display: block;
	width: 100%;
	height: auto;
	max-width: none;
}
.seach-results-blocked .seach-results-list .image-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 64px;
}
.seach-results-blocked .seach-results-list .image-wrap img {
	display: block;
	width: 100%;
	height: auto;
	max-width: none;
}
.seach-results-blocked .seach-results-list .mark {
	position: absolute;
	right: 5px;
	bottom: 1px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	overflow: hidden;
	background: #9ec289;
	overflow: hidden;
	text-indent: 101%;
	white-space: nowrap;
	font-size: 0;
	line-height: 0;
	color: transparent;
}
.seach-results-blocked .seach-results-list .date-box {
	position: absolute;
	top: 11px;
	left: 14px;
	/*background: #fff;*/
	width: 41px;
	height: 41px;
	/*border: 2px solid #5b6074;*/
	border-radius: 5px;
	overflow: hidden;
	padding: 11px 2px 1px;
	text-align: center;
}
.seach-results-blocked .seach-results-list .date-box:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 8px;
	background: #5b6074;
}
.seach-results-blocked .seach-results-list .date-box .date {
	display: block;
	font-size: 12px;
	line-height: 14px;
	color: #5b6074;
	margin: 0 0 -1px;
}
.seach-results-blocked .seach-results-list .date-box .month {
	display: block;
	font-weight: bold;
	font-size: 8;
	line-height: 10px;
	color: #5b6074;
	text-transform: uppercase;
}
.seach-results-blocked .text-holder {
	height: 64px;
	overflow: hidden;
	width: 100%;
	font-size: 10px;
	line-height: 12px;
	color: #8391a4;
	/*text-transform: capitalize;*/
}
.seach-results-blocked .text-holder > .frame {
	display: table-cell;
	width: 1000px;
	height: 64px;
	vertical-align: middle;
}
.seach-results-blocked .text-holder > .frame > .holder {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.seach-results-blocked h3 {
	color: #f65b42;
	font-size: 12px;
	line-height: 15px;
	margin: 0 0 -1px;
	letter-spacing: .2px;
	font-weight: bold;
	text-transform: capitalize;
}
.seach-results-blocked h3 a {
	color: inherit;
}
.seach-results-blocked p {
	margin: 0;
	letter-spacing: .3px;
}
.seach-results-blocked address {
	display: block;
	font-style: normal;
}
.seach-results-blocked .members {
	display: block;
}
.seach-results-blocked .members .number {
	color: #f65b42;
}
.seach-results-blocked .overlay {
	position: absolute;
	top: 0;
	right: 0;
	width: 80%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 60%, white 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 60%, white 100%);
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
	z-index: 3;
}
.seach-results-blocked .btn-add {
	position: absolute;
	top: 20px;
	right: 15px;
	width: 59px;
	height: 25px;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	line-height: 15px;
	background: #f65b42;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	z-index: 4;
	text-align: center;
	padding: 6px 5px;
	opacity: 0;
	visibility: visible;
}
.seach-results-blocked .btn-add:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #f65b42;
	z-index: -1;
	border-radius: inherit;
	opacity: 0;
	-webkit-transform: scale3d(.6, .6, 1);
	transform: scale3d(.6, .6, 1);
	-webkit-transition: -webkit-transform .3s, opacity .3s;
	transition: transform .3s, opacity .3s;
	-webkit-transition-timing-function: cubic-bezier(.75, 0, .125, 1);
	transition-timing-function: cubic-bezier(.75, 0, .125, 1);
}
.seach-results-blocked .btn-add:hover {
	background: #ffe0cc;
	color: #f65b42;
	text-decoration: none;
}
.seach-results-blocked .btn-add:hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	opacity: 1;
}