textarea {
  outline: none;
  overflow: auto;
}
input, textarea {
	font-size: 12px;
}
.add-new-event-pop-up.pop-up-area input, .add-new-event-pop-up.pop-up-area textarea {
	border: none;
	width: 100%;
	color: #8391a4;
	background: #fff;
}
.add-new-event-pop-up.pop-up-area input {
	padding: 0 30px;
	line-height: 40px;
}
.add-new-event-pop-up.pop-up-area textarea {
	height: 116px;
	padding: 12px 30px;
}
.add-new-event-pop-up.pop-up-area input::-webkit-input-placeholder {color: #8391a4;}
.add-new-event-pop-up.pop-up-area input::-moz-placeholder {color: #8391a4;}
.add-new-event-pop-up.pop-up-area input:-ms-input-placeholder {color: #8391a4;}
.add-new-event-pop-up.pop-up-area textarea::-webkit-input-placeholder {color: #8391a4;}
.add-new-event-pop-up.pop-up-area textarea::-moz-placeholder {color: #8391a4;}
.add-new-event-pop-up.pop-up-area textarea:-ms-input-placeholder {color: #8391a4;}
.add-new-event-pop-up.pop-up-area .row-group {
	border-top: 1px solid #dfe4e8;
	background: #fff;
}
.add-new-event-pop-up.pop-up-area .row-group.choose-place {
	background: #dfe4e8;
	padding: 12px 30px;
}
.add-new-event-pop-up.pop-up-area .row-group.choose-place span {
	color: #000;
	font-size: 12px;
}
.add-new-event-pop-up.pop-up-area .row-group.choose-place a {
	color: #f96e57;
	font-size: 12px;
}
.add-new-event-pop-up.pop-up-area .btn-group .btn {
  float: right;
  font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #fff;
  text-align: center;
  border: none;
  background: #f65b42;
  border-radius: 5px;
  padding: 9px 25px;
  min-width: 84px;
  margin: 0 17px 0 0;
  text-decoration: none;
}
.add-new-event-pop-up.pop-up-area .btn-group {
	padding: 20px 30px;
}
.add-new-event-pop-up.pop-up-area .row-group.time input,
.add-new-event-pop-up.pop-up-area .row-group.time label {
	display: inline-block;
	line-height: 40px;
}
.add-new-event-pop-up.pop-up-area #start-date,
.add-new-event-pop-up.pop-up-area #end-date {
	width: 127px;
	padding-right: 0;
}
.add-new-event-pop-up.pop-up-area label[for="start-date"],
.add-new-event-pop-up.pop-up-area label[for="end-date"] {
	position: relative;
	width: 40px;
	margin-right: 15px;
}
.add-new-event-pop-up.pop-up-area label[for="start-date"]::after,
.add-new-event-pop-up.pop-up-area label[for="end-date"]::after {
	content: "";
	background: url(../images/icons/calendar.png) no-repeat;
	width: 19px;
	height: 18px;
	position: absolute;
	top: 11px;
	left: 11px;
}
.add-new-event-pop-up.pop-up-area #start-date:focus + label,
.add-new-event-pop-up.pop-up-area #end-date:focus + label {
	background: #5b6074;
}

.add-new-event-pop-up.pop-up-area #start-hour,
.add-new-event-pop-up.pop-up-area #start-minute,
.add-new-event-pop-up.pop-up-area #end-hour,
.add-new-event-pop-up.pop-up-area #end-minute {
	width: 45px;
	padding: 0 15px;
}
.add-new-event-pop-up.pop-up-area label[for="start-hour"],
.add-new-event-pop-up.pop-up-area label[for="start-minute"],
.add-new-event-pop-up.pop-up-area label[for="end-hour"],
.add-new-event-pop-up.pop-up-area label[for="end-minute"] {
	position: relative;
}
.add-new-event-pop-up.pop-up-area label[for="start-hour"]::after,
.add-new-event-pop-up.pop-up-area label[for="start-minute"]::after,
.add-new-event-pop-up.pop-up-area label[for="end-hour"]::after,
.add-new-event-pop-up.pop-up-area label[for="end-minute"]::after {
	top: 19px;
	right: 5px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #8391a4;
	border-width: 4px;
	margin-left: -4px;
	pointer-events: none;
}
.add-new-event-pop-up.pop-up-area .hour-wrap {
	display: inline-block;
	position: relative;
	margin-right: 5px;
}
.add-new-event-pop-up.pop-up-area .hour-wrap .scroll-area {
	position: absolute;
	right: 0;
	left: 0;
	text-align: center;
	background: #5b6074;
	color: #dfe4e8;
	z-index: 1;
	max-height: 160px;
}
.add-new-event-pop-up.pop-up-area .hour-wrap .scroll-area span {
	display: block;
	padding: 4px 0;
	cursor: pointer;
	font-size: 12px;
}
.add-new-event-pop-up.pop-up-area .hour-wrap .scroll-area span:hover {
	background: #dfe4e8;
	color: #5b6074;
}
.add-new-event-pop-up.pop-up-area .hour-wrap .mCSB_scrollTools {
	right: 6px;
}
.add-new-event-pop-up.pop-up-area .hour-wrap.active input {
	background: #5b6074;
	color: #dfe4e8;
}


.ui-datepicker {
	background: #5b6074;
	padding: 15px 10px;
	color: #fff;
	margin-top: -1px;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	margin-bottom: 12px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
	padding: 0 6px;
	text-align: center;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
	position: absolute;
	visibility: hidden;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover {
	opacity: 0.5;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
	left: 5px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
	right: 5px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev::after,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next::after {
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	cursor: pointer;
	border-color: rgba(255, 255, 255, 0);
	border-width: 5px;
	margin-top: -5px;
	visibility: visible;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev::after {
	right: 100%;
	border-right-color: #ffffff;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next::after {
	left: 100%;
	border-left-color: #ffffff;
}
.ui-datepicker .ui-datepicker-calendar {
	height: 104px;
	width: 150px;
}
.ui-datepicker .ui-datepicker-calendar td, .ui-datepicker .ui-datepicker-calendar th {
	vertical-align: middle;
	text-align: center;
}
.ui-datepicker .ui-datepicker-calendar a {
	color: #fff;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
	background: #fff;
}
.ui-datepicker .ui-datepicker-calendar td:hover a {
	color: #5b6074;
}




@media (max-width: 969px) {
	.add-new-event-pop-up-page .tab-bar,
	.add-new-event-pop-up-page #content{
		display: none;
	}
	.add-new-event-pop-up.pop-up-area .btn-group .btn {
		border-radius: 7px;
		float: right;
		font-size: 18px;
		min-width: 200px;
		padding: 16px 5px;
	}
	.add-new-event-pop-up.pop-up-area .btn-group .cancel-btn.mobile {
		float: left;
	}
	
	.ui-datepicker, .ui-datepicker .ui-datepicker-calendar {
		width: 100%;
	}
	.ui-datepicker .ui-datepicker-calendar td, .ui-datepicker .ui-datepicker-calendar th {
		padding: 3% 0;
  	}
  	.ui-datepicker .ui-datepicker-calendar thead {
  		border-bottom: 1px solid #6d738a;
  	}
}
@media (max-width: 700px) {
	.add-new-event-pop-up.pop-up-area .btn-group .btn {
		margin: 20px 0;
	}
}
@media (max-width: 460px) {
	.add-new-event-pop-up.pop-up-area .btn-group BUTTON {
		min-width: 100px;
	}
	.add-new-event-pop-up.pop-up-area #start-date, .add-new-event-pop-up.pop-up-area #end-date {
		width: 100px;
	}
}
