/* home-page */
*{
    -webkit-tap-highlight-color:transparent;
}
.main-wrapper {
	min-height: 100%;
	background: #edf2f6;
	position: relative;
}

/* next-bar */
.next-bar {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 1000;
	text-align: center;
}

.next-bar LI{
	height: 13px;
	bottom: 0;
	left: 0;
	-webkit-box-shadow: 0px -3px 5px 0px rgba(34, 57, 19, 0.75);
	-moz-box-shadow:    0px -3px 5px 0px rgba(34, 57, 19, 0.75);
	box-shadow:         0px -3px 5px 0px rgba(34, 57, 19, 0.75);
	position: relative;
}
.next-bar LI.friends{
	background: #f65b42;
}
.next-bar LI.family{
	background: #72d668;
}
.next-bar LI.work{
	background: #4182b6;
}
.next-bar LI.public-groups{
	background: #d1ab4a;
}
.next-bar LI.discussions{
	background: #b741a7;
}
.next-bar LI:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 13px;
	left: 0;
}
.next-bar LI.friends:after{
	background: #fc7f6b;
}
.next-bar LI.family:after{
	background: #8bf181;
}
.next-bar LI.work:after{
	background: #75b3e5;
}
.next-bar LI.public-groups:after{
	background: #f1cc6f;
}
.next-bar LI.discussions:after{
	background: #df67cf;
}
.next-bar LI SPAN{
	margin: -38px 0 0;
	display: inline-block;
	vertical-align: top;
}
.next-bar A{
	display: block;
	padding: 10px 10px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-box-shadow: 0px -3px 5px 0px rgba(34, 57, 19, 0.75);
	-moz-box-shadow:    0px -3px 5px 0px rgba(34, 57, 19, 0.75);
	box-shadow:         0px -3px 5px 0px rgba(34, 57, 19, 0.75);
	font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #fff;
	min-width: 100px;
	position: relative;
	z-index: 200;
}
.next-bar .friends A{
	background: #f65b42;
	border-top: 3px solid #fc7f6b;
}
.next-bar .family A{
	background: #72d668;
	border-top: 3px solid #8bf181;
}
.next-bar .work A{
	background: #4182b6;
	border-top: 3px solid #75b3e5;
}
.next-bar .public-groups A{
	background: #d1ab4a;
	border-top: 3px solid #f1cc6f;
}
.next-bar .discussions A{
	background: #b741a7;
	border-top: 3px solid #df67cf;
}

.next-bar A:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 4px;
	z-index: 4;
}
.next-bar .friends A:after{
	background: #f65b42;
}
.next-bar .family A:after{
	background: #72d668;
}
.next-bar .work A:after{
	background: #4182b6;
}
.next-bar .public-groups A:after{
	background: #d1ab4a;
}
.next-bar .discussions A:after{
	background: #b741a7;
}

/* HEADER */
.main-wrapper HEADER {
	background: #f65b42;
}
.main-wrapper HEADER .container{
	max-width: 1170px;
	padding: 7px 25px;
	position: relative;
	text-align: center;
} 


.container > .search-form {
	float: left;
	margin: 8px 0 0;
}
.search-form {
	position: relative;
	max-width: 270px;
	width: 100%;
}
.search-form INPUT {
	display: block;
	width: 100%;
	height: 30px;
	margin: 0;
	border: none;
	border-radius: 15px;
	background: #f9f9f9;
	padding: 0 10px 0 36px;
	font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #9f9f9f;
	text-align: left;
}
.search-form INPUT:-moz-placeholder {
	font: 12px/30px 'Roboto', Arial, Helvetica, san-serif;
	color: #9f9f9f;
	opacity: 1;
}
.search-form INPUT::-moz-placeholder {
	font: 12px/30px 'Roboto', Arial, Helvetica, san-serif;
	color: #9f9f9f;
	opacity: 1;
}
.search-form INPUT :-ms-input-placeholder {
	font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #9f9f9f;
	opacity: 1;
}
.search-form INPUT::-webkit-input-placeholder {
	font: 12px/120% 'Roboto', Arial, Helvetica, san-serif;
	color: #9f9f9f;
	opacity: 1;
}
.search-form BUTTON {
	position: absolute;
	left: 10px;
	top: 8px;
	width: 16px;
	height: 16px;
	border: none;
	background: url("../images/icons/search.png") no-repeat;
	z-index: 10;
}
.search-form BUTTON:hover {
	opacity: 0.8;
}
.main-wrapper .logo {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -17.5px 0 0 -77.5px;
	width: 155px;
	z-index: 10;
}
.main-wrapper .logo IMG{
	width: 100%;
}
.main-wrapper .right-box {
	float: right;
	text-align: right;
}
.main-wrapper .right-box A{
	display: inline-block;
	vertical-align: middle;
}
.add-friends-btn {
	font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: rgba(255,255,255,0.5);
	position: relative;
	padding: 0px 0 0 39px;
	margin: 0 28px 0 0;
}
.add-friends-btn SPAN{
	display: inline-block;
	vertical-align: middle;
}
.add-friends-btn:before {
	content: "";
	position: absolute;
	left: 0;
	top: -8px;
	width: 32px;
	height: 26px;
	background: url("../images/icons/icon-1.png") no-repeat;
}
.profile-btn {
	font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #fff;
}
.profile-btn:hover {
	text-decoration: none;
}
.profile-btn:hover SPAN{
	text-decoration: underline;
}
.profile-btn:hover STRONG{
	opacity: 0.8;
}
.profile-btn SPAN{
	display: inline-block;
	vertical-align: middle;
	margin: 0 25px 0 0;
}
.profile-btn STRONG{
	display: inline-block;
	vertical-align: middle;
	border: 3px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-khtml-border-radius: 50%;
	overflow: hidden;
}
.profile-btn STRONG IMG{
   -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
}

.btn-menu {
	display: none;
	cursor: pointer;
	float: left;
	margin: 12px 0 0;
}
.btn-menu SPAN{
	display: block;
	width: 30px;
	height: 4px;
	border-radius: 2px;
	background: #fff;
	margin: 0 0 5px;
}
.btn-menu>:last-child{
	margin-bottom: 0;
}
NAV {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	background: #f65b42;
	z-index: 1000;
	border-bottom: 3px solid #bb4734;
	-webkit-box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0 3px 5px -5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.5);
	padding: 18px 0 0;
}
NAV .search-form {
	margin: 0 20px 13px;
	max-width: none;
	width: auto;
}
NAV UL A{
	display: block;
	font: bold 18px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #fff;
	padding: 20px;
	text-align: left;
	position: relative;
	border-top: 1px solid #e14229;
}
NAV UL A:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	background: #ff755f;
}

NAV UL A SPAN {
	display: inline-block;
	vertical-align: middle;
	font: bold 12px/24px 'Roboto', Arial, Helvetica, san-serif;
	color: #f65b42;
	background: #fff;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 2px 0px 0px rgba(78, 13, 2, 0.3);
	-moz-box-shadow:    inset 0px 2px 0px 0px rgba(78, 13, 2, 0.3);
	box-shadow:         inset 0px 2px 0px 0px rgba(78, 13, 2, 0.3);
	width: 24px;
	height: 24px;
	text-align: center;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
	margin: 0 0 0 13px;
}



/* tab-bar */
.tab-bar {
	background: #fff;
	border-bottom: 3px solid #dfe1e6;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.5);
	text-align: center;
	padding: 15px 0;
	position: relative;
	z-index: 300;
}
.tab-bar .container {
    max-width: 1170px;
    padding: 0 25px;
}
.add-btn {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	font: bold 12px/24px 'Roboto', Arial, Helvetica, san-serif;
	color: #f65b42;
	width: 32px;
	height: 33px;
	background: url("../images/icons/add.png") no-repeat;
	margin: 0 50px 0 0;
}
.add-btn:hover {
	text-decoration: none;
}
.tabs-area {
	display: inline-block;
	vertical-align: middle;
}
.tabs LI{
	display: inline-block;
	vertical-align: middle;
	margin: 0 37px 0 0;
}
.tabs A{
	display: block;
	font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #bababa;
}
.tabs A:hover{
	text-decoration: none;
}
.tabs  .friends A:hover,
.tabs  .friends.active A{
	color: #f96e57;
}
.tabs  .family A:hover,
.tabs  .family.active A{
	color: #72d668;
}
.tabs  .work A:hover,
.tabs  .work.active A{
	color: #4182b6;
}
.tabs  .public-groups A:hover,
.tabs  .public-groups.active A{
	color: #d1ab4a;
}
.tabs  .discussions A:hover,
.tabs  .discussions.active A{
	color: #b741a7;
}
.tabs SPAN{
	display: inline-block;
	vertical-align: middle;
	font: bold 12px/24px 'Roboto', Arial, Helvetica, san-serif;
	color: #fff;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	text-align: center;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
	margin: 0 0 0 10px;
	-webkit-box-shadow: inset 0px 2px 0px 0px rgba(78, 13, 2, 0.3);
	-moz-box-shadow:    inset 0px 2px 0px 0px rgba(78, 13, 2, 0.3);
	box-shadow:         inset 0px 2px 0px 0px rgba(78, 13, 2, 0.3);
}
.tabs .friends SPAN {
	background: #f65b42;
}
.tabs .family SPAN {
	background: #72d668;
}
.tabs .work SPAN {
	background: #4182b6;
}
.tabs .public-groups SPAN {
	background: #d1ab4a;
}
.tabs .discussions SPAN {
	background: #b741a7;
}


.edit-btn {
	float: right;
	margin: 10px 13px 0;
	font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #f65b42;
}

/* content */
#content  {
	padding: 0 0 60px;
}
#content .container {
	max-width: 1170px;
	padding: 0;
	position: relative;
}
#content .left-sidebar {
	float: left;
	width: 26%;
	background: #363946;
}
#content .tab-nav {
	display: table;
	width: 100%;
	table-layout: fixed;
}
#content .tab-nav LI{
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
	width: 50%;
	font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #fff;
	text-align: center;
	background: #5b6074;
	text-align: center;
	padding: 19px 5px;
}

#content .tab-nav LI:hover{
	text-decoration: none;
}
#content .tab-nav LI.active,
#content .tab-nav LI:hover{
	background: #363946;
}
#content .tab-nav LI.active,
#content .tab-nav LI:hover{
	background: #363946;
}

#content .tab-section .btn-row {
	padding: 20px 10px 20px 35px;
	display: table;
	width: 100%;
	table-layout: fixed;
}
#content .tab-section .btn-row.mobile {
	display: none;
}	
#content .tab-section .add-new-group-btn {
	display: table-cell;
	vertical-align: middle;
	font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #fff;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
	padding: 0;
}
#content .tab-section .wrap-all-btn {
	display: table-cell;
	vertical-align: middle;
	padding: 0 40px 0 0;
	width: 20px;
}
#content .tab-section .all-btn {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url("../images/icons/all.png") no-repeat;
	margin: 3px 0 0;
}
#content .tab-section .all-btn:hover {
	text-decoration: none;
}
#content .tab-section .all-btn.open {
	background-position: 0 -20px;
}
#content .tab-section .messages-btn {
	display: table-cell;
	vertical-align: middle;
	width: 80px;
	font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #363946;
	   text-align: right;
}
#content .tab-section .messages-btn:hover {
	text-decoration: none;
}
#content .tab-section .messages-btn SPAN{
	display: inline-block;
	position: relative;

	vertical-align: top;
	width: 24px;
	height: 24px;
	background: #fff;
	line-height: 24px;
	border-radius: 50%;
	text-align: center;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
	-webkit-box-shadow: inset 0px 2px 0px 0px rgba(75, 79, 106, 0.3);
	-moz-box-shadow:    inset 0px 2px 0px 0px rgba(75, 79, 106, 0.3);
	box-shadow:         inset 0px 2px 0px 0px rgba(75, 79, 106, 0.3);
}
#content .tab-section .messages-btn STRONG{
	padding: 0 0 0 38px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
#content .tab-section .messages-btn STRONG:before {
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 20px;
	height: 20px;
	background: url("../images/icons/messages-btn.png") no-repeat;
}

/* scrollbar */
.scroll-area {  
	overflow: hidden;
}
.acc-section .scroll-area {  
	height: 600px;
}
.scroll-area.events-scroll {
	height: 717px;
}
.scroll-area.discussion-scroll {
	height: 627px;
}
.media-box.scroll-area  {
    height: 212px;
}
.lifetime-box.scroll-area  {
    height: 302px;
}
.events-detail-area .scroll-area {
	height: 728px;
}
/* accordion */
.accordion-area.expand-collapse.mobile {
	display: none;
}
#content .accordion-title-tow.bg-1 {
	background: rgb(249,110,87); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5NmU1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYjYxNGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(249,110,87,1) 0%, rgba(219,97,77,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,110,87,1)), color-stop(100%,rgba(219,97,77,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,110,87,1) 0%,rgba(219,97,77,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,110,87,1) 0%,rgba(219,97,77,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,110,87,1) 0%,rgba(219,97,77,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,110,87,1) 0%,rgba(219,97,77,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f96e57', endColorstr='#db614d',GradientType=0 ); /* IE6-8 */
}
#content .accordion-title-tow.bg-2 {
	background: rgb(109,170,122); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkYWE3YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MDk2NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(109,170,122,1) 0%, rgba(96,150,107,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,170,122,1)), color-stop(100%,rgba(96,150,107,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(109,170,122,1) 0%,rgba(96,150,107,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(109,170,122,1) 0%,rgba(96,150,107,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(109,170,122,1) 0%,rgba(96,150,107,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(109,170,122,1) 0%,rgba(96,150,107,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6daa7a', endColorstr='#60966b',GradientType=0 ); /* IE6-8 */
}
#content .accordion-title-tow.bg-3 {
	background: rgb(63,153,215); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmOTlkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNzg3YmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(63,153,215,1) 0%, rgba(55,135,189,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,153,215,1)), color-stop(100%,rgba(55,135,189,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(63,153,215,1) 0%,rgba(55,135,189,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(63,153,215,1) 0%,rgba(55,135,189,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(63,153,215,1) 0%,rgba(55,135,189,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(63,153,215,1) 0%,rgba(55,135,189,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f99d7', endColorstr='#3787bd',GradientType=0 ); /* IE6-8 */
}
#content .accordion-title-tow.bg-4 {
	background: rgb(135,163,176); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg3YTNiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NzhmOWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(135,163,176,1) 0%, rgba(119,143,155,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,163,176,1)), color-stop(100%,rgba(119,143,155,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(135,163,176,1) 0%,rgba(119,143,155,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(135,163,176,1) 0%,rgba(119,143,155,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(135,163,176,1) 0%,rgba(119,143,155,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(135,163,176,1) 0%,rgba(119,143,155,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87a3b0', endColorstr='#778f9b',GradientType=0 ); /* IE6-8 */
}
#content .accordion-title-tow.bg-5 {
	background: rgb(165,114,83); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E1NzI1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MTY0NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(165,114,83,1) 0%, rgba(145,100,73,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,114,83,1)), color-stop(100%,rgba(145,100,73,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(165,114,83,1) 0%,rgba(145,100,73,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(165,114,83,1) 0%,rgba(145,100,73,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(165,114,83,1) 0%,rgba(145,100,73,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(165,114,83,1) 0%,rgba(145,100,73,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a57253', endColorstr='#916449',GradientType=0 ); /* IE6-8 */
}
#content .active .accordion-title-tow {
	-webkit-box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:    0px 4px 4px -4px rgba(0, 0, 0, 0.7);
	box-shadow:         0px 4px 4px -4px rgba(0, 0, 0, 0.7);
}
#content .active .accordion-title-tow.bg-1 {
	border-bottom: 3px solid #5a2017;
}
#content .active .accordion-title-tow.bg-2 {
	border-bottom: 3px solid #124e1f;
}
#content .active .accordion-title-tow.bg-3 {
	border-bottom: 3px solid #0e3048;
}
#content .active .accordion-title-tow.bg-4{
	border-bottom: 3px solid #213d4b;
}
#content .active .accordion-title-tow.bg-5{
	border-bottom: 3px solid #4b3223;
}
#content .accordion-title-tow {
	margin: 2px 0 0;
}
#content .accordion-title-tow{
	display: table;
	width: 100%;
	table-layout: fixed;
}
#content .accordion-title-tow >A{
	display: table-cell;
	vertical-align: middle;
}
#content .accordion-btn {
	display: table-cell;
	vertical-align: middle;
	font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #fff;
	padding: 14px 0 14px 35px;
	width: 73%;
	cursor: pointer;
}
#content .alboms-btn {
	position: relative;
	width: 13.5%;
}
#content .alboms-btn:hover {
	text-decoration: none;
}
#content .bg-1 .alboms-btn:hover {
	background: #f98c7a;
}
#content .bg-1 .alboms-btn:active {
	background: #9b3121;
}
#content .bg-2 .alboms-btn:hover {
	background: #7bc18a;
}
#content .bg-2 .alboms-btn:active {
	background: #3a6743;
}
#content .bg-3 .alboms-btn:hover {
	background: #58a9e1;
}
#content .bg-3 .alboms-btn:active {
	background: #2270a6;
}
#content .bg-4 .alboms-btn:hover {
	background: #95b3c1;
}
#content .bg-4 .alboms-btn:active {
	background: #677c85;
}
#content .bg-5 .alboms-btn:hover {
	background: #b57751;
}
#content .bg-5 .alboms-btn:active {
	background: #824f30;
}
#content .alboms-btn:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 19px;
	height: 14px;
	background: url("../images/icons/alboms.png") no-repeat;
	margin: -7px 0 0 -9.5px;
}
#content .posts-btn {
	position: relative;
	width: 13.5%;
}
#content .posts-btn:hover {
	text-decoration: none;
}
#content .bg-1 .posts-btn:hover {
	background: #f98c7a;
}
#content .bg-1 .posts-btn:active {
	background: #9b3121;
}
#content .bg-2 .posts-btn:hover {
	background: #7bc18a;
}
#content .bg-2 .posts-btn:active {
	background: #3a6743;
}
#content .bg-3 .posts-btn:hover {
	background: #58a9e1;
}
#content .bg-3 .posts-btn:active {
	background: #2270a6;
}
#content .bg-4 .posts-btn:hover {
	background: #95b3c1;
}
#content .bg-4 .posts-btn:active {
	background: #677c85;
}
#content .bg-5 .posts-btn:hover {
	background: #b57751;
}
#content .bg-5 .posts-btn:active {
	background: #824f30;
}
#content .posts-btn:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 18px;
	height: 14px;
	background: url("../images/icons/posts.png") no-repeat;
	margin: -7px 0 0 -9px;
}


#content .accordion-content .add-people-btn {
	display: block;
	text-align: center;
	border-bottom: 1px solid #6b7583;
	font: 14px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #6b7583;
	padding: 20px 15px;
}

#content .accordion-content .list-items LI{
	padding: 20px 10px 20px 25px;
	display: table;
	width: 100%;
	table-layout: fixed;
}

#content .accordion-content .left-cell{
	display: table-cell;
	vertical-align: middle;
	padding: 0 13px 0 0;
	width: 58px;
}
#content .accordion-content .text-box{
	display: table-cell;
	vertical-align: middle;
	width: 60%;
}
#content .accordion-content .right-cell{
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

#content .accordion-content .wrap-img {
	display: inline-block;
	vertical-align: top;
	position: relative;
}
#content .accordion-content .wrap-img IMG{
	max-width: 45px;
	max-height: 45px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}
#content .accordion-content .wrap-img.active:before {
	content: "";
	position: absolute;
	z-index: 10;
	right: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #9ec289;
	border-radius: 50%;
}
#content .accordion-content .text-box H3 {
	font: bold 14px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #f96e57;
	margin: 0 0 5px;
}
#content .accordion-content .text-box H3 A{
	color: #f96e57;
}
#content .accordion-content .text-box P {
	font: 10px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #8391a4;
}
#content .accordion-content .notifications {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 15px;
	background: url("../images/icons/notifications.png") no-repeat;
}
#content .accordion-content .notifications:hover{
	text-decoration: none;
}
#content .accordion-content .notifications.active {
	width: 17px;
	height: 16px;
	background: url("../images/icons/notifications.png") 0 -15px no-repeat;
}



/* main-content */
#content .main-content {
	float: left;
	width: 42%;
	margin: 17px 1.7% 0;
}
#content .newsfeed-box {
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	padding: 0 0 20px;
}
#content .newsfeed-box:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
    height: 0;
    border-top: 52px solid #fbe631; 
    border-right: 52px solid transparent;	
	z-index: 10;
}
#content .newsfeed-box:after {
	content: "";
	position: absolute;
	z-index: 20;
	left: 8px;
	top: 6px;
	width: 14px;
	height: 15px;
	background: url("../images/icons/icon-2.png") no-repeat;
}
#content .main-content .btn-group {
	text-align: right;
	padding: 10px 20px 0 0;
}
#content .main-content .btn-group A{
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 12px;
}
#content .main-content .btn-group A:hover{
	text-decoration: none;
	opacity: 0.8;
}
#content .main-content .btn-1{
	width: 14px;
	height: 14px;
	background: url("../images/icons/icon-3.png") no-repeat;
}
#content .main-content .btn-2{
	width: 16px;
	height: 16px;
	background: url("../images/icons/icon-4.png") no-repeat;
}
#content .post-area .title-row {
	position: relative;
	z-index: 100;
	padding: 0 20px 0 22px;
	margin: 0 0 10px;
	display: tablel;
	width: 100%;
	table-layout: fixed;
}
#content .post-area .wrap-img {
	display: table-cell;
	vertical-align: top;
	width: 61px;
	padding: 0 10px 0 0;
}
#content .post-area .wrap-img A{
	display: inline-block;
	vertical-align: top;
}
#content .post-area .wrap-img A:hover{
	text-decoration: none;
}
#content .post-area IMG {
	max-width: 100%;
}
#content .post-area .wrap-img IMG{
	max-width: 45px;
	max-height: 45px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid #edf2f6;
}
#content .post-area .name-row {
	display: table-cell;
	vertical-align: top;
	padding: 10px 0 0;
}
#content .post-area .name-row H3{
	font: bold 14px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #f96e57;
}
#content .post-area .name-row H3 A{
	color: #f96e57;
}
#content .post-area .name-row P{
	font: 10px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #8391a4;
	padding: 0;
	margin: 0;
}
#content .post-area .name-row H5{
	font: 10px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #bfcbda;
}
#content .post-area P {
	font: 300 12px/140% 'Roboto', Arial, Helvetica, san-serif;
	color: #2b2b2b;
	padding: 0 20px 0 22px;
	margin: 0 0 15px;
}
#content .post-area P A{
	font: 400 12px/140% 'Roboto', Arial, Helvetica, san-serif;
	color: #f96e57;
}
#content .post-area .links-group {
	text-align: right;
	padding: 17px 20px 17px 22px;
}
#content .post-area .links-group A{
	display: inline-block;
	vertical-align: top;
	font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #f96e57;
	margin: 0 0 0 14px;
}
#content .post-area .tags-row {
	padding: 0 20px 17px 22px;
	font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #8391a4;
}
#content .post-area .tags-row A{
	font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #8391a4;
}

#content .filter-nav {
	background: #dfe4e8;
	padding: 0 20px 0 42px;
}
#content .filter-nav LI{
	display: inline-block;
	vertical-align: top;
	font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #8391a4;
	margin: 0 15px 0 0;
}
#content .filter-nav A{
	display: inline-block;
	vertical-align: top;
	font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #8391a4;
	padding: 8px 0;
}
#content .filter-nav .active A,
#content .filter-nav A:hover{
	color: #f96e57;
	text-decoration: none;
}

#content .filter-content {
	padding: 0 20px 0 22px;
}
#content .filter-content LI{
	padding: 20px 0 0;
	display: table;
	width: 100%;
	table-layout: fixed;
}
#content .filter-content .wrap-img {
	display: table-cell;
	vertical-align: top;
	width: 54px;
	padding: 0 10px 0 0;
}
#content .filter-content .wrap-img A {
	display: inline-block;
	vertical-align: top;
}
#content .filter-content .wrap-img A:hover {
	text-decoration: none;
}
#content .filter-content .wrap-img IMG{
	max-width: 45px;
	max-height: 45px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid #edf2f6;
}
#content .filter-content .text-box {
	display: table-cell;
	vertical-align: top;
}
#content .filter-content .text-box H3{
	font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #f96e57;
	margin: 0 0 5px;
}
#content .filter-content .text-box A{
	color: #f96e57;
}
#content .filter-content .text-box SPAN{
	color: #bfcbda;
}
#content .filter-content .text-box P{
	font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #333;
	margin: 0 0 5px;
}
#content .filter-content .reply-btn {
	display: inline-block;
	vertical-align: top;
	font: 10px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #f96e57;
}




#content .comment-form {
	position: relative;
	margin: 10px 20px 0 22px;
	text-align: right;
}


#content .comment-form INPUT{
	display: block;
	width: 100%;
	height: 30px;
	margin: 0 0 10px;
	border: none;
	border-radius: 4px;
	background: #edf2f6;
	padding: 0 36px 0 20px;
	font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #bfcbda;
}
#content .comment-form INPUT:-moz-placeholder {
	font: 12px/30px 'Roboto', Arial, Helvetica, san-serif;
	color: #bfcbda;
	opacity: 1;
}
#content .comment-form INPUT::-moz-placeholder {
	font: 12px/30px 'Roboto', Arial, Helvetica, san-serif;
	color: #bfcbda;
	opacity: 1;
}
#content .comment-form INPUT:-ms-input-placeholder {
	font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #bfcbda;
	opacity: 1;
}
#content .comment-form INPUT::-webkit-input-placeholder {
	font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #bfcbda;
	opacity: 1;
}


#content .comment-form .add-photo {
	position: absolute;
	right: 8px;
	top: 6px;
	z-index: 20;
	width: 20px;
	height: 16px;
	background: url("../images/icons/add-photo.png") no-repeat;
}
#content .comment-form .add-photo:hover {
	text-decoration: none;
	opacity: 0.8;
}
#content .comment-form BUTTON{
	border: none;
	display: inline-block;
	vertical-align: top;
	background: #f96e57;
	border: none;
	border-radius: 4px;
	text-align: center;
	padding: 9px 5px;
	font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #fff;
	max-width: 80px;
	width: 100%;
}
#content .comment-form BUTTON:hover{
	opacity: 0.8;
}

/* right-sidebar */
#content  .right-sidebar {
	float: left;
	width: 28.6%;
}

#content .title-right-sidebar {
	position: relative;
	padding: 19px 65px 19px 39px;
	font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #fff;
	background: #5b6074;
}
#content .title-right-sidebar A{
	color: #fff;
}
#content .title-right-sidebar.travel:before {
	content: "";
	position: absolute;
	left: 13px;
	top: 14px;
	width: 15px;
	height: 20px;
	z-index: 10;
	background: url("../images/icons/icon-5.png") no-repeat;
}
#content .title-right-sidebar.media:before {
	content: "";
	position: absolute;
	left: 13px;
	top: 18px;
	width: 15px;
	height: 15px;
	z-index: 10;
	background: url("../images/icons/icon-6.png") no-repeat;
}
#content .title-right-sidebar.lifetime:before {
	content: "";
	position: absolute;
	left: 13px;
	top: 18px;
	width: 18px;
	height: 16px;
	z-index: 10;
	background: url("../images/icons/icon-7.png") no-repeat;
}
#content .title-right-sidebar .add {
	position: absolute;
	right: 25px;
	top: 11px;
	z-index: 10;
    background: url("../images/icons/add.png") no-repeat;
    height: 33px;
    width: 32px;
}
#content .title-right-sidebar .add:hover {
	text-decoration: none;
}



#content .map-area {
	border-left: 1px solid #cccfcd;
}


/* scroll-bar */
#content .scroll-bar LI{
	border-bottom: 1px solid #cccfcd;
	border-left: 1px solid #cccfcd;
	display: table;
	width: 100%;
	table-layout: fixed;
}
#content .scroll-bar UL>:last-child{
	border-bottom: none;
}
#content .scroll-bar .wrap-img{
	display: table-cell;
	vertical-align: middle;
	width: 51%;
	position: relative;

}
#content .scroll-bar .wrap-img:before{
	content: "";
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZjJmNiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGYyZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(237,242,246,0) 0%, rgba(237,242,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(237,242,246,0)), color-stop(100%,rgba(237,242,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(237,242,246,0) 0%,rgba(237,242,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(237,242,246,0) 0%,rgba(237,242,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(237,242,246,0) 0%,rgba(237,242,246,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(237,242,246,0) 0%,rgba(237,242,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00edf2f6', endColorstr='#edf2f6',GradientType=1 ); /* IE6-8 */
}
#content .scroll-bar .wrap-img strong {
	display: block;
	height: 70px;
	overflow: hidden;
}
#content .scroll-bar.lifetime-box .wrap-img strong {
	height: 100px;
}
#content .scroll-bar .wrap-img IMG{
	max-width: 100%;
}
#content .scroll-bar .title-name{
	display: table-cell;
	vertical-align: middle;
	font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #333;
	text-align: right;
	width: 28%;
	padding: 5px 0;
}
#content .scroll-bar .wrap-user {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0 10px 0 0;
}
#content .scroll-bar .wrap-user A{
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}
#content .scroll-bar .wrap-user IMG{
	width: 26px;
	height: 26px;
	border-radius: 50%;
}












/* lifetime-feed */
.wrap-column-group-area.lifetime-mobile {
	display: none;
}
.wrap-column-group-area.posts-mobile {
	display: none;
}
.add-post-btn-bt {
	display: none;
}
.wrap-column-group-area {
	overflow: hidden;
	margin: 17px 0 0;
	padding: 0 10px;
}
.add-post-btn-bt {
	position: fixed;
	bottom: 40px;
	z-index: 100;
	width: 148px;
	left: 50%;
	margin: 0 0 0 -74px;
	font: bold 12px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #fff;
	background: rgb(224,83,60); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwNTMzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNTQ5MzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(224,83,60,1) 0%, rgba(197,73,53,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,83,60,1)), color-stop(100%,rgba(197,73,53,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(224,83,60,1) 0%,rgba(197,73,53,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(224,83,60,1) 0%,rgba(197,73,53,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(224,83,60,1) 0%,rgba(197,73,53,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(224,83,60,1) 0%,rgba(197,73,53,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0533c', endColorstr='#c54935',GradientType=0 ); /* IE6-8 */
	border-radius: 15px;
	border: 1px solid #9a1c1c;
	text-align: center;
	overflow: hidden;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 2px 3px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 2px 3px 0px rgba(0, 0, 0, 1);
}
.add-post-btn-bt:hover {
	text-decoration: none;
	background: rgb(197,73,53); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1NDkzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMDUzM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(197,73,53,1) 0%, rgba(224,83,60,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(197,73,53,1)), color-stop(100%,rgba(224,83,60,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(197,73,53,1) 0%,rgba(224,83,60,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(197,73,53,1) 0%,rgba(224,83,60,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(197,73,53,1) 0%,rgba(224,83,60,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(197,73,53,1) 0%,rgba(224,83,60,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c54935', endColorstr='#e0533c',GradientType=0 ); /* IE6-8 */
}
.add-post-btn-bt SPAN {
	display: block;
	padding: 9px 4px;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 160, 160, 1);
	-moz-box-shadow:    inset 0px 1px 0px 0px rgba(255, 160, 160, 1);
	box-shadow:         inset 0px 1px 0px 0px rgba(255, 160, 160, 1);
}
.column-group-area {
	margin: 0 -20px 0 0;
	font-size: 0;
	text-align: center;
}
.column-group-area LI{
	display: inline-block;
	vertical-align: top;
	max-width: 203px;
	width: 100%;
	margin: 0 20px 0 0;
	text-align: left;
}
.column-group-section{
	position: relative;
	margin: 0 0 20px;
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
	display: table;
	width: 100%;
	table-layout: fixed;
	padding: 22px 10px;
}
.column-group-section IMG{
	max-width: 100%;
}
.column-group-section .photo-box{
	display: table-cell;
	vertical-align: middle;
	width: 54px;
	font: 14px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #333;
}
.column-group-section .photo-box A{
	display: inline-block;
	vertical-align: top;
	font: 14px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #333;
}
.column-group-section .image-box{
	display: table-cell;
	vertical-align: middle;
}
.column-group-section .image-box SPAN{
	font: 18px/110% "Roboto",Arial,Helvetica,san-serif;
	color: #333;
}


.column-group-section.big {
	display: block;
	padding: 0;
}
.column-group-section .image-box {
	display: block;
	border-radius: 4px;
	overflow: hidden;
	font: 14px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #333;
}
.column-group-section.gr-box .image-box:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	overflow: hidden;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(60%,rgba(255,255,255,0)), color-stop(96%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 96%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 96%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 96%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 96%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
.column-group-section.big .image-box SPAN{
	position: absolute;
	z-index: 40;
	padding: 0 20px;
	left: 0;
	bottom: 20px;
	width: 100%;
	font: 14px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #333;
}
.column-group-section .image-box STRONG{
	font-weight: bold;
}
.column-group-section.big .photo-box {
	position: absolute;
	top: 10px;
	z-index: 10;
	left: 10px;
}
.column-group-section.big .photo-box A{
	margin: 0 0 8px;
}
.column-group-section .photo-box A:hover{
	text-decoration: none;
}
.column-group-section .photo-box  IMG {
    border: 3px solid #edf2f6;
    border-radius: 50%;
    height: 100%;
    max-height: 36px;
    max-width: 36px;
    overflow: hidden;
    width: 100%;
}




/* map-page */
.map-img {
	width: 100%;
}
/* tabs-mobile */
.tabs-area .tabs.mobile{
	display: none;
}
.tabs-area .slick-prev,
.tabs-area .slick-next{
	display: block;
	position: absolute;
	width: 17px;
	height: 28px;
	top: 0;
	border: none;
	text-indent: -999em;
}	
.tabs-area .slick-prev:hover,
.tabs-area .slick-next:hover{
	text-decoration: none;
	opacity: 0.8;
}	
.tabs-area .slick-prev{
	left: 0;
	background: url("../images/icons/prev-next-tab.png") no-repeat;
}	
.tabs-area .slick-next{
	right: 0;
	background: url("../images/icons/prev-next-tab.png") 0 -28px no-repeat;
}






/* events-page */
.add-new-event-btn.mobile {
	display: none;
}
.tab-panel {
	position: relative;
}
.events-section {
	padding: 15px 0 0;
}
.search-event-area {
	padding: 0 25px 20px;
	-webkit-box-shadow: 0px 7px 7px -7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 7px 7px -7px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 7px 7px -7px rgba(0, 0, 0, 0.75);
}
.search-event-area .search-form {
    max-width: 250px;
	margin: 0 auto 25px;
}
.add-event-btn {
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
	font: 12px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #fff;
}
.add-event-btn A{
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
	font: 12px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #fff;
}


/* events-list-area */
.events-list-area >LI{
	padding: 15px 25px;
	border-bottom: 1px solid #5b6074;
}
.events-list-area> LI:hover{
	background: #5b6074;
}
.events-list-area .events-list-row{
	display: table;
	width: 100%;
	table-layout: fixed;
}
.events-list-area .date-cell{
	display: table-cell;
	vertical-align: middle;
	width: 20%;
	padding: 0 10px 0 0;
}
.events-list-area .event-cell {
	display: table-cell;
	vertical-align: middle;
	width: 60%;
	padding: 0 10px 0 0;
}
.events-list-area .subject-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	width: 20%;
}
.events-list-area .date-cell SPAN{
	display: inline-block;
	vertical-align: top;
	width: 41px;
	height: 41px;
	border-radius: 5px;	
	border: 2px solid #edf2f6;	
	border-top: 10px solid #edf2f6;	
	font: bold 8px/120% "Roboto",Arial,Helvetica,san-serif;
	color: #edf2f6;
	padding: 5px 0 0;
}
.events-list-area .date-cell B{
	display: block;
	text-align: center;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
	font-size: 12px;
	margin: 0 0 2px;
}
.events-list-area .date-cell I{
	display: block;
	text-align: center;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
	text-transform: uppercase;
}

.events-list-area .event-cell H3{
	font: bold 14px/130% "Roboto",Arial,Helvetica,san-serif;
	color: #f65b42;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
}
.events-list-area .event-cell H3 A{
	color: #f65b42;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
}
.events-list-area .event-cell P{
	font: 10px/130% "Roboto",Arial,Helvetica,san-serif;
	color: #edf2f6;
}
.events-list-area .event-cell P SPAN{
	color: #f65b42;
}
.events-list-area .subject-cell A.mobile{
	display: none;
}
.events-list-area .subject-cell A{
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 25px;
	position: relative;
	cursor: pointer;
	font: bold 14px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #5b6074;
}
.events-list-area> LI:hover .subject-cell A{
	color: #363946;
}
.events-list-area .subject-cell A:hover{
	text-decoration: none;
}
.events-list-area .subject-cell A:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 15px;
	background: url("../images/icons/icon-8.png") no-repeat;
}
.events-list-area >LI:hover .subject-cell A:before{
	background-position: 0 -15px;
}
.events-list-group-btn {
	padding: 10px 0 0;
	text-align: center;
}
.events-list-group-btn>:first-child{
	float: left;
}
.events-list-group-btn>:nth-child(3){
	float: right;
}
.events-list-group-btn A{
	display: inline-block;
	vertical-align: top;
	background: #f65b42;
	text-align: center;
	font: bold 12px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #fff;
	border-radius: 5px;
	padding: 9px 11px;
}


/* event-discussion-area */
.event-discussion-area {
	position: absolute;
	right: -100%;
	max-width: 345px;
	z-index: 200;
	width: 100%;
	top: 0;
	background: #dfe4e8;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(73, 81, 88, 0.75);
	-moz-box-shadow:    1px 1px 3px 0px rgba(73, 81, 88, 0.75);
	box-shadow:         1px 1px 3px 0px rgba(73, 81, 88, 0.75);
}
.event-discussion-area .discussion-title {
	position: relative;
	font: 14px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #4d5163;
	padding: 18px 54px 18px 20px;
	border-bottom: 1px solid #b1b9bf;
}
.event-discussion-area .hide-discussion-btn.mobile {
	display: none;
}
.event-discussion-area .hide-discussion-btn {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 14px;
	height: 10px;
	z-index: 10;
	background: url("../images/icons/icon-9.png") no-repeat;
}
.event-discussion-area .hide-discussion-btn:hover {
	text-decoration: none;
}
.discussion-list {
	background: #fcfcfc;
	padding: 10px 20px;
}
.discussion-list LI{
	position: relative;
	padding: 0 0 0 40px;
}
.discussion-list .wrap-img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 30px;
	height: 30px;
}
.discussion-list .wrap-img A {
	display: inline-block;
	vertical-align: top;
}
.discussion-list .wrap-img A:hover {
	text-decoration: none;
}
.discussion-list .wrap-img IMG {
	width: 30px;
	height: 30px;
	overflow: hidden;
	border-radius: 50%;
}
.discussion-list H3{
	font: bold 12px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #f65b42;
}
.discussion-list H3 A{
	font: bold 12px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #f65b42;
}
.discussion-list P{
	font: 300 12px/120% "Roboto",Arial,Helvetica,san-serif;
	color: #333;
	margin: 0 0 15px;
}

/* message-form */
.message-form {
	padding: 0 0 48px;
	border-top: 1px solid #b1b9bf;
}
.message-form INPUT {
	width: 100%;
	display: block;
	background: #fff;
	height: 40px;
	font: 12px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #8391a4;
	padding: 0 20px;
	border: none;
	border-radius: 0;
	margin: 0 0 10px;
}
.message-form INPUT:-moz-placeholder {
	font: 12px/40px "Roboto",Arial,Helvetica,san-serif;
	color: #8391a4;
	opacity: 1;
}
.message-form INPUT::-moz-placeholder {
	font: 12px/40px "Roboto",Arial,Helvetica,san-serif;
	color: #8391a4;
	opacity: 1;
}
.message-form INPUT:-ms-input-placeholder {
	font: 12px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #8391a4;
	opacity: 1;
}
.message-form INPUT::-webkit-input-placeholder {
	font: 12px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #8391a4;
	opacity: 1;
}
.message-form .message-btn {
	float: left;
	margin: 7px 0 0 20px;
}
.message-form .message-btn A{
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 16px;
	margin: 0 7px 0 0;
}
.message-form .message-btn A:hover{
	text-decoration: none;
}
.message-form A.message-btn1{
	background: url("../images/icons/add-photo.png") no-repeat;
}
.message-form A.message-btn2{
	background: url("../images/icons/icon-10.png") no-repeat;
	height: 15px;
	margin-top: 2px;
}
.message-form BUTTON{
	background: #f65b42;
	border: none;
	border-radius: 5px;
	float: right;
	margin: 0 20px 0 0;
	font: bold 12px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #fff;
	text-align: center;
	padding: 9px 20px;
}




/* events-detail */

.events-detail-area .back-to-events-row {
	border-bottom: 1px solid #5b6074;
	padding: 0 25px 15px;
	display: table;
	width: 100%;
	table-layout: fixed;
}
.events-detail-area .back-to-events-row .cell{
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}
.events-detail-area .back-to-events-row>:last-child{
	text-align: right;
}
.events-detail-area .back-to-events-btn {
	display: inline-block;
	vertical-align: middle;
	font: bold 14px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #5b6074;
}
.events-detail-area .message-counter {
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 27px;
	position: relative;
}
.events-detail-area .message-counter:hover {
	text-decoration: none;
}
.events-detail-area .message-counter:before {
	content: "";
	position: absolute;
	left: 0;
	top: 6px;
	width: 20px;
	height: 20px;
	background: url("../images/icons/icon-15.png") no-repeat;
}
.events-detail-area .message-counter SPAN{
	display: inline-block;
	vertical-align: top;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #fff;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
	font: bold 12px/24px "Roboto",Arial,Helvetica,san-serif;
	color: #363946;	
	text-align: center;
}

.events-detail-title {
	display: table;
	width: 100%;
	table-layout: fixed;
	padding: 15px 25px;
}
.events-detail-title .date-cell {
	display: table-cell;
	vertical-align: middle;
	width: 20%;
	padding: 0 10px 0 0;
}
.events-detail-title .event-cell {
	display: table-cell;
	vertical-align: middle;
	width: 80%;
}


.events-detail-title  .date-cell SPAN {
	border: 2px solid #edf2f6;
	border-top: 10px solid #edf2f6;
    color: #edf2f6;
    display: inline-block;
    font: bold 8px/120% "Roboto",Arial,Helvetica,san-serif;
    height: 41px;
    padding: 5px 0 0;
    vertical-align: top;
    width: 41px;
	border-radius: 5px;
}
.events-detail-title  .date-cell B {
    display: block;
    font-size: 12px;
    margin: 0 0 2px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.events-detail-title  .date-cell I {
    display: block;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}

.events-detail-title .event-cell H3{
    font: bold 18px/100% "Roboto",Arial,Helvetica,san-serif;
    color: #edf2f6;
}
.events-detail-area .invite-friends-btn {
	padding: 0 25px;
}
.invite-friends-btn.mobile {
	display: none;
}
.events-detail-area .invite-friends-btn A {
	display: inline-block;
	vertical-align: top;
	font: 12px/100% "Roboto",Arial,Helvetica,san-serif;
    color: #f65b42;
	margin: 0 0 20px;
}

.events-detail-area .events-list-group-btn {
    padding: 0 25px 15px;
}
.info-table {
	display: table;
	width: 100%;
	table-layout: fixed;
	padding: 0 25px;
}
.info-table .row{
	display: table-row;
}
.info-table .cell{
	display: table-cell;
	vertical-align: top;
	padding: 0 0 15px;
}
.info-table .row>:first-child{
	font: 12px/110% "Roboto",Arial,Helvetica,san-serif;
    color: #5b6074;
	width: 30%;
}
.info-table .row>:last-child{
	font: 12px/110% "Roboto",Arial,Helvetica,san-serif;
    color: #edf2f6;
	width: 70%;
}
.info-table .row SPAN{
    color: #f65b42;
}

/* info-title-area */
.info-title-area {
	background: #5b6074;
	padding: 9px 25px;
	font: 12px/100% "Roboto",Arial,Helvetica,san-serif;
    color: #363946;
	margin: 0 0 1px;
	cursor: pointer;
}
.info-title-area SPAN{
	padding: 0 16px 0 0;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.info-title-area SPAN:after{
	content: "";
	position: absolute;
	right: 0;
	top: 3px;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 6px solid #363946;
}
.info-title-area.active1 SPAN:after,
.info-title-area.active2 SPAN:after,
.info-title-area.active3 SPAN:after{
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 6px solid #363946;
	border-top: none;
}
.info-content-area {
	padding: 20px 25px;
	overflow: hidden;
}
.info-content-area.info-man-box {
	padding-bottom: 4px; 
}
.info-content-area P{
	font: 300 12px/120% "Roboto",Arial,Helvetica,san-serif;
    color: #edf2f6;
}
.info-man {
	margin: 0 -12px 0 0;
	font-size: 0;
}
.info-man LI{
	display: inline-block;
	vertical-align: top;
	width: 41px;
	height: 41px;
	margin: 0 12px 21px 0;
}
.info-man A{
	display: inline-block;
	vertical-align: top;
}
.info-man A:hover{
	text-decoration: none;
}
.info-man IMG{
	width: 41px;
	height: 41px;
	border-radius: 50%;
	overflow: hidden;
}



/* popup */
/* Add Members Pop-up */
.main-wrapper .add-members-pop-up.pop-up-area{
	display: none;
}
.pop-up-area {
	background: #dfe4e8;
	max-width: 340px;
	margin: 0 auto;
	width: 100%;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
	border-radius: 5px;
	overflow: hidden;
}
.pop-up-area .title-pop-up{
	background: #f65b42;
	text-align: center;
	font: 18px/100% "Roboto",Arial,Helvetica,san-serif;
    color: #fff;
	padding: 22px 5px;
}
.add-members-form .row-group {
	padding: 16px 40px;
	text-align: center;
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.add-members-form .row-group .checkboxPopup{
	display: inline-block;
	vertical-align: top;
	margin: 0 27px 0 0;
}
.add-members-form .row-group>:last-child{
	margin-right: 0;
}
.add-members-form .row-group .checkboxPopup {
	-webkit-user-select: none;
	-moz-user-select: none;
}
.add-members-form .row-group .checkboxPopup  input[type="checkbox"] {
    display:none;
}
.add-members-form .row-group .checkboxPopup  span {
    display:inline-block;
	vertical-align: top;
	font: bold 14px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #bababa;
	position: relative;
	padding: 0 25px 0 0;
}
.add-members-form .row-group .checkboxPopup  span:before {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 15px;
	height: 15px;
	background: url("../images/icons/icon-17.png") no-repeat;
}
.add-members-form .row-group .checkboxPopup  input[type="checkbox"]:checked + span:before {
	background-position: 0 -15px;
}
.add-members-form .row-group .checkboxPopup  input[type="checkbox"]:checked + span {
	color: #f65b42;
}


.pop-up-area .accordion-title {
	border-bottom: 1px solid #464a5b;
	position: relative;
	padding: 13px 60px 13px 40px;
}
.pop-up-area .active .accordion-title {
	-webkit-box-shadow: 0px 5px 5px -5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 5px 5px -5px rgba(0,0,0,1);
	box-shadow: 0px 5px 5px -5px rgba(0,0,0,1);
}
.pop-up-area .active.bg-1 .accordion-title {
	border-bottom: 3px solid #5a2017;
}
.pop-up-area .active.bg-2 .accordion-title {
	border-bottom: 3px solid #2e4733;
}
.pop-up-area .active.bg-3 .accordion-title {
	border-bottom: 3px solid #1a3e56;
}
.pop-up-area .active.bg-4 .accordion-title {
	border-bottom: 3px solid #3d4a50;
}
.pop-up-area .active.bg-5 .accordion-title {
	border-bottom: 3px solid #553b2c;
}


.pop-up-area .accordion-btn{
	font: bold 14px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #6daa7a;
	position: relative;
	padding: 0 16px 0 0;
	cursor: pointer;
}
.pop-up-area .bg-1 .accordion-btn{
	color: #f65b42;
}
.pop-up-area .bg-2 .accordion-btn{
	color: #6daa7a;
}
.pop-up-area .bg-3 .accordion-btn{
	color: #3f99d7;
}
.pop-up-area .bg-4 .accordion-btn{
	color: #87a3b0;
}
.pop-up-area .bg-5 .accordion-btn{
	color: #a57253;
}
.pop-up-area .accordion-btn:after{
	content: "";
	position: absolute;
	right: 0;
	top: 7px;
	width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid #8391a4;
}
.pop-up-area .active .accordion-btn:after{
    border-bottom: 6px solid #8391a4;
	border-top: none;
}

.pop-up-area .accordion-title .checkboxPopup {
	-webkit-user-select: none;
	-moz-user-select: none;
	position: absolute;
	right: 42px;
	top: 11px;
	width: 15px;
	height: 15px
}
.pop-up-area .accordion-title .checkboxPopup  input[type="checkbox"] {
    display:none;
}
.pop-up-area .accordion-title .checkboxPopup  span {
    display:inline-block;
	vertical-align: top;
	width: 15px;
	height: 15px;
	background: url("../images/icons/icon-17.png") no-repeat;
}
.pop-up-area .accordion-title .checkboxPopup  input[type="checkbox"]:checked + span {
	background-position: 0 -15px;
}


.pop-up-area .accordion-area .scroll-area {
	height: 259px; 
}

.pop-up-area .accordion-content {
	background: #363946;
}
.pop-up-area .accordion-content .small-row {
	border-bottom: 1px solid #2c2e39;
	border-top: 1px solid #464a5b;
	padding: 0 60px 0 0;
	position: relative;
}
.pop-up-area .accordion-content .mCSB_container>:first-child{
	border-top: none;
}
.pop-up-area .accordion-content .mCSB_container>:last-child{
	border-bottom: none;
}
.pop-up-area .accordion-content A{
	display: block;
	padding: 5px 0 5px 40px;
	font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #f65b42;
}
.pop-up-area .accordion-content A IMG{
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 10px 0 0;
}
.pop-up-area .accordion-content A SPAN{
	display: inline-block;
	vertical-align: middle;
}


.pop-up-area .accordion-content .checkboxPopup {
	-webkit-user-select: none;
	-moz-user-select: none;
	position: absolute;
	right: 42px;
	top: 11px;
	width: 15px;
	height: 15px
}
.pop-up-area .accordion-content .checkboxPopup  input[type="checkbox"] {
    display:none;
}
.pop-up-area .accordion-content .checkboxPopup  span {
    display:inline-block;
	vertical-align: top;
	width: 15px;
	height: 15px;
	background: url("../images/icons/icon-17.png") no-repeat;
}
.pop-up-area .accordion-content .checkboxPopup  input[type="checkbox"]:checked + span {
	background-position: 0 -15px;
}



.pop-up-area .btn-group {
	padding: 20px 40px;
	text-align: right;
}
.pop-up-area .btn-group P{
	float: left;
	font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #f65b42;
	width: 105px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
	margin: 10px 0 0;
}
.pop-up-area .btn-group BUTTON{
	float:right;
	font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #fff;
	text-align: center;
	border: none;
	background: #f65b42;
	border-radius: 5px;
	padding: 9px 5px;
	min-width: 84px;
	margin: 0 17px 0 0;
}

.pop-up-area .btn-group .cancel-btn {
	float: right;
	font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #f65b42;
	cursor: pointer;
    height: auto;
    opacity: 1;
    padding: 0;
    position: static;
    text-align: left;
    width: auto;
	margin: 10px 0 0;
}
.pop-up-area .btn-group .cancel-btn.mobile {
	display: none;
}

/* choose-place-pop-up */
.choose-place-form INPUT{
	display: block;
	width: 100%;
	font: 14px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #8391a4;
	height: 100%;
	background: #fff;
	height: 40px;
	padding: 0 30px;
	border: none;
}
.choose-place-form INPUT:-moz-placeholder {
	font: 14px/40px 'Roboto', Arial, Helvetica, san-serif;
	color: #8391a4;
	opacity: 1;
}
.choose-place-form INPUT::-moz-placeholder {
	font: 14px/40px 'Roboto', Arial, Helvetica, san-serif;
	color: #8391a4;
	opacity: 1;
}
.choose-place-form INPUT:-ms-input-placeholder {
	font: 14px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #8391a4;
	opacity: 1;
}
.choose-place-form INPUT::-webkit-input-placeholder {
	font: 14px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #8391a4;
	opacity: 1;
}
.choose-map {
	margin: 10px 10px 0;
	border: 1px solid #fff;
	overflow: hidden;
	max-height: 268px;
	height: 100%;
}
.choose-map IFRAME{
	display: block;
	width: 100%;
	min-height: 268px;
	height: 100%; 
}





/* Mobile */
@media (min-width: 970px) {
	NAV {
		display: none;
	}

}
@media (max-width: 969px) {
	/* scrollbar */
	.acc-section .scroll-area {  
		height: auto;
	}
	.scroll-area.events-scroll {
		height: auto;
	}
	.scroll-area.discussion-scroll {
		height: auto;
	}
	.media-box.scroll-area  {
		height: auto;
	}
	.lifetime-box.scroll-area  {
		height: auto;
	}
	.events-detail-area .scroll-area {
		height: auto;
	}






	#content .accordion-content .left-cell{
		width: 9%;
	}
	#content .accordion-content .text-box{
		width: 71%;
	}
	#content .accordion-content .right-cell{
		width: 20%;
	}

	#content  {
		padding: 0;
	}
	
	#content .accordion-content .notifications.active {
		background: url("../images/icons/notifications-mobile.png") no-repeat;
		height: 14px;
		width: 15px;
	}
	#content .accordion-content .notifications {
		background: url("../images/icons/notifications-mobile.png") 0 -14px no-repeat;
		height: 13px;
		width: 14px;
	}
	
	
	
	.tabs-area .tabs.desktop{
		display: none;
	}
	.tabs-area .tabs.mobile{
		display: block;
	}
	
	.home-page .left-sidebar,
	.home-page .right-sidebar {
		display: none;
	}
	.home-page #content .main-content {
		float: none;
		margin: 17px 0 0;
		padding: 0 10px;
		width: 100%;
	}
	.home-page #content .main-content .newsfeed-box{
		width: 100%;
		max-width: 650px;
		margin: auto;
		display: block !important;
	}
	.home-page #content .post-area IMG {
		width: 100%;
	}
	
	
	.container > .search-form{
		display: none;
	}  
	.btn-menu {
		display: block;
	}
	.profile-btn SPAN{
		display: none;
	}
	
	.main-wrapper .logo {
		margin: -13px 0 0 -58px;
		width: 116px;
	}
	
	.add-friends-btn {
		margin-right: 15px;
	}
	
	.add-friends-btn SPAN{
		max-width: 35px;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;  
	}
	
	
	.search-form INPUT {
		height: 40px;
		border-radius: 20px;
		font: 14px/100% 'Roboto', Arial, Helvetica, san-serif;
	}
	.search-form INPUT:-moz-placeholder {
		font: 14px/40px 'Roboto', Arial, Helvetica, san-serif;
	}
	.search-form INPUT::-moz-placeholder {
		font: 14px/40px 'Roboto', Arial, Helvetica, san-serif;
	}
	.search-form INPUT:-ms-input-placeholder {
		font: 14px/100% 'Roboto', Arial, Helvetica, san-serif;
	}
	.search-form INPUT::-webkit-input-placeholder {
		font: 14px/130% 'Roboto', Arial, Helvetica, san-serif;
	}
		
	.search-form BUTTON {
		top: 12px;
		left: 12px;
	}
	
	
	
	
	.tab-bar {
		text-align: center;
	}
	.add-btn {
		float: left;
		margin: 0 20px 0 0;
	}
	.tabs-area {
		max-width: 392px;
		width: 100%;
		padding: 0 25px;
		position: relative;
	}
	.tabs A{
		font-size: 18px;
	}
	
	.tabs.mobile .friends A{
		color: #f96e57;
	}
	.tabs.mobile .family A{
		color: #72d668;
	}
	.tabs.mobile .work A{
		color: #4182b6;
	}
	.tabs.mobile .public-groups A{
		color: #d1ab4a;
	}
	.tabs.mobile   .discussions A{
		color: #b741a7;
	}	
	.edit-btn {
		float: right;
		margin: 7px 0 0;
		font-size: 18px;
	}
	
	.next-bar {
		display: none;
	}
	
	
	
	/* events-page */
	.events-desktop {
		display: none;
	}	
	.events-page .events-mobile {
		display: block;
	}
	.events-page .add-new-event-btn.mobile {
		display: block;
		background: #363946;
		text-align: center;
		font: bold 18px/100% 'Roboto', Arial, Helvetica, san-serif;
		color: #fff;
		padding: 26px 5px;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	}
	.events-page #content .main-content {
		display: none;
	}	
	.events-page #content .right-sidebar {
		display: none;
	}	
	.events-page #content .tab-nav {
		display: none;
	}
	.events-page #content .left-sidebar {
		background: #f6f0f0;
		float: none;
		width: 100%;
		display: block;
	}
	.events-page .search-event-area {
		display: none;
	}
	.events-page .tab-bar {
		display: none;
	}
	
	.events-list-area > LI {
		border-bottom: 1px solid #5b6074;
		padding: 15px 25px;
	}	
	.events-list-area > LI:hover {
		background: inherit;
	}	
	
	.events-list-area>:first-child:hover {
		background: #fff;
	}	
	.events-list-area>:first-child {
		padding: 25px 30px;
		background: #fff;
		border: none;
		margin: 20px 30px;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.13);
		-moz-box-shadow:    0px 2px 3px 0px rgba(0, 0, 0, 0.13);
		box-shadow:         0px 2px 3px 0px rgba(0, 0, 0, 0.13);
	}	
	.events-list-area>:nth-child(2) {
		border-top: 1px solid #5b6074;
	}
	.events-list-area>:first-child  .date-cell SPAN {
		border: 3px solid #5b6074;
		border-top: 16px solid #5b6074;
		color: #5b6074;
		font: bold 13px/120% "Roboto",Arial,Helvetica,san-serif;
		height: 67px;
		padding: 5px 0 0;
		width: 67px;
		border-radius: 7px;
	}
	.events-list-area>:first-child  .date-cell {
		display: table-cell;
		padding: 0 30px 0 0;
		vertical-align: middle;
		width: 17%;
	}
	.events-list-area>:first-child .event-cell {
		padding: 0 10px 0 0;
		width: 65%;
	}
	.events-list-area>:first-child .subject-cell {
		width: 18%;
	}
	.events-list-area>:first-child .event-cell H3 {
		font: bold 23px/130% "Roboto",Arial,Helvetica,san-serif;
	}
		
	.events-list-area>:first-child .event-cell P {
		font: 16px/130% "Roboto",Arial,Helvetica,san-serif;
		color: #5b6074;
	}
	.events-list-group-btn A {
		font: bold 18px/100% "Roboto",Arial,Helvetica,san-serif;
		width: 32%;
	}
	.events-list-group-btn {
		padding: 30px 0 0;
	}
	.events-list-area>:first-child .subject-cell A:before {
		background: url("../images/icons/icon-11.png") no-repeat;
		height: 20px;
		width: 22px;
	}
	.events-list-area>:first-child .subject-cell A {
		color: #8391a4;
		font: bold 18px/100% "Roboto",Arial,Helvetica,san-serif;
		padding: 0 0 0 34px;
	}
	.events-list-area>:first-child:hover .subject-cell A:before {
		background-position: 0 0;
	}
	.events-list-area>:first-child:hover .subject-cell A {
		color: #8391a4;
	}	
	
	/*  */
	.events-list-area .date-cell {
		padding: 0 20px 0 0;
		width: 10%;
	}
	.events-list-area .event-cell {
		width: 75%;
	}
	.events-list-area .subject-cell {
		width: 15%;
	}
	
	.events-list-area .subject-cell A.desktop {
		display: none;
	}	
	.events-list-area .subject-cell A.mobile {
		display: inline-block;
	}
	.events-list-area .date-cell SPAN {
		border: 2px solid #5b6074;
		border-top: 10px solid #5b6074;
		color: #5b6074;
		font: bold 8px/120% "Roboto",Arial,Helvetica,san-serif;
		padding: 5px 0 0;
	}
	.events-list-area .date-cell B {
		font-size: 12px;
	}
	.events-list-area .event-cell H3 {
		font: bold 16px/130% "Roboto",Arial,Helvetica,san-serif;
	}
	.events-list-area .event-cell P {
		color: #5b6074;
		font: 12px/130% "Roboto",Arial,Helvetica,san-serif;
	}
	
	
	
	
	/* groups-page */
	.groups-page .tab-bar {
		display: none;
	}
	.groups-page .main-content, .home-page .right-sidebar {
		display: none;
	}	
	.groups-page .left-sidebar {
		display: block;
	}
	.groups-page #content .tab-nav {
		display: none;
	}
	.groups-page #content .left-sidebar {
		background: #fcefef;
		float: none;
		width: 100%;
	}
	.groups-page  #content .accordion-btn {
		font-size: 18px;
		padding: 21px 0 21px 35px;

	}
	.groups-page #content .accordion-title-tow {
		margin: 0;
	}
	
	.groups-page #content .accordion-title-tow.bg-1 {
		background: #f65b42;
	}
	.groups-page #content .accordion-title-tow.bg-2 {
		background: #6daa7a;
	}	
	.groups-page #content .accordion-title-tow.bg-3 {
		background: #3f99d7;
	}	
	.groups-page #content .accordion-title-tow.bg-4 {
		background: #f65b42;
	}	
	.groups-page #content .accordion-title-tow.bg-5 {
		background: #a57253;
	}
	
	.groups-page #content .active .accordion-title-tow {
		border-bottom: none;
	}
	.groups-page #content .active .accordion-title-tow {
		box-shadow: none;
	}
	.groups-page #content .accordion-content .add-people-btn {
		border-bottom: 1px solid #f65b42;
		color: #f65b42;
		display: block;
		font: 500 14px/100% "Roboto",Arial,Helvetica,san-serif;
		padding: 25px 15px;
		text-align: center;
	}
	.groups-page #content .accordion-content .list-items LI {
		padding: 20px 22px 20px 30px;
		border-bottom: 1px solid #eadbdb;
		position: relative;
	}
	.groups-page #content .accordion-content .list-items LI:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 1px;
		background: rgba(255,255,255,0.75);
	}
	.groups-page #content .accordion-content .list-items>:last-child {
		border-bottom: none;
	}
	.groups-page #content .accordion-content .list-items>:last-child:after {
		display: none;
	}
	.groups-page #content .accordion-content .text-box H3 {
		font-size: 18px;
	}

	.groups-page #content .accordion-content .text-box P {
		font-size: 12px;
	}

	.groups-page #content .tab-section .btn-row.mobile {
		padding: 0;
		background: #363946;
		display: table;
		width: 100%;
		table-layout: fixed;
	}	
	.groups-page #content .tab-section .btn-row.desktop {
		display: none;
	}
	.groups-page #content .tab-section .add-new-group-btn {
		display: table-cell;
		vertical-align: middle;
		font-size: 18px;
		margin: 0;
		text-shadow: none;
		text-align: center;
		border-right: 1px solid #1f2028; 
		padding: 30px 0;
		width: 76%;
	}
	.groups-page #content .tab-section .messages-btn {
		display: table-cell;
		vertical-align: middle;
		border-left: 1px solid #4b4f60;
		text-align: center;
	}
	
	
	
	/* newsfeed-page */
	.newsfeed-page .left-sidebar, .newsfeed-page .right-sidebar {
		display: none;
	}
	.main-wrapper.newsfeed-page {
		background: #f6f0f0;
	}	
	.main-wrapper.home-page {
		background: #f6f0f0;
	}
	.newsfeed-page #content .main-content {
		float: none;
		margin: 17px 0 0;
		padding: 0 10px;
		width: 100%;
	}
	.newsfeed-page #content .main-content .newsfeed-box{
		width: 100%;
		max-width: 650px;
		margin: auto;
	}
	.newsfeed-page #content .post-area IMG {
		width: 100%;
	}
	
	/* lifetime-feed */
	.lifetime-feed-page .left-sidebar, 
	.lifetime-feed-page .main-content,
	.lifetime-feed-page  .right-sidebar .desktop,
	.lifetime-feed-page  .tab-bar{
		display: none;
	}	
	.main-wrapper.lifetime-feed-page {
		background: #f6f0f0;
	}
	.lifetime-feed-page .add-post-btn-bt.lifetime {
		display: block;
	}
	.lifetime-feed-page #content .right-sidebar {
		display: block;
		float: none;
		width: 100%;
	}
	.lifetime-feed-page .wrap-column-group-area.lifetime-mobile {
		display: block;
	}	
	
	/* media-posts-page */
	.media-posts-page .left-sidebar, 
	.media-posts-page .main-content,
	.media-posts-page  .right-sidebar .desktop,
	.media-posts-page  .tab-bar{
		display: none;
	}	
	.main-wrapper.media-posts-page {
		background: #f6f0f0;
	}
	.media-posts-page .add-post-btn-bt.posts {
		display: block;
	}
	.media-posts-page #content .right-sidebar {
		display: block;
		float: none;
		width: 100%;
	}
	.media-posts-page .wrap-column-group-area.posts-mobile {
		display: block;
	}
	
	#content .map.full {
		display: none;
	}
	
	/* map-page */
	.map-page .left-sidebar,
	.map-page .tab-bar,
	.map-page .main-content,
	.map-page .right-sidebar .title-right-sidebar,
	.map-page .right-sidebar .scroll-bar{
		display: none;
	}	
	.main-wrapper.map-page {
		background: #f6f0f0;
	}
	.map-page #content .right-sidebar {
		display: block;
		float: none;
		width: 100%;
		overflow: hidden;
	}
	.map-page #map {
		height: 100%;
		min-height: 840px;
		width: 100%;
	}
	.map-page .add-post-btn-bt.map {
		display: block;
	}
	
	/* event-discussion-page */
	.event-discussion-page .main-content,
	.event-discussion-page .tab-bar,
	.event-discussion-page .search-event-area,
	.event-discussion-page #content .tab-nav {
		display: none;
	}	
	.main-wrapper.event-discussion-page {
		background: #f6f0f0;
	}
	.event-discussion-page .scroll-area.events-scroll {
		display: none;
	}
	.event-discussion-page .event-discussion-area.active-discussion{
		display: block !important;
	}
	.event-discussion-page .left-sidebar {
		display: block;
	}
	.event-discussion-page .events-mobile {
		display: block;
	}
	.event-discussion-page #content .left-sidebar {
		background: #f6f0f0;
		float: none;
		width: 100%;
	}
	.event-discussion-page .events-section {
		padding: 0;
	}
	.event-discussion-page .event-discussion-area {
		background: none;
		box-shadow: none;
		max-width: none;
		position: static;
		right: 0;
		top: 0;
		width: auto;
		z-index: 200;
	}
	
	.event-discussion-page .event-discussion-area .discussion-title {
		font: bold 24px/100% "Roboto",Arial,Helvetica,san-serif;
		padding: 28px 45px 28px 45px;
		position: relative;
		text-align: center;
		background: #f6f0f0;
	}
	.event-discussion-page .event-discussion-area .hide-discussion-btn.desktop {
		display: none;
	}	
	.event-discussion-page .event-discussion-area .hide-discussion-btn.mobile {
		display: block;
	}
	.event-discussion-page .event-discussion-area .hide-discussion-btn {
		background: url("../images/icons/icon-12.png") no-repeat;
		height: 23px;
		right: auto;
		left: 30px;
		top: 30px;
		width: 12px;
	}
	.event-discussion-page .discussion-list {
		padding: 20px 57px;
		background: #fff;
	}
	
	.event-discussion-page .discussion-list .wrap-img IMG {
		border-radius: 50%;
		height: 50px;
		overflow: hidden;
		width: 50px;
	}
	.event-discussion-page .discussion-list .wrap-img {
		height: 50px;
		width: 50px;
	}
	.event-discussion-page .discussion-list LI {
		padding: 0 0 15px 60px;
	}
	.event-discussion-page .discussion-list H3 {
		font: bold 18px/100% "Roboto",Arial,Helvetica,san-serif;
	}
	.event-discussion-page .discussion-list P {
		font: 300 14px/120% "Roboto",Arial,Helvetica,san-serif;
		margin: 0 0 25px;
	}
	
	.event-discussion-page .message-form INPUT {
		font-size: 18px;
		height: 70px;
		margin: 0 0 25px;
		padding: 0 30px;
	}
	.event-discussion-page .message-form INPUT:-moz-placeholder {
		font: 18px/70px "Roboto",Arial,Helvetica,san-serif;
	}
	.event-discussion-page .message-form INPUT::-moz-placeholder {
		font: 18px/70px "Roboto",Arial,Helvetica,san-serif;
	}
	.event-discussion-page .message-form INPUT:-ms-input-placeholder {
		font: 18px/100% "Roboto",Arial,Helvetica,san-serif;
	}
	.event-discussion-page .message-form INPUT::-webkit-input-placeholder {
		font: 18px/100% "Roboto",Arial,Helvetica,san-serif;
	}
	
	

	.message-form .message-btn {
		margin: 7px 0 0 30px;
	}
	.event-discussion-page .message-form .message-btn A {
		height: 35px;
		margin: 0 19px 0 0;
		width: 44px;
	}
	.event-discussion-page .message-form A.message-btn2 {
		background: url("../images/icons/icon-14.png") no-repeat;
		height: 34px;
		width: 45px;
		margin-top: 2px;
	}
	.event-discussion-page .message-form A.message-btn1 {
		background: url("../images/icons/icon-13.png") no-repeat;
	}
	.event-discussion-page .message-form BUTTON {
		border-radius: 7px;
		float: right;
		font-size: 18px;
		margin: 0 30px 0 0;
		padding: 16px 20px;
		max-width: 286px;
		width: 100%;
	}
	
	
	/* events-detail-page */
	.events-detail-page .main-content,
	.events-detail-page .right-sidebar,
	.events-detail-page .tab-bar,
	.events-detail-page #content .tab-nav,
	.events-detail-page .search-event-area,
	.events-detail-page .events-detail-area .back-to-events-row {
		display: none;
	}

	.main-wrapper.events-detail-page {
		background: #f6f0f0;
	}
	.events-detail-page #content .left-sidebar {
		background: #f6f0f0;
		float: none;
		width: 100%;
		display: block;
	}
	.events-detail-page .scroll-area.events-scroll  {
		display: none;
	}
	.events-detail-page .events-detail-area.events-detail-active {
		display: block !important;
	} 
	
	
	.events-detail-page .events-detail-title .date-cell {
		padding: 0 70px 0 0;
		width: 19%;
	}

	.events-detail-page .events-detail-title .event-cell {
		width: 81%;
	}

	.events-detail-page .events-detail-title .date-cell SPAN {
		border: 3px solid #5b6074;
		border-top: 16px solid #5b6074;
		border-radius: 7px;
		color: #5b6074;
		font: bold 13px/120% "Roboto",Arial,Helvetica,san-serif;
		height: 67px;
		padding: 5px 0 0;
		width: 67px;
	}
	
	.events-detail-page .events-detail-title .date-cell B {
		font-size: 19px;
		margin: 0 0 2px;
	}

	.events-detail-page .events-detail-title .event-cell H3 {
		color: #5b6074;
		font: bold 22px/100% "Roboto",Arial,Helvetica,san-serif;
	}	
	.events-detail-page .events-detail-area .invite-friends-btn {
		display: none;
	}
	
	
	
	.events-detail-page .info-table .row > *:first-child {
		color: #5b6074;
		font: 500 18px/110% "Roboto",Arial,Helvetica,san-serif;
		width: 19%;
	}

	.events-detail-page .info-table .row > *:last-child {
		color: #5b6074;
		font: 18px/110% "Roboto",Arial,Helvetica,san-serif;
		width: 81%;
	}	
	
	.events-detail-page .info-title-area {
		background: #fff;
		color: #363946;
		cursor: pointer;
		font: 500 18px/100% "Roboto",Arial,Helvetica,san-serif;
		padding: 21px 30px;
		border-top: 1px solid #e2e2e2;
		border-bottom: 1px solid #e2e2e2;
	}
	
	.events-detail-page .info-title-area SPAN:after {
	   top: 6px;
	}
	
	.events-detail-page .info-content-area P {
		color: #4d5163;
		font: 400 18px/120% "Roboto",Arial,Helvetica,san-serif;
	}
	
	.events-detail-page .info-man {
		margin: 0 -16px 0 0;
		text-align: center;
	}

	.events-detail-page .info-man LI {
		height: 50px;
		margin: 0 16px 25px 0;
		width: 50px;
	}
	.events-detail-page .info-man IMG {
		height: 50px;
		width: 50px;
	}
	
	.events-detail-page .invite-friends-btn.mobile {
		display: table;
		width: 100%;
		table-layout: fixed;
		background: #363946;
		padding: 0;
	}
	
	.events-detail-page .invite-friends-btn.mobile .invite-btn {
		color: #fff;
		display: table-cell;
		font: 18px/100% "Roboto",Arial,Helvetica,san-serif;
		margin: 0;
		text-align: center;
		vertical-align: middle;
		width: 76%;
		border-right: 1px solid #262831;
		padding: 26px 5px;
	}	
	.events-detail-page .invite-friends-btn.mobile .subject {
		display: table-cell;
		margin: 0;
		text-align: center;
		vertical-align: middle;
		width: 24%;
		border-left: 1px solid #777a88;
		position: relative;
	}	
	.events-detail-page .invite-friends-btn.mobile .subject:hover {
		text-decoration: none;
	}	
	.events-detail-page .invite-friends-btn.mobile .subject:before {
		content: "";
		position: absolute;
		z-index: 2;
		margin: -9.5px 0 0 -10px;
		left: 50%;
		top: 50%;
		width: 20px;
		height: 19px;
		background: url("../images/icons/icon-16.png") no-repeat;
	}
	
	
	
	/* add-members-pop-up-page */
	.add-members-pop-up-page .tab-bar,
	.add-members-pop-up-page #content{
		display: none;
	}
	.add-members-pop-up-page.main-wrapper {
		background: #f6f0f0;
	}
	.add-members-pop-up-page.main-wrapper .add-members-pop-up.pop-up-area{
		display: block;
	}
	.pop-up-area {
		background: none;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow:    none;
		box-shadow: none;
		margin: 0 ;
		max-width: none;
		overflow: visible;
		width: 100%;
	}
	.pop-up-area .title-pop-up {
		display: none;
	}
	
	.add-members-form .row-group {
		-webkit-box-shadow: none;
		-moz-box-shadow:    none;
		box-shadow: none;
		padding: 28px 25px;
		text-align: center;
	}	
	.add-members-form .row-group>:first-child {
		float: left;
	}	
	.add-members-form .row-group>:last-child {
		float: right;
	}
	.add-members-form .row-group .checkboxPopup {
		margin: 0;
	}
	.add-members-form .row-group .checkboxPopup input[type="checkbox"]:checked + span:before {
		background-position: 0 -20px;
	}
	.add-members-form .row-group .checkboxPopup span:before {
		background: url("../images/icons/icon-18.png") no-repeat;
		height: 20px;
		width: 20px;
	}
	.add-members-form .row-group .checkboxPopup span {
		font-size: 18px;
		padding: 0 43px 0 0;
	}

	.pop-up-area .accordion-title {
		border-bottom: none;
		padding: 26px 60px 26px 25px;
	}	
	.pop-up-area .bg-1 .accordion-title {
		background: #f65b42;
	}	
	.pop-up-area .bg-2 .accordion-title {
		background: #6daa7a;
	}	
	.pop-up-area .bg-3 .accordion-title {
		background: #87a3b0;
	}
	.pop-up-area .bg-4 .accordion-title {
		background: #3f99d7;
	}	
	.pop-up-area .bg-5 .accordion-title {
		background: #a57253;
	}
	
	.pop-up-area .bg-1 .accordion-btn, 
	.pop-up-area .bg-2 .accordion-btn,
	.pop-up-area .bg-3 .accordion-btn,
	.pop-up-area .bg-4 .accordion-btn,
	.pop-up-area .bg-5 .accordion-btn {
		color: #fff;
	}
	.pop-up-area .accordion-btn {
		color: #fff;
		font-size: 18px;
		padding: 0 28px 0 0;
	}
	
	
	.pop-up-area .accordion-btn::after {
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 8px solid #fff;
		top: 10px;
	}
	.pop-up-area .active .accordion-btn:after {
		border-bottom: 8px solid #fff;
	}
	
	.pop-up-area .accordion-title .checkboxPopup {
		height: 20px;
		right: 25px;
		top: 26px;
		width: 20px;
	}
	.pop-up-area .accordion-title .checkboxPopup span {
		background: url("../images/icons/icon-18.png") no-repeat;
		height: 20px;
		width: 20px;
	}
	.pop-up-area .accordion-title .checkboxPopup input[type="checkbox"]:checked + span {
		background-position: 0 -20px;
	}
	.pop-up-area .active .accordion-title {
		-webkit-box-shadow: none;
		-moz-box-shadow:    none;
		box-shadow: none;
	}
	
	.pop-up-area .active.bg-1 .accordion-title,
	.pop-up-area .active.bg-2 .accordion-title,
	.pop-up-area .active.bg-3 .accordion-title,
	.pop-up-area .active.bg-4 .accordion-title,
	.pop-up-area .active.bg-5 .accordion-title{
		border-bottom: none;
	}
	
	.pop-up-area .accordion-content {
		background: #f6f0f0;
	}
	.pop-up-area .accordion-content .small-row {
		border-bottom: 1px solid #fff;
		border-top: 1px solid #e3d5d4;
	}	
	.pop-up-area .accordion-content .small-row:hover {
		background: #e6e0e0;
	}
	
	
	.pop-up-area .accordion-content A {
		font-size: 18px;
		padding: 10px 0 10px 25px;
	}
	
	.pop-up-area .accordion-content A IMG {
		height: 41px;
		margin: 0 20px 0 0;
		width: 41px;
	}
	
	.pop-up-area .accordion-content .checkboxPopup {
		height: 20px;
		right: 25px;
		top: 19px;
		width: 20px;
	}
	.pop-up-area .accordion-content .checkboxPopup span {
		background: url("../images/icons/icon-18.png") no-repeat;
		height: 20px;
		width: 20px;
	}
	.pop-up-area .accordion-content .checkboxPopup input[type="checkbox"]:checked + span {
		background-position: 0 -20px;
	}
	
	
	.pop-up-area .btn-group {
		padding: 20px 25px;
		text-align: center;
	}
	
	.pop-up-area .btn-group P {
		font-size: 18px;
		margin: 16px 0 0;
		width: 155px;
	}
	.pop-up-area .btn-group BUTTON {
		border-radius: 7px;
		float: right;
		font-size: 18px;
		margin: 0;
		min-width: 200px;
		padding: 16px 5px;
	}
	.pop-up-area .btn-group .cancel-btn.mobile {
		color: #fff;
		float: none;
		display: inline-block;
		vertical-align: top;
		font: bold 18px/100% "Roboto",Arial,Helvetica,san-serif;
		margin: 0;
		padding: 16px 5px;
		text-align: center;
		min-width: 200px;
		border-radius: 7px;
		background: #f65b42
	}
	.pop-up-area .btn-group .cancel-btn.desktop {
		display: none;
	}	
	
	
	/* choose-place-pop-up-page */
	.choose-place-pop-up-page .tab-bar,
	.choose-place-pop-up-page #content{
		display: none;
	}
	.choose-place-form INPUT {
		font-size: 18px;
		height: 70px;
		padding: 0 25px;
	}
	.choose-place-form INPUT:-moz-placeholder {
		font: 18px/70px 'Roboto', Arial, Helvetica, san-serif;
	}
	.choose-place-form INPUT::-moz-placeholder {
		font: 18px/70px 'Roboto', Arial, Helvetica, san-serif;
	}
	.choose-place-form INPUT:-ms-input-placeholder {
		font: 18px/100% 'Roboto', Arial, Helvetica, san-serif;
	}
	.choose-place-form INPUT::-webkit-input-placeholder {
		font: 18px/100% 'Roboto', Arial, Helvetica, san-serif;

	}
	.choose-map {
		max-height: 600px;
		margin: 22px 25px 0;
	}
	.choose-map IFRAME{
		min-height: 600px;
	}
}
@media (max-width: 700px) {
	.pop-up-area .btn-group P {
		float: none;
		width: auto;
		text-align: center;
		margin: 0 0 20px;
	}

	.pop-up-area .btn-group .cancel-btn.mobile {
		float: left;
	}
	
	
	
	
}
@media (max-width: 599px) {
	.tabs-area {
		max-width: 240px;
	}
	#content .accordion-content .left-cell{
		width: 16%;
	}
	#content .accordion-content .text-box{
		width: 76%;
	}
	#content .accordion-content .right-cell{
		width: 8%;
	}
	
	
	
	
	
	
	
	/* events-page */
	.events-list-area>:first-child {
		padding: 25px 20px;
		margin: 20px 10px;
	}
	.events-list-area>:first-child  .date-cell {
		padding: 0 15px 0 0;
		width: 21%;
	}
	.events-list-area>:first-child .event-cell {
		width: 63%;
	}
	.events-list-area>:first-child .subject-cell {
		width: 16%;
	}
	
	
	
	
	
	
	.events-list-area .date-cell {
		width: 15%;
	}
	.events-list-area .event-cell {
		width: 70%;
	}
	.events-list-area .subject-cell {
		width: 15%;
	}
	
	
	
	/* event-discussion-page */
	.event-discussion-page .event-discussion-area .hide-discussion-btn {
		left: 20px;
	}
	
	.event-discussion-page .discussion-list {
		padding: 20px;
	}
	.event-discussion-page .discussion-list H3 {
		font: bold 18px/100% "Roboto",Arial,Helvetica,san-serif;
	}
	.event-discussion-page .discussion-list P {
		font: 300 14px/120% "Roboto",Arial,Helvetica,san-serif;
		margin: 0 0 25px;
	}
	
	
	.message-form .message-btn {
		margin: 7px 0 0 20px;
	}
	.event-discussion-page .message-form BUTTON {
		margin: 0 20px 0 0;
	}
}
@media (max-width: 460px) {
	.main-wrapper .logo {
		margin-left: 7px;
		max-width: 116px;
		width: 100%;
		position: static;
		display: inline-block;
		vertical-align: top;
		margin-top: 10px;
	}
	.main-wrapper HEADER .container {
		padding: 0 10px;
	}
	
	.tab-bar .container {
		padding: 0 10px;
	}
	
	.tabs-area {
		max-width: 220px;
	}
	.tabs A {
		font-size: 12px;
	}
	.edit-btn {
		font-size: 13px;
	}
	
	
	/* events-page */

	.events-list-area >:first-child .date-cell SPAN {
		height: 50px;
		width: 50px;
		font-size: 10px;
	}
	
	.events-list-area >:first-child .event-cell H3 {
		font-size: 12px;
	}

	.events-list-area >:first-child .event-cell P {
		font-size: 10px;
	}
	.events-list-area>:first-child  .date-cell {
		padding: 0 10px 0 0;
		width: 23%;
	}
	.events-list-area>:first-child .event-cell {
		width: 61%;
	}
	.events-list-area>:first-child .subject-cell {
		width: 16%;
	}
	.events-list-area >:first-child .subject-cell A::before {
		background-size: contain;
		height: 15px;
		width: 15px;
	}
	.events-list-area >:first-child .subject-cell A {
		color: #8391a4;
		font-size: 13px;
		padding: 0 0 0 24px;
	}
	.events-list-group-btn A {
		font-size: 13px;
	}
	
	.events-list-area .date-cell {
		width: 23%;
	}
	.events-list-area .event-cell {
		width: 62%;
	}
	.events-list-area .subject-cell {
		width: 15%;
	}
	.events-list-area .event-cell H3 {
		font-size: 12px;
	}
	.events-list-area .event-cell P {
		font-size: 10px;
	}
	.event-discussion-page .message-form BUTTON {
		max-width: none;
		width: auto;
	}
	
	
	
	
	
	/* events-detail-page */
	.events-detail-page .events-detail-title .date-cell {
		padding: 0 10px 0 0;
		width: 28%;
	}
	.events-detail-page .events-detail-title .event-cell {
		width: 72%;
	}
	.events-detail-page .events-detail-title .event-cell H3 {
		font-size: 18px;
	}	
	.events-detail-page .info-table .row > :first-child {
		font-size: 14px;
		width: 28%;
	}
	.events-detail-page .info-table .row > *:last-child {
		font-size: 14px;
		width: 72%;
	}	
	
	
	/* add-members-popup-page */
	
	.add-members-form .row-group {
		padding: 28px 10px;
	}
	.pop-up-area .accordion-title {
		padding-left:10px;
	}
	
	.pop-up-area .accordion-title .checkboxPopup {
		right: 10px;
	}
	.pop-up-area .btn-group {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.pop-up-area .accordion-content A {
		padding-left: 10px;
	}
	.pop-up-area .accordion-content .checkboxPopup {
		right: 10px;
	}
	.pop-up-area .btn-group .cancel-btn.mobile {
		min-width: 130px;
	}
	.pop-up-area .btn-group BUTTON {
		min-width: 130px;
	}
	
	
	/* choose-popup */
	.choose-place-form INPUT{
		padding: 0 10px;
	}
	.choose-map {
		margin: 22px 10px 0;
	}
	
	.choose-map {
		max-height: 376px;
		margin: 22px 10px 0;
	}
	.choose-map IFRAME{
		min-height: 376px;
	}
}




/* MAP */
	#content .map-area {
		position: relative;
		overflow: hidden;
	}
	#content .map-area .zoom {
		background: rgba(255,255,255,0.8);
		border-radius: 3px;
		position: absolute;
		right: 15px;
		top: 17px;
		z-index: 20;
		display: none;
		padding: 7px 10px;
		text-align: center;
	}
#content .map-area .zoom a {
	color: #5a5f73;
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
	outline: none;
}
#content .map-area .zoom a.zoom-minus {
	font-size: 22px;
}
#content .map .map-area .full-map {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background: rgba(255,255,255,0.8) url("../images/icons/full-map.png") no-repeat center;
	width: 30px;
	height: 30px;
	padding: 3px;
	border-radius: 3px;
	z-index: 100;
}
#content .map.full .map-area .full-map {
	background: rgba(255,255,255,0.8) url("../images/icons/small-map.png") no-repeat center;
}
/* 		#content .map.full .title-right-sidebar a {
	display: none;
} */
#content .map-area a:hover {
	text-decoration: none;
	opacity: 0.8;
}
#content span:focus	{
	outline: 0;
}
#content .map-area .zoom a:hover {
	text-decoration: none;
	opacity: 0.8;
}
#content .map-area,
#content .map-area  .ng-scope {
	width: 100%;
	height: 100%;
}
#content .map-area:hover .zoom {
	display: block;
}
#map {
	width: 333px;
	height: 100%;
	min-height: 226px;
}
#map .gm-style-cc {
	display: none;
}
#map .info-box {
	cursor: pointer;
	background: #525769;
	padding: 0 5px;
	position: absolute;
	top: -7px;
	right: 100%;
	height: 32px;
	line-height: 32px;
	color: #fff;
	border-radius: 16px 0 0 16px;
	text-align: right;
	font-weight: bold;
	-moz-box-sizing: unset;
	box-sizing: unset;
	
}
#map .info-box a {
	color: #fff;
}
#map .right.info-box {
	right: initial;
	left: 100%;
	border-radius: 0 16px 16px 0;
	text-align: left;
}
#map .orange.info-box {
	background: #DD523B;
}
#map .info-box:before {
	background: url('../images/icons/corner.png') no-repeat right;
	height: 32px;
	width: 19px;
	content: '';
	position: absolute;
	top: 0;
	right: -18px;
}
#map .right.info-box:before {
	background: url('../images/icons/corner-right.png') no-repeat right;
	height: 32px;
	width: 19px;
	content: '';
	position: absolute;
	top: 0;
	right: initial;
	left: -18px;
}
#map .orange.info-box:before {
	background: url('../images/icons/corner-orange.png') no-repeat right;
}
#map .orange.right.info-box:before {
	background: url('../images/icons/corner-right-orange.png') no-repeat right;
}
#content .map.full {
	width: 74%;
	position: absolute;
	z-index: 150;
	right: 0;
		border-left: 1px solid #4d536b;
}
#content .map.full #map {
	width: 100%;
}
.ui-slider-tick {
  position: absolute;
  background-color: #aaa;
  width: 2px;
  height: 8px;
  top: 16px;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-vertical {
	width: 8px;
	background: #f96e57;
	height: 130px;
	border-radius: 3px;
	margin: 10px 0 10px 1px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -7px;
	margin-left: 0;
	margin-bottom: -15px;
	background: url('../images/icons/slider-pointer.png') no-repeat center;
	width: 24px;
	cursor: pointer;
	height: 24px;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
#content .map .active-line {
	background: #5a5f73;
	border-radius: 3px;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 8px;
}
@media (max-width: 990px) {
	#content .map.full {
		float: none;
		margin: 17px 0 0;
		padding: 0;
		width: 100%;
	}
	#content .map-area .zoom {
		top: unset;
		bottom: 17px;
	}
	#content .map-area .full-map {
		display: none;
	}
}
