/* MAP */
/*#content .map-area {
  position: relative;
  overflow: hidden;
}
#content .map-area .zoom {
  background: rgba(255,255,255,0.8);
  border-radius: 3px;
  position: absolute;
  right: 15px;
  top: 17px;
  z-index: 20;
  display: none;
  padding: 7px 10px;
  text-align: center;
}
#content .map-area .zoom a {
  color: #5a5f73;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  outline: none;
}
#content .map-area .zoom a.zoom-minus {
  font-size: 22px;
}*/
/*#content .map .map-area .full-map {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255,255,255,0.8) url("../images/icons/full-map.png") no-repeat center;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 3px;
  z-index: 100;
}*/
/*#content .map .map-area .full-map2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255,255,255,0.8) url("../images/icons/full-map.png") no-repeat center;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 3px;
  /*z-index: 100;*/
/*}*/




/*
#content .map.full .map-area .full-map {
  background: rgba(255,255,255,0.8) url("../images/icons/small-map.png") no-repeat center;
}
#content .map-area a:hover {
  text-decoration: none;
  opacity:0.8;
}
#content span:focus {
  outline: 0;
}
#content .map-area .zoom a:hover {
  text-decoration: none;
  opacity: 0.8;
}
#content .map-area,
#content .map-area  .ng-scope {
  width: 100%;
  height: 100%;
}
#content .map-area:hover .zoom {
  display: block;
}
#map {
  width: 333px;
  height: 100%;
  min-height: 226px;
}
#map .gm-style-cc {
  display: none;
}
#map .info-box {
  cursor: pointer;
  background: #525769;
  padding: 0 5px;
  position: absolute;
  top: -7px;
  right: 100%;
  height: 32px;
  line-height: 32px;
  color: #fff;
  border-radius: 16px 0 0 16px;
  text-align: right;
  font-weight: bold;
  -moz-box-sizing: unset;
  box-sizing: unset;
}
#map .info-box a {
  color: #fff;
}
#map .right.info-box {
  right: initial;
  left: 100%;
  border-radius: 0 16px 16px 0;
  text-align: left;
}
#map .orange.info-box {
  background: #DD523B;
}
#map .info-box:before {
  background: url('../images/icons/corner.png') no-repeat right;
  height: 32px;
  width: 19px;
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
}
#map .right.info-box:before {
  background: url('../images/icons/corner-right.png') no-repeat right;
  height: 32px;
  width: 19px;
  content: '';
  position: absolute;
  top: 0;
  right: initial;
  left: -18px;
}
#map .orange.info-box:before {
  background: url('../images/icons/corner-orange.png') no-repeat right;
}
#map .orange.right.info-box:before {
  background: url('../images/icons/corner-right-orange.png') no-repeat right;
}
#content .map.full {
  width: 74%;
  position: absolute;
  z-index: 150;
  right: 0;
    border-left: 1px solid #4d536b;
}
#content .map.full #map {
  width: 100%;
}
.ui-slider-tick {
  position: absolute;
  background-color: #aaa;
  width: 2px;
  height: 8px;
  top: 16px;
}
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2000;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}
.ui-slider-vertical {
  width: 8px;
  background: #f96e57;
  height: 130px;
  border-radius: 3px;
  margin: 10px 0 10px 1px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -7px;
  margin-left: 0;
  margin-bottom: -15px;
  background: url('../images/icons/slider-pointer.png') no-repeat center;
  width: 24px;
  cursor: pointer;
  height: 24px;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
#content .map .active-line {
  background: #5a5f73;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 8px;
}
@media (max-width: 990px) {
  #content .map.full {
    float: none;
    margin: 17px 0 0;
    padding: 0;
    width: 100%;
  }
  #content .map-area .zoom {
    top: unset;
    bottom: 17px;
  }
  #content .map-area .full-map {
    display: none;
  }
}


*/


/* MAP */
#content .map-area {
  position: relative;
  overflow: hidden;
}
#content .map-area .zoom {
  background: rgba(255,255,255,0.8);
  border-radius: 3px;
  position: absolute;
  right: 15px;
  top: 17px;
  z-index: 20;
  display: none;
  padding: 7px 10px;
  text-align: center;
}
#content .map-area .zoom a {
  color: #5a5f73;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  outline: none;
}
#content .map-area .zoom a.zoom-minus {
  font-size: 22px;
}
#content .map .map-area .full-map {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255,255,255,0.8) url("/static/images/icons/full-map.png") no-repeat center;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 3px;
  z-index: 100;
}
#content .map.full .map-area .full-map {
  background: rgba(255,255,255,0.8) url("/static/images/icons/small-map.png") no-repeat center;
}
#content .map-area a:hover {
  text-decoration: none;
  opacity: 0.8;
}
#content span:focus {
  outline: 0;
}
#content .map-area .zoom a:hover {
  text-decoration: none;
  opacity: 0.8;
}
#content .map-area,
#content .map-area  .ng-scope {
  width: 100%;
  height: 100%;
}
#content .map-area:hover .zoom {
  display: block;
}
#map {
  /*width: 333px;*/
  width: 100%;
  height: 100%;
  min-height: 226px;
}
#map .gm-style-cc {
  display: none;
}
#map .info-box {
  cursor: pointer;
  background: #525769;
  padding: 0 5px;
  position: absolute;
  top: -7px;
  right: 100%;
  height: 32px;
  line-height: 32px;
  color: #fff;
  border-radius: 16px 0 0 16px;
  text-align: right;
  font-weight: bold;
  -moz-box-sizing: unset;
  box-sizing: unset;
}
#map .info-box a {
  color: #fff;
}
#map .right.info-box {
  right: initial;
  left: 100%;
  border-radius: 0 16px 16px 0;
  text-align: left;
}
#map .orange.info-box {
  background: #DD523B;
}
#map .info-box:before {
  background: url('../images/icons/corner.png') no-repeat right;
  height: 32px;
  width: 19px;
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
}
#map .right.info-box:before {
  background: url('../images/icons/corner-right.png') no-repeat right;
  height: 32px;
  width: 19px;
  content: '';
  position: absolute;
  top: 0;
  right: initial;
  left: -18px;
}
#map .orange.info-box:before {
  background: url('../images/icons/corner-orange.png') no-repeat right;
}
#map .orange.right.info-box:before {
  background: url('../images/icons/corner-right-orange.png') no-repeat right;
}
#content .map.full {
  width: 74%;
  position: absolute;
  z-index: 150;
  right: 0;
    border-left: 1px solid #4d536b;
}
#content .map.full #map {
  width: 100%;
}
.ui-slider-tick {
  position: absolute;
  background-color: #aaa;
  width: 2px;
  height: 8px;
  top: 16px;
}
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}
.ui-slider-vertical {
  width: 8px;
  background: #f96e57;
  height: 130px;
  border-radius: 3px;
  margin: 10px 0 10px 1px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -7px;
  margin-left: 0;
  margin-bottom: -15px;
  background: url('../images/icons/slider-pointer.png') no-repeat center;
  width: 24px;
  cursor: pointer;
  height: 24px;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
#content .map .active-line {
  background: #5a5f73;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 8px;
}

#maptrvl {
  width: 492px;
  height: 100%;
  min-height: 260px;
}
#maptrvl .gm-style-cc {
  display: none;
}
#maptrvl .info-box {
  cursor: pointer;
  background: #525769;
  padding: 0 5px;
  position: absolute;
  top: -7px;
  right: 100%;
  height: 32px;
  line-height: 32px;
  color: #fff;
  border-radius: 16px 0 0 16px;
  text-align: right;
  font-weight: bold;
  -moz-box-sizing: unset;
  box-sizing: unset;
  
}
#maptrvl .info-box a {
  color: #fff;
}
#maptrvl .right.info-box {
  right: initial;
  left: 100%;
  border-radius: 0 16px 16px 0;
  text-align: left;
}
#maptrvl .orange.info-box {
  background: #DD523B;
}
#maptrvl .info-box:before {
  background: url('../images/icons/corner.png') no-repeat right;
  height: 32px;
  width: 19px;
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
}
#maptrvl .right.info-box:before {
  background: url('../images/icons/corner-right.png') no-repeat right;
  height: 32px;
  width: 19px;
  content: '';
  position: absolute;
  top: 0;
  right: initial;
  left: -18px;
}
#maptrvl .orange.info-box:before {
  background: url('../images/icons/corner-orange.png') no-repeat right;
}
#maptrvl .orange.right.info-box:before {
  background: url('../images/icons/corner-right-orange.png') no-repeat right;
}

#content .map-section .full-map {
  display:none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255,255,255,0.8) url("../images/icons/full-map.png") no-repeat center;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 3px;
  z-index: 100;
}
#content .map-section.full .map-area .full-map {
  background: rgba(255,255,255,0.8) url("../images/icons/small-map.png") no-repeat center;
}

/* ----------------- map after submit trvel post --------*/


.mapposts {
  width: 492px;
  height: 100%;
  min-height: 260px;
}
.mapposts .gm-style-cc {
  display: none;
}
.mapposts .info-box {
  cursor: pointer;
  background: #525769;
  padding: 0 5px;
  position: absolute;
  top: -7px;
  right: 100%;
  height: 32px;
  line-height: 32px;
  color: #fff;
  border-radius: 16px 0 0 16px;
  text-align: right;
  font-weight: bold;
  -moz-box-sizing: unset;
  box-sizing: unset;
  
}
.mapposts .info-box a {
  color: #fff;
}
.mapposts.right.info-box {
  right: initial;
  left: 100%;
  border-radius: 0 16px 16px 0;
  text-align: left;
}
.mapposts .orange.info-box {
  background: #DD523B;
}
.mapposts .info-box:before {
  background: url('../images/icons/corner.png') no-repeat right;
  height: 32px;
  width: 19px;
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
}
.mapposts .right.info-box:before {
  background: url('../images/icons/corner-right.png') no-repeat right;
  height: 32px;
  width: 19px;
  content: '';
  position: absolute;
  top: 0;
  right: initial;
  left: -18px;
}
.mapposts .orange.info-box:before {
  background: url('../images/icons/corner-orange.png') no-repeat right;
}
.mapposts .orange.right.info-box:before {
  background: url('../images/icons/corner-right-orange.png') no-repeat right;
}

.read-more{max-height: 6em; /* (4 * 1.5 = 6) */ }



@media (max-width: 990px) {
  #content .map.full {
    float: none;
    margin: 17px 0 0;
    padding: 0;
    width: 100%;
  }
  #content .map-area .zoom {
    top: unset;
    bottom: 17px;
  }
  #content .map-area .full-map {
    display: none;
  }
}
