
/* Angular  */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
/* PART1 */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;


}



/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

}
body {
  line-height: 1;
  margin-right: 2px;
  


}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea{
  outline:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
input[type="submit"]:hover,
button:hover{
  cursor:pointer;
}
textarea{
  overflow:auto;
  -webkit-overflow-scrolling:touch;
}
/*p {
  font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #f65b42;
  text-align: center;
  padding: 9px 30px;
  margin-top: 45px;
 }*/
input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
input[type="search"],
input[type="email"],
input[type="tel"],
textarea{
  -webkit-border-radius:0;
  border-radius:0;
  -webkit-appearance:none;
  -moz-appearance:none;

}
input[type="search"],
input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
input[type="search"]::-webkit-search-decoration{display:none;}
input[type="search"]::-webkit-search-cancel-button{display:none;}
input[type="search"]::-webkit-search-results-button{display:none;}
input[type="search"]::-webkit-search-results-decoration{display:none;}
input[type="search"]::-ms-clear{display:none;}
/* End Reset */

/* Style tag */
TEXTAREA { 
  resize:none;
  overflow: auto;
 }
A:focus {
  outline: 0;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  line-height: 0px;
  font-size: 1px;
}
A { text-decoration: none; }
A:HOVER { text-decoration: underline; }
IMG { border: none; display: block;}
LABEL { cursor: pointer; }
BUTTON { cursor: pointer;}
* {
    -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="file"] > input[type="button"]::-moz-focus-inner { 
  border: none; 
  padding:0;
  margin:0;

}
input:focus{
  border: none;
  outline: none;
}
form {
  overflow: hidden;
}
/* End Style tag */

html {
  height: 100%;
}
BODY {
  background: #f7efef;
  margin: 0;
  padding: 0;
  text-align: left;
  font: 14px/100% 'Roboto', Helvetica, Arial, san-serif;
  color: #333;
  height: 100%;
}
.wrapper{
  height: 100%;
  background: #f7efef;
}
.wrapper.small-header{
  display: table;
  table-layout: fixed;
  width: 100%; 
}

.bg-img-area{
  background: #f7efef url("../images/bg/bg-img-1.jpg") no-repeat;
  background-size: cover;
}
.top-section {
  height: 40%;
  background: #f65b42;
}
.bottom-section {
  height:  60%;
  width: 100%;
}
.container {
  max-width: 960px;
  margin: auto;
  padding: 0 15px;
}

/* header */
.grid-height-area HEADER {
  padding: 2.2% 0;
  width: 100%;  
  height: 100%;
}
.grid-height-area HEADER .container {
  width: 100%;
  height: 100%;
}
.grid-height-area HEADER .wrap {
    text-align: justify; 
  font-size: 0;
  line-height: 0;
    width: 100%;  
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
.grid-height-area HEADER .wrap:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}
.grid-height-area HEADER .table-box {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;vertical-align: middle;
}
.grid-height-area HEADER .cell-box {
  display: table-cell;
  vertical-align: middle;
}

.grid-height-area .logo {
  display: inline-block;
  vertical-align: middle;
  max-width: 370px;
  max-height: 84px;
  text-align: left;
  width: 40%;
  height: 28%;
}
.grid-height-area .logo A{
  display: inline-block;
  vertical-align: top;
}
.grid-height-area .logo A IMG{
  max-width: 100%;
  width: 100%;
}
.small-header HEADER {
  padding: 7px 0 17px;
  border-bottom: 3px solid #bb4734;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  background: #f65b42;
}
.small-header .logo {
  display: block;
  max-width: none;
  text-align: center;
} 
.small-header .logo A{
  max-width: 149px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.small-header .logo IMG{
  max-width: 100%;
}
.groupinit-form {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  max-height: 258px;
  max-width: 348px;
  width: 100%;
  background: #dfe4e8;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(94, 41, 41, 0.65);
  -moz-box-shadow:    0px 0px 6px 0px rgba(94, 41, 41, 0.65);
  box-shadow:         0px 0px 6px 0px rgba(94, 41, 41, 0.65);
  padding: 23px 0 30px; 
}
.groupinit-form H3 {
  text-align: center;
  padding: 0 30px;
  font: bold 18px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #4d5163;
  margin: 0 0 20px;
}
.groupinit-form INPUT{
  display: block;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #dfe4e8;
  background: #fff;
  padding: 14px 30px;
  font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;

}
.groupinit-form INPUT:-moz-placeholder {
  font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.groupinit-form INPUT::-moz-placeholder {
  font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.groupinit-form INPUT:-ms-input-placeholder {
  font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.groupinit-form INPUT::-webkit-input-placeholder {
  font: 300 12px/120% 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.groupinit-form .checkbox {
  float: left;
  margin: 20px 0 20px 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.groupinit-form  input[type="checkbox"] {
    position:absolute;
    left:-9999px;
    top:-99999px;
}
.groupinit-form  input[type="checkbox"] + span {
    display:inline-block;
  vertical-align: top;
  font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #333;
  position: relative;
  padding: 2px 0 0 23px;
}
.groupinit-form  input[type="checkbox"]:focus + span{
  color:#f65b42;
}
.groupinit-form  input[type="checkbox"] + span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  background: url("../images/icons/checkbox.png") no-repeat;
}
.groupinit-form  input[type="checkbox"]:checked + span:before {
  background-position: 0 -15px;
}
.groupinit-form .forgot-password {
  float: right;
  font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #f65b42;
  margin: 20px 30px 20px 0;
}
.groupinit-form .forgot-password:focus{
  text-decoration:underline;
}
.groupinit-form  P{
  font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #f65b42;
  text-align: center;
  padding: 9px 30px;
  margin-top: 45px;
}
.groupinit-form BUTTON {
  clear: both;
  font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 4px;
  background: #f96e57;
  display: block;
  width: 87px;
  margin: auto;
  padding: 9px 5px;
}
.groupinit-form BUTTON:hover,
.groupinit-form BUTTON:focus {
  opacity: 0.8;
}
.header-fixed{
  position:fixed;
  width:100%;
  left:0;
  top:0;
  z-index:2000;
}

/* content */
.bg-img-box {
  padding: 2.2% 0;
  width: 100%;
  height: 91%;
}
.bg-img-box .container{
  width: 100%;
  height: 100%;
}
.bg-img-section  {
  text-align: justify; 
  font-size: 0;
  line-height: 0;
    width: 100%;  
  height: 100%;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
.bg-img-section:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}
.bg-img-section .text-box {
  max-width: 380px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: left;
}
.bg-img-section .text-box H3{
  font: bold 18px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #333;
  margin: 0 0 25px;
}
.bg-img-section .text-box P{
  font: 300 14px/135% 'Roboto', Arial, Helvetica, san-serif;
  color: #333;
}
.bg-img-section .right-box {
  display: inline-block;
  vertical-align: top;
  max-width: 348px;
  width: 100%;
  background: #dfe4e8;
  border-radius: 5px;
  padding: 25px 0 0;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(94, 41, 41, 0.65);
  -moz-box-shadow:    0px 0px 6px 0px rgba(94, 41, 41, 0.65);
  box-shadow:         0px 0px 6px 0px rgba(94, 41, 41, 0.65);
  text-align: left;
  overflow: hidden;
}
.new-groupinit-box H3 {
  font: bold 18px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #4d5163;
  margin: 0 0 20px;
  text-align: center;
  padding: 0 23px;
}
.new-groupinit-box P {
  font: 300 12px/140% 'Roboto', Arial, Helvetica, san-serif;
  color: #333;
  margin: 0 0 5.5%;
  text-align: center;
  padding: 0 58px;
  margin: 0 0 20px;
}
.new-groupinit-box P A{
  font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  font-weight: normal;
  color: #f65b42;
}
.new-groupinit-box P A:focus{
  text-decoration:underline;
}
.new-groupinit-box H4{
  font: 14px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #333;
  margin: 0 0 17px;
  text-align: center;
  padding: 0 5px;
}
.bg-img-section .social-row {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.bg-img-section .social-row A{
  display: table-cell;
  vertical-align: top;
  width: 50%;
  font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #fff;
  text-align: center;
  padding: 14px 5px;
}
.bg-img-section .social-row A:hover,
.bg-img-section .social-row A:focus{
  text-decoration: none;
  opacity: 0.8;
}
.bg-img-section .social-row .fb{
  background: #3b5999;
}
.bg-img-section .social-row .gm{
  background: #d44132;
}

/* FOOTER */
.grid-height-area footer {
  display: block;
  height: 9%;
}
FOOTER .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
FOOTER {
  display: table-row;
  height: 1px;
} 
.grid-height-area FOOTER .container {
  padding-top: 0.1%;
  padding-bottom: 0.1%;
}

.menu {
  text-align: center;
}
.menu LI{
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  font: 14px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #fff;
}
.menu A{
  display: block;
  font: 14px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #fff;
}
.menu A:focus{
  text-decoration:underline;
}
.wrapper.small-header .menu A{
  color: #f65b42;
}
.footer-tab {
  display: none;
  position: relative;
  z-index: 100;
}
.footer-tab .table-box {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  position: relative;
  z-index: 100000;
}
.footer-tab .table-box >LI {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 50%;
  text-align: center;
  border-right: 1px solid rgba(188,67,48,0.79);
  background: #f65b42;
  font: bold 21px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #fefeff;
  border-bottom: 4px solid #bc4330;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(35, 31, 32, 0.14);
  -moz-box-shadow:    0px 3px 4px 0px rgba(35, 31, 32, 0.14);
  box-shadow:         0px 3px 4px 0px rgba(35, 31, 32, 0.14);
}
.footer-tab .table-box LI.ui-state-active {
  background: #fcf0ef;
  color: #f65b42;
  border-bottom: none;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}
.footer-tab .table-box LI.ui-state-active A{
  color: #f65b42;
  text-decoration: none;
  padding-bottom: 29px;
}
.footer-tab .table-box >LI:hover A{
  text-decoration: none;
  opacity: 0.7;
}
.footer-tab .table-box A{
  height: 100%;
  display: block;
  font: bold 21px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #fefeff;
  padding: 25px 5px;
}
.footer-tab .table-box>:last-child{
  border-right: none;
}
.tab-content {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow:         0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid #272934;
}
.tab-content.registration-form {
  border-bottom: none;
}
.tab-form {
  background: #fcf0ef;
  padding: 20px 0 0;
}
.tab-form INPUT{
  display: block;
  width: 100%;
  height: 69px;
  margin: 0 0 4px;
  border: none;
  border-radius: 0;
  border-bottom: none;
  background: #fff;
  padding: 0 50px;
  font: 300 18px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
}
.tab-form INPUT:-moz-placeholder {
  font: 300 18px/69px 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.tab-form INPUT::-moz-placeholder {
  font: 300 18px/69px 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.tab-form INPUT:-ms-input-placeholder {
  font: 300 18px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.tab-form INPUT::-webkit-input-placeholder {
  font: 300 18px/130% 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.tab-form .checkbox {
  float: left;
  margin: 34px 0 40px 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.tab-form  input[type="checkbox"] {
    display:none;
}
.tab-form  input[type="checkbox"] + span {
    display:inline-block;
  vertical-align: top;
  font: 300 17px/160% 'Roboto', Arial, Helvetica, san-serif;
  color: #333;
  position: relative;
  padding: 4px 0 0 50px;
}
.tab-form  input[type="checkbox"] + span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: url("../images/icons/checkbox-big.png") no-repeat;
}
.tab-form  input[type="checkbox"]:checked + span:before {
  background-position: 0 -30px;
}
.tab-form  input[type="checkbox"]+ span A{
  font: 300 17px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #f65b42;
}
.tab-form .forgot-password {
  float: right;
  font: 18px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #f65b42;
  margin: 40px 50px 40px 0;
}
.tab-form .wrap-btn {
  margin: 0 30px;
}
.tab-form BUTTON {
  clear: both;
  font: bold 19px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 7px;
  background: #f96e57;
  display: block;
  max-width: 390px;
  width: 100%;
  margin: 0 auto 20px;
  padding: 15px 5px;
}
.tab-form BUTTON:hover {
  opacity: 0.8;
}
.tab-form  P{
  font: 300 18px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #f65b42;
  text-align: center;
  padding: 18px 50px;
}
.tab-form  #passwordReg {
  margin: 0;
}
.tab-form  H4{
  font: 16px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #333;
  text-align: center;
  padding: 0 50px 17px;
}
.footer-tab .social-row {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.footer-tab .social-row A {
    color: #fff;
    display: table-cell;
    font: bold 14px/100% "Roboto",Arial,Helvetica,san-serif;
    padding: 24px 5px;
    text-align: center;
    vertical-align: top;
    width: 50%;
}
.footer-tab .social-row A:hover {
  text-decoration: none;
  opacity: 0.8;
}
.footer-tab .social-row .fb {
  background: #3b5999;
  border-bottom: 3px solid #243966;
}
.footer-tab .social-row .gm {
  background: #d44132;
  border-bottom: 3px solid #89271e;
}
.table-menu {
  display: none;
}
.table-menu .row-box{
  display: table-row;
}
.table-menu .cell-box{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: #363946;
  width: 50%;
  font: bold 16px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #fff;
  padding: 22px 5px;
  border-right: 1px solid #1f212a;
  border-bottom: 1px solid #1f212a;
  border-top: 1px solid #555865;
}
.table-menu>:first-child .cell-box{
  border-top: none;
}
.table-menu .row-box>:last-child{
  border-right: none;
}
.table-menu .cell-box:hover{
  background: #5B6074;
  text-decoration: none;
}

/* password-strength */
.wrap-password-indicator div{
  width:0%;
  height: 5px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-indent: -999em;
  background: #f65b42;
}
.veryweak{
  width: 20%!important;
}
.weak{
  width: 40%!important;
}
.medium{
  width: 60%!important;
  background: #00CC00 !important; 
}
.strong_err{
  width: 60%!important;

}
.strong{
  width: 80%!important;
  background: #00CC00!important;
}
.verystrong {
  width: 100%!important;
  background: #00CC00!important;
}

/* registration-page */
.registration-large-form H3{
  font: bold 18px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #4d5163;
  margin: 0 0 15px;
  padding: 0 30px;
  text-align: center;
}
.registration-large-form INPUT{
  display: block;
  width: 100%;
  height: 40px;
  margin: 0 0 1px;
  border: none;
  border-radius: 0;
  border-bottom: none;
  background: #fff;
  padding: 0 30px;
  font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  border-bottom: 1px solid #
}
.registration-large-form INPUT:-moz-placeholder {
  font: 300 12px/40px 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.registration-large-form INPUT::-moz-placeholder {
  font: 300 12px/40px 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.registration-large-form INPUT:-ms-input-placeholder {
  font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.registration-large-form INPUT::-webkit-input-placeholder {
  font: 300 12px/120% 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.registration-large-form  P{
  font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #f65b42;
  text-align: center;
  padding: 9px 30px;
}
.registration-large-form .checkbox {
  margin: 20px 30px 17px;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.registration-large-form  input[type="checkbox"] {
    display:none;
}
.registration-large-form  input[type="checkbox"] + span {
    display:inline-block;
  vertical-align: top;
  font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #333;
  position: relative;
  padding: 2px 0 0 24px;
}
.registration-large-form  input[type="checkbox"] + span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  background: url("../images/icons/checkbox.png") no-repeat;
}
.registration-large-form  input[type="checkbox"]:checked + span:before {
  background-position: 0 -15px;
}
.registration-large-form  input[type="checkbox"]+ span A{
  font: 300 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #f65b42;
}
.registration-large-form .wrap-btn {
  margin: 0 30px;
  text-align: center;
}
.registration-large-form BUTTON {
  display: inline-block;
  vertical-align: top;
  font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #f96e57;
  margin: 0 0 20px;
  padding: 9px 26px;
}
.registration-large-form BUTTON:hover,
.registration-large-form BUTTON:focus {
  opacity: 0.8;
}
.registration-large-form  H4{
  font: 14px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #333;
  text-align: center;
  padding: 0 30px 17px;
}


/* forgot-your-password-page */
.wrap-main-section {
    margin: auto;
    max-width: 960px;
    padding: 48px 15px 0;
}
.main-section {
  background: #dfe4e8;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(73, 81, 88, 0.75);
  -moz-box-shadow:    0px 0px 6px 0px rgba(73, 81, 88, 0.75);
  box-shadow:         0px 0px 6px 0px rgba(73, 81, 88, 0.75);
  padding: 30px 0 1px;
  max-width: 300px;
  margin: 0 auto 45px;
}
.main-section H3{
  font: bold 18px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #4d5163;
  text-align: center;
  margin: 0 0 10px;
}
.main-section H4{
  font: 300 14px/120% 'Roboto', Arial, Helvetica, san-serif;
  color: #333;
  text-align: center;
  margin: 0 0 15px;
}
.main-section FORM {
  margin: 0;
}
.main-section INPUT{
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  border: none;
  border-radius: 0;
  background: #fff;
  padding: 0 30px;
  font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  text-align: left;
  border-top:1px solid #dfe4e8;
}
.main-section INPUT:first-child{
  border-top:none;
}
.main-section INPUT:-moz-placeholder {
  font: 12px/40px 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.main-section INPUT::-moz-placeholder {
  font: 12px/40px 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.main-section INPUT:-ms-input-placeholder {
  font: 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.main-section INPUT::-webkit-input-placeholder {
  font: 12px/120% 'Roboto', Arial, Helvetica, san-serif;
  color: #8391a4;
  opacity: 1;
}
.main-section .wrap-btn {
  margin: 0 30px;
  text-align: center;
}
.main-section BUTTON {
  background: #f96e57;
  text-align: center;
  border-radius: 5px;
  padding: 9px 5px;
  display: inline-block;
  vertical-align: top;
  max-width: 80px;
  width: 100%;
  margin: 20px 0 30px;
  font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
  color: #fff;
  border: none;
}
.reset-password .main-section BUTTON  {
  max-width: 108px;
}
.main-section BUTTON:hover,
.main-section BUTTON:focus {
  opacity: 0.8;
}
.main-section FORM {
  text-align: center;
}
.main-section FORM A {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font: 14px/110% 'Roboto', Arial, Helvetica, san-serif;
  color: #f65b42;
  margin: 0 0 29px;
}
.main-section FORM A:focus{
  text-decoration:underline;
}
.wrap-main-section .message {
  text-align: center;
  max-width: 300px;
  width: 100%;
  font: 300 14px/120% 'Roboto', Arial, Helvetica, san-serif;
  color: #363946;
  margin: 0 auto 40px;
}
.wrap-main-section .message A{
  font: 14px/120% 'Roboto', Arial, Helvetica, san-serif;
  font-weight: 400;
  color: #f65b42;
}
.main-section  P{
  font: 300 12px/120% 'Roboto', Arial, Helvetica, san-serif;
  color: #f65b42;
  text-align: center;
  /*padding: 18px 50px;*/
}


/* Mobile */
@media screen and (min-width: 769px) and (max-height: 845px) {
  .groupinit-form {
    -moz-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
  }
  
  .bg-img-section .text-box {
    -moz-transform: scale(0.9, 0.8);
    -o-transform: scale(0.9, 0.8);
    -webkit-transform: scale(0.9, 0.8);
    -ms-transform: scale(0.9, 0.8);
  }
  .bg-img-section .right-box {
    -moz-transform: scale(0.9, 0.8);
    -o-transform: scale(0.9, 0.8);
    -webkit-transform: scale(0.9, 0.8);
    -ms-transform: scale(0.9, 0.8);
    margin: -28px 0 0
  }
  .bg-img-section .new-groupinit-box.right-box {
    margin-top: -5px;
  }
}
@media screen and (min-width: 769px)  {
  .wrapper.grid-height-area{
    min-height: 765px;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 45px;
  }
  HEADER {
    padding: 10px 0;
  }
  .groupinit-form {
    display: none;
  }
  .grid-height-area .logo {
    display: block;
    max-width: none;
    text-align: center;
    width: auto;
    height: auto;
  } 
  .grid-height-area .logo A{
    max-width: 149px;
    width: 100%;
  }
  .small-header HEADER {
    padding: 10px 0;
    border-bottom: none;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
  }
  .bg-img-area{
    background: nnoe;
  }
  .top-section {
    height: auto;
  }
  .bottom-section {
    height:  auto;
    display: block;
  }
  .bg-img-box {
    background: #f7efef url("../images/bg/bg-img-1.jpg") no-repeat;
    background-size: cover;
    padding: 10.5% 0 44%;
  }
  .bg-img-section {
    padding: 0 25px;
  }
  .bg-img-section .text-box {
    display: block;
    max-width: none;
    width: 60%;
  }
  .bg-img-section .right-box {
    display: none;
  }
  .bg-img-section .text-box H3 {
    color: #f65b42;
    font-size: 32px;
    margin-bottom: 33px;
  }
  .bg-img-section .text-box P {
    color: #000;
    font: 500 19px/165% "Roboto",Arial,Helvetica,san-serif;
  }
  FOOTER >.container {
    display: none;
  }
  .footer-tab {
    display: block;
  }
  .table-menu {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .title-area {
    border-bottom: none;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    padding: 45px 0 0;
  }
  .title-area H2{
    font: bold 24px/100% 'Roboto', Arial, Helvetica, san-serif;
    color: #333;
    margin: 0 0 15px;
  }
  .title-area H3{
    font: 500 18px/100% 'Roboto', Arial, Helvetica, san-serif;
  }
  .radio-box-area .row-box {
    display: block;
  }
  .radio-box-area .cell-box {
    display: block;
    width: 100%;
    padding: 0 0 20px;
  }
  .radio-box-area .row-box>:first-child {
    padding-right: 0;
  }
  .radio-box-area H3{
    font: 500 18px/100% 'Roboto', Arial, Helvetica, san-serif;
    color: #333;
    margin: 0;
    padding: 0 0 8px;
  }
  .radio-box {
    display: block;
    margin: 0 0 30px 25px;
  }
  .radio-box SPAN {
    font: 500 18px/100% 'Roboto', Arial, Helvetica, san-serif;
    padding: 7px 0 0 50px;
  }
  .radio-box SPAN:before {
    width: 30px;
    height: 30px;
    background: url("../images/icons/radio-big.png") no-repeat;
  }
  .radio-box input:checked + SPAN:before{
    background-position: 0 -30px;
  }
  .radio-box-area BUTTON {
    max-width: 390px;
    font: bold 18px/100% 'Roboto', Arial, Helvetica, san-serif;
    color: #fff;
    padding: 16px 5px;
    margin: 5px auto 0;
  }
  .wrap-main-section {
    margin: auto;
    padding: 45px 0 0;
  }
  .main-section {
    background: none;
    border-radius: none;
    -webkit-box-shadow: none;
    -moz-box-shadow:   none;
    box-shadow:        none;
    padding:0;
    max-width: none;
    margin: 0 auto 25px;
  }
  .main-section H3{
    font: bold 24px/100% 'Roboto', Arial, Helvetica, san-serif;
    color: #333;
    text-align: center;
    margin: 0 0 12px;
  }
  .main-section H4{
    font: 500 18px/120% 'Roboto', Arial, Helvetica, san-serif;
    color: #333;
    text-align: center;
    max-width: 240px;
    width: 100%;
    margin: 0 auto 35px;
  }
  .main-section INPUT{
    height: 70px;
    padding: 0 50px;
    font: 18px/100% 'Roboto', Arial, Helvetica, san-serif;
  }
  .main-section INPUT:-moz-placeholder {
    font: 18px/70px 'Roboto', Arial, Helvetica, san-serif;
  }
  .main-section INPUT::-moz-placeholder {
    font: 18px/70px 'Roboto', Arial, Helvetica, san-serif;
  }
  .main-section INPUT:-ms-input-placeholder {
    font: 18px/100% 'Roboto', Arial, Helvetica, san-serif;
  }
  .main-section INPUT::-webkit-input-placeholder {
    font: 18px/130% 'Roboto', Arial, Helvetica, san-serif;
  }
  .main-section BUTTON {
    padding: 16px 5px;
    max-width: 390px;
    font: bold 18px/100% 'Roboto', Arial, Helvetica, san-serif;
    margin-top: 40px;
  }
  .reset-password .main-section BUTTON  {
    max-width: 390px;
  }
  .main-section FORM A {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .wrap-main-section .message {
    max-width: 300px;
    font: 500 18px/120% 'Roboto', Arial, Helvetica, san-serif;
    margin: 0 auto 40px;
  }
  .wrap-main-section .message A{
    font: 500 18px/120% 'Roboto', Arial, Helvetica, san-serif;
  }
}
@media (max-width: 730px) {
  .bg-img-box {
    padding-bottom: 36%;
  }
  .bg-img-section .text-box {
    width: auto;
  }
}
@media (max-width: 460px) {
  .container {
    padding: 0 30px;
  }
  .tab-form INPUT {
    padding: 0 30px;
  }
  .tab-form .checkbox {
    margin-right: 0;
    margin-left: 30px;
  }
  .tab-form .forgot-password {
    margin-left: 10px;
    margin-right: 30px;
  }
  .tab-form P {
    padding-left: 30px;
    padding-right: 30px;
  }
  .tab-form  H4{
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 420px) {
  .tab-form INPUT {
    padding: 0 15px;
  }
  .tab-form .checkbox {
    margin-right: 0;
    margin-left: 15px;
  }
  .tab-form .forgot-password {
    margin-left: 10px;
    margin-right: 15px;
    font-size: 16px;
    margin-top: 45px;
  }
  .tab-form input[type="checkbox"] + span {
    padding-left: 40px;
  }
  .tab-form P {
    padding-left: 15px;
    padding-right: 15px;
  }
  .tab-form  H4{
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* tabs-mobile */
.tabs-area .tabs.mobile{
  display: none;
}
.tabs-area .slick-prev,
.tabs-area .slick-next{
  display: block;
  position: absolute;
  width: 17px;
  height: 28px;
  top: 0;
  border: none;
  text-indent: -999em;
} 
.tabs-area .slick-prev:hover,
.tabs-area .slick-next:hover{
  text-decoration: none;
  opacity: 0.8;
} 
.tabs-area .slick-prev{
  left: 0;
  background: url("../images/icons/prev-next-tab.png") no-repeat;
} 
.tabs-area .slick-next{
  right: 0;
  background: url("../images/icons/prev-next-tab.png") 0 -28px no-repeat;
}


