/* colorPickerBox 1 EXAMPLE */
#colorPickerBox, #colorPickerGrp
{
    width:          30px;
    height:         30px;
    position: relative;
    clear: both;
    z-index:        9999999;
   /* margin: 80px auto 20px;*/
}

#colorPickerBox .track canvas ,#colorPickerGrp  .track canvas { opacity:1;}

#colorPickerBox .track ,#colorPickerGrp  .track {
    background:     #EFEFEF url(../images/text-color.png) no-repeat 50% 50%;
    height:         150px;
    width:          150px;
    padding:        0px;
    position:       absolute;
    cursor:         crosshair;
    float:          left;
    left:           -71px;
    top:            -71px;
    display:        none;
    border:         1px solid #ccc;
    z-index:        9999999;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;

}

#colorPickerBox .color ,#colorPickerGrp  .color {
     width:          110px;
    height:         25px;
    padding:        0px;
   
    display:        block;
    position:       relative;
    z-index:        9999999;
    
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    cursor: pointer;
    padding-left:25px;
    text-align:center;
    line-height:25px;
    color:#b6c0d5;
    font-size:12px;
}

#colorPickerBox .colorInner , #colorPickerGrp  .colorInner  {
    width:          25px;
    height:         25px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
	position:absolute;
	top:0px;
	left:0px;
	border:         1px solid #ccc;
	background-color: #EFEFEF;
}

#colorPickerBox .dropdown, #colorPickerGrp  .dropdown  {
    list-style: none;
    display: none;
    width: 27px;
    position: absolute;
    top: 28px;
    border: 1px solid #ccc;
    left: 0;
    z-index: 1000;
}

#colorPickerBox .dropdown li, #colorPickerGrp .dropdown li{
    height: 25px;
    cursor: pointer;
}
