$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';


body {
	background: $base-background-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $base-text-color;
	min-width:$base-min-width;
}

.events-section {
    padding: 15px 0 0;
}
.search-event-area {
	padding: 0 25px 18px;
	box-shadow:         0px 7px 7px -7px rgba(0, 0, 0, 0.75);
}
.events-list-area.details-active,
.events-list-area.details-active .detail-active,
.events-list-area.details-active .scroll-area,
.events-list-area.details-active .events-detail-area{
	height:100%;
}
.search-event-area .search-form {
	max-width: 250px;
	margin: 0 auto 23px;
}
.add-event-btn {
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
	font:bold 12px/15px "Roboto",Arial,Helvetica,san-serif;
	color: #fff;
	letter-spacing:0.2px;
	a{
		font:bold 12px/15px "Roboto",Arial,Helvetica,san-serif;
		color: #fff;
	}
}

/* events-list-area */
.events-list-area >li{
	padding: 15px 25px;
	border-bottom: 1px solid #5b6074;
}
.events-list-area> li:hover{
	background: #5b6074;
}
.events-list-area .events-list-row{
	display: table;
	width: 100%;
	table-layout: fixed;
}
.events-list-area .date-cell{
	display: table-cell;
	vertical-align: middle;
	width: 20%;
	padding: 0 10px 0 0;
}
.events-list-area .event-cell {
	display: table-cell;
	vertical-align: middle;
	width: 60%;
	padding: 0 10px 0 0;
}
.events-list-area .subject-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	width: 20%;
}
.events-list-area .date-cell span{
	display: inline-block;
	vertical-align: top;
	width: 41px;
	height: 41px;
	border-radius: 5px; 
	border: 2px solid #edf2f6;  
	border-top: 10px solid #edf2f6; 
	font: bold 8px/130% "Roboto",Arial,Helvetica,san-serif;
	color: #edf2f6;
	padding: 5px 0 0;
	margin-top:1px;
}
.events-list-area .date-cell b{
	display: block;
	text-align: center;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
	font-size: 12px;
	margin: 0 0 2px;
}
.events-list-area .date-cell i{
	display: block;
	text-align: center;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
	text-transform: uppercase;
}
.events-list-area .event-cell h3{
	font: bold 14px/120% "Roboto",Arial,Helvetica,san-serif;
	color: #f65b42;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing:0.4px;
}
.events-list-area .event-cell h3 a{
	color: #f65b42;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
}
.events-list-area .event-cell p{
	font: 10px/130% "Roboto",Arial,Helvetica,san-serif;
	color: #edf2f6;
	letter-spacing:0.3px;
}
.events-list-area .event-cell p span{
	color: #f65b42;
}
.events-list-area .subject-cell a.mobile{
	display: none;
}
.events-list-area .subject-cell a{
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 25px;
	position: relative;
	cursor: pointer;
	font: bold 14px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #5b6074;
	margin-top:2px;
}
.events-list-area> LI:hover .subject-cell a{
	color: #363946;
}
.events-list-area .subject-cell a:hover{
	text-decoration: none;
}
.events-list-area .subject-cell a:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 15px;
	background: url("../images/icons/icon-8.png") no-repeat;
}
.events-list-area >LI:hover .subject-cell a:before{
	background-position: 0 -15px;
}
.events-list-group-btn {
	padding: 10px 0 0;
	text-align: center;
}
.events-list-group-btn>:nth-child(3){
	float: right;
}
.events-list-group-btn .radio-buttons{
	text-align:justify;
	line-height:0;
}
.events-list-group-btn .radio-buttons:after{
	display:inline-block;
	vertical-align:top;
	content:'';
	width:100%;
}
.events-list-group-btn.gruop-checked .radio-buttons{display:none;}
.events-list-group-btn a{
	display: inline-block;
	vertical-align: top;
	background: #f65b42;
	text-align: center;
	font: bold 12px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #fff;
	border-radius: 5px;
	padding: 9px 11px;
}
.events-list-group-btn a.checked{background:#e63b22;}

/* event-discussion-area */
.event-discussion-area {
	position: absolute;
	right: 5%;
	max-width: 345px;
	z-index: -1;
	width: 80%;
	top: 0;
	background: #dfe4e8;
	box-shadow:         1px 1px 3px 0px rgba(73, 81, 88, 0.75);
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}
.event-discussion-area.active-discussion{
	right:-113%;
	width:113%;
}
.event-discussion-area .discussion-title {
	position: relative;
	font: 14px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #4d5163;
	padding: 18px 54px 18px 20px;
	border-bottom: 1px solid #b1b9bf;
	overflow:hidden;
}
.event-discussion-area .hide-discussion-btn.mobile {
	display: none;
}
.event-discussion-area .hide-discussion-btn {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 14px;
	height: 10px;
	z-index: 10;
	background: url("../images/icons/icon-9.png") no-repeat;
	&:hover,
	&:focus{
		text-decoration:none;
	}
	&:before{
		content:'';
		position:absolute;
		left:-400px;
		top:-50px;
		right:-100px;
		bottom:-50px;
	}
}
.event-discussion-area .hide-discussion-btn:hover {
	text-decoration: none;
}


/* events-detail */
.events-detail-area{
	margin:0 -25px -15px;
}
.details-active>li.detail-active .details-meta,
.events-detail-area,
.details-active>li{
	display:none;
}
.details-active>li.detail-active,
.details-active>li.detail-active .events-detail-area{
	display:block;
}
.events-list-area.details-active>li:hover{
	background: none;
}
.events-detail-area .back-to-events-row {
	border-bottom: 1px solid #5b6074;
	padding: 0 25px 15px;
	display: table;
	width: 100%;
	table-layout: fixed;
}
.events-detail-area .back-to-events-row .cell{
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}
.events-detail-area .back-to-events-row>:last-child{
	text-align: right;
}
.events-detail-area .back-to-events-btn {
	display: inline-block;
	vertical-align: middle;
	font: bold 13px/100% "Roboto",Arial,Helvetica,san-serif;
	color: #5b6074;
}
.events-detail-area .message-counter {
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 27px;
	position: relative;
}
.events-detail-area .message-counter:hover {
	text-decoration: none;
}
.events-detail-area .message-counter:before {
	content: "";
	position: absolute;
	left: 0;
	top: 6px;
	width: 20px;
	height: 20px;
	background: url("../images/icons/icon-15.png") no-repeat;
}
.events-detail-area .message-counter span{
	display: inline-block;
	vertical-align: top;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #fff;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
	font: bold 12px/24px "Roboto",Arial,Helvetica,san-serif;
	color: #363946; 
	text-align: center;
}
.events-detail-title {
	display: table;
	width: 100%;
	table-layout: fixed;
	padding: 15px 25px;
}
.events-detail-title .date-cell {
	display: table-cell;
	vertical-align: middle;
	width: 20%;
	padding: 0 10px 0 0;
}
.events-detail-title .event-cell {
	display: table-cell;
	vertical-align: middle;
	width: 80%;
}
.events-detail-title  .date-cell span {
	border: 2px solid #edf2f6;
	border-top: 10px solid #edf2f6;
		color: #edf2f6;
		display: inline-block;
		font: bold 8px/120% "Roboto",Arial,Helvetica,san-serif;
		height: 41px;
		padding: 5px 0 0;
		vertical-align: top;
		width: 41px;
	border-radius: 5px;
}
.events-detail-title  .date-cell b {
		display: block;
		font-size: 12px;
		margin: 0 0 2px;
		overflow: hidden;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
}
.events-detail-title  .date-cell i {
		display: block;
		overflow: hidden;
		text-align: center;
		text-overflow: ellipsis;
		text-transform: uppercase;
		white-space: nowrap;
}
.events-detail-title .event-cell h3{
		font: bold 18px/100% "Roboto",Arial,Helvetica,san-serif;
		color: #edf2f6;
}
.events-detail-area .radio-group{
	display:block !important;
	position:static !important;
	height:auto !important;
	padding:0 25px 15px !important;
}
.events-detail-area .invite-friends-btn {
	padding: 0 25px;
}
.invite-friends-btn.mobile {
	display: none;
}
.events-detail-area .invite-friends-btn a {
	display: inline-block;
	vertical-align: top;
	font: 12px/100% "Roboto",Arial,Helvetica,san-serif;
		color: #f65b42;
	margin: 0 0 20px;
}
.events-detail-area .events-list-group-btn {
		padding: 0 25px 15px;
}
.pop-up-area{
	.accordion-area .accordion-panel{
		padding-top:0;
	}
}

@include media("<desktop"){
	.scroll-area.events-scroll {
		height: auto;
	}
	.events-detail-area .scroll-area {
		height: auto;
	}
	/* events-page */
	.events-desktop {
		display: none;
	} 
	.events-page .events-mobile {
		display: block;
	}
	.events-page .add-new-event-btn.mobile {
		display: block;
		background: #363946;
		text-align: center;
		font: bold 18px/100% 'Roboto', Arial, Helvetica, san-serif;
		color: #fff;
		padding: 26px 5px;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	}
	.events-page #content .main-content {
		display: none;
	} 
	.events-page #content .right-sidebar {
		display: none;
	} 
	.events-page #content .tab-nav {
		display: none;
	}
	.events-page #content .left-sidebar {
		background: #f6f0f0;
		float: none;
		width: 100%;
		display: block;
	}
	.events-page .search-event-area {
		display: none;
	}
	.events-page .tab-bar {
		display: none;
	}
	.events-list-area > LI {
		border-bottom: 1px solid #5b6074;
		padding: 15px 26px;
	} 
	.events-list-area > LI:hover {
		background: inherit;
	} 
	.events-list-area>:first-child:hover {
		background: #fff;
	} 
	.events-list-area>:first-child {
		padding: 25px 30px;
		background: #fff;
		border: none;
		margin: 20px 30px;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.13);
		-moz-box-shadow:    0px 2px 3px 0px rgba(0, 0, 0, 0.13);
		box-shadow:         0px 2px 3px 0px rgba(0, 0, 0, 0.13);
	} 
	.events-list-area>:nth-child(2) {
		border-top: 1px solid #5b6074;
	}
	.events-list-area>:first-child  .date-cell SPAN {
		border: 3px solid #5b6074;
		border-top: 16px solid #5b6074;
		color: #5b6074;
		font: bold 13px/120% "Roboto",Arial,Helvetica,san-serif;
		height: 67px;
		padding: 5px 0 0;
		width: 67px;
		border-radius: 7px;
	}
	.events-list-area>:first-child  .date-cell {
		display: table-cell;
		padding: 0 30px 0 0;
		vertical-align: middle;
		width: 17%;
	}
	.events-list-area>:first-child .event-cell {
		padding: 0 10px 0 0;
		width: 65%;
	}
	.events-list-area>:first-child .subject-cell {
		width: 18%;
	}
	.events-list-area>:first-child .event-cell H3 {
		font: bold 23px/130% "Roboto",Arial,Helvetica,san-serif;
	}
		
	.events-list-area>:first-child .event-cell P {
		font: 16px/130% "Roboto",Arial,Helvetica,san-serif;
		color: #5b6074;
	}
	.events-list-group-btn A {
		font: bold 18px/100% "Roboto",Arial,Helvetica,san-serif;
		width: 32%;
	}
	.events-list-group-btn {
		padding: 30px 0 0;
	}
	.events-list-area>:first-child .subject-cell A:before {
		background: url("../images/icons/icon-11.png") no-repeat;
		height: 20px;
		width: 22px;
	}
	.events-list-area>:first-child .subject-cell A {
		color: #8391a4;
		font: bold 18px/100% "Roboto",Arial,Helvetica,san-serif;
		padding: 0 0 0 34px;
	}
	.events-list-area>:first-child:hover .subject-cell A:before {
		background-position: 0 0;
	}
	.events-list-area>:first-child:hover .subject-cell A {
		color: #8391a4;
	} 
	/*  */
	.events-list-area .date-cell {
		padding: 0 20px 0 0;
		width: 10%;
	}
	.events-list-area .event-cell {
		width: 75%;
	}
	.events-list-area .subject-cell {
		width: 15%;
	}
	.events-list-area .subject-cell A.desktop {
		display: none;
	} 
	.events-list-area .subject-cell A.mobile {
		display: inline-block;
	}
	.events-list-area .date-cell span {
		border: 2px solid #5b6074;
		border-top: 10px solid #5b6074;
		color: #5b6074;
		font: bold 8px/120% "Roboto",Arial,Helvetica,san-serif;
		padding: 5px 0 0;
	}
	.events-list-area .date-cell B {
		font-size: 12px;
	}
	.events-list-area .event-cell H3 {
		font: bold 16px/130% "Roboto",Arial,Helvetica,san-serif;
	}
	.events-list-area .event-cell P {
		color: #5b6074;
		font: 12px/130% "Roboto",Arial,Helvetica,san-serif;
	}
}

@include media("<tablet"){
	.events-list-area>:first-child {
		padding: 25px 20px;
		margin: 20px 10px;
	}
	.events-list-area>:first-child  .date-cell {
		padding: 0 15px 0 0;
		width: 21%;
	}
	.events-list-area>:first-child .event-cell {
		width: 63%;
	}
	.events-list-area>:first-child .subject-cell {
		width: 16%;
	}
	.events-list-area .date-cell {
		width: 15%;
	}
	.events-list-area .event-cell {
		width: 70%;
	}
	.events-list-area .subject-cell {
		width: 15%;
	}
}

@include media("<phone"){
	/* events-page */
	.events-list-area >:first-child .date-cell SPAN {
		height: 50px;
		width: 50px;
		font-size: 10px;
	}
	.events-list-area >:first-child .event-cell H3 {
		font-size: 12px;
	}
	.events-list-area >:first-child .event-cell P {
		font-size: 10px;
	}
	.events-list-area>:first-child  .date-cell {
		padding: 0 10px 0 0;
		width: 23%;
	}
	.events-list-area>:first-child .event-cell {
		width: 61%;
	}
	.events-list-area>:first-child .subject-cell {
		width: 16%;
	}
	.events-list-area >:first-child .subject-cell A::before {
		background-size: contain;
		height: 15px;
		width: 15px;
	}
	.events-list-area >:first-child .subject-cell A {
		color: #8391a4;
		font-size: 13px;
		padding: 0 0 0 24px;
	}
	.events-list-group-btn A {
		font-size: 13px;
	}
	.events-list-area .date-cell {
		width: 23%;
	}
	.events-list-area .event-cell {
		width: 62%;
	}
	.events-list-area .subject-cell {
		width: 15%;
	}
	.events-list-area .event-cell H3 {
		font-size: 12px;
	}
	.events-list-area .event-cell P {
		font-size: 10px;
	}
	.event-discussion-page .message-form BUTTON {
		max-width: none;
		width: auto;
	}
	/* events-detail-page */
	.events-detail-page .events-detail-title .date-cell {
		padding: 0 10px 0 0;
		width: 28%;
	}
	.events-detail-page .events-detail-title .event-cell {
		width: 72%;
	}
	.events-detail-page .events-detail-title .event-cell H3 {
		font-size: 18px;
	} 
	.events-detail-page .info-table .row > :first-child {
		font-size: 14px;
		width: 28%;
	}
	.events-detail-page .info-table .row > *:last-child {
		font-size: 14px;
		width: 72%;
	} 
}