$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';

body {
	background: $base-background-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $base-text-color;
	min-width:$base-min-width;
}

/* accordion */
.accordion-area.expand-collapse.mobile {
	display: none;
}
#content .accordion-title-tow.bg-1 {
	background: rgb(249,110,87);
	background: linear-gradient(to bottom,  rgba(249,110,87,1) 0%,rgba(219,97,77,1) 100%);
	.group-setting-editing-active &{
		background: linear-gradient(to bottom,  rgba(246,91,66,1) 0%,rgba(216,80,58,1) 100%);
	}
}
#content .accordion-title-tow.bg-2 {
	background: rgb(109,170,122);
	background: linear-gradient(to bottom,  rgba(109,170,122,1) 0%,rgba(96,150,107,1) 100%);
	.group-setting-editing-active &{
		background: linear-gradient(to bottom,  rgba(93,160,108,1) 0%,rgba(86,134,96,1) 100%);
	}
}
#content .accordion-title-tow.bg-3 {
	background: rgb(63,153,215);
	background: linear-gradient(to bottom,  rgba(63,153,215,1) 0%,rgba(55,135,189,1) 100%);
	.group-setting-editing-active &{
		background: linear-gradient(to bottom,  rgba(44,141,209,1) 0%,rgba(44,121,169,1) 100%);
	}
}
#content .accordion-title-tow.bg-4 {
	background: rgb(135,163,176);
	background: linear-gradient(to bottom,  rgba(135,163,176,1) 0%,rgba(119,143,155,1) 100%);
	.group-setting-editing-active &{
		background: linear-gradient(to bottom,  rgba(120,151,166,1) 0%,rgba(105,131,143,1) 100%);
	}
}
#content .accordion-title-tow.bg-5 {
	background: rgb(165,114,83);
	background: linear-gradient(to bottom,  rgba(165,114,83,1) 0%,rgba(145,100,73,1) 100%);
	.group-setting-editing-active &{
		background: linear-gradient(to bottom,  rgba(148,102,74,1) 0%,rgba(128,88,64,1) 100%);
	}
}
#content .active .accordion-title-tow {
	box-shadow:         0px 4px 4px -4px rgba(0, 0, 0, 0.7);
}
#content .accordion-area .accordion-content{
	overflow:hidden;
}
#content .accordion-area .active .accordion-content{
	height:auto;
}
#content .active .accordion-title-tow.bg-1 {
	border-bottom: 3px solid #5a2017;
}
#content .active .accordion-title-tow.bg-2 {
	border-bottom: 3px solid #124e1f;
}
#content .active .accordion-title-tow.bg-3 {
	border-bottom: 3px solid #0e3048;
}
#content .active .accordion-title-tow.bg-4{
	border-bottom: 3px solid #213d4b;
}
#content .active .accordion-title-tow.bg-5{
	border-bottom: 3px solid #4b3223;
}
#content .accordion-title-tow{
	display: table;
	width: 100%;
	margin: 2px 0 0;
	table-layout: fixed;
}
#content .accordion-title-tow >a{
	display: table-cell;
	vertical-align: middle;
}
#content .accordion-btn {
	display: table-cell;
	vertical-align: middle;
	font: bold 12px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #fff;
	padding: 14px 0 14px 35px;
	width: 73%;
	cursor: pointer;
	.group-setting-editing-active &{
		width:50%;
		.quantity-person{
			display:none;
		}
	}
}
#content .alboms-btn {
	position: relative;
	width: 13.5%;
}
#content .accordion-title-tow .alboms-btn{
	.group-setting-editing-active &{
		display:none;
	}
}
#content .alboms-btn:hover,
#content .alboms-btn:focus {
	text-decoration: none;
}
#content .bg-1 .alboms-btn:hover {
	background: #f98c7a;
}
#content .bg-1 .alboms-btn:active {
	background: #9b3121;
}
#content .bg-2 .alboms-btn:hover {
	background: #7bc18a;
}
#content .bg-2 .alboms-btn:active {
	background: #3a6743;
}
#content .bg-3 .alboms-btn:hover {
	background: #58a9e1;
}
#content .bg-3 .alboms-btn:active {
	background: #2270a6;
}
#content .bg-4 .alboms-btn:hover {
	background: #95b3c1;
}
#content .bg-4 .alboms-btn:active {
	background: #677c85;
}
#content .bg-5 .alboms-btn:hover {
	background: #b57751;
}
#content .bg-5 .alboms-btn:active {
	background: #824f30;
}
#content .alboms-btn:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 19px;
	height: 14px;
	background: url("../images/icons/alboms.png") no-repeat;
	margin: -7px 0 0 -9.5px;
}
#content .accordion-panel:first-child .alboms-btn:before{
	width:22px;
	height:17px;
	background:url(../images/icons/icon-person-accordion.png) no-repeat;
	background-size:100% 100%;
	margin:-9px 0 0 -11px;
}
#content .accordion-panel:first-child .posts-btn{
	font-size:11px;
	line-height:1.8em;
	text-indent:0;
	text-align:center;
	color:#fff;
	padding-top:2px;
	&:before{
		display:none;
	}
}
#content .posts-btn {
	position: relative;
	width: 13.5%;
}
#content .accordion-title-tow .posts-btn{
	.group-setting-editing-active &{
		display:none;
	}
}
#content .posts-btn:hover,
#content .posts-btn:focus {
	text-decoration: none;
}
#content .bg-1 .posts-btn:hover {
	background: #f98c7a;
}
#content .bg-1 .posts-btn:active {
	background: #9b3121;
}
#content .bg-2 .posts-btn:hover {
	background: #7bc18a;
}
#content .bg-2 .posts-btn:active {
	background: #3a6743;
}
#content .bg-3 .posts-btn:hover {
	background: #58a9e1;
}
#content .bg-3 .posts-btn:active {
	background: #2270a6;
}
#content .bg-4 .posts-btn:hover {
	background: #95b3c1;
}
#content .bg-4 .posts-btn:active {
	background: #677c85;
}
#content .bg-5 .posts-btn:hover {
	background: #b57751;
}
#content .bg-5 .posts-btn:active {
	background: #824f30;
}
#content .posts-btn:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 18px;
	height: 14px;
	background: url("../images/icons/posts.png") no-repeat;
	margin: -7px 0 0 -9px;
}

#content .accordion-title-tow{
	.accordion-title-tow-edit,
	.accordion-title-tow-delete{
		width:54px;
		text-decoration:none;
		color:#fff;
		font-size:12px;
		font-weight:normal;
		text-align:center;
		display:none;
		.group-setting-editing-active &{
			display:table-cell;
		}
		&:hover,
		&:focus{
			background:rgba(255,255,255,0.2);
		}
		&:active{
			background:rgba(0,0,0,0.2);
		}
	}
	.accordion-title-tow-delete{
		width:60px;
	}
	.accordion-title-tow-menu{
		width:54px;
		text-align:center;
		display:none;
		.group-setting-editing-active &{
			display:table-cell;
		}
		>span{
			display:inline-block;
			vertical-align:top;
			width:26px;
			position:relative;
			overflow:hidden;
			padding:6px 0 0;
		}
		.bullet{
			float:left;
			width:6px;
			height:6px;
			margin:0 0 0 4px;
			background:#fff;
			border-radius: 100%;
			&:first-child{
				margin-left:0;
			}
		}
		&:hover,
		&:focus{
			background:rgba(255,255,255,0.2);
		}
	}
	&.active-tow-menu-drop{
		.accordion-title-tow-menu{
			background:rgba(0,0,0,0.2);
		}
	}
}

#content .accordion-title-tow-menu-drop{
	position:absolute;
	top:40px;
	right:5px;
	background:#fff;
	border-radius: 5px;
	padding:10px 0 12px;
	box-shadow:0 0 3px 0 rgba(0,0,0,0.3);
	z-index:100;
	min-width:82px;
	display:none;
	>ul{
		padding:0;
		margin:0;
		list-style:none;
		>li{
			position:relative;
			>a{
				display:block;
				padding:6px 16px;
				font-size:14px;
				line-height:18px;
				text-decoration:none;
				outline:none;
				color:#333;
				&:hover,
				&:focus{
					background:#d2d9df;
					color:#333;
					text-decoration:none;
				}
			}
		}
	}
	&:before,
	&:after{
		content:'';
		position:absolute;
		right:12px;
		top:-18px;
		border:solid;
		border-width:9px 10px;
		border-color:transparent transparent rgba(0,0,0,0.3) transparent;
	}
	&:after{
		top:-16px;
		right:13px;
		border-width:8px 9px;
		border-color:transparent transparent #fff transparent;
	}
}

#content .accordion-content .add-people-btn {
	display: block;
	text-align: center;
	border-bottom: 1px solid #6b7583;
	font: 14px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #6b7583;
	padding: 20px 15px;
}
#content .accordion-content .list-items li{
	padding: 9px 10px 10px 25px;
	display: table;
	width: 100%;
	table-layout: fixed;
}
#content .accordion-content .left-cell{
	display: table-cell;
	vertical-align: middle;
	padding: 0 13px 0 0;
	width: 58px;
}
#content .accordion-content .text-box{
	display: table-cell;
	vertical-align: middle;
	width: 60%;
}
#content .accordion-content .right-cell{
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	padding-right:10px;
}
#content .accordion-content .wrap-img {
	display: inline-block;
	vertical-align: top;
	position: relative;
}
#content .accordion-content .wrap-img img{
	max-width: 45px;
	max-height: 45px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}
#content .accordion-content .wrap-img.active:before {
	content: "";
	position: absolute;
	z-index: 10;
	right: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #9ec289;
	border-radius: 50%;
}
#content .accordion-content .text-box h3 {
	font: bold 14px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #f96e57;
	margin: 0 0 5px;
}
#content .accordion-content .text-box h3 a{
	color: #f96e57;
}
#content .accordion-content .text-box p {
	font: 10px/100% 'Roboto', Arial, Helvetica, san-serif;
	color: #8391a4;
}
#content .accordion-content .notifications {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 15px;
	background: url("../images/icons/notifications.png") 0 -15px no-repeat;
}
#content .accordion-content .notifications:hover{
	text-decoration: none;
}
#content .accordion-content .notifications:hover,
#content .accordion-content .notifications:active {
	width: 16px;
	height: 15px;
	background: url("../images/icons/notifications.png") no-repeat;
}

@include media("<desktop"){
	#content .accordion-content .left-cell{
		width: 9%;
	}
	#content .accordion-content .text-box{
		width: 71%;
	}
	#content .accordion-content .right-cell{
		width: 20%;
	}
	#content .accordion-content .notifications.active {
		background: url("../images/icons/notifications-mobile.png") no-repeat;
		height: 14px;
		width: 15px;
	}
	#content .accordion-content .notifications {
		background: url("../images/icons/notifications-mobile.png") 0 -14px no-repeat;
		height: 13px;
		width: 14px;
	}
	.groups-page  #content .accordion-btn {
		font-size: 18px;
		padding: 21px 0 21px 35px;

	}
	.groups-page #content .accordion-title-tow {
		margin: 0;
	}
	.groups-page #content .accordion-title-tow.bg-1 {
		background: #f65b42;
	}
	.groups-page #content .accordion-title-tow.bg-2 {
		background: #6daa7a;
	} 
	.groups-page #content .accordion-title-tow.bg-3 {
		background: #3f99d7;
	} 
	.groups-page #content .accordion-title-tow.bg-4 {
		background: #f65b42;
	} 
	.groups-page #content .accordion-title-tow.bg-5 {
		background: #a57253;
	}
	.groups-page #content .active .accordion-title-tow {
		border-bottom: none;
	}
	.groups-page #content .active .accordion-title-tow {
		box-shadow: none;
	}
	.groups-page #content .accordion-content .add-people-btn {
		border-bottom: 1px solid #f65b42;
		color: #f65b42;
		display: block;
		font: 500 14px/100% "Roboto",Arial,Helvetica,san-serif;
		padding: 25px 15px;
		text-align: center;
	}
	.groups-page #content .accordion-content .list-items LI {
		padding: 20px 22px 20px 30px;
		border-bottom: 1px solid #eadbdb;
		position: relative;
	}
	.groups-page #content .accordion-content .list-items LI:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 1px;
		background: rgba(255,255,255,0.75);
	}
	.groups-page #content .accordion-content .list-items>:last-child {
		border-bottom: none;
	}
	.groups-page #content .accordion-content .list-items>:last-child:after {
		display: none;
	}
	.groups-page #content .accordion-content .text-box H3 {
		font-size: 18px;
	}

	.groups-page #content .accordion-content .text-box P {
		font-size: 12px;
	}
}

@include media("<tablet"){
	#content .accordion-content .left-cell{
		width: 16%;
	}
	#content .accordion-content .text-box{
		width: 76%;
	}
	#content .accordion-content .right-cell{
		width: 8%;
	}
}

#content .accordion-area .accordion-content{
	.accordion-content-add-text{
		padding:14px 30px;
		color:#6b7583;
		font-size:14px;
		line-height:18px;
		p{
			margin:0;
		}
	}
}
#content .accordion-content .list-items li{
	position:relative;
	.overlay{
		position:absolute;
		top:0;
		right:0;
		width:80%;
		height:100%;
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(54, 57, 70,1) 60%,rgba(54, 57, 70,1) 100%);
		pointer-events:none;
		opacity:0;
		visibility:hidden;
		transition: all 0.25s ease;
		z-index:3;
	}
	.btn-add{
		position:absolute;
		top:20px;
		right:15px;
		width:59px;
		height:25px;
		border-radius:4px;
		color:#fff;
		font-size:12px;
		line-height:15px;
		background:$base-link-color;
		transition: all 0.3s ease-in-out;
		z-index:4;
		text-align:center;
		padding:6px 5px;
		opacity:0;
		visibility:visible;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 1px solid $base-link-color;
			z-index: -1;
			border-radius: inherit;
			opacity: 0;
			transform: scale3d(0.6, 0.6, 1);
			transition: transform 0.3s, opacity 0.3s;
			transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		}
		&:hover {
			background: #ffe0cc;
			color:$base-link-color;
			text-decoration:none;
			&:before{
				transform: scale3d(1, 1, 1);
				opacity: 1;
			}
		}
	}
	&:hover{
		.overlay{
			transition: all 0.25s ease;
			visibility:visible;
			opacity:1;
		}
		.btn-add{
			transition: all 0.3s ease-in-out;
			opacity:1;
			visibility:visible;
		}
	}
}