<div class="category-container" data-current-id="discussions">
	<div class="create-general-post-holder">
		<article class="create-general-post-box">
			<div class="input-holder">
				<input type="text" placeholder="What`s new...">
			</div>
		</article>
		<section class="create-general-posts-section">
			<form action="#" class="custom-form">
				<ul class="tabset-create-post">
					<li class="active"><a href="#create-post0101">Post</a></li>
					<li><a href="#create-post0202">Travel</a></li>
					<li><a href="#create-post0303">Lifetime</a></li>
					<li><a href="#create-post0404">Media</a></li>
				</ul>
				<div class="tabset-create-post-content">
					<div id="create-post0101" class="tab-create-post">
						<div class="create-post-textarea">
							<textarea cols="30" rows="1" placeholder="Title"></textarea>
						</div>
						<ul class="upload-form-menu">
							<li class="upload-photo">
								<a href="">photo</a>
							</li>
							<li class="upload-video">
								<a href="#">video</a>
							</li>
							<li class="person-link">
								<a href="#who-can-see-this-post" class="lightbox">person</a>
							</li>
						</ul>
						<ul class="create-list-participants">
							<li><strong class="title">Sam Gunn</strong> <a href="#" class="close">close</a></li>
							<li><strong class="title">Sam Tompson</strong> <a href="#" class="close">close</a></li>
						</ul>
						<ul class="uploaded-photos">
							<li>
								<img src="images/pictures/pic-71.jpg" height="55" width="69" alt="">
								<a href="#" class="close">close</a>
							</li>
							<li>
								<img src="images/pictures/pic-72.jpg" height="55" width="69" alt="">
								<a href="#" class="close">close</a>
							</li>
							<li>
								<img src="images/pictures/pic-73.jpg" height="55" width="69" alt="">
								<a href="#" class="close">close</a>
							</li>
							<li>
								<img src="images/pictures/pic-74.jpg" height="55" width="69" alt="">
								<a href="#" class="close">close</a>
							</li>
							<li>
								<img src="images/pictures/pic-75.jpg" height="55" width="69" alt="">
								<a href="#" class="close">close</a>
							</li>
							<li>
								<img src="images/pictures/pic-76.jpg" height="55" width="69" alt="">
								<a href="#pupup-create-uploaded-images" class="add-link-photo lightbox"><span class="frame"><span class="number">+20</span> photos</span></a>
							</li>
						</ul>
						<ul class="uploaded-videos">
							<li>
								<img src="images/pictures/pic-77.jpg" height="60" width="90" alt="">
								<a href="#" class="close">close</a>
								<span class="time">0:54</span>
							</li>
							<li>
								<img src="images/pictures/pic-78.jpg" height="60" width="90" alt="">
								<a href="#" class="close">close</a>
								<span class="time">0:54</span>
							</li>
							<li>
								<img src="images/pictures/pic-77.jpg" height="60" width="90" alt="">
								<a href="#" class="close">close</a>
								<span class="time">0:54</span>
							</li>
							<li>
								<img src="images/pictures/pic-78.jpg" height="60" width="90" alt="">
								<a href="#" class="close">close</a>
								<span class="time">0:54</span>
							</li>
							<li>
								<img src="images/pictures/pic-77.jpg" height="60" width="90" alt="">
								<span class="time">0:54</span>
								<a href="#pupup-create-uploaded-videos" class="add-link-photo lightbox"><span class="frame"><span class="number">+20</span> videos</span></a>
							</li>
						</ul>
						<div class="footer-info-section">
							<strong class="title">Who can see this post:</strong>
							<div class="text-holder">
								<ul class="member-list">
									<li><a href="#">Sam Thompson</a>,</li>
									<li><a href="#">Paul Tower</a>,</li>
									<li><a href="#">Old Friends</a>,</li>
									<li><a href="#">Wife’s friends</a></li>
								</ul>
								<a href="#" class="edit-link">Edit</a>
							</div>
						</div>
						<a href="#" class="btn-base">Post</a>
						<div class="related-section">
							<a href="#" class="related-opener">Related</a>
							<div class="related-slider">
								<ul class="related-menu-list">
									<li>
										<div class="date-box">
											<span class="date">06</span>
											<span class="month">feb</span>
										</div>
										<div class="text-holder">
											<div class="frame">
												<div class="holder">
													<h3><a href="#">Tom`s Bday party!</a></h3>
													<address>Long Str. 546,  3 Sep 2015</address>
													<span class="members">Members: <span class="number">24</span></span>
												</div>
											</div>
										</div>
										<a href="#" class="btn-add">Add to Event</a>
									</li>
									<li>
										<div class="image-box">
											<div class="img-holder">
												<img src="images/pictures/man-5.jpg">
											</div>
										</div>
										<div class="text-holder">
											<div class="frame">
												<div class="holder">
													<h3><a href="#">Simon McCoy</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
												</div>
											</div>
										</div>
										<a href="#" class="btn-add">Add to Event</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="create-post0202" class="tab-create-post">
						<div class="create-post-textarea">
							<textarea cols="30" rows="1" placeholder="Title"></textarea>
						</div>
						<ul class="upload-form-menu">
							<li class="upload-photo">
								<a href="">photo</a>
							</li>
							<li class="upload-video">
								<a href="#">video</a>
							</li>
							<li class="person-link">
								<a href="#who-can-see-this-post" class="lightbox">person</a>
							</li>
						</ul>
						<div class="map-section">
							<img src="images/pictures/pic-80.jpg" height="260" width="492" alt="">
						</div>
						<div class="location-input-form">
							<input type="text" placeholder="Type location">
							<button type="button" class="btn-base">Add</button>
						</div>
						<ul class="location-info-list">
							<li>
								<strong class="title">St.Louis, Missouri, North, USA</strong>
								<a href="#" class="close">close</a>
							</li>
							<li>
								<strong class="title">Kentucky, Tennessee, East, USA</strong>
								<a href="#" class="close">close</a>
							</li>
							<li>
								<strong class="title">Alabama, Mississippi, South, USA</strong>
								<a href="#" class="close">close</a>
							</li>
						</ul>
						<ul class="upload-form-menu">
							<li class="upload-photo">
								<a href="">photo</a>
							</li>
							<li class="upload-video">
								<a href="#">video</a>
							</li>
							<li class="person-link">
								<a href="#who-can-see-this-post" class="lightbox">person</a>
							</li>
						</ul>
						<ul class="create-list-participants">
							<li><strong class="title">Sam Gunn</strong> <a href="#" class="close">close</a></li>
							<li><strong class="title">Sam Tompson</strong> <a href="#" class="close">close</a></li>
						</ul>
						<div class="edit-btns-block">
							<a href="#popup-resultat-uploaded-images" class="btn-edit-large lightbox">Edit Photos</a>
							<a href="#popup-resultat-uploaded-videos" class="btn-edit-large lightbox">Edit Videos</a>
						</div>
						
						<div class="footer-info-section">
							<strong class="title">Who can see this post:</strong>
							<div class="text-holder">
								<a href="#" class="edit-link">Edit</a>
							</div>
						</div>
						<a href="#" class="btn-base">Post</a>
						<div class="related-section">
							<a href="#" class="related-opener">Related</a>
							<div class="related-slider">
								<ul class="related-menu-list">
									<li>
										<div class="date-box">
											<span class="date">06</span>
											<span class="month">feb</span>
										</div>
										<div class="text-holder">
											<div class="frame">
												<div class="holder">
													<h3><a href="#">Tom`s Bday party!</a></h3>
													<address>Long Str. 546,  3 Sep 2015</address>
													<span class="members">Members: <span class="number">24</span></span>
												</div>
											</div>
										</div>
										<a href="#" class="btn-add">Add to Event</a>
									</li>
									<li>
										<div class="image-box">
											<div class="img-holder">
												<img src="images/pictures/man-5.jpg">
											</div>
										</div>
										<div class="text-holder">
											<div class="frame">
												<div class="holder">
													<h3><a href="#">Simon McCoy</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
												</div>
											</div>
										</div>
										<a href="#" class="btn-add">Add to Event</a>
									</li>
								</ul>
							</div>
							<span class="add-text">to:</span>
							<ul class="create-list-participants">
								<li><strong class="title">Tom’s Bday Party</strong> <a href="#" class="close">close</a></li>
							</ul>
						</div>
					</div>
					<div id="create-post0303" class="tab-create-post">
						<div class="create-post-textarea add-info-popup">
							<textarea cols="30" rows="1" placeholder="Title"></textarea>
							<div class="info-popup">
								<a href="#" class="info-opener">opener</a>
								<div class="info-slider">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
								</div>
							</div>
						</div>
						<div class="add-cover-picture">
							<div class="frame">
								<a href="#" class="link">
									<span class="icon">icon</span>
									<span class="text">Add cover picture</span>
								</a>
							</div>
						</div>
						<div class="cover-picture-box">
							<div class="image-box">
								<img src="images/pictures/pic-82.jpg" height="309" width="492" alt="">
							</div>
							<ul class="nav-bar">
								<li><a href="#" class="link">Crop</a></li>
								<li><a href="#" class="link">Delete cover</a></li>
							</ul>
						</div>
						<div class="cover-picture-box">
							<div class="image-box">
								<img src="images/pictures/pic-83.jpg" height="309" width="492" alt="">
							</div>
							<ul class="crope-menu">
								<li><a href="#" class="yes">yes</a></li>
								<li><a href="#" class="no">no</a></li>
							</ul>
						</div>
						<div class="base-input-box">
							<input type="text" placeholder="">
						</div>
						<ul class="upload-form-menu">
							<li class="upload-photo">
								<a href="">photo</a>
							</li>
							<li class="upload-video">
								<a href="#">video</a>
							</li>
							<li class="person-link">
								<a href="#who-can-see-this-post" class="lightbox">person</a>
							</li>
						</ul>
						<ul class="create-list-participants">
							<li><strong class="title">Sam Gunn</strong> <a href="#" class="close">close</a></li>
							<li><strong class="title">Sam Tompson</strong> <a href="#" class="close">close</a></li>
						</ul>
						<ul class="uploaded-photos">
							<li>
								<img src="images/pictures/pic-71.jpg" height="55" width="69" alt="">
								<a href="#" class="close">close</a>
							</li>
							<li>
								<img src="images/pictures/pic-72.jpg" height="55" width="69" alt="">
								<a href="#" class="close">close</a>
							</li>
							<li>
								<img src="images/pictures/pic-73.jpg" height="55" width="69" alt="">
								<a href="#" class="close">close</a>
							</li>
							<li>
								<img src="images/pictures/pic-74.jpg" height="55" width="69" alt="">
								<a href="#" class="close">close</a>
							</li>
							<li>
								<img src="images/pictures/pic-75.jpg" height="55" width="69" alt="">
								<a href="#" class="close">close</a>
							</li>
							<li>
								<img src="images/pictures/pic-76.jpg" height="55" width="69" alt="">
								<a href="#pupup-create-uploaded-images" class="add-link-photo lightbox"><span class="frame"><span class="number">+20</span> photos</span></a>
							</li>
						</ul>
						<ul class="uploaded-videos">
							<li>
								<img src="images/pictures/pic-77.jpg" height="60" width="90" alt="">
								<a href="#" class="close">close</a>
								<span class="time">0:54</span>
							</li>
							<li>
								<img src="images/pictures/pic-78.jpg" height="60" width="90" alt="">
								<a href="#" class="close">close</a>
								<span class="time">0:54</span>
							</li>
							<li>
								<img src="images/pictures/pic-77.jpg" height="60" width="90" alt="">
								<a href="#" class="close">close</a>
								<span class="time">0:54</span>
							</li>
							<li>
								<img src="images/pictures/pic-78.jpg" height="60" width="90" alt="">
								<a href="#" class="close">close</a>
								<span class="time">0:54</span>
							</li>
							<li>
								<img src="images/pictures/pic-77.jpg" height="60" width="90" alt="">
								<span class="time">0:54</span>
								<a href="#pupup-create-uploaded-videos" class="add-link-photo lightbox"><span class="frame"><span class="number">+20</span> videos</span></a>
							</li>
						</ul>
						<div class="footer-info-section">
							<strong class="title">Who can see this post:</strong>
							<div class="text-holder">
								<a href="#" class="edit-link">Edit</a>
							</div>
						</div>
						<a href="#" class="btn-base">Post</a>
						<div class="related-section">
							<a href="#" class="related-opener">Related</a>
							<div class="related-slider">
								<ul class="related-menu-list">
									<li>
										<div class="date-box">
											<span class="date">06</span>
											<span class="month">feb</span>
										</div>
										<div class="text-holder">
											<div class="frame">
												<div class="holder">
													<h3><a href="#">Tom`s Bday party!</a></h3>
													<address>Long Str. 546,  3 Sep 2015</address>
													<span class="members">Members: <span class="number">24</span></span>
												</div>
											</div>
										</div>
										<a href="#" class="btn-add">Add to Event</a>
									</li>
									<li>
										<div class="image-box">
											<div class="img-holder">
												<img src="images/pictures/man-5.jpg">
											</div>
										</div>
										<div class="text-holder">
											<div class="frame">
												<div class="holder">
													<h3><a href="#">Simon McCoy</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
												</div>
											</div>
										</div>
										<a href="#" class="btn-add">Add to Event</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="create-post0404" class="tab-create-post">
						<div class="create-post-textarea media">
							<textarea cols="30" rows="1" placeholder="Title"></textarea>
							<div class="create-media-tabs">
								<ul class="create-media-tabset">
									<li class="active"><a href="#media-tab01" class="video">video</a></li>
									<li><a href="#media-tab02" class="audio">audio</a></li>
								</ul>
							</div>
						</div>
						<div class="create-media-tabcontent">
							<div id="media-tab01" class="media-tab">
								<div class="add-box">
									<div class="frame">
										<a href="#" class="link">
											<span class="icon"></span>
											<span class="text">Add poster</span>
										</a>
									</div>
								</div>
								<div class="form-holder">
									<div class="row-holder"><input type="text" placeholder="Genre (use coma)"></div>
									<div class="row-holder">
										<select class="base-select">
											<option>Year</option>
											<option>2015</option>
											<option>2014</option>
										</select>
									</div>
									<div class="row-holder"><input type="text" placeholder="Director"></div>
									<div class="row-holder"><input type="text" placeholder="Stars (use coma)"></div>
									<div class="row-holder"><textarea cols="30" rows="10" placeholder="Plot"></textarea></div>
								</div>
							</div>
							<div id="media-tab02" class="media-tab">
								<div class="add-box">
									<div class="frame">
										<a href="#" class="link">
											<span class="icon album"></span>
											<span class="text">Add album cover</span>
										</a>
									</div>
								</div>
								<div class="form-holder">
									<div class="row-holder"><input type="text" placeholder="Genre (use coma)"></div>
									<div class="row-holder">
										<select class="base-select">
											<option>Year</option>
											<option>2015</option>
											<option>2014</option>
										</select>
									</div>
									<div class="row-holder"><input type="text" placeholder="Director"></div>
									<div class="row-holder"><input type="text" placeholder="Stars (use coma)"></div>
									<div class="row-holder"><textarea cols="30" rows="10" placeholder="Plot"></textarea></div>
								</div>
							</div>
						</div>
						<div class="base-input-box">
							<input type="text" placeholder="">
						</div>
						<ul class="upload-form-menu">
							<li class="upload-photo">
								<a href="">photo</a>
							</li>
							<li class="upload-video">
								<a href="#">video</a>
							</li>
							<li class="person-link">
								<a href="#who-can-see-this-post" class="lightbox">person</a>
							</li>
						</ul>
						<ul class="create-list-participants">
							<li><strong class="title">Sam Gunn</strong> <a href="#" class="close">close</a></li>
							<li><strong class="title">Sam Tompson</strong> <a href="#" class="close">close</a></li>
						</ul>
						<ul class="uploaded-photos">
							<li>
								<img src="images/pictures/pic-71.jpg" height="55" width="69" alt="">
								<a href="#" class="close">close</a>
							</li>
							<li>
								<img src="images/pictures/pic-72.jpg" height="55" width="69" alt="">
								<a href="#" class="close">close</a>
							</li>
							<li>
								<img src="images/pictures/pic-73.jpg" height="55" width="69" alt="">
								<a href="#" class="close">close</a>
							</li>
							<li>
								<img src="images/pictures/pic-74.jpg" height="55" width="69" alt="">
								<a href="#" class="close">close</a>
							</li>
							<li>
								<img src="images/pictures/pic-75.jpg" height="55" width="69" alt="">
								<a href="#" class="close">close</a>
							</li>
							<li>
								<img src="images/pictures/pic-76.jpg" height="55" width="69" alt="">
								<a href="#pupup-create-uploaded-images" class="add-link-photo lightbox"><span class="frame"><span class="number">+20</span> photos</span></a>
							</li>
						</ul>
						<ul class="uploaded-videos">
							<li>
								<img src="images/pictures/pic-77.jpg" height="60" width="90" alt="">
								<a href="#" class="close">close</a>
								<span class="time">0:54</span>
							</li>
							<li>
								<img src="images/pictures/pic-78.jpg" height="60" width="90" alt="">
								<a href="#" class="close">close</a>
								<span class="time">0:54</span>
							</li>
							<li>
								<img src="images/pictures/pic-77.jpg" height="60" width="90" alt="">
								<a href="#" class="close">close</a>
								<span class="time">0:54</span>
							</li>
							<li>
								<img src="images/pictures/pic-78.jpg" height="60" width="90" alt="">
								<a href="#" class="close">close</a>
								<span class="time">0:54</span>
							</li>
							<li>
								<img src="images/pictures/pic-77.jpg" height="60" width="90" alt="">
								<span class="time">0:54</span>
								<a href="#pupup-create-uploaded-videos" class="add-link-photo lightbox"><span class="frame"><span class="number">+20</span> videos</span></a>
							</li>
						</ul>
						<div class="footer-info-section">
							<strong class="title">Who can see this post:</strong>
							<div class="text-holder">
								<a href="#" class="edit-link">Edit</a>
							</div>
						</div>
						<a href="#" class="btn-base">Post</a>
						<div class="related-section">
							<a href="#" class="related-opener">Related</a>
							<div class="related-slider">
								<ul class="related-menu-list">
									<li>
										<div class="date-box">
											<span class="date">06</span>
											<span class="month">feb</span>
										</div>
										<div class="text-holder">
											<div class="frame">
												<div class="holder">
													<h3><a href="#">Tom`s Bday party!</a></h3>
													<address>Long Str. 546,  3 Sep 2015</address>
													<span class="members">Members: <span class="number">24</span></span>
												</div>
											</div>
										</div>
										<a href="#" class="btn-add">Add to Event</a>
									</li>
									<li>
										<div class="image-box">
											<div class="img-holder">
												<img src="images/pictures/man-5.jpg">
											</div>
										</div>
										<div class="text-holder">
											<div class="frame">
												<div class="holder">
													<h3><a href="#">Simon McCoy</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
												</div>
											</div>
										</div>
										<a href="#" class="btn-add">Add to Event</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<ul class="footer-bar-mobile">
					<li><a href="#" class="photo">photo</a></li>
					<li><a href="#" class="video">video</a></li>
					<li><a href="#" class="person">person</a></li>
					<li><a href="#" class="view">view</a></li>
					<li class="setting-menu">
						<a href="#" class="setting setting-opener">setting</a>
						<div class="setting-slider">
							<ul class="related-menu-list">
								<li>
									<div class="date-box">
										<span class="date">06</span>
										<span class="month">feb</span>
									</div>
									<div class="text-holder">
										<div class="frame">
											<div class="holder">
												<h3><a href="#">Tom`s Bday party!</a></h3>
												<address>Long Str. 546,  3 Sep 2015</address>
												<span class="members">Members: <span class="number">24</span></span>
											</div>
										</div>
									</div>
									<a href="#" class="btn-add">Add to Event</a>
								</li>
								<li>
									<div class="date-box">
										<span class="date">06</span>
										<span class="month">feb</span>
									</div>
									<div class="text-holder">
										<div class="frame">
											<div class="holder">
												<h3><a href="#">Tom`s Bday party!</a></h3>
												<address>Long Str. 546,  3 Sep 2015</address>
												<span class="members">Members: <span class="number">24</span></span>
											</div>
										</div>
									</div>
									<a href="#" class="btn-add">Add to Event</a>
								</li>
								<li>
									<div class="image-box">
										<div class="img-holder">
											<img src="images/pictures/man-5.jpg">
										</div>
									</div>
									<div class="text-holder">
										<div class="frame">
											<div class="holder">
												<h3><a href="#">Simon McCoy</a></h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
											</div>
										</div>
									</div>
									<a href="#" class="btn-add">Add to Event</a>
								</li>
								<li>
									<div class="image-box">
										<div class="img-holder">
											<img src="images/pictures/man-5.jpg">
										</div>
									</div>
									<div class="text-holder">
										<div class="frame">
											<div class="holder">
												<h3><a href="#">Simon McCoy</a></h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
											</div>
										</div>
									</div>
									<a href="#" class="btn-add">Add to Event</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</form>
		</section>
	</div>
	<div id="left-side-contnet">
		<div class="tab-panel">
			<ul class="tab-nav">
				<li class="active"><a href="#tab1">Groups</a></li>
				<li><a href="#tab2">Events</a></li>
			</ul>
			<div id="tab1" class="tab-section">
				<div class="btn-row desktop">
					<a href="#" class="add-new-group-btn">Add New Group</a>
					<div class="wrap-all-btn"><a href="#" class="all-btn">&nbsp;</a></div>
					<a href="#" class="messages-btn"><strong><span>15</span></strong></a>
				</div>
				<script type="text/html" id="accordion_slide">
					<li>
						<div class="left-cell"><a href="<%=avatarLink%>" class="wrap-img <%=avatarActive%>"><img src="<%=avatar%>" alt="<%=avatarDescription%>"></a></div>
						<div class="text-box">
							<h3><a href="<%=nameLink%>"><%=name%></a></h3>
							<p><%=descriptions%></p>
						</div>
						<div class="right-cell"><a href="#" class="notifications <%=notificationsActive%>">&nbsp;</a></div>
					</li>
				</script>
				<ul class="accordion-area expand-collapse">
					<li class="accordion-panel">
						<h3 data-acc-content="inc/accordion-persons-01.json" data-content-list="ajax-content-01" class="accordion-title-tow accordion-opener bg-1">
							<b class="accordion-btn">My best friends <span>7</span></b>
							<a href="#" class="alboms-btn">&nbsp;</a>
							<a href="#" class="posts-btn">&nbsp;</a>
						</h3>
						<div class="accordion-content acc-section">
							<a href="#" class="add-people-btn">Click here to add people</a>
							<div class="scroll-area">
								<ul class="list-items" data-ajax-target="ajax-content-01"></ul>
							</div>
						</div>
					</li>
					<li class="accordion-panel">
						<h3 data-acc-content="inc/accordion-persons-02.json" data-content-list="ajax-content-02" class="accordion-title-tow accordion-opener bg-2">
							<b class="accordion-btn">Wife’s friends <span>37</span></b>
							<a href="#" class="alboms-btn">&nbsp;</a>
							<a href="#" class="posts-btn">&nbsp;</a>
						</h3>	
						<div class="accordion-content acc-section">
							<a href="#" class="add-people-btn">Click here to add people</a>
							<div class="scroll-area">
								<ul class="list-items" data-ajax-target="ajax-content-02"></ul>
							</div>
						</div>
					</li>	
					<li class="accordion-panel">								
						<h3 data-acc-content="inc/accordion-persons-03.json" data-content-list="ajax-content-03" class="accordion-title-tow accordion-opener bg-3">
							<b class="accordion-btn">Poker club <span>12</span></b>
							<a href="#" class="alboms-btn">&nbsp;</a>
							<a href="#" class="posts-btn">&nbsp;</a>
						</h3>	
						<div class="accordion-content acc-section">
							<a href="#" class="add-people-btn">Click here to add people</a>
							<div class="scroll-area">
								<ul class="list-items" data-ajax-target="ajax-content-03"></ul>
							</div>	
						</div>	
					</li>		
					<li class="accordion-panel">								
						<h3 data-acc-content="inc/accordion-persons-04.json" data-content-list="ajax-content-04" class="accordion-title-tow accordion-opener bg-4">
							<b class="accordion-btn">Old friends <span>55</span></b>
							<a href="#" class="alboms-btn">&nbsp;</a>
							<a href="#" class="posts-btn">&nbsp;</a>
						</h3>	
						<div class="accordion-content acc-section">
							<a href="#" class="add-people-btn">Click here to add people</a>
							<div class="scroll-area">
								<ul class="list-items" data-ajax-target="ajax-content-04"></ul>
							</div>	
						</div>	
					</li>	
					<li class="accordion-panel">								
						<h3 data-acc-content="inc/accordion-persons-05.json" data-content-list="ajax-content-05" class="accordion-title-tow accordion-opener bg-5">
							<b class="accordion-btn">Familiars <span>18</span></b>
							<a href="#" class="alboms-btn">&nbsp;</a>
							<a href="#" class="posts-btn">&nbsp;</a>
						</h3>
						<div class="accordion-content acc-section">
							<a href="#" class="add-people-btn">Click here to add people</a>
							<div class="scroll-area">
								<ul class="list-items" data-ajax-target="ajax-content-05"></ul>
							</div>
						</div>
					</li>
				</ul> 
				<div class="btn-row mobile">
					<a href="#" class="add-new-group-btn">Add New Group</a>
					<a href="#" class="messages-btn"><strong><span>15</span></strong></a>
				</div>
			</div>
			<div id="tab2" class="events-section">
				<div>
					<div class="search-event-area">
						<form class="search-form" action="#">
							<input type="search" name="search" placeholder="Search">
							<button type="submit">&nbsp;</button>
						</form>
						<h6 class="add-event-btn"><a href="#">Add New Event</a></h6>
					</div>
					<div class="scroll-area events-scroll">
						<ul class="events-list-area">
							<li>
								<div class="events-list-row">
									<div class="date-cell">
										<span>
											<b>12</b>
											<i>JEN</i>
										</span>
									</div>
									<div class="event-cell">
										<h3><a href="#">James`s Bday party!</a></h3>
										<p>James`s house, 12 Jen 2015</p>
										<p>Members: <span>24</span></p>
									</div>
									<div class="subject-cell">
										<a href="#discussion1" class="desktop discusssion-opener">18</a>
										<a href="event-discussion1.html" class="mobile">18</a>
									</div>
								</div>
								<div class="radio-group events-list-group-btn clearfix">
									<div class="radio-buttons">
										<a href="#">Accept</a>
										<a href="#">Not sure</a>
										<a href="#">Decline</a>
									</div>
									<div class="change-slide">
										<a href="#" class="change-my-mind-btn">Change my mind</a>
									</div>
								</div>
							</li>	
							<li>
								<div class="events-list-row">
									<div class="date-cell">
										<span>
											<b>06</b>
											<i>FEB</i>
										</span>
									</div>
									<div class="event-cell">
										<h3><a href="#">Garage Sale</a></h3>
										<p>Old Str. 7, 6 Feb 2015</p>
										<p>Members: <span>55</span></p>
									</div>
									<div class="subject-cell">
										<a href="#discussion2" class="desktop discusssion-opener">5</a>
										<a href="event-discussion1.html" class="mobile">5</a>
									</div>
								</div>
								<div class="radio-group events-list-group-btn clearfix">
									<div class="radio-buttons">
										<a href="#">Accept</a>
										<a href="#">Not sure</a>
										<a href="#">Decline</a>
									</div>
									<div class="change-slide">
										<a href="#" class="change-my-mind-btn">Change my mind</a>
									</div>
								</div>
							</li>	
							<li>
								<div class="events-list-row">
									<div class="date-cell">
										<span>
											<b>12</b>
											<i>FEB</i>
										</span>
									</div>
									<div class="event-cell">
										<h3><a href="#">30 Seconds To Mars...</a></h3>
										<p>Chicago Arena, 12 Feb 2015</p>
										<p>Members: <span>12</span></p>
									</div>
									<div class="subject-cell">
										<a href="#discussion3" class="desktop discusssion-opener">38</a>
										<a href="event-discussion1.html" class="mobile">38</a>
									</div>
								</div>
								<div class="radio-group events-list-group-btn clearfix">
									<div class="radio-buttons">
										<a href="#">Accept</a>
										<a href="#">Not sure</a>
										<a href="#">Decline</a>
									</div>
									<div class="change-slide">
										<a href="#" class="change-my-mind-btn">Change my mind</a>
									</div>
								</div>
							</li>	
							<li>
								<div class="events-list-row">
									<div class="date-cell">
										<span>
											<b>22</b>
											<i>JEN</i>
										</span>
									</div>
									<div class="event-cell">
										<h3><a href="#">Sara`s Bday party!</a></h3>
										<p>Lemon Str. 42, 22 Feb 2015</p>
										<p>Members: <span>7</span></p>
									</div>
									<div class="subject-cell">
										<a href="#discussion4" class="desktop discusssion-opener">22</a>
										<a href="event-discussion1.html" class="mobile">22</a>
									</div>
								</div>
								<div class="radio-group events-list-group-btn clearfix">
									<div class="radio-buttons">
										<a href="#">Accept</a>
										<a href="#">Not sure</a>
										<a href="#">Decline</a>
									</div>
									<div class="change-slide">
										<a href="#" class="change-my-mind-btn">Change my mind</a>
									</div>
								</div>
							</li>	
							<li>
								<div class="events-list-row">
									<div class="date-cell">
										<span>
											<b>01</b>
											<i>MAR</i>
										</span>
									</div>
									<div class="event-cell">
										<h3><a href="#">Tom &amp; Ann’s anniver...</a></h3>
										<p>Long Str. 546, 1 Mar 2015</p>
										<p>Members: <span>50</span></p>
									</div>
									<div class="subject-cell">
										<a href="#discussion5" class="desktop discusssion-opener">16</a>
										<a href="event-discussion1.html" class="mobile">16</a>
									</div>
								</div>
								<div class="radio-group events-list-group-btn clearfix">
									<div class="radio-buttons">
										<a href="#">Accept</a>
										<a href="#">Not sure</a>
										<a href="#">Decline</a>
									</div>
									<div class="change-slide">
										<a href="#" class="change-my-mind-btn">Change my mind</a>
									</div>
								</div>
							</li>	
							<li>
								<div class="events-list-row">
									<div class="date-cell">
										<span>
											<b>03</b>
											<i>MAR</i>
										</span>
									</div>
									<div class="event-cell">
										<h3><a href="#">Tom`s Bday party!</a></h3>
										<p>Long Str. 546,  3 Sep 2015</p>
										<p>Members: <span>24</span></p>
									</div>
									<div class="subject-cell">
										<a href="#discussion6" class="desktop discusssion-opener">33</a>
										<a href="event-discussion1.html" class="mobile">33</a>
									</div>
								</div>
								<div class="radio-group events-list-group-btn clearfix">
									<div class="radio-buttons">
										<a href="#">Accept</a>
										<a href="#">Not sure</a>
										<a href="#">Decline</a>
									</div>
									<div class="change-slide">
										<a href="#" class="change-my-mind-btn">Change my mind</a>
									</div>
								</div>
							</li>	
							<li>
								<div class="events-list-row">
									<div class="date-cell">
										<span>
											<b>10</b>
											<i>MAR</i>
										</span>
									</div>
									<div class="event-cell">
										<h3><a href="#">Spring Party</a></h3>
										<p>Left Str. 55, 10 Mar 2015</p>
										<p>Members: <span>24</span></p>
									</div>
									<div class="subject-cell">
										<a href="#discussion7" class="desktop discusssion-opener">70</a>
										<a href="event-discussion1.html" class="mobile">70</a>
									</div>
								</div>
								<div class="radio-group events-list-group-btn clearfix">
									<div class="radio-buttons">
										<a href="#">Accept</a>
										<a href="#">Not sure</a>
										<a href="#">Decline</a>
									</div>
									<div class="change-slide">
										<a href="#" class="change-my-mind-btn">Change my mind</a>
									</div>
								</div>
							</li>	
							<li>
								<div class="events-list-row">
									<div class="date-cell">
										<span>
											<b>10</b>
											<i>APR</i>
										</span>
									</div>
									<div class="event-cell">
										<h3><a href="#">Dance Night</a></h3>
										<p>Some Str 22, 3 Apr 2015</p>
										<p>Members: <span>24</span></p>
									</div>
									<div class="subject-cell">
										<a href="#discussion8" class="desktop discusssion-opener">12</a>
										<a href="event-discussion1.html" class="mobile">12</a>
									</div>
								</div>
								<div class="radio-group events-list-group-btn clearfix">
									<div class="radio-buttons">
										<a href="#">Accept</a>
										<a href="#">Not sure</a>
										<a href="#">Decline</a>
									</div>
									<div class="change-slide">
										<a href="#" class="change-my-mind-btn">Change my mind</a>
									</div>
								</div>
							</li>	
							<li>
								<div class="events-list-row">
									<div class="date-cell">
										<span>
											<b>4</b>
											<i>JAN</i>
										</span>
									</div>
									<div class="event-cell">
										<h3><a href="#">Linkin Park concert</a></h3>
										<p>Orcestra Hall, 4 Jan 2015</p>
										<p>Members: <span>16</span></p>
									</div>
									<div class="subject-cell">
										<a href="#discussion9" class="desktop discusssion-opener">3</a>
										<a href="event-discussion1.html" class="mobile">3</a>
									</div>
								</div>
								<div class="radio-group events-list-group-btn clearfix">
									<div class="radio-buttons">
										<a href="#">Accept</a>
										<a href="#">Not sure</a>
										<a href="#">Decline</a>
									</div>
									<div class="change-slide">
										<a href="#" class="change-my-mind-btn">Change my mind</a>
									</div>
								</div>
							</li>		
							<li>
								<div class="events-list-row">
									<div class="date-cell">
										<span>
											<b>4</b>
											<i>JAN</i>
										</span>
									</div>
									<div class="event-cell">
										<h3><a href="#">Linkin Park concert</a></h3>
										<p>Orcestra Hall, 4 Jan 2015</p>
										<p>Members: <span>16</span></p>
									</div>
									<div class="subject-cell">
										<a href="#discussion10" class="desktop discusssion-opener">38</a>
										<a href="event-discussion1.html" class="mobile">38</a>
									</div>
								</div>
								<div class="radio-group events-list-group-btn clearfix">
									<div class="radio-buttons">
										<a href="#">Accept</a>
										<a href="#">Not sure</a>
										<a href="#">Decline</a>
									</div>
									<div class="change-slide">
										<a href="#" class="change-my-mind-btn">Change my mind</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<a href="#" class="add-new-event-btn mobile">Add New Event</a>
					<div id="discussion1" class="event-discussion-area">
						<div class="discussion-title">
							Event discussion
							<a href="#" class="hide-discussion-btn desktop">&nbsp;</a>
							<a href="events.html" class="hide-discussion-btn mobile">&nbsp;</a>
						</div>
						<div class="scroll-area discussion-scroll">
							<ul class="discussion-list">
								<li>
									<div class="wrap-img"><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">John</a></h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Samanta</a></h3>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Kirk</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Nina</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
							</ul>
						</div>
						<form class="message-form clearfix" action="#">
							<input type="text" name="message" placeholder="Type your message">
							<div class="message-btn">
								<a href="#" class="message-btn1">&nbsp;</a>
								<a href="#" class="message-btn2">&nbsp;</a>
							</div>
							<button type="submit">Send</button>
						</form>
					</div>	
					<div id="discussion2" class="event-discussion-area">
						<div class="discussion-title">
							Event discussion
							<a href="#" class="hide-discussion-btn">&nbsp;</a>
						</div>
						<div class="scroll-area discussion-scroll">
							<ul class="discussion-list">
								<li>
									<div class="wrap-img"><a href="#"><img src="images/pictures/man-3.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">John</a></h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Samanta</a></h3>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Kirk</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Nina</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
							</ul>
						</div>
						<form class="message-form clearfix" action="#">
							<input type="text" name="message" placeholder="Type your message">
							<div class="message-btn">
								<a href="#" class="message-btn1">&nbsp;</a>
								<a href="#" class="message-btn2">&nbsp;</a>
							</div>
							<button type="submit">Send</button>
						</form>
					</div>
					<div id="discussion3" class="event-discussion-area">
						<div class="discussion-title">
							Event discussion
							<a href="#" class="hide-discussion-btn">&nbsp;</a>
						</div>
						<div class="scroll-area discussion-scroll">
							<ul class="discussion-list">
								<li>
									<div class="wrap-img"><a href="#"><img src="images/pictures/man-3.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">John</a></h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Samanta</a></h3>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Kirk</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Nina</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
							</ul>
						</div>
						<form class="message-form clearfix" action="#">
							<input type="text" name="message" placeholder="Type your message">
							<div class="message-btn">
								<a href="#" class="message-btn1">&nbsp;</a>
								<a href="#" class="message-btn2">&nbsp;</a>
							</div>
							<button type="submit">Send</button>
						</form>
					</div>
					<div id="discussion4" class="event-discussion-area">
						<div class="discussion-title">
							Event discussion
							<a href="#" class="hide-discussion-btn">&nbsp;</a>
						</div>
						<div class="scroll-area discussion-scroll">
							<ul class="discussion-list">
								<li>
									<div class="wrap-img"><a href="#"><img src="images/pictures/man-3.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">John</a></h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Samanta</a></h3>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Kirk</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Nina</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
							</ul>
						</div>
						<form class="message-form clearfix" action="#">
							<input type="text" name="message" placeholder="Type your message">
							<div class="message-btn">
								<a href="#" class="message-btn1">&nbsp;</a>
								<a href="#" class="message-btn2">&nbsp;</a>
							</div>
							<button type="submit">Send</button>
						</form>
					</div>
					<div id="discussion5" class="event-discussion-area">
						<div class="discussion-title">
							Event discussion
							<a href="#" class="hide-discussion-btn">&nbsp;</a>
						</div>
						<div class="scroll-area discussion-scroll">
							<ul class="discussion-list">
								<li>
									<div class="wrap-img"><a href="#"><img src="images/pictures/man-3.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">John</a></h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Samanta</a></h3>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Kirk</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Nina</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
							</ul>
						</div>
						<form class="message-form clearfix" action="#">
							<input type="text" name="message" placeholder="Type your message">
							<div class="message-btn">
								<a href="#" class="message-btn1">&nbsp;</a>
								<a href="#" class="message-btn2">&nbsp;</a>
							</div>
							<button type="submit">Send</button>
						</form>
					</div>
					<div id="discussion6" class="event-discussion-area">
						<div class="discussion-title">
							Event discussion
							<a href="#" class="hide-discussion-btn">&nbsp;</a>
						</div>
						<div class="scroll-area discussion-scroll">
							<ul class="discussion-list">
								<li>
									<div class="wrap-img"><a href="#"><img src="images/pictures/man-3.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">John</a></h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Samanta</a></h3>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Kirk</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Nina</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
							</ul>
						</div>
						<form class="message-form clearfix" action="#">
							<input type="text" name="message" placeholder="Type your message">
							<div class="message-btn">
								<a href="#" class="message-btn1">&nbsp;</a>
								<a href="#" class="message-btn2">&nbsp;</a>
							</div>
							<button type="submit">Send</button>
						</form>
					</div>
					<div id="discussion7" class="event-discussion-area">
						<div class="discussion-title">
							Event discussion
							<a href="#" class="hide-discussion-btn">&nbsp;</a>
						</div>
						<div class="scroll-area discussion-scroll">
							<ul class="discussion-list">
								<li>
									<div class="wrap-img"><a href="#"><img src="images/pictures/man-3.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">John</a></h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Samanta</a></h3>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Kirk</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Nina</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
							</ul>
						</div>
						<form class="message-form clearfix" action="#">
							<input type="text" name="message" placeholder="Type your message">
							<div class="message-btn">
								<a href="#" class="message-btn1">&nbsp;</a>
								<a href="#" class="message-btn2">&nbsp;</a>
							</div>
							<button type="submit">Send</button>
						</form>
					</div>
					<div id="discussion8" class="event-discussion-area">
						<div class="discussion-title">
							Event discussion
							<a href="#" class="hide-discussion-btn">&nbsp;</a>
						</div>
						<div class="scroll-area discussion-scroll">
							<ul class="discussion-list">
								<li>
									<div class="wrap-img"><a href="#"><img src="images/pictures/man-3.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">John</a></h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Samanta</a></h3>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Kirk</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Nina</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
							</ul>
						</div>
						<form class="message-form clearfix" action="#">
							<input type="text" name="message" placeholder="Type your message">
							<div class="message-btn">
								<a href="#" class="message-btn1">&nbsp;</a>
								<a href="#" class="message-btn2">&nbsp;</a>
							</div>
							<button type="submit">Send</button>
						</form>
					</div>
					<div id="discussion9" class="event-discussion-area">
						<div class="discussion-title">
							Event discussion
							<a href="#" class="hide-discussion-btn">&nbsp;</a>
						</div>
						<div class="scroll-area discussion-scroll">
							<ul class="discussion-list">
								<li>
									<div class="wrap-img"><a href="#"><img src="images/pictures/man-3.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">John</a></h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Samanta</a></h3>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Kirk</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Nina</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
							</ul>
						</div>
						<form class="message-form clearfix" action="#">
							<input type="text" name="message" placeholder="Type your message">
							<div class="message-btn">
								<a href="#" class="message-btn1">&nbsp;</a>
								<a href="#" class="message-btn2">&nbsp;</a>
							</div>
							<button type="submit">Send</button>
						</form>
					</div>
					<div id="discussion10" class="event-discussion-area">
						<div class="discussion-title">
							Event discussion
							<a href="#" class="hide-discussion-btn">&nbsp;</a>
						</div>
						<div class="scroll-area discussion-scroll">
							<ul class="discussion-list">
								<li>
									<div class="wrap-img"><a href="#"><img src="images/pictures/man-3.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">John</a></h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Samanta</a></h3>
										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Kirk</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Nina</a></h3>
										<p>Sed ut!</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
								<li>
									<div class="wrap-img "><a href="#"><img src="images/pictures/man-2.jpg" alt="Picture"></a></div>
									<div class="text-box">
										<h3><a href="#">Sam</a></h3>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
									</div>
								</li>	
							</ul>
						</div>
						<form class="message-form clearfix" action="#">
							<input type="text" name="message" placeholder="Type your message">
							<div class="message-btn">
								<a href="#" class="message-btn1">&nbsp;</a>
								<a href="#" class="message-btn2">&nbsp;</a>
							</div>
							<button type="submit">Send</button>
						</form>
					</div>
				</div>
				<div class="events-detail-area events-detail-active">
					<div class="back-to-events-row clearfix">
						<div class="cell"><a href="#" class="back-to-events-btn">Back to events list</a></div>		
						<div class="cell"><a href="#" class="message-counter"><span>18</span></a></div>
					</div>
					<div class="scroll-area">
						<div class="events-detail-title">
							<div class="date-cell">
								<span>
									<b>4</b>
									<i>JAN</i>
								</span>
							</div>
							<div class="event-cell">
								<h3>James`s Bday party!</h3>
							</div>
						</div>
						<div class="invite-friends-btn"><a href="#invite-friends" class="pop-up-link">Invite friends</a></div>
						<div class="radio-group events-list-group-btn clearfix">
							<div class="radio-buttons">
								<a href="#">Accept</a>
								<a href="#">Not sure</a>
								<a href="#">Decline</a>
							</div>
							<div class="change-slide">
								<a href="#" class="change-my-mind-btn">Change my mind</a>
							</div>
						</div>
						<div class="info-table">
							<div class="row">
								<div class="cell">Place:</div>
								<div class="cell"><span>James`s house, Tim Stret 74, San-Francisco</span></div>
							</div>		
							<div class="row">
								<div class="cell">Start Time:</div>
								<div class="cell">12 Jenuary 2015 at 18:00</div>
							</div>	
							<div class="row">
								<div class="cell">End Time:</div>
								<div class="cell">13 Jenuary 2015 at 5:00</div>
							</div>
						</div>
						<div class="info-title-area">
							<span>Info</span>
						</div>
						<div class="info-content-area">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint</p>
						</div>	
						<div class="info-title-area">
							<span>Members</span>
						</div>
						<div class="info-content-area info-man-box">
							<ul class="info-man">
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
							</ul>
						</div>		
						<div class="info-title-area">
							<span>Doubters</span>
						</div>
						<div class="info-content-area info-man-box">
							<ul class="info-man">
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
								<li><a href="#"><img src="images/pictures/man-5.jpg" alt="Picture"></a></li>
							</ul>
						</div>
					</div>
					<div class="invite-friends-btn mobile">
						<a href="add-members-pop-up.html" class="invite-btn">Invite Friends</a>
						<a href="#" class="subject">&nbsp;</a>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div id="right-side-content">
		<div class="desktop">
			<div class="map">
				<div class="title-right-sidebar travel">
					<a href="#">Discussions Travel posts</a>
					<a href="#" class="add">&nbsp;</a>
				</div>
				<div class="map-area">
					<a href="javascript:;" class="full-map">&nbsp;</a>
					<div class="zoom">
						<a href="javascript:;" class="zoom-plus">+</a>
						<div id="zoom-slider"></div>
						<a href="javascript:;" class="zoom-minus">-</a>
					</div>
					<div>
						<div id="map"></div>
					</div>
				</div>
			</div>
			<div class="title-right-sidebar media">
				<a href="#">Media posts</a>
				<a href="#" class="add">&nbsp;</a>
			</div>
			<div class="media-box scroll-bar scroll-area">
				<ul>
					<li>
						<a href="#" class="wrap-img"><strong><img src="images/pictures/media-1.png" alt="Picture"></strong></a>
						<a href="#" class="title-name">Big Hero 6</a>
						<div class="wrap-user">
							<div><a href="#"><img src="images/pictures/man-9.jpg" alt="Picture"></a></div>
						</div>
					</li>
					<li>
						<a href="#" class="wrap-img"><strong><img src="images/pictures/pic-2.jpg" alt="Picture"></strong></a>
						<a href="#" class="title-name">The Grand Budapes Hotel</a>
						<div class="wrap-user">
							<div><a href="#"><img src="images/pictures/man-10.jpg" alt="Picture"></a></div>
						</div>
					</li>						
					<li>
						<a href="#" class="wrap-img"><strong><img src="images/pictures/media-3.png" alt="Picture"></strong></a>
						<a href="#" class="title-name">The Hobbit: The Battle of the Five Armies</a>
						<div class="wrap-user">
							<div><a href="#"><img src="images/pictures/man-11.jpg" alt="Picture"></a></div>
						</div>
					</li>	
					<li>
						<a href="#" class="wrap-img"><strong><img src="images/pictures/pic-2.jpg" alt="Picture"></strong></a>
						<a href="#" class="title-name">The Grand Budapes Hotel</a>
						<div class="wrap-user">
							<div><a href="#"><img src="images/pictures/man-10.jpg" alt="Picture"></a></div>
						</div>
					</li>	
				</ul>
			</div>					
			<div class="title-right-sidebar lifetime">
				<a href="#">Lifetime  posts</a>
				<a href="#" class="add">&nbsp;</a>
			</div>
			<div class="lifetime-box scroll-bar scroll-area">
				<ul>
					<li>
						<a href="#" class="wrap-img"><strong><img src="images/pictures/media-4.png" alt="Picture"></strong></a>
						<a href="#" class="title-name">Terry White married Simon Collins</a>
						<div class="wrap-user">
							<div><a href="#"><img src="images/pictures/man-8.jpg" alt="Picture"></a></div>
							<div><a href="#"><img src="images/pictures/man-12.jpg" alt="Picture"></a></div>
						</div>
					</li>			
					<li>
						<a href="#" class="wrap-img"><strong><img src="images/pictures/pic-2.jpg" alt="Picture"></strong></a>
						<a href="#" class="title-name">Phill Todd moved to new house at 18 King Street</a>
						<div class="wrap-user">
							<div><a href="#"><img src="images/pictures/man-13.jpg" alt="Picture"></a></div>
						</div>
					</li>						
					<li>
						<a href="#" class="wrap-img"><strong><img src="images/pictures/media-5.png" alt="Picture"></strong></a>
						<a href="#" class="title-name">Paul Tower did something</a>
						<div class="wrap-user">
							<div><a href="#"><img src="images/pictures/man-7.jpg" alt="Picture"></a></div>
						</div>
					</li>	
					<li>
						<a href="#" class="wrap-img"><strong><img src="images/pictures/pic-2.jpg" alt="Picture"></strong></a>
						<a href="#" class="title-name">Phill Todd moved to new house at 18 King Street</a>
						<div class="wrap-user">
							<div><a href="#"><img src="images/pictures/man-13.jpg" alt="Picture"></a></div>
						</div>
					</li>
				</ul>
			</div>	
		</div>
		<div class="wrap-column-group-area lifetime-mobile">
			<ul class="column-group-area">
				<li>
					<div class="column-group-section big gr-box">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-3.jpg" alt="Picture">
							<span><strong>Terry White</strong> married <strong>Simon Collins</strong></span>
						</a>
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
							<div><a href="#"><img alt="Picture" src="images/pictures/man-6.jpg"></a></div>
						</div>
					</div>	
					<div class="column-group-section">
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-7.jpg"></a></div>
						</div>
						<a href="#" class="image-box">
							<span><strong>Poul Tower</strong> did something</span>
						</a>
					</div>	
					<div class="column-group-section">
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-7.jpg"></a></div>
						</div>
						<a href="#" class="image-box">
							<span><strong>Poul Tower</strong> did something</span>
						</a>
					</div>
					<div class="column-group-section big gr-box">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-4.jpg" alt="Picture">
							<span><strong>Phill Todd</strong> moved to new house  at 18 King Street</span>
						</a>
						<div class="photo-section">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
						</div>
					</div>
					<div class="column-group-section">
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-7.jpg"></a></div>
						</div>
						<a href="#" class="image-box">
							<span><strong>Poul Tower</strong> did something</span>
						</a>
					</div>
				</li>		
				<li>
					<div class="column-group-section big gr-box">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-4.jpg" alt="Picture">
							<span><strong>Phill Todd</strong> moved to new house  at 18 King Street</span>
						</a>
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
						</div>
					</div>	
					<div class="column-group-section">
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-7.jpg"></a></div>
						</div>
						<a href="#" class="image-box">
							<span><strong>Poul Tower</strong> did something</span>
						</a>
					</div>	
					<div class="column-group-section big gr-box">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-3.jpg" alt="Picture">
							<span><strong>Terry White</strong> married <strong>Simon Collins</strong></span>
						</a>
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
							<div><a href="#"><img alt="Picture" src="images/pictures/man-6.jpg"></a></div>
						</div>
					</div>
					<div class="column-group-section">
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-7.jpg"></a></div>
						</div>
						<a href="#" class="image-box">
							<span><strong>Poul Tower</strong> did something</span>
						</a>
					</div>
					<div class="column-group-section big gr-box">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-4.jpg" alt="Picture">
							<span><strong>Phill Todd</strong> moved to new house  at 18 King Street</span>
						</a>
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
						</div>
					</div>	
				</li>	
				<li>
					<div class="column-group-section">
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-7.jpg"></a></div>
						</div>
						<a href="#" class="image-box">
							<span><strong>Poul Tower</strong> did something</span>
						</a>
					</div>		
					<div class="column-group-section">
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-7.jpg"></a></div>
						</div>
						<a href="#" class="image-box">
							<span><strong>Poul Tower</strong> did something</span>
						</a>
					</div>		
					<div class="column-group-section">
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-7.jpg"></a></div>
						</div>
						<a href="#" class="image-box">
							<span><strong>Poul Tower</strong> did something</span>
						</a>
					</div>	
					<div class="column-group-section big gr-box">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-4.jpg" alt="Picture">
							<span><strong>Phill Todd</strong> moved to new house  at 18 King Street</span>
						</a>
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
						</div>
					</div>	
					<div class="column-group-section">
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-7.jpg"></a></div>
						</div>
						<a href="#" class="image-box">
							<span><strong>Poul Tower</strong> did something</span>
						</a>
					</div>	
					<div class="column-group-section big gr-box">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-3.jpg" alt="Picture">
							<span><strong>Terry White</strong> married <strong>Simon Collins</strong></span>
						</a>
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
							<div><a href="#"><img alt="Picture" src="images/pictures/man-6.jpg"></a></div>
						</div>
					</div>	
				</li>
			</ul>
		</div>
		<div class="wrap-column-group-area posts-mobile">
			<ul class="column-group-area">
				<li>
					<div class="column-group-section big">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-5.jpg" alt="Picture">
						</a>
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
						</div>
					</div>		
					<div class="column-group-section big">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-6.jpg" alt="Picture">
						</a>
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
						</div>
					</div>		
					<div class="column-group-section big">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-7.jpg" alt="Picture">
						</a>
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
						</div>
					</div>	
				</li>		
				<li>
					<div class="column-group-section big">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-8.jpg" alt="Picture">
						</a>
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
						</div>
					</div>		
					<div class="column-group-section big">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-9.jpg" alt="Picture">
						</a>
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
						</div>
					</div>		
					<div class="column-group-section big">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-10.jpg" alt="Picture">
						</a>
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
						</div>
					</div>	
				</li>	
				<li>
					<div class="column-group-section big">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-11.jpg" alt="Picture">
						</a>
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
						</div>
					</div>		
					<div class="column-group-section big">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-12.jpg" alt="Picture">
						</a>
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
						</div>
					</div>		
					<div class="column-group-section big">
						<a href="#" class="image-box">
							<img src="images/pictures/pic-13.jpg" alt="Picture">
						</a>
						<div class="photo-box">
							<div><a href="#"><img alt="Picture" src="images/pictures/man-8.jpg"></a></div>
						</div>
					</div>	
				</li>
			</ul>
		</div>
	</div>
	<a href="inc/friends.html" class="load-category" data-category-id="friends">Load</a>
</div>