@import url('https://fonts.googleapis.com/css?family=Lato');
body{
	background-color:#fcfcfc;
}
.title{
 margin-left:20px
}

.fa-user{
 font-size:80px   
}

.searchable-container{
/*    margin-top:40px;
*/

}

.searchable-container {
	
 overflow-y:auto;
		float:left;
		position:relative;
	  /* Real styles */
	width: 100%;
	height:20em;
  padding: 15px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 10px #c1c1c1;
}
.searchable-container::-webkit-scrollbar {
  width: 10px;
}
 
.searchable-container::-webkit-scrollbar-track {
  background-color:#edeadf;
  border-radius: 10px;
}
 
.searchable-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#d2cfcf;
}

.searchable-container::-webkit-scrollbar {
  width: 10px;
}
 
.searchable-container::-webkit-scrollbar-track {
  background-color:#fff;
  border-radius: 10px;
}
 
.searchable-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#d2cfcf;
}

/* TOP */
.searchable-container--top:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 23px;
	top: -42px;
  border: 10px solid transparent;
  border-bottom: 32px solid rgb(193,193,193); /* IE8 Fallback */
  border-bottom: 32px solid rgba(193,193,193,0.5);
  z-index: 2;
}
.searchable-container--top:after {
  content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 25px;
	top: -32px;
  border: 8px solid transparent;
  border-bottom: 25px solid #fff;
  z-index: 3;
}
.glyphicon-lg{
    font-size:4em
}
.info-block{
	border-bottom: 1px solid #edecec;
    padding-bottom: 2%;
}
.info-block:hover{
	background-color:rgba(46, 106, 220, 0.41);
}

.info-block .square-box {
    width:100%;
    min-height:100%;
    margin-right:22px;
    text-align:center!important;
}
.info-block:hover .info-block.block-info {
    border-color:#20819e
}

.info-block.block-info .square-box {
margin-top: 3%;
color: #FFF;
border-radius: 50%;
width: 18%;
margin-bottom: 3%;
}
.img-circle {
    border-radius: 50%;
}
 .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 45px;
    /*height: auto;*/
}
.pull-left {
    float: left;
}
.search{
	padding-left:4%;
	margin-left:4%;
}
.name {
	margin-top: 8%;
    margin-bottom: 2%;
    float: left;
    font-size: 17px;
    font-weight: bold;
	color:#8b8382;
font-family: 'Lato', sans-serif;	
}
