/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/**
 * Remove default margin.
 */
body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	/* 1 */
	font: inherit;
	/* 2 */
	margin: 0;
	/* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	/* 2 */
	cursor: pointer;
	/* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	box-sizing: border-box;
	/* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
	border: 0;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap;
	/* 1 */
	text-overflow: ellipsis;
	/* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #333;
	background: #f7efef;
	font: 14px / 1.2 "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
}

.gm-style img {
	max-width: none;
}

@media only screen and (min-width: 1025px) {
	a[href^=tel],
	a[href^=skype],
	a[href^=sms] {
		cursor: default;
		pointer-events: none;
	}
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 1px;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	/*text-decoration: underline;*/
	outline: none;
}

img {
	border: none;
	display: block;
}

label,
button {
	cursor: pointer;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: none;
	padding: 0;
	margin: 0;
}

input:focus {
	outline: none;
}

form {
	overflow: hidden;
	margin: 0;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
input[type="search"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
}

body {
	background: #f7efef;
	font-family: "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 14px;
	line-height: 1.2;
	color: #333;
	min-width: 320px;
}

/* accordion */
.accordion-area.expand-collapse.mobile {
	display: none;
}

#content .accordion-title-tow.bg-1 {
	background: #f96e57;
	background: -webkit-linear-gradient(top, #f96e57 0%, #db614d 100%);
	background: linear-gradient(to bottom, #f96e57 0%, #db614d 100%);
}
.group-setting-editing-active #content .accordion-title-tow.bg-1 {
	background: -webkit-linear-gradient(top, #f65b42 0%, #d8503a 100%);
	background: linear-gradient(to bottom, #f65b42 0%, #d8503a 100%);
}

#content .accordion-title-tow.bg-2 {
	background: #6daa7a;
	background: -webkit-linear-gradient(top, #6daa7a 0%, #60966b 100%);
	background: linear-gradient(to bottom, #6daa7a 0%, #60966b 100%);
}
.group-setting-editing-active #content .accordion-title-tow.bg-2 {
	background: -webkit-linear-gradient(top, #5da06c 0%, #568660 100%);
	background: linear-gradient(to bottom, #5da06c 0%, #568660 100%);
}

#content .accordion-title-tow.bg-3 {
	background: #3f99d7;
	background: -webkit-linear-gradient(top, #3f99d7 0%, #3787bd 100%);
	background: linear-gradient(to bottom, #3f99d7 0%, #3787bd 100%);
}
.group-setting-editing-active #content .accordion-title-tow.bg-3 {
	background: -webkit-linear-gradient(top, #2c8dd1 0%, #2c79a9 100%);
	background: linear-gradient(to bottom, #2c8dd1 0%, #2c79a9 100%);
}

#content .accordion-title-tow.bg-4 {
	background: #87a3b0;
	background: -webkit-linear-gradient(top, #87a3b0 0%, #778f9b 100%);
	background: linear-gradient(to bottom, #87a3b0 0%, #778f9b 100%);
}
.group-setting-editing-active #content .accordion-title-tow.bg-4 {
	background: -webkit-linear-gradient(top, #7897a6 0%, #69838f 100%);
	background: linear-gradient(to bottom, #7897a6 0%, #69838f 100%);
}

#content .accordion-title-tow.bg-5 {
	background: #a57253;
	background: -webkit-linear-gradient(top, #a57253 0%, #916449 100%);
	background: linear-gradient(to bottom, #a57253 0%, #916449 100%);
}
.group-setting-editing-active #content .accordion-title-tow.bg-5 {
	background: -webkit-linear-gradient(top, #94664a 0%, #805840 100%);
	background: linear-gradient(to bottom, #94664a 0%, #805840 100%);
}

#content .active .accordion-title-tow {
	box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .7);
}

#content .accordion-area .accordion-content {
	overflow: hidden;
}

#content .accordion-area .active .accordion-content {
	height: auto;
}

#content .active .accordion-title-tow.bg-1 {
	border-bottom: 3px solid #5a2017;
}

#content .active .accordion-title-tow.bg-2 {
	border-bottom: 3px solid #124e1f;
}

#content .active .accordion-title-tow.bg-3 {
	border-bottom: 3px solid #0e3048;
}

#content .active .accordion-title-tow.bg-4 {
	border-bottom: 3px solid #213d4b;
}

#content .active .accordion-title-tow.bg-5 {
	border-bottom: 3px solid #4b3223;
}

#content .accordion-title-tow {
	display: table;
	width: 100%;
	margin: 2px 0 0;
	table-layout: fixed;
}

#content .accordion-title-tow > a {
	display: table-cell;
	vertical-align: middle;
}

.pop-up-area .accordion-btn {
	/*display: table-cell;*/
	/*vertical-align: middle;*/
	font: bold 12px/100% "Roboto", Arial, Helvetica, san-serif;
	color: #fff;
	padding: 14px 0 14px 35px;
	width: 73%;
	cursor: pointer;
}

.aside-holder .accordion-btn {
	display: table-cell;
	vertical-align: middle;
	font: bold 12px/100% "Roboto", Arial, Helvetica, san-serif;
	color: #fff;
	padding: 14px 0 14px 35px;
	width: 73%;
	cursor: pointer;
}


.group-setting-editing-active #content .accordion-btn {
	/*width: 30%;*/
    overflow:hidden;
}
.group-setting-editing-active #content .accordion-btn .quantity-person {
	display: none;
}

#content .alboms-btn {
	position: relative;
	width: 13.5%;
}

.group-setting-editing-active #content .accordion-title-tow .alboms-btn {
	display: none;
}

#content .alboms-btn:hover,
#content .alboms-btn:focus {
	text-decoration: none;
}

#content .bg-1 .alboms-btn:hover {
	background: #f98c7a;
}

#content .bg-1 .alboms-btn:active {
	background: #9b3121;
}

#content .bg-2 .alboms-btn:hover {
	background: #7bc18a;
}

#content .bg-2 .alboms-btn:active {
	background: #3a6743;
}

#content .bg-3 .alboms-btn:hover {
	background: #58a9e1;
}

#content .bg-3 .alboms-btn:active {
	background: #2270a6;
}

#content .bg-4 .alboms-btn:hover {
	background: #95b3c1;
}

#content .bg-4 .alboms-btn:active {
	background: #677c85;
}

#content .bg-5 .alboms-btn:hover {
	background: #b57751;
}

#content .bg-5 .alboms-btn:active {
	background: #824f30;
}

#content .alboms-btn:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 19px;
	height: 14px;
	background: url("/static/images/icons/alboms.png") no-repeat;
	margin: -7px 0 0 -9.5px;
}

#content .accordion-panel:first-child .alboms-btn:before {
	width: 22px;
	height: 17px;
	background: url(/static/images/icons/icon-person-accordion.png) no-repeat;
	background-size: 100% 100%;
	margin: -9px 0 0 -11px;
}

#content .accordion-panel:first-child .posts-btn {
	font-size: 11px;
	line-height: 1.8em;
	text-indent: 0;
	text-align: center;
	color: #fff;
	padding-top: 2px;
}
#content .accordion-panel:first-child .posts-btn:before {
	display: none;
}

#content .posts-btn {
	position: relative;
	width: 13.5%;
}

.group-setting-editing-active #content .accordion-title-tow .posts-btn {
	display: none;
}

#content .posts-btn:hover,
#content .posts-btn:focus {
	text-decoration: none;
}

#content .bg-1 .posts-btn:hover {
	background: #f98c7a;
}

#content .bg-1 .posts-btn:active {
	background: #9b3121;
}

#content .bg-2 .posts-btn:hover {
	background: #7bc18a;
}

#content .bg-2 .posts-btn:active {
	background: #3a6743;
}

#content .bg-3 .posts-btn:hover {
	background: #58a9e1;
}

#content .bg-3 .posts-btn:active {
	background: #2270a6;
}

#content .bg-4 .posts-btn:hover {
	background: #95b3c1;
}

#content .bg-4 .posts-btn:active {
	background: #677c85;
}

#content .bg-5 .posts-btn:hover {
	background: #b57751;
}

#content .bg-5 .posts-btn:active {
	background: #824f30;
}

#content .posts-btn:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 18px;
	height: 14px;
	background: url("/static/images/icons/posts.png") no-repeat;
	margin: -7px 0 0 -9px;
}

#content .accordion-title-tow .accordion-title-tow-edit,
#content .accordion-title-tow .accordion-title-tow-delete {
	width: 35px;
	/*width: 54px;*/
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	display: none;
}
.group-setting-editing-active #content .accordion-title-tow .accordion-title-tow-edit,
.group-setting-editing-active
  #content .accordion-title-tow .accordion-title-tow-delete {
	display: table-cell;
}
#content .accordion-title-tow .accordion-title-tow-edit:hover,
#content .accordion-title-tow .accordion-title-tow-edit:focus,
#content .accordion-title-tow .accordion-title-tow-delete:hover,
#content .accordion-title-tow .accordion-title-tow-delete:focus {
	background: rgba(255, 255, 255, .2);
}
#content .accordion-title-tow .accordion-title-tow-edit:active,
#content .accordion-title-tow .accordion-title-tow-delete:active {
	background: rgba(0, 0, 0, .2);
}

#content .accordion-title-tow .accordion-title-tow-delete {
	width: 60px;
}

#content .accordion-title-tow .accordion-title-tow-menu {
	width: 54px;
	text-align: center;
	display: none;
}
.group-setting-editing-active #content .accordion-title-tow .accordion-title-tow-menu {
	display: table-cell;
}
#content .accordion-title-tow .accordion-title-tow-menu > span {
	display: inline-block;
	vertical-align: top;
	width: 26px;
	position: relative;
	overflow: hidden;
	padding: 6px 0 0;
}
#content .accordion-title-tow .accordion-title-tow-menu .bullet {
	float: left;
	width: 6px;
	height: 6px;
	margin: 0 0 0 4px;
	background: #fff;
	border-radius: 100%;
}
#content .accordion-title-tow .accordion-title-tow-menu .bullet:first-child {
	margin-left: 0;
}
#content .accordion-title-tow .accordion-title-tow-menu:hover,
#content .accordion-title-tow .accordion-title-tow-menu:focus {
	background: rgba(255, 255, 255, .2);
}

#content .accordion-title-tow.active-tow-menu-drop .accordion-title-tow-menu {
	background: rgba(0, 0, 0, .2);
}

#content .accordion-title-tow-menu-drop {
	position: absolute;
	top: 40px;
	right: 5px;
	background: #fff;
	border-radius: 5px;
	padding: 10px 0 12px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
	z-index: 100;
	min-width: 82px;
	display: none;
}
#content .accordion-title-tow-menu-drop > ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#content .accordion-title-tow-menu-drop > ul > li {
	position: relative;
}
#content .accordion-title-tow-menu-drop > ul > li > a {
	display: block;
	padding: 6px 16px;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	outline: none;
	color: #333;
}
#content .accordion-title-tow-menu-drop > ul > li > a:hover,
#content .accordion-title-tow-menu-drop > ul > li > a:focus {
	background: #d2d9df;
	color: #333;
	text-decoration: none;
}
#content .accordion-title-tow-menu-drop:before,
#content .accordion-title-tow-menu-drop:after {
	content: "";
	position: absolute;
	right: 12px;
	top: -18px;
	border: solid;
	border-width: 9px 10px;
	border-color: transparent transparent rgba(0, 0, 0, .3) transparent;
}
#content .accordion-title-tow-menu-drop:after {
	top: -16px;
	right: 13px;
	border-width: 8px 9px;
	border-color: transparent transparent #fff transparent;
}

#content .accordion-content .add-people-btn {
	display: block;
	text-align: center;
	border-bottom: 1px solid #6b7583;
	font: 14px/100% "Roboto", Arial, Helvetica, san-serif;
	color: #6b7583;
	padding: 20px 15px;
}

#content .accordion-content .list-items li {
	padding: 9px 10px 10px 25px;
	display: table;
	width: 100%;
	table-layout: fixed;
}

#content .accordion-content .left-cell {
	display: table-cell;
	vertical-align: middle;
	padding: 0 13px 0 0;
	width: 58px;
}

#content .accordion-content .text-box {
	display: table-cell;
	vertical-align: middle;
	width: 40%;
}

#content .accordion-content .right-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	padding-right: 10px;
}

#content .accordion-content .wrap-img {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

#content .accordion-content .wrap-img img {
	max-width: 45px;
	max-height: 45px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}

#content .accordion-content .wrap-img.active:before {
	content: "";
	position: absolute;
	z-index: 10;
	right: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #9ec289;
	border-radius: 50%;
}

#content .accordion-content .text-box h3 {
	font: bold 14px/100% "Roboto", Arial, Helvetica, san-serif;
	color: #f96e57;
	margin: 0 0 5px;
}

#content .accordion-content .text-box h3 a {
	color: #f96e57;
}

#content .accordion-content .text-box p {
	font: 10px/100% "Roboto", Arial, Helvetica, san-serif;
	color: #8391a4;
}

#content .accordion-content .text-box .person-menu {
	display: none;
}

#content .accordion-content .notifications {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 15px;
	background: url("/static/images/icons/notifications.png") no-repeat;
}

#content .accordion-content .msg-active {
	background: url("/static/images/icons/notifications.png") 0 -15px no-repeat;
}

#content .accordion-content .notifications:hover {
	text-decoration: none;
}

#content .accordion-content .notifications:hover,
#content .accordion-content .notifications:active {
	width: 16px;
	height: 15px;
	background: url("/static/images/icons/notifications.png") no-repeat;
}

@media (max-width: 1023px) {
	#content .accordion-content .left-cell {
		width: 9%;
	}
	#content .accordion-content .text-box {
		width: 71%;
	}
	#content .accordion-content .right-cell {
		width: 20%;
	}
	#content .accordion-content .notifications.active {
		background: url("/static/images/icons/notifications-mobile.png") no-repeat;
		height: 14px;
		width: 15px;
	}
	#content .accordion-content .notifications {
		background: url("/static/images/icons/notifications-mobile.png") 0 -14px no-repeat;
		height: 13px;
		width: 14px;
	}
	.groups-page #content .accordion-btn {
		font-size: 18px;
		padding: 21px 0 21px 35px;
	}
	.groups-page #content .accordion-title-tow {
		margin: 0;
	}
	.groups-page #content .accordion-title-tow.bg-1 {
		background: #f65b42;
	}
	.groups-page #content .accordion-title-tow.bg-2 {
		background: #6daa7a;
	}
	.groups-page #content .accordion-title-tow.bg-3 {
		background: #3f99d7;
	}
	.groups-page #content .accordion-title-tow.bg-4 {
		background: #f65b42;
	}
	.groups-page #content .accordion-title-tow.bg-5 {
		background: #a57253;
	}
	.groups-page #content .active .accordion-title-tow {
		border-bottom: none;
	}
	.groups-page #content .active .accordion-title-tow {
		box-shadow: none;
	}
	.groups-page #content .accordion-content .add-people-btn {
		border-bottom: 1px solid #f65b42;
		color: #f65b42;
		display: block;
		font: 500 14px/100% "Roboto",Arial,Helvetica,san-serif;
		padding: 25px 15px;
		text-align: center;
	}
	.groups-page #content .accordion-content .list-items li {
		padding: 20px 22px 20px 30px;
		border-bottom: 1px solid #eadbdb;
		position: relative;
	}
	.groups-page #content .accordion-content .list-items li:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 1px;
		background: rgba(255, 255, 255, .75);
	}
	.groups-page #content .accordion-content .list-items > :last-child {
		border-bottom: none;
	}
	.groups-page #content .accordion-content .list-items > :last-child:after {
		display: none;
	}
	.groups-page #content .accordion-content .text-box h3 {
		font-size: 18px;
	}
	.groups-page #content .accordion-content .text-box p {
		font-size: 12px;
	}
}

@media (max-width: 767px) {
	#content .accordion-content .left-cell {
		width: 16%;
	}
	#content .accordion-content .text-box {
		width: 76%;
	}
	#content .accordion-content .right-cell {
		width: 8%;
	}
}

#content .accordion-area .accordion-content .accordion-content-add-text {
	padding: 14px 30px;
	color: #6b7583;
	font-size: 14px;
	line-height: 18px;
}
#content .accordion-area .accordion-content .accordion-content-add-text p {
	margin: 0;
}

#content .accordion-content .list-items li {
	position: relative;
}
#content .accordion-content .list-items li .overlay {
	position: absolute;
	top: 0;
	right: 0;
	width: 80%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #363946 60%, #363946 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #363946 60%, #363946 100%);
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
	z-index: 3;
}
#content .accordion-content .list-items li .btn-add {
	position: absolute;
	top: 20px;
	right: 15px;
	width: 59px;
	height: 25px;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	line-height: 15px;
	background: #f65b42;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	z-index: 4;
	text-align: center;
	padding: 6px 5px;
	opacity: 0;
	visibility: visible;
}
#content .accordion-content .list-items li .btn-add:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #f65b42;
	z-index: -1;
	border-radius: inherit;
	opacity: 0;
	-webkit-transform: scale3d(.6, .6, 1);
	transform: scale3d(.6, .6, 1);
	-webkit-transition: -webkit-transform .3s, opacity .3s;
	transition: transform .3s, opacity .3s;
	-webkit-transition-timing-function: cubic-bezier(.75, 0, .125, 1);
	transition-timing-function: cubic-bezier(.75, 0, .125, 1);
}
#content .accordion-content .list-items li .btn-add:hover {
	background: #ffe0cc;
	color: #f65b42;
	text-decoration: none;
}
#content .accordion-content .list-items li .btn-add:hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	opacity: 1;
}
#content .accordion-content .list-items li .btn-add:active {
	text-decoration: none;
}
#content .accordion-content .list-items li .btn-dots {
	display: none;
	position: relative;
	width: 100%;
	height: 45px;
	text-indent: -9999px;
	text-align: left;
}
#content .accordion-content .list-items li .btn-dots:after,
#content .accordion-content .list-items li .btn-dots:before {
	content: "";
	position: absolute;
	right: 4px;
	/*right: -6px;*/
	bottom: 6px;
	width: 26px;
	height: 6px;
	background: url(/static/images/time_icons/icon-point-gray.png) no-repeat;
	background-size: 100% 100%;
	opacity: 1;
	-webkit-transition: opacity .2s ease;
	transition: opacity .2s ease;
}
#content .accordion-content .list-items li .btn-dots:after {
	background: url(/static/images/time_icons/icon-point-white.png) no-repeat;
	background-size: 100% 100%;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity .2s ease;
	transition: opacity .2s ease;
}
#content .accordion-content .list-items li .btn-dots:hover {
	color: #fff;
}
#content .accordion-content .list-items li .btn-dots:hover:after {
	opacity: 1;
	pointer-events: auto;
	-webkit-transition: opacity .2s ease;
	transition: opacity .2s ease;
}
#content .accordion-content .list-items li .btn-dots:hover:before {
	opacity: 0;
	-webkit-transition: opacity .2s ease;
	transition: opacity .2s ease;
}
#content .accordion-content .list-items li:hover .overlay {
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
	visibility: visible;
	opacity: 1;
}
#content .accordion-content .list-items li:hover .btn-add {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	opacity: 1;
	visibility: visible;
}

.group-setting-editing-active #content .accordion-content .list-items li .overlay {
	display: none;
}

.group-setting-editing-active #content .accordion-content .list-items li .btn-add {
	display: none;
}

.group-setting-editing-active #content .accordion-content .list-items li .btn-dots {
	display: block;
}

.group-setting-editing-active #content .accordion-content .description {
	display: none;
}

.group-setting-editing-active #content .accordion-content .notifications {
	display: none;
}

.group-setting-editing-active #content .accordion-content .status-image {
	display: none;
}

.group-setting-editing-active #content .accordion-content .text-box .person-menu {
	display: block;
}

.person-menu {
	margin: 10px 0 -5px;
	font-size: 12px;
	line-height: 1.3em;
}
.person-menu > a {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 11px;
	color: #6b7583;
	text-decoration: none;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
}
/*.person-menu > a:first-child {*/
	/*margin-left: 75px;*/
	/*margin-left: 0;*/
/*}*/
.person-menu > a:hover,
.person-menu > a:focus {
	text-decoration: none;
	color: #fff;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
}



#content .accordion-content .list-items li .btn-assign {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 86px;
  height: 25px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  background: #f65b42;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 4;
  text-align: center;
  padding: 6px 5px;
  opacity: 0;
  visibility: visible;
}
#content .accordion-content .list-items li .btn-assign:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #f65b42;
  z-index: -1;
  border-radius: inherit;
  opacity: 0;
  -webkit-transform: scale3d(.6, .6, 1);
  transform: scale3d(.6, .6, 1);
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s;
  -webkit-transition-timing-function: cubic-bezier(.75, 0, .125, 1);
  transition-timing-function: cubic-bezier(.75, 0, .125, 1);
}
#content .accordion-content .list-items li .btn-assign:hover {
  background: #ffe0cc;
  color: #f65b42;
  text-decoration: none;
}

}
#content .accordion-content .list-items li:hover .btn-assign {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

#content .accordion-content .list-items li .btn-assign:hover:before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}


.peel-effect {
    width: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    margin: 0 auto;
	position: relative;
}
.peel-effect .content-btm {
    position: relative;
    display: block;
    width: 100%;
}
.peel-effect .mask {
    -webkit-transform: rotate(45deg) translateY(-7%);
    -moz-transform: rotate(45deg) translateY(-7%);
    -ms-transform: rotate(45deg) translateY(-7%);
    -o-transform: rotate(45deg) translateY(-7%);
    transform: rotate(45deg) translateY(-7%);
    -webkit-transform-origin: 50% 55%;
    -moz-transform-origin: 50% 55%;
    -ms-transform-origin: 50% 55%;
    -o-transform-origin: 50% 55%;
    transform-origin: 50% 55%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.peel-effect .mask {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: -13%;
    width: 100%;
    height: 110%;
    overflow: hidden;
}
.peel-effect .mask-inner {
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(7%) rotate(-45deg);
    -moz-transform: translateY(7%) rotate(-45deg);
    -ms-transform: translateY(7%) rotate(-45deg);
    -o-transform: translateY(7%) rotate(-45deg);
    transform: translateY(7%) rotate(-45deg);
    -webkit-transform-origin: 50% 55%;
    -moz-transform-origin: 50% 55%;
    -ms-transform-origin: 50% 55%;
    -o-transform-origin: 50% 55%;
    transform-origin: 50% 55%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.peel-effect::before {
    content: "";
    position: absolute;
    z-index: 10;
    right: 0px;
    bottom: 0px;
    width: 10px;
    height: 10px;
    background: #9EC289 none repeat scroll 0% 0%;
    border-radius: 50%;
}
.peel-effect .mask-inner .img-radius{
	width:100%;
	height:100%;
	border-radius:100%;
	overflow:hidden;
}

.peel-effect .content-top {
    display: block;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
	border-radius: 50%;
}
.peel-effect .content-top {
    position: absolute;
    left: 0;
    bottom: -1px;
    /*width: 100%;*/
    width:46px;
    height: 45px;
}
.peel-effect .peel {
    position: absolute;
    left: 0;
    z-index: 2;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    width: 100%;
    height: 90%;
    background: silver;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3c3c3), color-stop(50%, #ededed), color-stop(100%, #c3c3c3));
    background-image: -webkit-linear-gradient(#c3c3c3 0%, #ededed 50%, #c3c3c3 100%);
    background-image: -moz-linear-gradient(#c3c3c3 0%, #ededed 50%, #c3c3c3 100%);
    background-image: -o-linear-gradient(#c3c3c3 0%, #ededed 50%, #c3c3c3 100%);
    background-image: linear-gradient(#c3c3c3 0%, #ededed 50%, #c3c3c3 100%);
    background-position: 0 -7%;
    background-size: 100% 14%;
    bottom: 0;
    -webkit-transform: translateY(92.5%);
    -moz-transform: translateY(92.5%);
    -ms-transform: translateY(92.5%);
    -o-transform: translateY(92.5%);
    transform: translateY(92.5%);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.peel-effect .shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg/shadow.png);
    opacity: 0.7;
    background-size: 100% 100%;
    -webkit-transform: translateY(90%) scale(0.8, 1);
    -moz-transform: translateY(90%) scale(0.8, 1);
    -ms-transform: translateY(90%) scale(0.8, 1);
    -o-transform: translateY(90%) scale(0.8, 1);
    transform: translateY(90%) scale(0.8, 1);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}


.peel-effect:hover .mask {
	-webkit-transform: rotate(45deg) translateY(-85%);
	-moz-transform: rotate(45deg) translateY(-85%);
	-ms-transform: rotate(45deg) translateY(-85%);
	-o-transform: rotate(45deg) translateY(-85%);
	transform: rotate(45deg) translateY(-85%);
}
 .peel-effect:hover .mask-inner {
	-webkit-transform: translateY(85%) rotate(-45deg);
	-moz-transform: translateY(85%) rotate(-45deg);
	-ms-transform: translateY(85%) rotate(-45deg);
	-o-transform: translateY(85%) rotate(-45deg);
	transform: translateY(85%) rotate(-45deg);
}
 .peel-effect:hover .content-top {
	opacity: 0;
	-webkit-transition-delay: 0.33333s;
	-moz-transition-delay: 0.33333s;
	-o-transition-delay: 0.33333s;
	transition-delay: 0.33333s;
}
.peel-effect:hover .peel {
	background-size: 100% 110%;
	background-position: 0 0;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(5%);
	-ms-transform: translateY(5%);
	-o-transform: translateY(5%);
	transform: translateY(5%);
	opacity:0.5;
}
.peel-effect:hover .shadow {
	opacity: 0.175;
	display:none;
	-webkit-transform: translateY(3%) scale(1, 0.95);
	-moz-transform: translateY(3%) scale(1, 0.95);
	-ms-transform: translateY(3%) scale(1, 0.95);
	-o-transform: translateY(3%) scale(1, 0.95);
	transform: translateY(3%) scale(1, 0.95);
}