/* MAP */
	#content .map-area {
		position: relative;
		overflow: hidden;
	}
	#content .map-area .zoom {
		background: rgba(255,255,255,0.8);
		border-radius: 3px;
		position: absolute;
		right: 15px;
		top: 17px;
		z-index: 20;
		display: none;
		padding: 7px 10px;
		text-align: center;
	}
#content .map-area .zoom a {
	color: #5a5f73;
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
	outline: none;
}
#content .map-area .zoom a.zoom-minus {
	font-size: 22px;
}
#content .map .map-area .full-map {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background: rgba(255,255,255,0.8) url("/static/images/icons/full-map.png") no-repeat center;
	width: 30px;
	height: 30px;
	padding: 3px;
	border-radius: 3px;
	z-index: 100;
}
#content .map.full .map-area .full-map {
	background: rgba(255,255,255,0.8) url("/static/images/icons/small-map.png") no-repeat center;
}
/* 		#content .map.full .title-right-sidebar a {
	display: none;
} */
#content .map-area a:hover {
	text-decoration: none;
	opacity: 0.8;
}
#content span:focus	{
	outline: 0;
}
#content .map-area .zoom a:hover {
	text-decoration: none;
	opacity: 0.8;
}
#content .map-area,
#content .map-area  .ng-scope {
	width: 100%;
	height: 100%;
}
#content .map-area:hover .zoom {
	display: block;
}
#map {
	width: 100%;
	/*width: 333px;*/
	height: 100%;
	min-height: 226px;
}
#map .gm-style-cc {
	display: none;
}
#map .info-box {
	cursor: pointer;
	background: #525769;
	padding: 0 5px;
	position: absolute;
	top: -7px;
	right: 100%;
	height: 32px;
	line-height: 32px;
	color: #fff;
	border-radius: 16px 0 0 16px;
	text-align: right;
	font-weight: bold;
	-moz-box-sizing: unset;
	box-sizing: unset;
	
}
#map .info-box a {
	color: #fff;
}
#map .right.info-box {
	right: initial;
	left: 100%;
	border-radius: 0 16px 16px 0;
	text-align: left;
}
#map .orange.info-box {
	background: #DD523B;
}
#map .info-box:before {
	background: url('/static/images/icons/corner.png') no-repeat right;
	height: 32px;
	width: 19px;
	content: '';
	position: absolute;
	top: 0;
	right: -18px;
}
#map .right.info-box:before {
	background: url('/static/images/icons/corner-right.png') no-repeat right;
	height: 32px;
	width: 19px;
	content: '';
	position: absolute;
	top: 0;
	right: initial;
	left: -18px;
}
#map .orange.info-box:before {
	background: url('/static/images/icons/corner-orange.png') no-repeat right;
}
#map .orange.right.info-box:before {
	background: url('/static/images/icons/corner-right-orange.png') no-repeat right;
}
#content .map.full {
	position: absolute;
	width: 75%;
	z-index: 201;
	right: -1%;
	top:7px;
	/*top:15px;*/
	border-left: 1px solid #4d536b;
}

#content .map.full .travel {
	height: 56px;
	margin-top: 5px;
}

#content .map.full #map {
	width: 100%;
}
#content .map .active-line {
	background: #5a5f73;
	border-radius: 3px;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 8px;
}
@media (max-width: 990px) {
	#content .map.full {
		float: none;
		margin: 17px 0 0;
		padding: 0;
		width: 100%;
	}
	#content .map-area .zoom {
		top: unset;
		bottom: 17px;
	}
	#content .map-area .full-map {
		display: none;
	}
}

.map-section{
	height:auto;
	/*min-height: 226px*/
}
#createmap{
	width: 100%;
	height: 260px;
	min-height: 226px
}

.viewmap{
	width:100%;
	height: 250px;
	margin-bottom: 20px;
}