.acc-section .scroll-area {
	height: auto;
}
.accordion-wrap {
	position: relative;
	overflow: hidden;
	margin: 2px 0 0;
}
.left-sidebar .accordion-area {
	margin-right: -22px;
	padding-right: 22px;
}
.accordion-area .accordion-panel {
	position: relative;
	z-index: 1;
	margin: 2px 0 0;
	padding: 40px 0 0;
}
.accordion-area .accordion-panel:first-child {
	margin-top: 0;
}
.scroll-area.checkbox-gallery-wrapper {
	height: 220px;
	overflow: hidden;
}
#content .accordion-title-tow {
	position: absolute;
	z-index: 12;
	left: 0;
	top: 0;
	width: 100%;
	margin: 0;
}
.accordion-area .accordion-panel.scrolled {
	position: static;
}
.accordion-area .accordion-panel.passed {
	position: relative;
	z-index: 2;
}
#content .accordion-panel.passed .accordion-title-tow {
	top: auto;
	bottom: 0;
}
.events-list-group-btn {
	height: auto !important;
}
.events-list-group-btn.js-slide-hidden {
	position: static !important;
}